html ,body
{
	height:100%;
}

body
{
	margin:0px;
	padding:0px;
	min-width:300px;
}

p
{
	background-image: url(../images/blank.png);
	background-repeat: repeat;
}

a img
{
	border:none;
}

#page_header
{
	background-color:#DFEFFC;
}

#page_header p.titre
{
	text-align:center;
	font:bold 16px Arial;
	color:#2E6E9E;
	margin:0px 50px;
	padding:15px 0px;
}

#page_header p.titre a
{
	color:#2E6E9E;
	text-decoration:none;
}

#page_header div.logo_header
{
	float:left;
	margin:5px 12px;
}

#page_header div.langue_header
{
	float:right;
	text-align:center;
	padding:18px 17px;
}

#form_cherche
{
	background-color:#2E6E9E;
	padding:5px;
}

#page_body
{
	margin-bottom: -19px;
	height: auto !important;
	min-height:100%;
}

#page_body #espace_footer
{
	height:19px;
}

#page_footer
{
	background-color:#DFEFFC;
	color:#2e6e9e;
	font:normal 12px Arial;
	/*position:fixed;
	width:100%;
	bottom:0px;*/
	height:19px
}

#page_footer p.page_footer_nb_results
{
	float:left;
	margin:2px;
}

#page_footer p.page_footer_nom_site
{
	margin:2px;
	float:right;
}

div.titre_page_body
{
	background-color:#2E6E9E;
	padding:5px;
	text-align:center;
	color:white;
	font:bold 16px Arial;
	min-height:20px;
}

div.titre_page_body p.text_left a
{
	color:#ffffff;
	display:block;
	background-image:url('../images/image_retour.png');
	background-repeat:no-repeat;
	padding-left:22px;
	text-decoration:none;
}

/*formulaire de recherche*/
#chercheDocForm table
{
	width:100%;
	border-collapse:collapse;
}

#chercheDocForm table tr td:last-child
{
	width:33px;
}

#chercheDocForm input[type='text']
{
	-webkit-box-sizing: border-box; /* WebKit */
	-moz-box-sizing: border-box;    /* Gecko */
	box-sizing: border-box;
	-webkit-appearance:none;
	
	border:2px solid #DFEFFC;
	display:block;
	background-color:#ffffff;
	font:normal 16px Arial;
	border-radius:5px;
	padding:5px 35px 5px 5px;
	width:100%;
	height:33px;
	margin:0px;
}

#chercheDocForm input[type='submit']
{
	border:2px solid #DFEFFC;
	border-left:0px solid #DFEFFC;
	background:#DFEFFC url('../images/image_btn_rechercher.png') no-repeat center center;
	font-size:0px;
	border-radius:0px 5px 5px 0px;
	height:33px;
	width:33px;
	margin:0px 0px 0px -5px;
	/*position:absolute;
	right:5px;*/
}

#chercheDocForm input[type='button'][name='bInit']
{
	border:2px solid #DFEFFC;
	background:#C4000D url('../images/image_btn_reset.png') no-repeat center center;
	border-radius:5px;
	height:33px;
	width:33px;
	font-size:0px;
}
/*liste des resultat de la recherche*/
#pageTitre
{
	display:none;
}

div.element_liste_doc
{
	border-bottom:1px solid #CCC;
	padding:5px 0px;
	margin:0px 5px;
}

div.element_liste_doc table
{
	width:100%;
	border-collapse:collapse;
}

div.element_liste_doc table tr td.vignette_liste_doc
{
	font:normal 0px Arial;
	width:100px;
	min-width:100px;
	padding:0px;
	text-align:center;
}

div.element_liste_doc table tr td.vignette_liste_doc a
{
	background-color:#000000;
	display:block;
	height:54px;
}

div.element_liste_doc table tr td p.duree
{
	background-color: #808080;
	color:#ffffff;
	margin:-13px 0px 0px 0px;
	padding:0px 2px;
	position:absolute;
	font:normal 10px Arial;
}

div.element_liste_doc table tr td.titre_doc_liste
{
	padding:0px;
}

div.element_liste_doc table tr td.titre_doc_liste a
{
	font:bold 14px Arial;
	color: #000000;
	text-decoration:none;
	display:block;
	padding:6px 0px 6px 5px;
}

div.element_liste_doc table tr td.date_doc_liste
{
	padding:0px;
}

div.element_liste_doc table tr td.date_doc_liste a
{
	font:normal 12px Arial;
	color:black;
	text-decoration:none;
	display:block;
	height:100%;
	padding:5px 0px 5px 5px;
}

#btn_page_suivante
{
	text-align:center;
	padding:5px;
	height:32px;
}

#btn_page_suivante a
{
	color:#000000;
	font:bold 16px Arial;
	background-color:#dddddd;
	text-decoration:none;
	display:block;
	padding:6px;
}

/* mise en forme du detail d'un doc */
p.detail_doc_rang
{
	font:bold 16px Arial;
	color:black;
	text-align:center;
	margin:10px;
	padding:0px 120px 5px 120px;
	border-bottom:1px dashed #808080;
}

div.titre_page_body p.text_left
{
	float:left;
	margin:0px;
}

p.lien_rang_precedent
{
	float:left;
	margin:10px;
	padding-left:20px;
	background-image:url('../images/image_precedent.png');
	background-repeat:no-repeat;
}

p.lien_rang_suivant
{
	float:right;
	margin:10px;
	padding-right:20px;
	background-image:url('../images/image_suivant.png');
	background-repeat:no-repeat;
	background-position:right top;
}

p.lien_rang_precedent a,p.lien_rang_suivant a
{
	font:bold 16px Arial;
	text-decoration:none;
	color:black;
}

#vignette_detail_doc
{
	width:300px;
	height:169px;
	margin:16px auto;
	cursor:pointer;
	position:relative;
	background-color:black;
	text-align:center;
}

#vignette_detail_doc span
{
	display:block;
	height:169px;
}

#vignette_detail_doc img.btn_play
{
	position:absolute;
	margin-left:-20px;
	margin-top:-20px;
	left: 50%;
	top: 50%;
}

#vignette_detail_doc p.duree
{
	background-color:#808080;
	color:#ffffff;
	margin:-14px 0px 0px 0px;
	padding:0px 2px;
	position:absolute;
	font:normal 10px Arial;
}

#texte_detail_doc
{
	border-top:1px solid #808080;
	font:normal 12px Arial;
	margin:5px;
	padding:0px 8px 10px 8px;
}

#texte_detail_doc h1
{
	font:bold 16px Arial;
}

#texte_detail_doc p
{
	text-align:justify;
}

#texte_detail_doc span.gras
{
	font-weight:bold;
}

div.btn_rs_detail_doc
{
	float:right;
	margin-top:-54px;
}

table.info_generique
{
	border-collapse:collapse;
	width:100%;
}

table.info_generique tr td:first-child
{
	padding-bottom:12px;
	width:120px;
}

table.info_generique tr td
{
	vertical-align:top;
	font:normal 12px Arial;
}

/*fenetre reseaux sociaux*/
div.fond_modal
{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:#808080;
	opacity:0.5;
	z-index:50;
}

div.titre_modale
{
	background-color:#DFEFFC;
	font:bold 16px Arial;
	padding:10px;
	color:#2E6E9E;
}

div.modal_contenu
{
	width:290px;
	background-color:white;
        box-shadow: -1px 2px 8px 1px rgba(0, 0, 0, 0.7);
	position:fixed;
	left:50%;
	top:50%;
	margin-left:-150px;
	z-index:51;
}

div.modal_contenu table
{
	margin: 0px 5px;
	width:280px;
	border-collapse:collapse;
}

div.modal_contenu table tr td
{
	border-bottom:1px solid #CCC;
        padding: 6px 0px;
}

div.modal_contenu table tr td:first-child
{
	width:32px;
}

div.modal_contenu div.btn_fermer
{
	padding:2px;
	width:100px;
	margin:10px auto;
	text-align:center;
	background-color:#dfeffc;
	border:1px solid #2e6e9e;
	border-radius:5px;
}

div.modal_contenu div.btn_fermer a
{
	color:#2e6e9e;
	display:block;
}

div.modal_contenu p 
{
	margin:0px;
	padding:5px;
}

div.modal_contenu a
{
	font:bold 16px Arial;
	color:black;
	text-decoration:none;
	display:block;
}