
@font-face {
    font-family: "Din";
    src: url('DIN1451.ttf');
}


#ow_export_container.beforeload{
	width : 100%;
	height : 100%;
	text-align : center ; 
	background-color: #000;
}


#ow_export_container.mapwrapper{
	background-color : #000;
}

#ow_export_container #capsVid{
	background-color : black ; 
}

#ow_controllerheader{
	position:absolute;
	z-index:90;
	width:100%;
	overflow: hidden;
	font-family: Din;
	font-size: 15px;
}

#ow_controllerheader .btn{
	display: inline-block;
}
#ow_controllertitle{
	color:white;
	z-index:90;
	background-color: #333333;
	padding:5px;
	width:auto;
	font-family: Din;
	font-size: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow : ellipsis;
}

#ow_controllerinfos{
	background-color: #333333;
	background-color: rgba(51, 51, 51, 0.7);
	color: white;
	padding: 1%;
	width: 98%;
	text-align:left;
	display:none;
	overflow: visible;
	font-family: Din;
	font-size: 13px;
}

#ow_controllerinfos.info_visible {
	visibility : visible;
	display : block  ;
}


#ow_controllerexport{
	background-color: rgba(51, 51, 51, 0.7);
	color: white;
	padding: 2%;
	width: 96%;
	text-align:left;
	display:none;
	overflow: visible;
	font-family: Din;
	font-size: 13px;
}

#ow_controllertitle span.aright{
	float:right;
	display:inline;
	position : relative ; 
	z-index : 99;
}

#ow_link_export {
	font-size:13px;
	height : 17px;
	line-height:17px;
	cursor: pointer;
	padding:0;
	margin:0px 0px 0px 0px;
	border-spacing:0;
	border:none;
}

#ow_bouton_infos{ 
	width:17px;
	height : 17px;
	margin:0px 10px 0px 0px;
	background:url(images/b_aide_petit.gif) left top no-repeat;
	cursor: pointer;
}

#ow_bouton_export{ 
	width:17px;
	height : 17px; 
	background:url(images/b_code_embed_petit.gif) left top no-repeat;
	cursor: pointer;