<div id="docHeader">
    <div id="backButton"><?=$myPage->renderReferrer(kRetour, 'class="icoBackSearch"');?></div>
    <div id="pageTitre"><?= $this->params['title'] ?>&nbsp;</div>
    
    
    <div class="toolbar">
        <div  onclick="triggerPrint('val')" class="print tool"><span class="tool_hover_text"><?=kImprimer?></span>&#160;</div>
        <? if(isset($this->params['modelObj']) && isset($this->params['id'])){?>
        <div class="menu_actions tool" ><span class="tool_hover_text"><?echo kMenuActions;?></span>
        <div class="drop_down" style="display:none;">
            <ul>
                <li onclick="displayMenuActions('export','<?= $this->params['entity'] ?>','<?= $this->params['id'] ?>');"><? echo kExporter;?></li>
            </ul>
        </div>&#160;
    </div>
    <?}?>
</div>
</div>
<div class="scrollableDiv contentBody">
    <include type="formSaisie"/>
</div>
<div id='chooser' name='chooser' style='position:absolute;'></div>
