<?php
    $entity = $this->params['entity'];
?>
<div class="title_bar">
    <div id="backButton"><a class="icoBackSearch" href="index.php?urlaction=admin">
        <?=kRetourAdmin;?>
    </a></div>
    <?= $this->params['title'] ?>
    <div class="toolbar">
        <div  onclick="triggerPrint('<?= $entity ?>')" class=" print tool">
            <span class="tool_hover_text"><?echo kImprimer;?></span>
        </div>
        <div  class="menu_actions tool"><span class="tool_hover_text"><?echo kMenuActions;?></span>
            <div class="drop_down" style="display:none;">
                <ul>
                    <li onclick="displayMenuActions('export','<?= $entity ?>');"><? print kExporter?></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<include type="formCherche"/>
<include type="liste"/>
