<?php
    $myDoc=$this->params['modelObj'];

    $edition='document';
	$id=$myDoc->t_doc['ID_DOC'];
	$id_mat_vis=$myDoc->getMaterielVisu();
	foreach($myDoc->t_doc_mat as $i => $dm){
		if($dm['ID_MAT']==$id_mat_vis){
			$tcin=$dm['DMAT_TCIN'];
			$tcout=$dm['DMAT_TCOUT'];
			if(empty($dm['MAT']->t_mat['MAT_ID_IMAGEUR'])) {
				$dm['MAT']->t_mat['MAT_ID_IMAGEUR']=stripExtension($dm['MAT']->t_mat['ID_MAT']);
				$dm['MAT']->save();
			}
		}
	}

	$tmp_crit = array('MAT_TYPE'=>'MASTER');
	$mat_liv=$myDoc->getMatLivraison($tmp_crit);
	if($mat_liv){
		$id_mat_master = $mat_liv->t_mat['ID_MAT'];
	}

?>

<form name="form1" id="form1" method="post" action="<?=$myPage->getName()?>?urlaction=docSaisie">
    <input name="commande" type="hidden" value="" />
    <input name="page" type="hidden" value="" />
 
</form>
<? /** POUR FAIRE DU CUSTOM, remplacer les chemins css et imgDir **/?>

<script type="text/javascript" src="<?=libUrl?>webComponents/opsis/saisie.js"></script>

              <? $lang=($_SESSION['langue']=='VI'?'en':strtolower($_SESSION['langue'])) ?>
<script type='text/javascript' charset='utf-8'>
	var id_mat_master='<?= $id_mat_master ?>';
    var myPanel;

        params= {
            defaultTCIN 					: 	"<?=$tcin?>",
            videoLength 					: 	"<?=$tcout?>",
            msgConfirmAbanbon				: 	"<?=kConfirmerAbandon?>",
            //msgTitreDefaut					:	"<?=kVisioNomDefautExtrait?>",
            mode							:	"storyboard:<?=$edition?>",
            formName						:	"form2",
            imgDir							: 	"<?=libUrl?>webComponents/oraoweb/css/images/boutons/",
            language						: 	"<?= strtoupper($lang)?>",
            playButton						: false,
            captureButton					: true,
			captureAndDlButton				: true,
            selectAllButton					: false,
            removeAllButton					: true,
            addButton						: false,
            TCButton						: false,
            nbLignes						: 9
        }
    myPanel=new rightPanel(null,'<?=$id?>',params);

    
    //window.onbeforeunload=confirmExit;
    function confirmExit() {if (myPanel._hasChanged) return '';}
    
</script>

<div id='sidecommande'></div>
<script type="text/javascript">
            myPanel.dspBar();
            myPanel.refreshContent();
</script>
<iframe name="frame_livraison" id='frame_livraison' style='visibility:hidden;width:0px;height:0px;'></iframe>

 
