<?PHP
$myDoc=$this->params['modelObj'];

$myDoc->getDocLiesDST();
$myDoc->getDocLiesSRC();
/*
 debug($myDoc->arrDocLiesSRC);
 debug($myDoc->arrDocLiesDST);
 */
?> 

 <script>
	var formChanged=false;
	
 	function addValue(id_champ,valeur,idx) {

		//alert(id_champ+" val:"+valeur + " idx:"+idx);
		arrField=id_champ.split('$');
		type=arrField[0];
		cntFields=0;
		
		if (document.getElementById(type+'$limit')) limit=document.getElementById(type+'$limit').value; else limit=20;
		allowdouble=document.getElementById(type+'$allowdouble'); 
		
		// ajouter test sur valeur existante
		prt=document.getElementById(type+'$tab');

		
		for(i=0;i<prt.childNodes.length;i++) {
			chld=prt.childNodes[i];
			
			if (chld.id && chld.id.indexOf('$DIV$')!=-1) cntFields++;
			if (cntFields==limit) {
				alert (limit+'<?=kDOMlimitvalues?>');
				return false;
				}
			
			if (chld.id==type+'$DIV$'+idx && !allowdouble) {
				alert('<?=kDOMnodouble?>'); return false;
				
			}
		}
		btnAdd=document.getElementById(type+'$add');
		
		newFld=document.createElement('DIV');
		newFld.id=type+'$DIV$'+idx;
		newFld.name=type+'$DIV$'+idx;
		newFld.className=prt.className;
		addRow=new Array(newFld.id,valeur,idx)
		str=eval('add_'+type+'(addRow)');
		newFld.innerHTML=str[1];
		if (btnAdd) {prt.insertBefore(newFld,btnAdd);} else {prt.appendChild(newFld);}
	}
 
window.onload=function () {		makeDraggable(document.getElementById('chooser'));}
 
 </script>   
	
<div id="desc">
	<form name="form1" id="form1" method="post" action="<?=$myPage->getName()?>?urlaction=docSaisie&form=docLienSaisie">
		<input name="commande" type="hidden" value="SAVE_LIEN" />
		<input name="page" type="hidden" value="" />
		<input name="id_doc" type="hidden" value="<?= $myDoc->t_doc['ID_DOC'] ?>" />
		<input name="save_action" id="save_action" type="hidden" value="SAVE_LIEN" />
		<input name="ligne" type="hidden" value="" />

		<fieldset class='button_fieldset'>
		<legend ><?= kDocumentsParents ?></legend>
					 
			<div id="t_doc_lies_SRC$tab" class='lineDoc' border='2'>
				<? 	
				$arrFields[]=array("ID"=>"","TYPE"=>"SPAN", "NAME"=>"","ATTR"=>"style='font-size:12px;font-weight:bold;' ");
				$arrFields[]=array("ID"=>"","TYPE"=>"HIDDEN","NAME"=>"t_doc_liesSRC[][ID_DOC_DST]");
				$arrFields[]=array("ID"=>"","TYPE"=>"EDIT","ATTR"=>" alt='".kModifier."' title='".kModifier."' ");			
//				$arrFields[]=array("ID"=>"","TYPE"=>"TEXT","NAME"=>"t_doc_liesSRC[][DD_TCSRC]","ATTR"=>"size='10' onKeyPress = 'formatTC(this)' onKeyUp = 'formatTC(this)' ","LIB"=>kTCin.'&nbsp;');
//				$arrFields[]=array("ID"=>"","TYPE"=>"TEXT","NAME"=>"t_doc_liesSRC[][DD_TCDST]","ATTR"=>"size='10' onKeyPress = 'formatTC(this)' onKeyUp = 'formatTC(this)' ","LIB"=>kTCout.'&nbsp;');
//				$arrFields[]=array("ID"=>"","TYPE"=>"TEXT","NAME"=>"t_doc_liesSRC[][DD_DUREE]","ATTR"=>"size='10' onKeyPress = 'formatTime(this)' onKeyUp = 'formatTime(this)'","LIB"=>kDuree.'&nbsp;');
				$arrFields[]=array("ID"=>"","TYPE"=>"MOVEUP");
				$arrFields[]=array("ID"=>"","TYPE"=>"MOVEDOWN");
				$arrFields[]=array("ID"=>"","TYPE"=>"TRASH","ATTR"=>" alt='".kSupprimer."' title='".kSupprimer."' ");

				$js="<script>divs='';\n";
				echo makeFormJSFunction2('t_doc_lies_SRC',$arrFields,'lineDoc');
				foreach ($myDoc->arrDocLiesSRC as $idx=>$dlsrc){ 

					$js.="arrRow=new Array('t_doc_lies_SRC$DIV$".$dlsrc['ID_DOC']."',".quoteField($dlsrc['DOC_TITRE']).",'".$dlsrc['ID_DOC']."','".$myPage->getName()."?urlaction=docSaisie&id_doc='+encodeURIComponent('".$dlsrc['ID_DOC']."'),'".$dlsrc['DD_TCSRC']."','".$dlsrc['DD_TCDST']."','".$dlsrc['DD_DUREE']."');";
					$js.="out=add_t_doc_lies_SRC(arrRow);\n document.write(out[0]);\n";		

				}
				$js.="document.write(divs);\n</script>";echo $js;	
				unset($arrFields);
				?>
				<button id="t_doc_lies_SRC$add" class="ui-state-default ui-corner-all" type="button" onClick="choose(this,'titre_index=<?=kParent?>&id_lang=<?=$myDoc->t_doc['ID_LANG']?>&valeur=&champ=DOC&currentId=<?=$myDoc->t_doc['ID_DOC']?>')">
				<span class="ui-icon ui-icon-open"></span><?= kChoisir?></button>

			</div>
					
		</fieldset>   

		<fieldset class='button_fieldset'>
		<legend ><?= kDocumentsFils ?></legend>

			<div id="t_doc_lies_DST$tab" class='lineDoc' border='2'>
				<? 	
				$arrFields[]=array("ID"=>"","TYPE"=>"SPAN", "NAME"=>"","ATTR"=>"style='font-size:12px;font-weight:bold;' ");
				$arrFields[]=array("ID"=>"","TYPE"=>"HIDDEN","NAME"=>"t_doc_liesDST[][ID_DOC_SRC]");
				$arrFields[]=array("ID"=>"","TYPE"=>"EDIT","ATTR"=>" alt='".kModifier."' title='".kModifier."' ");			
//				$arrFields[]=array("ID"=>"","TYPE"=>"TEXT","NAME"=>"t_doc_liesDST[][DD_TCDST]","ATTR"=>"size='10' onKeyPress = 'formatTC(this)' onKeyUp = 'formatTC(this)' ","LIB"=>kTCin.'&nbsp;');
//				$arrFields[]=array("ID"=>"","TYPE"=>"TEXT","NAME"=>"t_doc_liesDST[][DD_TCSRC]","ATTR"=>"size='10' onKeyPress = 'formatTC(this)' onKeyUp = 'formatTC(this)' ","LIB"=>kTCout.'&nbsp;');
//				$arrFields[]=array("ID"=>"","TYPE"=>"TEXT","NAME"=>"t_doc_liesDST[][DD_DUREE]","ATTR"=>"size='10' onKeyPress = 'formatTime(this)' onKeyUp = 'formatTime(this)' ","LIB"=>kDuree.'&nbsp;');
				$arrFields[]=array("ID"=>"","TYPE"=>"MOVEUP");
				$arrFields[]=array("ID"=>"","TYPE"=>"MOVEDOWN");
				$arrFields[]=array("ID"=>"","TYPE"=>"TRASH","ATTR"=>" alt='".kSupprimer."' title='".kSupprimer."' ");

				$js="<script>divs='';\n";
				echo makeFormJSFunction2('t_doc_lies_DST',$arrFields,'lineDoc');
				foreach ($myDoc->arrDocLiesDST as $idx=>$dldst){ 

					$js.="arrRow=new Array('t_doc_lies_DST$DIV$".$dldst['ID_DOC']."',".quoteField($dldst['DOC_TITRE']).",'".$dldst['ID_DOC']."','".$myPage->getName()."?urlaction=docSaisie&id_doc='+encodeURIComponent('".$dldst['ID_DOC']."'),'".$dldst['DD_TCDST']."','".$dldst['DD_TCSRC']."','".$dldst['DD_DUREE']."');";
					$js.="out=add_t_doc_lies_DST(arrRow);\n document.write(out[0]);\n";		

				}
				$js.="document.write(divs);\n</script>";echo $js;	
				unset($arrFields);
				?>
				<button id="t_doc_lies_DST$add" class="ui-state-default ui-corner-all" type="button" onClick="choose(this,'titre_index=<?=kFils?>&id_lang=<?=$myDoc->t_doc['ID_LANG']?>&valeur=&champ=DOC&currentId=<?=$myDoc->t_doc['ID_DOC']?>')">
				<span class="ui-icon ui-icon-open"></span><?= kChoisir?></button>

			</div>
					
		</fieldset>   
			   
		<br/>
		<fieldset class='button_fieldset'>
            <button id="bOK" class="ui-state-default ui-corner-all" type="button" onClick="$j('#form1').submit()">
			<span class="ui-icon ui-icon-check"></span><?= kEnregistrer ?></button>
		</fieldset>   

        
    </form>
</div>
<?$myPage->renderReferrer();?>
