<?php
    $myDoc=$this->params['modelObj'];
	
    global $db;
	//Chargement des listes de valeurs (MATERIEL et LANGUES) utilisées dans le formulaire ET dans le JS
	$matFormat=$db->GetAll("SELECT FORMAT_MAT from t_format_mat");
	$tabFormat['']="---";
	foreach ($matFormat as $idx=>$val) { 
		$tabFormat[$val['FORMAT_MAT']]=$val['FORMAT_MAT'];
	}
	
	$arrLang=array_merge(array(''=>'---'),GetRefValue('t_lang'));
	
?>

<script type="text/javascript" src="<?=libUrl?>webComponents/opsis/saisie.js"></script>
<script type="text/javascript">

	function addMat(id_champ,valeur,idx) { //On appelle export pour générer le XML du DOC
			
			return !sendData('GET','export.php','xmlhttp=1&id='+idx+'&id_lang=<?=$myDoc->t_doc['ID_LANG']?>&type=materiel&export=0&impression=screen','addMatAJAX');		
	}	
	
	function addDocMat(id_champ,valeur,idx) { //On appelle export pour générer le XML du DOC
			
			return !sendData('GET','export.php','xmlhttp=1&id='+idx+'&id_lang=<?=$myDoc->t_doc['ID_LANG']?>&type=docmat&export=0&impression=screen','addDocMatAJAX');		
	}	
	
	
	
	function removeValue(id_div) {
			//fld=document.getElementById(id_div);
			//fld.parentNode.removeChild(fld);
			if ($j(document.getElementById(id_div)).find('input[name="t_doc_mat[][action]"]').val()=='suppr')
			{
				$j(document.getElementById(id_div)).find('input[name="t_doc_mat[][action]"]').val('');
				$j(document.getElementById(id_div)).fadeTo(200,1);
			}
			else
			{
				$j(document.getElementById(id_div)).find('input[name="t_doc_mat[][action]"]').val('suppr');
				$j(document.getElementById(id_div)).fadeTo(200,0.4);
			}
	}
		
				
		function addMatManual () {
	
			myTab=document.getElementById('t_doc_mat$tab');		
			nbChildren=myTab.childNodes.length+1; 	
			
	
			
			myDiv=document.createElement('DIV');
			myDiv.className='lineDoc';
			myDiv.id='t_doc_mat$DIV$'+nbChildren;
			
			myTab.appendChild(myDiv);
			
		
			
			//création du formulaire
			myInput=document.createElement('INPUT');
			myInput.type='HIDDEN';
			myInput.name='t_doc_mat[][ID_MAT]';
			myDiv.appendChild(myInput);		
			
			myInput=document.createElement('INPUT');
			myInput.type='TEXT';
			myInput.size='20';
			myInput.className='val_champs_form';
			myInput.name='t_doc_mat[][MAT_NOM]';
			myDiv.appendChild(myInput);
			
			myInput=document.createElement('INPUT');
			myInput.type='HIDDEN';
			myInput.name='t_doc_mat[][ID_DOC_MAT]';
			myDiv.appendChild(myInput);			
			
			
			myText=document.createTextNode(str_lang.kFormat);
			myDiv.appendChild(myText);
			
			myInput=document.createElement('SELECT');
			myInput.className='val_champs_form';
			myInput.name='t_doc_mat[][MAT_FORMAT]';
			myInput.innerHTML="<?=listOptionsFromArray($tabFormat,'','',false,true)?>";
			myDiv.appendChild(myInput);
			
			

			myText=document.createTextNode(str_lang.kTCin);
			myDiv.appendChild(myText);
			
			myInput=document.createElement('INPUT');
			myInput.type='TEXT';
			myInput.size='10';
			myInput.className='val_champs_form';
			myInput.name='t_doc_mat[][DMAT_TCIN]';
			myInput.onkeypress=function () {formatTC(this);};
			myInput.onkeyup=function () {formatTC(this);};
			myDiv.appendChild(myInput);			


			myText=document.createTextNode(str_lang.kTCout);
			myDiv.appendChild(myText);
			
			myInput=document.createElement('INPUT');
			myInput.type='TEXT';
			myInput.size='10';			
			myInput.className='val_champs_form';
			myInput.name='t_doc_mat[][DMAT_TCOUT]';
			myInput.onkeypress=function () {formatTC(this);};
			myInput.onkeyup=function () {formatTC(this);};
			myDiv.appendChild(myInput);			


			

			myInput=document.createElement('IMG');
			myInput.className='miniTrash';
			
			myInput.onclick=function () { removeValue('t_doc_mat$DIV$'+nbChildren); };
			myInput.src='<?=imgUrl?>button_drop.gif';
			myDiv.appendChild(myInput);
			
		
			myBtn=document.getElementById('toolbar');
			if (myBtn) {myTab.insertBefore(myDiv,myBtn);} else {myTab.appendChild(myDiv);}
		
		}
	
	
	
 window.onload=function () {		makeDraggable(document.getElementById('chooser'));}

	var hasChanged=false; 



 </script>
 
 <div id="desc">
	<form name="form1" id="form1" method="post" onSubmit="return chkFormFields(this);">
		<input name="commande" id="commande" type="hidden" value="" />
		<input name="id_doc" type="hidden" value="<?=$myDoc->t_doc['ID_DOC']?>" />
		<input name="id_lang" type="hidden" value="<?=$myDoc->t_doc['ID_LANG']?>" />
		<input name="page" type="hidden" value="" />
		<input name="version2suppr" type="hidden" value="" />
		<input name="save_action" id="save_action" type="hidden" value="SAVE_MAT" />    
		<input name="t_doc_mat$limit" id="t_doc_mat$limit" type="hidden" value="999" />    
			
	<fieldset class='button_fieldset'>
		<legend ><?= kListeMateriels ?></legend>
		<table width = "100%">
		<tr>
			<td>
			  <div id="t_doc_mat$tab" border='2'>
					
					<?php
						$arrFields[]=array("ID"=>"","TYPE"=>"HIDDEN","NAME"=>"t_doc_mat[][ID_MAT]","ATTR"=>"readonly='yes' size='25'","CLASSE"=>"readonly");
						$arrFields[]=array("ID"=>"","TYPE"=>"TEXT","NAME"=>"t_doc_mat[][MAT_NOM]","ATTR"=>"readonly='yes' size='25'","CLASSE"=>"readonly");
						$arrFields[]=array("ID"=>"","TYPE"=>"EDIT","ATTR"=>" alt='".kModifier."' title='".kModifier."' ");

						$arrFields[]=array("ID"=>"","TYPE"=>"HIDDEN","NAME"=>"t_doc_mat[][ID_DOC_MAT]");	
						$arrFields[]=array("ID"=>"","TYPE"=>"SELECT","NAME"=>"t_doc_mat[][MAT_FORMAT]","LIB"=>'&nbsp;&nbsp;'.kFormat.'&nbsp;',"CLASSE"=>"val_champs_form","OPTIONS"=>$tabFormat );				
						if(($myDoc->t_doc['DOC_ID_MEDIA'] != 'P' && $myDoc->t_doc['DOC_ID_MEDIA']!='D')){
							$arrFields[]=array("ID"=>"","TYPE"=>"TEXT","NAME"=>"t_doc_mat[][DMAT_TCIN]","ATTR"=>"size='10'  onKeyPress = 'formatTC(this)' onKeyUp = 'formatTC(this)' ","LIB"=>'<br />&nbsp;&nbsp;'.kTCin.'&nbsp;');
							$arrFields[]=array("ID"=>"","TYPE"=>"TEXT","NAME"=>"t_doc_mat[][DMAT_TCOUT]","ATTR"=>"size='10' onKeyPress = 'formatTC(this)' onKeyUp = 'formatTC(this)' ","LIB"=>'&nbsp;&nbsp;'.kTCout.'&nbsp;');
						}
						$arrFields[]=array("ID"=>"","TYPE"=>"SELECT","NAME"=>"t_doc_mat[][DMAT_ID_LANG]","LIB"=>kLangue,"CLASSE"=>"val_champs_form","OPTIONS"=>$arrLang);
						$arrFields[]=array("ID"=>"","TYPE"=>"HIDDEN","NAME"=>"t_doc_mat[][action]");
						$arrFields[]=array("ID"=>"","TYPE"=>"TRASH","ATTR"=>" alt='".kSupprimer."' title='".kSupprimer."' ");


						$js="<script type='text/javascript'>divs='';\n";
						echo makeFormJSFunction2('t_doc_mat',$arrFields,'lineDoc');
						foreach ($myDoc->t_doc_mat as $idx=>$dm){ 
							//$js.="arrRow=new Array('t_doc_mat\$DIV\$".$dm['ID_MAT']."',".quoteField($dm['ID_MAT']).",'".$myPage->getName()."?urlaction=matSaisie&id_mat='+encodeURIComponent('".$dm['ID_MAT']."'),'".$dm['ID_DOC_MAT']."','".$dm['MAT']->t_mat['MAT_FORMAT']."','".$dm['DMAT_TCIN']."','".$dm['DMAT_TCOUT']."');";
							$js.="arrRow=new Array('t_doc_mat\$DIV\$".$dm['ID_MAT']."','".$dm['ID_MAT']."',".quoteField($dm['MAT']->t_mat['MAT_NOM']).",'".$myPage->getName()."?urlaction=matSaisie&id_mat='+encodeURIComponent('".$dm['ID_MAT']."'),'".$dm['ID_DOC_MAT']."','".$dm['MAT']->t_mat['MAT_FORMAT']."','".(($myDoc->t_doc['DOC_ID_MEDIA']!='P' && $myDoc->t_doc['DOC_ID_MEDIA']!='D')?$dm['DMAT_TCIN']."','".$dm['DMAT_TCOUT']."','":'').$dm['DMAT_ID_LANG']."');";
							$js.="out=add_t_doc_mat(arrRow);\n document.write(out[0]);\n";		

						}
						$js.="document.write(divs);\n</script>";echo $js;	
						unset($arrFields);
					?>
	<?
	$myUsr=User::getInstance();

	?>
	<div id="toolbar" >
	<br/>
	<button id="bUpload" class="ui-state-default ui-corner-all" type="button" onclick="javascript:popupWindow('indexPopupUpload.php?urlaction=simpleUploadJS&type=doc_mat&id_doc=<?=$myDoc->t_doc['ID_DOC']?>&page=docSaisie&media_type=<?=$myDoc->t_doc['DOC_ID_MEDIA']?>','','height=400,width=830,fullscreen=0,resizable=1,scrollbars=1,menubar=0,toolbar=0,status=1','main')">
	<span class="ui-icon ui-icon-video"></span><?= kCharger ?></button>


	<button id="bOk" class="ui-state-default ui-corner-all" type="button" onclick="javascript:addMatManual()">
	<span class="ui-icon ui-icon-plus"></span><?= kNouveau?></button>


	<button id="bDup" class="ui-state-default ui-corner-all" type="button" onclick="javascript:choose(this,'titre_index=Materiel&valeur=&champ=M&rtn=addMat');">
	<span class="ui-icon ui-icon-open"></span><?= kChoisir?></button>
	</div>


				</div>
				<div id='miniForm' style='border:1px solid black;display:none'></div>
			</td>
		</tr>
		</table>
		</fieldset>
	<br/>
	<div align ="center">
	<button id="bOk" class="ui-state-default ui-corner-all" type="button" onclick="$j('#form1 #commande').val('SAVE_MAT');$j('#form1').submit()">
	<span class="ui-icon ui-icon-check"></span><?= kEnregistrer ?></button>
	</div>


	</form>	
</div>
