<?php
	global $db;
	$myUsr=User::getInstance();
    $myDoc=$this->params['modelObj'];

    $myDoc->getDocLiesDST();
    $myDoc->getDocLiesSRC();

    //Sauvegarde vignette
    if (isset($_POST['id_vignette']) && $_POST['id_vignette'] != $myDoc->t_doc['DOC_ID_IMAGE']) {
        $myDoc->t_doc['DOC_ID_IMAGE'] = $_POST['id_vignette'];
        $myDoc->saveVignette("doc_id_image", $_POST['id_vignette']);
    }
     
    if (get_class($myDoc) == "Doc") {
        foreach ($myDoc->arrDocLiesSRC as $idx=>$dlsrc){ 
            $tmpdoc = new Doc;
            $tmpdoc->t_doc['ID_DOC'] = $dlsrc['ID_DOC'];
            $tmpdoc->t_doc['ID_LANG'] =$_SESSION['langue'];
            $tmpdoc->getDocLiesDST();
            $myDoc->arrDocLiesDST = array_merge($myDoc->arrDocLiesDST, $tmpdoc->arrDocLiesDST);
        }
        foreach ($myDoc->arrDocLiesDST as $idx=>$dldst) if ($dldst['ID_DOC'] == $myDoc->t_doc['ID_DOC']) unset($myDoc->arrDocLiesDST[$idx]);
    }
?> 

<script type="text/javascript" src="<?=libUrl?>webComponents/opsis/saisie.js"></script>
<script>

	var formChanged=false;


	function refresh_page() {
		window.location.reload();
	}
		
 	function addValue(id_champ,valeur,idx) {

		//alert(id_champ+" val:"+valeur + " idx:"+idx);
		arrField=id_champ.split('$');
		type=arrField[0];
		cntFields=0;
		
		if (document.getElementById(type+'$limit')) limit=document.getElementById(type+'$limit').value; else limit=20;
		allowdouble=document.getElementById(type+'$allowdouble'); 
		
		// ajouter test sur valeur existante
		prt=document.getElementById(type+'$tab');

		
		for(i=0;i<prt.childNodes.length;i++) {
			chld=prt.childNodes[i];
			
			if (chld.id && chld.id.indexOf('$DIV$')!=-1) cntFields++;
			if (cntFields==limit) {
				alert (limit+'<?=kDOMlimitvalues?>');
				return false;
				}
			
			if (chld.id==type+'$DIV$'+idx && !allowdouble) {
				alert('<?=kDOMnodouble?>'); return false;
				
			}
		}
		btnAdd=document.getElementById(type+'$add');
		
		newFld=document.createElement('DIV');
		newFld.id=type+'$DIV$'+idx;
		newFld.name=type+'$DIV$'+idx;
		newFld.className="resultsMos";//prt.className;
		addRow=new Array(newFld.id,'',valeur,idx, "?urlaction=docSaisie&id_doc="+encodeURIComponent(idx));
		str=eval('add_'+type+'(addRow)');
		
		strWait = '<img src="design/images/loader_list_doc.gif" alt="loading" style="margin-top:45%" />';
		newFld.innerHTML=strWait;
		//if (btnAdd) {prt.insertBefore(newFld,btnAdd);} else {prt.appendChild(newFld);}
		$j("#boutons_div").before(newFld);
		
		//Chargement AJAX
		$j.get("blank.php",
			{ urlaction: "loadDoc", id_doc: idx },
			function(data){
				myDom=importXML(data);
				
				id_doc = $j(data).find("ID_DOC").html();
				cote = $j(data).find("DOC_COTE").html();
				titre = $j(data).find("DOC_TITRE").html();
				date = $j(data).find("DOC_DATE_PROD").html();
				id_img = $j(data).find("DOC_ID_IMAGE").html();
				vignette = $j(data).find("VIGNETTE").html();
				var action = "doc";
				<? if ($myUsr->getTypeLog() == kLoggedAdmin) { ?>
					action = "docSaisie";
				<? } ?>
				
				arrRow=new Array('t_doc_lies_DST\$DIV$'+id_doc, 'makeVignette.php?image='+vignette+'&w=150&h=100&kr=1','',cote,'',titre+' - '+date,''<? if ($myUsr->getTypeLog() == kLoggedAdmin) { ?>,'index.php?urlaction='+action+'&id_doc='+encodeURIComponent(id_doc)<? } ?>,id_doc,'','' , '','',id_img);
				str=eval('add_'+type+'(arrRow)');
				$j(newFld).html(str[1]);
			}
		);
	}
		
 	function addParent(id_champ,valeur,idx) {
		arrField=id_champ.split('$');
		type=arrField[0];
		cntFields=0;
		
		if (document.getElementById(type+'$limit')) limit=document.getElementById(type+'$limit').value; else limit=20;
		allowdouble=document.getElementById(type+'$allowdouble'); 
		
		prt=document.getElementById(type+'$tab');
		for(i=0;i<prt.childNodes.length;i++) {
			chld=prt.childNodes[i];
			if (chld.id && chld.id.indexOf('$DIV$')!=-1) $j(chld).remove();
		}
		btnAdd=document.getElementById(type+'$add');
		
		newFld=document.createElement('DIV');
		newFld.id=type+'$DIV$'+idx;
		newFld.name=type+'$DIV$'+idx;
		newFld.className=prt.className;
        addRow=new Array(newFld.id,'',valeur,idx, "?urlaction=docSaisie&id_doc="+encodeURIComponent(idx));
		str=eval('add_'+type+'(addRow)');
		
		newFld.innerHTML=str[1];
		$j("#boutons_div").before(newFld);

        //Chargement AJAX
        $j.get("blank.php",
           { urlaction: "loadDoc", id_doc: idx },
           function(data){
               myDom=importXML(data);
               
               id_doc = $j(data).find("ID_DOC").html();
               cote = $j(data).find("DOC_COTE").html();
               titre = $j(data).find("DOC_TITRE").html();
               date = $j(data).find("DOC_DATE_PROD").html();
               id_img = $j(data).find("DOC_ID_IMAGE").html();
               vignette = $j(data).find("VIGNETTE").html();
               var action = "doc";
               <? if ($myUsr->getTypeLog() == kLoggedAdmin) { ?>
               action = "docSaisie";
               <? } ?>
               
               arrRow=new Array('t_doc_lies_SRC\$DIV$'+id_doc, 'makeVignette.php?image='+vignette+'&w=150&h=100&kr=1','',titre+' - '+date, id_doc,''<? if ($myUsr->getTypeLog() == kLoggedAdmin) { ?>,'index.php?urlaction='+action+'&id_doc='+encodeURIComponent(id_doc)<? } ?>,'');
               str=eval('add_'+type+'(arrRow)');
               $j(newFld).html(str[1]);
            }
        );
    }

window.onload=function () {		makeDraggable(document.getElementById('chooser'));}
 
 </script>   
	
	
	<form name="form1" id="reportage_form" method="post" action="<?=$myPage->getName()?>?urlaction=docSaisie&form=docReportageSaisie">
		<input name="commande" type="hidden" value="SAVE_LIEN" />
		<input name="page" type="hidden" value="" />
		<input name="id_doc" type="hidden" value="<?= $myDoc->t_doc['ID_DOC'] ?>" />
		<input name="save_action" id="save_action" type="hidden" value="SAVE_LIEN" />
		<input name="ligne" type="hidden" value="" />

		<? if (get_class($myDoc) == "Doc") { ?>
			<fieldset class='button_fieldset'>
			<legend ><?= kReportage ?></legend>
						 
				<div id="t_doc_lies_SRC$tab" border='2'>
					<? 	
					$arrFields[]=array("ID"=>"","TYPE"=>"IMG", "NAME"=>"", "ATTR" => 'style=\"vertical-align: bottom;\"');
					$arrFields[]=array("ID"=>"","TYPE"=>"BR");
					$arrFields[]=array("ID"=>"","TYPE"=>"SPAN", "NAME"=>"","ATTR"=>"style='font-size:12px;font-weight:bold;' ");
					$arrFields[]=array("ID"=>"","TYPE"=>"HIDDEN","NAME"=>"t_doc_liesSRC[][ID_DOC_DST]");
                    $arrFields[]=array("ID"=>"","TYPE"=>"EDIT","ATTR"=>" alt='".kModifier."' title='".kModifier."' ");
					$arrFields[]=array("ID"=>"","TYPE"=>"TRASH","ATTR"=>" alt='".kSupprimer."' title='".kSupprimer."' ");

					$js="<script>divs='';\n";
					echo makeFormJSFunction2('t_doc_lies_SRC',$arrFields,'resultsMos');
					foreach ($myDoc->arrDocLiesSRC as $idx=>$dlsrc){ 
						$tmpdoc = new Doc;
						$tmpdoc->t_doc['DOC_ID_IMAGE'] = $dlsrc['DOC_ID_IMAGE'];
						$tmpdoc->t_doc['DOC_ID_DOC_ACC'] = $dlsrc['DOC_ID_DOC_ACC'];
						$tmpdoc->getVignette();
						$js.="arrRow=new Array('t_doc_lies_SRC\$DIV$".$dlsrc['ID_DOC']."', 'makeVignette.php?image=".$tmpdoc->vignette."&w=150&h=100&kr=1','','".(str_replace("'", "\'", $dlsrc['DOC_TITRE'])." - ".$dlsrc['DOC_DATE_PROD'])."','".$dlsrc['ID_DOC']."','".$myPage->getName()."?urlaction=docSaisie&id_doc='+encodeURIComponent('".$dlsrc['ID_DOC']."'),'".$dlsrc['DD_DUREE']."');";
						$js.="out=add_t_doc_lies_SRC(arrRow);\n document.write(out[0]);\n";		
						unset($tmpdoc);
					}
					$js.="document.write(divs);\n</script>";echo $js;	
					unset($arrFields);
					?>
					<div style="width:100%;display: block; clear: both;" id="boutons_div">
						<button id="t_doc_lies_SRC$add" class="ui-state-default ui-corner-all" type="button" onClick="choose(this,'titre_index=<?=kParent?>&id_lang=<?=$myDoc->t_doc['ID_LANG']?>&valeur=&champ=DOC&currentId=<?=$myDoc->t_doc['ID_DOC']?>&id_media=<?=$myDoc->t_doc['DOC_ID_MEDIA']?>&type_doc=<?=(defined(gReportagePicturesActiv))?gReportagePicturesActiv:'3';?>&rtn=addParent')">
						<span class="ui-icon ui-icon-open"></span><?= kChoisir?></button>
					</div>
				</div>
						
			</fieldset>   
		<? } ?>
		
		<fieldset class='button_fieldset' id="div_fiche_report">
		<legend ><?= kPhotosDuReportage ?></legend>

			<div id="t_doc_lies_DST$tab" border='2'>
				<? 	
				$arrFields[]=array("ID"=>"","TYPE"=>"IMG", "NAME"=>"", "ATTR" => '_style=\"display:block\"');
				$arrFields[]=array("ID"=>"","TYPE"=>"BR");
				$arrFields[]=array("ID"=>"","TYPE"=>"SPAN", "NAME"=>"", "ATTR"=>"style='font-size:12px;font-weight:bold;' ");
				$arrFields[]=array("ID"=>"","TYPE"=>"BR");
				$arrFields[]=array("ID"=>"","TYPE"=>"SPAN", "NAME"=>"","CLASSE"=>"title_cell","ATTR"=>"");
				$arrFields[]=array("ID"=>"","TYPE"=>"BR");
                $arrFields[]=array("ID"=>"","TYPE"=>"EDIT","ATTR"=>" alt='".kModifier."' title='".kModifier."' ");			
				if (get_class($myDoc) == "Reportage") {
					$arrFields[]=array("ID"=>"","TYPE"=>"HIDDEN","NAME"=>"t_doc_liesDST[][ID_DOC_SRC]");
					$arrFields[]=array("ID"=>"","TYPE"=>"MOVEUP_CONFIRM");
					$arrFields[]=array("ID"=>"","TYPE"=>"MOVEDOWN_CONFIRM");
					$arrFields[]=array("ID"=>"","TYPE"=>"TRASH_CONFIRM","ATTR"=>" alt='".kSupprimer."' title='".kSupprimer."' ");
					$arrFields[]=array("ID"=>"","TYPE"=>"BR");
					$arrFields[]=array("ID"=>"","TYPE"=>"RADIO","ATTR"=>"onclick='formChanged=true;'", "LIB" => kVignette, "NAME" => "id_vignette");
				}
				$js="<script>divs='';\n";
				echo makeFormJSFunction2('t_doc_lies_DST',$arrFields,'resultsMos');
				foreach ($myDoc->arrDocLiesDST as $idx=>$dldst){ 
					$tmpdoc = new Doc;
					$tmpdoc->t_doc['DOC_ID_IMAGE'] = $dldst['DOC_ID_IMAGE'];
					$tmpdoc->t_doc['DOC_ID_DOC_ACC'] = $dldst['DOC_ID_DOC_ACC'];
					$tmpdoc->getVignette();
					
					$js.="arrRow=new Array('t_doc_lies_DST\$DIV$".$dldst['ID_DOC']."', 'makeVignette.php?image=".$tmpdoc->vignette."&w=150&h=100&kr=1','',".$db->Quote($dldst['DOC_COTE']).",'','".(str_replace("'", "\'", $dldst['DOC_TITRE'])." - ".$dldst['DOC_DATE_PROD'])."',''";
                    $js.=",'".$myPage->getName()."?urlaction=docSaisie&id_doc='+encodeURIComponent('".$dldst['ID_DOC']."')";
					if (get_class($myDoc) == "Reportage") {
						$js.="+'&rang=".($idx+1)."&id_reportage=".$myDoc->t_doc['ID_DOC']."'";
						$js.=",'".$dldst['ID_DOC']."','".$dldst['DD_TCDST']."','".$dldst['DD_TCSRC']."' , '".$dldst['DD_DUREE']."'";
						$js.=",'','".$dldst['DOC_ID_IMAGE']."'";
					}
					$js.=");out=add_t_doc_lies_DST(arrRow);\n document.write(out[0]);\n";		
					unset($tmpdoc);

				}
				$js.="document.write(divs);\n";
				// Selection de la vignette (reportage)
				if (get_class($myDoc) == "Reportage"){
					foreach ($myDoc->arrDocLiesDST as $idx=>$dldst){
					if ($dldst['DOC_ID_IMAGE'] == $myDoc->t_doc['DOC_ID_IMAGE'] && intval($myDoc->t_doc['DOC_ID_IMAGE']) > 0)
						$js.="\$j(\"input[name='id_vignette'][value='".$dldst['DOC_ID_IMAGE']."']\").attr('checked', 'checked');\n";
					}
				}
				$js.="</script>";echo $js;
				unset($arrFields);
				
				if (get_class($myDoc) == "Reportage") { 
					$strIdsDoc = implode(",", $myDoc->getChildrenIds());
					?>
					<div style="width:100%;display: block; clear: both;" id="boutons_div">
						<button id="t_doc_lies_DST$add" class="ui-state-default ui-corner-all" type="button" onClick="choose(this,'titre_index=<?=kFils?>&id_lang=<?=$myDoc->t_doc['ID_LANG']?>&valeur=&champ=DOC&currentId=<?=$myDoc->t_doc['ID_DOC']?>')">
							<span class="ui-icon ui-icon-open"></span><?= kChoisir?></button>
						<button id="bNouveau" class="ui-state-default ui-corner-all" type="button" onclick="javascript:popupWindow('indexPopupUpload.php?urlaction=simpleUploadJS&type=batch_mat&id_doc2link=<?=$myDoc->t_doc['ID_DOC']?>&media_type=<?=$myDoc->t_doc['DOC_ID_MEDIA']?>&rtn=refresh_page','docReportageSaisie','height=400,width=700,fullscreen=0,resizable=1,scrollbars=1,menubar=0,toolbar=0,status=1','main');" >
							<span class="ui-icon ui-icon-plus"></span><?= kCharger ?>
						</button>
						<button id="bModifLot" class="ui-state-default ui-corner-all" style="margin-left:100px" type="button" onclick="javascript:popupModifLot('simple.php?urlaction=modifLot&entite=doc&tIds=<?= $strIdsDoc ?>&noRefresh=1','main','lots')" >
							<span class="ui-icon ui-icon-pencil"></span><?= kModifierLot ?></button>
					</div>
				<? } ?>

			</div>
					
		</fieldset>   
		
		<fieldset class='button_fieldset'>
			<button id="bOK" class="ui-state-default ui-corner-all" type="button" onClick="document.getElementById('reportage_form').submit()">
			<span class="ui-icon ui-icon-check"></span><?= kEnregistrer ?></button>
		</fieldset>   

        
    </form>
	<style>
	.resultsMos {
		height: 180px;
	}
	</style>
<?$myPage->renderReferrer();?>
