<?php
    $myDoc=$this->params['modelObj'];
	
	// rang du doc dans la recherche si il existe
	if(isset($this->params['rang'])){
		$rang = $this->params['rang'];
	}else{
		$rang = null ;
	}
	if(isset($this->params['max_rows'])){
		$max_rows = $this->params['max_rows'];
	}
	if(isset($this->params['rang_seq'])){
		$rang_seq = $this->params['rang_seq'];
	}

require_once(modelDir.'model_docReportage.php');

$myPage=Page::getInstance();
$myPage->titre=str_replace(chr(34),'',$myDoc->t_doc['DOC_TITRE']);

// Valeurs par défaut
if(empty($myDoc->t_doc['ID_DOC'])){
	if(!empty($_GET['doc_id_media'])) $myDoc->t_doc['DOC_ID_MEDIA']=$_GET['doc_id_media'];
	else $myDoc->t_doc['DOC_ID_MEDIA']='V';
}

// Surbrillance du menu
$HL['docSaisie']='#tabs-1';
$HL['docSaisiedocMat']='#tabs-2';
$HL['docSaisiedocImageur']='#tabs-3';
$HL['docSaisiedocSeqSaisie']='#tabs-4';
$HL['docSaisiedocAccSaisie']='#tabs-5';
$HL['docSaisiedocLienSaisie']='#tabs-6';
$HL['docSaisiedocReportageSaisie']='#tabs-6';
$HL['docSaisiedocTranscription']='#tabs-7';

?>
<div id="docHeader">
	<div id="backButton"><?=$myPage->renderReferrer(kRetourListeRecherche, 'class="icoBackSearch"');?></div>
	<div id="pageTitre"><?= $myDoc->t_doc['DOC_TITRE']?>&nbsp;</div>

	<div id="docPager" >
		<?php
			if(defined("useSolr") && useSolr){
				$sessVar = "recherche_DOC_Solr";
			}else{
				$sessVar = "recherche_DOC";
			}
		$urlfrom="";
		$urlfromrang="";
		if(isset($rang) && !empty($rang)){
			if(isset($_GET["id_panier"]) && $_GET["id_panier"]){
				$urlfrom="&id_panier=".intval($_GET["id_panier"]);
			}elseif(isset($_GET["id_import"]) && $_GET["id_import"]){
				$urlfrom="&id_import=".intval($_GET["id_import"]);
			} elseif(!empty($_GET["id_reportage"])) {
				$urlfrom="&id_reportage=".intval($_GET["id_reportage"]);
			} else {
				$max_rows=$_SESSION[$sessVar]['rows'];
			}
			if($rang>1) {
				print "<img src='design/images/left_lot.gif' alt='' border='0' align='absmiddle' onclick=\"saveIfAndGo('".$myPage->getName()."?urlaction=docSaisie&rang=1".$urlfrom."')\" />&nbsp;&nbsp;";
				print "<img src='design/images/left_pg.gif' alt='' border='0' align='absmiddle' onclick=\"saveIfAndGo('".$myPage->getName()."?urlaction=docSaisie&rang=".($rang-1).$urlfrom."')\" />&nbsp;&nbsp;";
			}
			if ($rang && $max_rows) print "<input type='text' name='rang' value='".$rang."' size='4' onkeydown='changeRang(event,".$rang.",".$max_rows.")' onchange='goRang(this,".$rang.",".$max_rows.")'/>&nbsp;&nbsp;/&nbsp;&nbsp;".$max_rows;
			if($rang && $max_rows && $rang<$max_rows) {
				print "&nbsp;&nbsp;<img src='design/images/right_pg.gif' alt='' border='0' align='absmiddle' onclick=\"saveIfAndGo('".$myPage->getName()."?urlaction=docSaisie&rang=".($rang+1).$urlfrom."')\" />";
				print "&nbsp;&nbsp;<img src='design/images/right_lot.gif' alt='' border='0' align='absmiddle' onclick=\"saveIfAndGo('".$myPage->getName()."?urlaction=docSaisie&rang=".($max_rows).$urlfrom."')\" />";
			}
			if(!empty($rang))
				$urlfromrang = '&rang='.$rang.$urlfrom;
		}
		if(!empty($rang_seq))
			$urlfromrang.="&rang_seq=".$rang_seq;
		?>
	</div>

	<?php if(!empty($myDoc->t_doc['ID_DOC'])){ ?>
	<div class="toolbar">
		<div class="add tool"><span class="tool_hover_text"><?=kAjouterA?></span><div style="display:none;" class='drop_down'></div>&#160;</div>
		<div id="consult" onclick="saveIfAndGo('<?=$myPage->getName().'?urlaction=doc&id_doc='.$myDoc->t_doc['ID_DOC'].'&id_lang='.$myDoc->t_doc['ID_LANG'].$urlfromrang ?>');" class="tool"><span class="tool_hover_text"><?=kConsultation?></span>&#160;</div>
		<div  onclick="triggerPrint('doc')" class="print tool"><span class="tool_hover_text"><?=kImprimer?></span>&#160;</div>
		<div class="menu_actions tool" ><span class="tool_hover_text"><?echo kMenuActions;?></span>
		<div class="drop_down" style="display:none;">
			<ul>
				<li onclick="displayMenuActions('export','<?= (get_class($myDoc) == "Reportage")?'doc_reportage':'doc'; ?>','<?=$myDoc->t_doc['ID_DOC'];?>');"><? echo kExporter;?></li>
			</ul>
		</div>&#160;
		<iframe id="frameDownload" style='display:none'></iframe>
		</div>
		<!--div id="download" class="tool">&#160;</div-->
	</div>
	<?php } ?>
</div>

<script type="text/javascript">
var formChanged=false;


current_id_doc ='<?= $myDoc->t_doc['ID_DOC']?>';

var backupLaunch_myVideo;

$j(document).ready( function(){
	backupLaunch_myVideo = $j("#media_space #container").html();
});


var $tabs = $j('#tabs').tabs();
<?php
if (!isset($_GET['form']))
	$_GET['form']='';
?>
$j('#tabs').tabs("option", "active", $j("a[href^='#tabs-']").index($j("a[href='<?=$HL[$_GET['urlaction'].$_GET['form']]?>']")));
/*$j('#tabs li').removeClass('ui-tabs-selected ui-state-active ui-tabs-active');
$j("a[href='<?=$HL[$_GET['urlaction'].$_GET['form']]?>']").parent('li').addClass('ui-tabs-selected ui-state-active');*/

var xmlSlide;
var slideshow;

var options_slide=
{
	width : "900px",
	height : "500px"
};

window.name='<?= $myDoc->t_doc['ID_DOC']?>';

_minimum_available_width=1200;
_minimum_available_height=600;
_free_lateral_width=700;
_free_vertical_height=190;
_video_id='<?= $myDoc->t_doc['ID_DOC']?>';
_visu_type='document';


</script>
<div id="docBody" class="mos">
	<div id="leftBlock">
		<? include (getSiteFile("designDir","mediaDisplay.inc.php")); ?>
	</div>

    <div id="fiche_info" class="<?=($entity_has_media)?'':'no_media'; ?>">
        <?
        if ($myDoc->error_msg) echo "<div class='error' id='error_msg'>".$myDoc->error_msg."</div>";
        ?>
        <ul class="panelSelWrapper">
            <li class="panelSel <?=((!isset($_GET['form']) || empty($_GET['form']) && ( $_GET['urlaction'] == 'docSaisie'))?'selected':'')?>" onclick="javascript:saveIfAndGo('<?=$myPage->getName()?>?urlaction=docSaisie&amp;id_doc=<?= $myDoc->t_doc['ID_DOC']?>&amp;id_lang=<?= $myDoc->t_doc['ID_LANG'].$urlfromrang ?>')"><?= kDescription ?></li>
        <? if(!empty($myDoc->t_doc['ID_DOC']) ){
            if($myDoc->t_doc['DOC_ID_TYPE_DOC']!=gReportagePicturesActiv){?>
            <li class="panelSel <?=((isset($_GET['form']) && $_GET['form']=='docMat')?'selected':'')?>" onclick="javascript:saveIfAndGo('<?=$myPage->getName()?>?urlaction=docSaisie&amp;form=docMat&amp;id_doc=<?= $myDoc->t_doc['ID_DOC'] ?>&amp;id_lang=<?= $myDoc->t_doc['ID_LANG'].$urlfromrang ?>')"><?= kMateriels ?></li>
            <? } ?>
            <? if($myDoc->t_doc['DOC_ID_MEDIA']=='V'  && $myDoc->t_doc['DOC_ID_TYPE_DOC']!=gReportagePicturesActiv){ ?>
            <li class="panelSel <?=((isset($_GET['form']) && $_GET['form']=='docImageur')?'selected':'')?>" onclick="javascript:saveIfAndGo('<?=$myPage->getName()?>?urlaction=docSaisie&amp;form=docImageur&amp;id_doc=<?= $myDoc->t_doc['ID_DOC']?>&amp;id_lang=<?= $myDoc->t_doc['ID_LANG'].$urlfromrang ?>&amp;from=document')"><?= kStoryboard ?></li>
            <? } ?>
            <? if(!empty($myDoc->t_doc['DOC_TRANSCRIPT'])) { ?>
            <li class="panelSel <?=((isset($_GET['form']) && $_GET['form']=='docTranscription')?'selected':'')?>" onclick="javascript:saveIfAndGo('<?=$myPage->getName()?>?urlaction=docSaisie&form=docTranscription&amp;id_doc=<?= $myDoc->t_doc['ID_DOC']?>&amp;id_lang=<?= $myDoc->t_doc['ID_LANG'].$urlfromrang ?>')"><?= kTranscription ?></li>
            <? } ?>
            <? if(empty($myDoc->t_doc['DOC_ID_GEN']) && $myDoc->t_doc['DOC_ID_MEDIA']!='P' &&  $myDoc->t_doc['DOC_ID_TYPE_DOC']!=gReportagePicturesActiv){ ?>
            <li class="panelSel <?=((isset($_GET['form']) && $_GET['form']=='docSeqSaisie')?'selected':'')?>" onclick="javascript:saveIfAndGo('<?=$myPage->getName()?>?urlaction=docSaisie&amp;form=docSeqSaisie&amp;id_doc=<?= $myDoc->t_doc['ID_DOC'] ?>&amp;id_lang=<?= $myDoc->t_doc['ID_LANG'].$urlfromrang ?>')"><?= kSequences ?></li>
            <? } ?>
            <li class="panelSel <?=((isset($_GET['form']) && $_GET['form']=='docAccSaisie')?'selected':'')?>" onclick="javascript:saveIfAndGo('<?=$myPage->getName()?>?urlaction=docSaisie&form=docAccSaisie&amp;id_doc=<?= $myDoc->t_doc['ID_DOC']?>&amp;id_lang=<?= $myDoc->t_doc['ID_LANG'].$urlfromrang ?>')"><?= kDocumentAcc ?></li>
            <? if(Reportage::isReportageEnabled()){ ?>
                <li class="panelSel <?=((isset($_GET['form']) && $_GET['form']=='docReportageSaisie')?'selected':'')?>"  onclick="javascript:saveIfAndGo('<?=$myPage->getName()?>?urlaction=docSaisie&form=docReportageSaisie&id_doc=<?= $myDoc->t_doc['ID_DOC'] ?>&id_lang=<?= $myDoc->t_doc['ID_LANG'].$urlfromrang ?>')"><?= kReportage ?></li>
            <? } else { ?>
                <li class="panelSel <?=((isset($_GET['form']) && $_GET['form']=='docLienSaisie')?'selected':'')?>" onclick="javascript:saveIfAndGo('<?=$myPage->getName()?>?urlaction=docSaisie&form=docLienSaisie&id_doc=<?= $myDoc->t_doc['ID_DOC'] ?>&id_lang=<?= $myDoc->t_doc['ID_LANG'].$urlfromrang ?>')"><?= kDocumentsLies ?></li>
            <? } ?>
			<? if(defined('kActiv_soustitres') && kActiv_soustitres && ($myDoc->t_doc['DOC_ID_MEDIA']=='V' || $myDoc->t_doc['DOC_ID_MEDIA']=='A') ) { ?>
				<li class="panelSel <?=((isset($_GET['form']) && $_GET['form']=='docSousTitres')?'selected':'')?>" onclick="javascript:saveIfAndGo('<?=$myPage->getName()?>?urlaction=docSaisie&form=docSousTitres&id_doc=<?= $myDoc->t_doc['ID_DOC']?>&id_lang=<?= $myDoc->t_doc['ID_LANG'].$urlfromrang ?>')"><?= kSousTitrage ?></li>
			<? } ?>
        <? }
        ?>
        </ul>
        
        <include type="formTemplate"/>
        
    </div>
<!-- fin bloc docBody-->
</div>
