<?php
    $myMat=$this->params['modelObj'];

    $myPage=Page::getInstance();
    $myPage->titre=str_replace(chr(34),'',$myMat->t_mat['MAT_NOM']);
?>
<div id="docHeader">
	<div id="backButton"><?=$myPage->renderReferrer(kRetourListeRecherche, 'class="icoBackSearch"');?></div>
	<div id="pageTitre"><?= $myMat->t_mat['MAT_NOM'] ?></div>
	
	<div class="toolbar">
		<? if($myMat->hasfile){
			$matFile=$myMat->getLieu().$myMat->t_mat['MAT_NOM'];
			
			if(preg_match("|<size>(.*)</size+>|i",$myMat->t_mat['MAT_INFO'],$matches)) $size=$matches[1];
			else $size=filesize($matFile);
			$matUrl = prepareMatForDownload($matFile, $myMat->t_mat['MAT_NOM']);
			?>
			<div onclick="window.location='<?=$matUrl;?>'" id="download" class="tool"><span class="tool_hover_text"><?=kTelecharger?></span>&#160;</div>
		<? } ?>
		<div id="modify" onclick="window.location='<?=$myPage->getName()?>?urlaction=matSaisie&id_mat=<?= $myMat->t_mat['ID_MAT']?><?= (!empty($rang)?"&rang=".$rang:"") ?><?= (!empty($rang_seq)?"&rang_seq=".$rang_seq:"") ?>';" class="tool"><span class="tool_hover_text"><?=kModifier?></span> <a href="">&#160;</a></div>
		<div onclick="triggerPrint('mat');" class="print tool"><span class="tool_hover_text"><?=kImprimer?></span>&#160;</div>
		<div class="menu_actions tool" ><span class="tool_hover_text"><?echo kMenuActions;?></span>
			<div class="drop_down" style="display:none;">
				<ul>
					<li onclick="displayMenuActions('export','mat','<?=$myMat->t_mat['ID_MAT'];?>');"><? echo kExporter;?></li>
				</ul>
			</div>&#160;
		</div>
	</div>
</div>

<include type="detail"/>

