<?php
	require_once(modelDir.'model_docReportage.php');
	
	$myUsr=User::getInstance();

    $myDoc=$this->params['modelObj'];    
    $myPage=Page::getInstance();
    //$myPage->titre=str_replace(chr(34),'',$myDoc->t_doc['DOC_TITRE']);
    $myPage->titre=$this->params['title'];
	
	// rang du doc dans la recherche si il existe 
	if(isset($this->params['rang'])){
		$rang = $this->params['rang'];
	}else{
		$rang = null ; 
	}
	if(isset($this->params['max_rows'])){
		$max_rows = $this->params['max_rows'];
	}
	if(isset($this->params['rang_seq'])){
		$rang_seq = $this->params['rang_seq'];
	}

	$search = array(" ' ",'&','<','>');
	$replace = array("'",'&#38;','&#60;','&#62;');
	
	
	$content = "";
	$arrReportPhotos = array();
	foreach ($myDoc->arrDocLiesSRC as $idx=>$dlsrc){
		if (Reportage::checkReportageWithId($dlsrc['ID_DOC'])) { 
			$tmpdoc = new Doc;
			$tmpdoc->t_doc['ID_DOC'] = $dlsrc['ID_DOC'];
			$tmpdoc->t_doc['ID_LANG'] =$_SESSION['langue'];
			$tmpdoc->getDocLiesDST();
			
			if (is_array($tmpdoc->arrDocLiesDST))
				$arrReportPhotos = array_merge($arrReportPhotos, $tmpdoc->arrDocLiesDST);
			foreach ($arrReportPhotos as $idx=>&$dldst) {
				if ($dldst['ID_DOC'] == $myDoc->t_doc['ID_DOC']) unset($arrReportPhotos[$idx]);
				global $db ; 
				if (!empty($dldst['DOC_ID_IMAGE'])) {
					$res=$db->GetRow('SELECT distinct IM_CHEMIN,IM_FICHIER FROM t_image WHERE ID_IMAGE='.intval($dldst['DOC_ID_IMAGE']));
					$dldst['IM_CHEMIN'] = $res['IM_CHEMIN'];
					$dldst['IM_FICHIER'] = $res['IM_FICHIER'];
				}
			}
			
			if (is_array($arrReportPhotos) && count($arrReportPhotos) > 0) {
				$tmpdoc = new Doc;
				$tmpdoc->arrDocLiesDST = $arrReportPhotos;
				$contentTmp = $tmpdoc->xml_export();
				$contentTmp = substr($contentTmp, strpos($contentTmp, "<t_doc_lies_dst"));
				$contentTmp = substr($contentTmp, 0, strpos($contentTmp, "</t_doc_lies_dst>"));
				
				$content .= str_replace("t_doc_lies_dst", "t_doc_freres", $contentTmp)."<titre>".str_replace($search,$replace, $dlsrc['DOC_TITRE'])."</titre><id_doc>".$dlsrc['ID_DOC']."</id_doc>"."</t_doc_freres>";
				//$content .= $contentTmp."<titre>".$dlsrc['DOC_TITRE']."</titre><id_doc>".$dlsrc['ID_DOC']."</id_doc></t_doc_lies_dst>";
			}
		}
	}
	
	if (isset($_GET['id_panier'])){
		$nblignes = $_SESSION['nbLignesPanier'];
	}else{
		$sessVar = (isset($_SESSION['recherche_DOC_Solr']['nbLignes'])?'recherche_DOC_Solr':'recherche_DOC');
		$nblignes = $_SESSION[$sessVar]['nbLignes'];
	}

	if ($nblignes !='all' && $nbLignes != 0 ) {
		$page = $rang / $nblignes;
	} else {
		$page = 1 ;
	}

	if (floor($page) != $page){
		$page = floor($page) + 1;
	}
	
	if (!empty($nblignes) && !empty($rang)){
		// $linkpage = "&page=$page";
		if(isset($_GET['id_panier'])){
			
		}else{
			$_SESSION[$sessVar]['page'] = $page ; 
		}
	}else{
		$linkpage = "";
	}	
		
?>
<div id="docHeader">
	<? if (!$myUsr->loggedAsGuest()){?>
	<div id="backButton"><?=$myPage->renderReferrer(kRetourListeRecherche, 'class="icoBackSearch"');?></div>
	<?}?>
	<div id="pageTitre">
	<?php
	if((!$myUsr->loggedAsGuest()) && $myDoc->t_doc['DOC_ID_GEN']>0)
	{ 
		$xml = str_replace("</t_doc>", "<DOC_TITRE_FILM>".str_replace($search,$replace, $myDoc->arrFather[0]['DOC_TITRE'])."</DOC_TITRE_FILM></t_doc>", $xml);
		//var_dump(xml2array($xml));
		echo '<a href="'.$myPage->getName().'?urlaction=doc&id_doc='.$myDoc->t_doc['DOC_ID_GEN'].'&id_lang='.$myDoc->t_doc['ID_LANG'].'">'.$myDoc->arrFather[0]['DOC_TITRE'].'</a>&nbsp;.&nbsp';
	}

	echo $myDoc->t_doc['DOC_TITRE']
	?>
	</div>

	<div id="docPager" >
		<?php		
		if(defined("useSolr") && useSolr){
			$sessVar = "recherche_DOC_Solr";
		}else{
			$sessVar = "recherche_DOC";
		}

		$urlfrom="";
		$urlfromrang="";
		if(isset($rang)){
			if(isset($_GET["id_panier"]) && $_GET["id_panier"]){
				$urlfrom="&id_panier=".intval($_GET["id_panier"]);
			}elseif(isset($_GET["id_import"]) && $_GET["id_import"]){
				$urlfrom="&id_import=".intval($_GET["id_import"]);
			} elseif(!empty($_GET["id_reportage"])) {
				$urlfrom="&id_reportage=".intval($_GET["id_reportage"]);
			} else {
				$max_rows=$_SESSION[$sessVar]['rows'];
			}
			if($rang>1) {
				print "<a href='".$myPage->getName()."?urlaction=doc&rang=1".$urlfrom."'><img src='design/images/left_lot.gif' alt='' border='0' align='absmiddle'/></a>&nbsp;&nbsp;";
				print "<a href='".$myPage->getName()."?urlaction=doc&rang=".($rang-1).$urlfrom."'><img src='design/images/left_pg.gif' alt='' border='0' align='absmiddle'/></a>&nbsp;&nbsp;";
			}
			if ($rang && $max_rows) print "<input type='text' name='rang' value='".$rang."' size='4' onkeydown='changeRang(event,".$rang.",".$_SESSION[$sessVar]['rows'].")' onchange='goRang(this,".$rang.",".$max_rows.")'/>&nbsp;&nbsp;/&nbsp;&nbsp;".$max_rows;
			if($rang && $max_rows && $rang<$max_rows) {
				print "&nbsp;&nbsp;<a href='".$myPage->getName()."?urlaction=doc&rang=".($rang+1).$urlfrom."'><img src='design/images/right_pg.gif' alt='' border='0' align='absmiddle'/></a>";
				print "&nbsp;&nbsp;<a href='".$myPage->getName()."?urlaction=doc&rang=".($max_rows).$urlfrom."'><img src='design/images/right_lot.gif' alt='' border='0' align='absmiddle'/></a>";
			}
			if(!empty($rang))
				$urlfromrang = '&rang='.$rang.$urlfrom;
		}
		if(!empty($rang_seq))
			$urlfromrang.="&rang_seq=".$rang_seq;
		?>
	</div>
		
	<div class="toolbar">
		<? if($myUsr->loggedIn()) { ?>
		<div class="add tool"><span class="tool_hover_text"><?=kAjouterA?></span><div style="display:none;" class='drop_down'></div>&#160;</div>
		<?}?>
		<? if((User::getInstance()->getTypeLog() == kLoggedStagiaire || User::getInstance()->getTypeLog() >= kLoggedInterne) && $myDoc->checkAccess(7)) { ?>
		<div id="modify" onclick="window.location='<?=$myPage->getName()?>?urlaction=docSaisie&id_doc=<?= $myDoc->t_doc['ID_DOC']?>&id_lang=<?= $myDoc->t_doc['ID_LANG'].$urlfromrang ?>';" class="tool"><span class="tool_hover_text"><?=kModifier?></span>&#160;</div>
		<?} if($myUsr->loggedIn() && $myUsr->getTypeLog() > kLoggedNorm) { ?>
		<div onclick="triggerPrint('doc')" class="print tool"><span class="tool_hover_text"><?=kImprimer?></span>&#160;</div>
		<div class="menu_actions tool" ><span class="tool_hover_text"><?echo kMenuActions;?></span>
			<div class="drop_down" style="display:none;">
				<ul>
					<li onclick="displayMenuActions('export','<?= (get_class($myDoc) == "Reportage")?'doc_reportage':'doc'; ?>','<?=$myDoc->t_doc['ID_DOC'];?>');"><? echo kExporter;?></li>
					<li onclick="displayMenuActions('partage','doc','<?=$myDoc->t_doc['ID_DOC'];?>');"><? echo kPartager;?></li>
					<? if($myUsr->verifieDroits($myDoc->t_doc['DOC_ID_FONDS'],5)) { ?>
						<li onclick="displayMenuActions('download','doc','<?=$myDoc->t_doc['ID_DOC'];?>');"><? echo kTelecharger;?></li>
					<?}?>
				</ul>
			</div>&#160;
			<iframe id="frameDownload" style='display:none'></iframe>
		</div>
		<?}?>
	</div>
</div>
<div id="sauvPanier" class="resultsMenu" style='display:none'>
	<?= print kNouvelleSelection; ?>
	<input name="newCartName" type="text" id="newCartName"/>
	<img style="cursor : pointer;" class="cancel" src='design/images/abandon.gif' onclick="javascript:hideSauvPanier();" />
	<img style="cursor : pointer;" class="valid" src='design/images/save.gif' onclick="javascript:add2cart();" /> 
</div>
<script type="text/javascript">
<? 
if ($myUsr->loggedAsGuest()){
	require_once(modelDir."model_partage.php");
	$myPartage = new Partage () ;
	$myPartage->getPartageFromCode($_SESSION['USER']['GUEST_PARTAGE']);
	if(isset($myPartage->t_partage['XML']['t_panier_doc']['PDOC_EXTRAIT']) && !empty($myPartage->t_partage['XML']['t_panier_doc']['PDOC_EXTRAIT'])){
		if(!isset($content)) $content ="" ;
		$content.="<ADD_XML>";
		$content.="<EXT_TITRE>".$myPartage->t_partage['XML']['t_panier_doc']['PDOC_EXT_TITRE']."</EXT_TITRE>\n" ;
		$content.="<EXT_DUREE>".$myPartage->t_partage['XML']['t_panier_doc']['EXT_DUREE']."</EXT_DUREE>\n" ;
		$content.="</ADD_XML>";
		// var_dump($content);
		echo "player_options = {\n
		timecode_IN : '".$myPartage->t_partage['XML']['t_panier_doc']['PDOC_EXT_TCIN']."',\n
		timecode_OUT : '".$myPartage->t_partage['XML']['t_panier_doc']['PDOC_EXT_TCOUT']."'\n
		};";
	}?>
<?}?>

window.name='<?= $myDoc->t_doc['ID_DOC']?>';

current_id_doc ='<?= $myDoc->t_doc['ID_DOC']?>';

_free_lateral_width=580;
_free_vertical_height=190;
_video_id='<?= $myDoc->t_doc['ID_DOC']?>';
_visu_type='document';
var myPanel, video_tcin, video_tcout;
var backupLaunch_myVideo;

$j(document).ready( function(){
	backupLaunch_myVideo = $j("#media_space #container").html();
});


function goRang(obj,rangold,rangmax) {
	rangnew=parseInt(obj.value,10);
	if((rangnew>0)&&(rangnew<=rangmax)&&(rangnew!=rangold)){
		if(<?=(isset($_GET["id_panier"])?$_GET["id_panier"]:0)?>){
			window.location = "index.php?urlaction=doc&rang="+rangnew+"&id_panier="+'<?=isset($_GET["id_panier"])?$_GET["id_panier"]:''?>';
		}	else	{
			window.location = "index.php?urlaction=doc&rang="+rangnew;
		}		
	}	else {
		obj.value=rangold;
	}
}

function showPanel(it){
	params= 0;

	if(it=='story'){
		params= {
			defaultTCIN 					: 	video_tcin,
			videoLength 					: 	video_tcout,
			mode							:	"storyboard:document",
			xslForm							:	"oraoweb_storyboard_aff",
			formName						:	"form2",
			language						: 	'FR',
			displayBar						:	false,
			nbLignes						:	12
		}
	}else if(it =='extraits'){
		params= {
			defaultTCIN 					: 	video_tcin,
			videoLength 					: 	video_tcout,
			msgConfirmAbanbon				: 	str_lang.kConfirmerAbandon,
			msgTitreDefaut					:	str_lang.kVisioNomDefautExtrait,
			mode							:	"extrait",
			imgDir							: 	"<?=libUrl?>webComponents/oraoweb/css/images/boutons/",
			language						: 	'fr',
			displayBar						:	true,
			onPanelSave						:	refreshPanExtrait
		}
	}
	if(params) {
		
		if(document.getElementById('sidecommande')) document.getElementById('sidecommande').style.display='block';
		if (typeof(myPanel)=='undefined') {myPanel=new rightPanel(myVideo,'<?=$myDoc->t_doc['ID_DOC']?>',params);}	
		else {myPanel.init(myVideo,'<?=$myDoc->t_doc['ID_DOC']?>',params);} //on réutilise l'objet s'il existe déjà
		myPanel.resetContent(); //mais on le vide !
		myPanel.dspBar();
		myPanel.refreshContent();
		// Desactivation lancement video qui lance oaraweb par défaut
		//if(it =='extraits' && !myVideo) loadVideo();
	}
	
}



	function refreshPanExtrait(id_panier){
		if(id_panier == id_current_panier){
			setTimeout (function(){
				flag_reload_current_pan = true ; 
				loadPanier(id_current_panier);
			},500);
		}
	}
	

</script>
<? if(!empty($myDoc->t_doc['DOC_TRANSCRIPT'])){ ?>
	<script type="text/javascript" src="<?=libUrl?>webComponents/opsis/transcription.js"></script>
	<link rel="stylesheet" href="<?=designUrlCore?>css/transcription.css" type="text/css" />
<? } ?>
<div id="docBody" class="mos">
    <div id="leftBlock">
        <? include (getSiteFile("designDir","mediaDisplay.inc.php")); ?>
    </div>
    <script type="text/javascript">
        function finalizePlayer(player_options){
            $j("#media_space #container.video").css("overflow","visible");
        }
    </script>
	
	<?
	global $db;
	$bord = $db->getAll("SELECT p.*
					FROM t_panier p
					INNER JOIN t_panier_doc pd ON pd.id_panier = p.id_panier
					WHERE id_doc = ".intval($myDoc->t_doc['ID_DOC']));
	?>
    
    <div id="fiche_info" class="<?=($entity_has_media)?'':'no_media'; ?>">
        <ul class="panelSelWrapper">
            <li id="sel_desc" class="panelSel selected" onclick="toggleMe('desc')"><? print kDescription ;?></li>
            <? if(!empty($myDoc->t_doc['DOC_ID_IMAGE']) && $myDoc->t_doc['DOC_ID_MEDIA']!='P' && $myDoc->t_doc['DOC_ID_TYPE_DOC']!='2'){ ?>
            <li id="sel_story" class="panelSel" onclick="toggleMe('story','story')"><? print kStoryboard ;;?></li>
            <? } ?>
            <? if(!empty($myDoc->t_doc['DOC_TRANSCRIPT'])){ ?>
            <li id="sel_transcription" class="panelSel" onclick="toggleMe('transcription')"><? print kTranscription; ;?></li>
            <? } ?>
            <? if(!empty($myDoc->t_doc['DOC_NUM']) && $myUsr->loggedIn() && ($myDoc->t_doc['DOC_ID_MEDIA']=='V' || $myDoc->t_doc['DOC_ID_MEDIA']=='A' )){ ?>
            <li id="sel_extraits" class="panelSel" onclick="toggleMe('extraits','extraits')"><? print kExtraits; ;?></li>
            <? } ?>
            <? if (count($arrReportPhotos) > 0){ ?>
            <li id="sel_report" class="panelSel" onclick="toggleMe('report','report')"><? print kPhotosDuReportage ;;?></li>
            <? } ?>
            <? if(!empty($myDoc->t_doc_acc)){ ?>
            <li id="sel_doc_acc" class="panelSel" onclick="toggleMe('doc_acc')"><? print kDocumentAcc ;;?></li>
            <? } ?>
            <? if(1==2 && !empty($bord)){ ?>
				<li id="sel_bord" class="panelSel" onclick="toggleMe('bord')"><? print kBordereaux ;;?></li>
            <? } ?>
            
        </ul>
        <include type="detail"/>
		<!--div id="bord">
			<?
			//var_dump($bord);
			?>
		</div-->
    </div>
</div>

