<?php
    $myDoc=$this->params['modelObj'];
	$myDoc->getDocAcc();
	$lang = $_SESSION['langue'];
?>
<div id="desc">

<script type="text/javascript" src="<?=libUrl?>webComponents/opsis/saisie.js"></script>
<script type="text/javascript">

		
		
		//Cette function est appelée depuis 2 endroits : le formulaire pour ajouter une ligne vierge
		//et le popup upload pour ajouter une ligne tout juste uploadée. Dans ce cas, on a des valeurs
		
		function addLine(params,addSelect) {
			if (!params) { //Pas de params (créa nv ligne depuis form)
				params=new Array();
				params['ID_LANG']='<?= $lang ?>';
				params['DA_FICHIER']='';
				params['DA_CHEMIN']='';
				params['DA_TITRE']='';
				params['ID_DOC_ACC']='';
			}
			if(params['ID_LANG']=='<?= $lang ?>'){
			
				prt=document.getElementById('tabDocAcc');
				
				// On veut récupérer le noeud TBODY, pas tjs au même endroit selon les navigateurs
				if (typeof(prt.childNodes[1])!='undefined') prt=prt.childNodes[1]; else prt=prt.childNodes[0];
				nbChildren=prt.childNodes.length+1; //petit moyen pour attribuer un id unique à la ligne TR
				
				myLine=document.createElement('tr'); //On va ajouter une ligne au tableau 
				myLine.id='t_doc_acc§'+(nbChildren);
				myLine.className='altern'+(nbChildren%2); //alternance des couleurs de ligne dans le tableau
				
				prt.appendChild(myLine);			
				
				
				myTD=document.createElement('td'); // ensuite on ajoute des cellules
				myTD.className='resultsCorps';
				if (params['DA_FICHIER']=='') { //pas de fichier (nvelle ligne) ? c'est un input, sinon c'est un lien !
					myTD.innerHTML="<input type='text' size='' name='t_doc_acc[DA_FICHIER]["+nbChildren+"]' value='"+params['DA_FICHIER']+"' />";
				} else {
					myTD.innerHTML="<a href='<?=kDocumentUrl?>"+params['DA_CHEMIN']+params['DA_FICHIER']+"' target='_blank' >"+params['DA_FICHIER']+"</a><input type='hidden' name='t_doc_acc[DA_CHEMIN]["+nbChildren+"]' value='"+params['DA_CHEMIN']+"' /><input type='hidden' name='t_doc_acc[DA_FICHIER]["+nbChildren+"]' value='"+params['DA_FICHIER']+"' />";
				}
				myLine.appendChild(myTD);
				
				myTD=document.createElement('td');
				myTD.className='resultsCorps';
				myTD.innerHTML="<input type='hidden' name='t_doc_acc[ID_DOC_ACC]["+nbChildren+"]' value='"+params['ID_DOC_ACC']+"' /><input type='hidden' name='t_doc_acc[<?=$key?>]["+nbChildren+"]' value='<?=$value?>' /><input type='text' size='40' name='t_doc_acc[DA_TITRE]["+nbChildren+"]' value='"+params['DA_TITRE']+"' />";
				myLine.appendChild(myTD);

				
				myTD=document.createElement('td');
				myTD.id='selVal'+(nbChildren);
				myTD.className='resultsCorps';
				if (addSelect==0) {
						myTD.id='selVal'+(nbChildren);
						//myTD.innerHTML='<select class="resultsCorps" name="t_doc_acc_val[TYPJ]['+nbChildren+']" ><option value="">---</option><?listOptions("select * from t_val where val_id_type_val='TYPJ' and ID_LANG='".$lang."' order by valeur",array("ID_VAL","VALEUR"));?></select>';
						//options='<?= str_replace("'"," ",listOptions("select * from t_val where val_id_type_val='TYPJ' and ID_LANG='".$lang."' order by valeur",array("ID_VAL","VALEUR"),"",0));?>';
						//myTD.innerHTML='<select class="resultsCorps" name="t_doc_acc_val[TYPJ]['+nbChildren+']" ><option value="">---</option>'+options+'</select>';
				}
				myTD.innerHTML='<input type="checkbox" name="t_doc_acc[ID_EXP]['+nbChildren+']" value="1"/>';
				myLine.appendChild(myTD);

				myTD=document.createElement('td'); // ATTENTION au mélange JS/PHP pour créer la liste déroulante des langues, notamment l'usage des guillemets !
				myTD.className='resultsCorps';
				//myTD.innerHTML='<select id="selLang'+(nbChildren)+'" name="t_doc_acc[ID_LANG]['+nbChildren+']"><?=listOptions('select * from t_lang',array('ID_LANG','ID_LANG'))?></select>';
				myTD.innerHTML='<input type="hidden" id="selLang'+(nbChildren)+'" name="t_doc_acc[ID_LANG]['+nbChildren+']" value="<?=$lang?>" />';
				myLine.appendChild(myTD);

				myTD=document.createElement('td'); // Poubelle pour supprimer la ligne
				myTD.className='resultsCorps';			
				myTD.innerHTML="<img style='cursor:pointer' onclick=\"removeDocAcc('t_doc_acc§"+(nbChildren)+"')\" src='design/images/button_drop.gif' alt=\"trash\" />";
				myLine.appendChild(myTD);
				
				myTD=document.createElement('td'); // Poubelle pour supprimer la ligne
				myTD.className='resultsCorps';			
				myTD.id='vignette'+(nbChildren);
				
				imgTypes='<?=implode ('|',unserialize(gImageTypes))?>';
				if (params['DA_FICHIER'].substr(-3,3)!="" && imgTypes.indexOf(params['DA_FICHIER'].substr(-3,3).toLowerCase()) !=-1) { // On n'affiche une checkbox que si le fichier est de type image !
					myTD.innerHTML="<input type='checkbox' name='vignette' id='vignette"+(nbChildren)+"' onclick='onlyCheck(this)' value='"+params['ID_DOC_ACC']+"' />";
				}
				myLine.appendChild(myTD);			

				// Dans la ligne créée, on positionne la langue directement sur la bonne valeur
				// Ceci ne s'applique en fait qu'au cas d'upload fichier.
				//document.getElementById('selLang'+(nbChildren)).value=params['ID_LANG'];
			}
		}
		
</script>

<?// debug ($myDoc->t_doc_acc); ?>

      <h3><?= kListeDocumentAcc ?></h3>
      <form name="form1" id="doc_acc_form" method="post" enctype="multipart/form-data" action="">
        <input name="commande" type="hidden" value="SAVE_DOCACC" />
        <input name="page" type="hidden" value="" />
        <input name="ligne" type="hidden" />
        <!-- Les 2 champs suivants sont conservés pour l'interaction avec le popup d'upload Flash -->
        <input name="id_doc" id="id_doc" type="hidden" value="<?=$myDoc->t_doc['ID_DOC']?>" />
        <input name="id_pers" id="id_pers" type="hidden" value="<?=$myDoc->t_personne['ID_PERS']?>" />

		    <table width="50%"  id="tabDocAcc" name="tabDocAcc" border="0" cellspacing="0" class="tableResults">
            <tr>
                <td class="resultsHead"><?=kSource?></td>
                <td class="resultsHead"><?=kTitre?></td>
                <td class="resultsHead"><?=kDiffuse?></td>
                <td class="resultsHead">&nbsp;</td>
                <td class="resultsHead" width="20px">&nbsp;</td>
                <td class="resultsHead" width="20px"><img src='<?=imgUrl?>vignette.gif' alt='<?=kVignette?>' title='<?=kVignette?>' /></td>
            </tr>
			<?
					 $listTYPJ=listOptions("select * from t_val where val_id_type_val='TYPJ' and ID_LANG='".$lang."' order by valeur",array("ID_VAL","VALEUR"),"",0);
					
					if (!empty($myDoc->t_doc_acc))
					{
						foreach ($myDoc->t_doc_acc as $idx=>$da){  //génération de la liste initiale == issue de la base
							// REGLE : si le fichier comporte http:// il s'agit d'un lien HTTP vers un site => pas d'ajout du chemin doc acc
							// NOTE : là encore, les dimensions des tableaux de POST ne sont pas quotées
							echo "<tr id='t_doc_acc§".$idx."' class='altern".($idx%2)."'>";
							echo "<td class='resultsCorps'><a href='".((strpos($da->t_doc_acc['DA_FICHIER'],'http://')===0 || strpos($da->t_doc_acc['DA_FICHIER'],'https://')===0)?$da->t_doc_acc['DA_CHEMIN'].$da->t_doc_acc['DA_FICHIER']:kDocumentUrl.$da->t_doc_acc['DA_CHEMIN'].$da->t_doc_acc['DA_FICHIER'])."' target='_blank' >".$da->t_doc_acc['DA_FICHIER']."</a>";
							echo ($da->fileExists==0?"&nbsp;<img src='".imgUrl."danger.gif' alt='".kDocAccFichierManquant."' title='".kDocAccFichierManquant."' />":"")."</td>";
							
							echo "<td class='resultsCorps'>";
							echo "<input type='hidden' name=\"t_doc_acc[ID_DOC_ACC][".$idx."]\" value='".$da->t_doc_acc['ID_DOC_ACC']."' />\n";
							echo "<input type='hidden' name=\"t_doc_acc[DA_CHEMIN][".$idx."]\" value='".$da->t_doc_acc['DA_CHEMIN']."' />\n";
							echo "<input type='hidden' name=\"t_doc_acc[DA_FICHIER][".$idx."]\" value='".$da->t_doc_acc['DA_FICHIER']."' />\n";
							//echo "<input type='hidden' name=\"t_doc_acc[ID_LANG][".$idx."]\" value='".$da->t_doc_acc['ID_LANG']."' />\n";
							echo "<input type='hidden' name=\"t_doc_acc[".$key."][".$idx."]\" value='".$value."' />\n";
							echo "<input type='text' size='40' name=\"t_doc_acc[DA_TITRE][".$idx."]\" value=\"".str_replace(chr(34),'&quot;',$da->t_doc_acc['DA_TITRE'])."\" />\n";
							echo "</td>";
							
							echo "<td class='resultsCorps' id='selVal".$idx."'>";
							
							// On n'affiche les SELECT de valeurs QUE sur la dernière ligne
							// Effectivement, ces valeurs sont partagées entre les versions, donc on ne doit les afficher qu'une fois
							/*if (  $da->t_doc_acc['ID_DOC_ACC']!=$myDoc->t_doc_acc[$idx+1]->t_doc_acc['ID_DOC_ACC'])  {
								echo "<select class='resultsCorps' name=\"t_doc_acc_val[TYPJ][".$idx."]\" id='valTYPJ".$idx."'><option value=''>---</option>";
								echo $listTYPJ;
								echo "</select>";

								echo "<script type=\"text/javascript\">\n";	 				
								foreach ($da->t_doc_acc_val as $id=>$da_val) {
									echo "document.getElementById('val".$da_val['ID_TYPE_VAL'].$idx."').value='".$da_val['ID_VAL']."';\n";
								}
								echo "</script>\n";
								
							} */
								echo "<input type='checkbox' name=\"t_doc_acc[ID_EXP][".$idx."]\" ".($da->t_doc_acc['ID_EXP']=="1" ? " checked='checked' ":"")." value='1'/>";
							echo "</td>";
							//echo "<td class='resultsCorps'>".$da->t_doc_acc['ID_LANG']."</td>\n";
							echo "<td class='resultsCorps'><input type='hidden' name=\"t_doc_acc[ID_LANG][".$idx."]\" value='".$da->t_doc_acc['ID_LANG']."' /></td>\n";
							echo "<td class='resultsCorps'><img style='cursor:pointer' onclick=\"removeDocAcc('t_doc_acc§".$idx."')\" src='design/images/button_drop.gif' alt=\"trash\" /></td>";
							echo "<td class='resultsCorps' id='selVignette".$idx."'>";
							if ($da->t_doc_acc['ID_DOC_ACC']!=$myDoc->t_doc_acc[$idx+1]->t_doc_acc['ID_DOC_ACC'])  {
								if (!in_array(getExtension($da->t_doc_acc['DA_FICHIER']),unserialize(gImageTypes))) $dis=" disabled='true' "; else $dis="";
								
								echo"<input type='checkbox' onclick='onlyCheck(this)' ".$dis." id='vignette".$idx."' name='vignette' ".($myDoc->t_doc['DOC_ID_DOC_ACC']==$da->t_doc_acc['ID_DOC_ACC'] || $myDoc->t_personne['PERS_PHOTO']==$da->t_doc_acc['ID_DOC_ACC']?" checked='checked' ":"")." value='".$da->t_doc_acc['ID_DOC_ACC']."'/>";
							}
							echo "</td>\n";
							echo "</tr>\n";
					
							if ($da->t_doc_acc['ID_DOC_ACC']!=$myDoc->t_doc_acc[$idx+1]->t_doc_acc['ID_DOC_ACC']) //Astuce pour ajouter un séparateur entre les doc (esthétique !)
								echo "<tr height='3' bgcolor='#AAAAAA'><td colspan='6'></td></tr>\n\n";
										
						}
					}
 					

			?>
			</table>

	    <p align="center">

<button id="bNouveau" class="ui-state-default ui-corner-all" type="button" onclick="document.location.href='javascript:addLine(null,0);'">
<span class="ui-icon ui-icon-plus"></span><?= kAjouterLigne ?></button>
&nbsp;
<button id="bNouveau" class="ui-state-default ui-corner-all" type="button" onclick="javascript:popupWindow('indexPopupUpload.php?urlaction=simpleUploadJS&type=doc_acc&id_doc=<?=$myDoc->t_doc['ID_DOC']?>&id_pers=<?=$myDoc->t_personne['ID_PERS']?>&page=docAccSaisie','docAccSaisie','height=400,width=650,fullscreen=0,resizable=1,scrollbars=1,menubar=0,toolbar=0,status=1','main');" >
<span class="ui-icon ui-icon-plus"></span><?= kCharger ?></button>
&nbsp;
<button id="bOk" class="ui-state-default ui-corner-all" type="submit">
<span class="ui-icon ui-icon-check"></span><?= kEnregistrer ?></button>
			</p>
      </form>

    </div>
