<?php
    // MS - 30.06.15 Une fois arrivé ici, si on n'a pas de recherche en session, c'est qu'on accède à docListe sans paramètres de recherche (on ne vient pas d'un submit quick_search), on redirige donc vers la même url avec precherche=1
	$mySearch = $this->params['searchObj'];
    if(!isset($_SESSION[$mySearch->sessVar]['sql']) && !isset($_GET['precherche'])){
        header("Location: http://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]&precherche=1");
        exit;
    }
    require_once(libDir."webComponents/oraoweb/orao_player.php");
    
    if(isset($_SESSION['USER']['layout_opts']['layout'])){
        $layout = $_SESSION['USER']['layout_opts']['layout'];
    }

	$myPage = Page::getInstance() ;
	$mySearch = $myPage->view->params['searchObj'];
	trace("geojson ".$mySearch->geojson);
	if(isset($mySearch->geojson) && !empty($mySearch->geojson)){
		$edit_geojson = json_decode($mySearch->geojson);
		$arr_coor = array() ;
		foreach($edit_geojson->features as $idx=>$feature){
			$arr_coor[$feature->geometry->coordinates[1].','.$feature->geometry->coordinates[0]] = $idx ;
		}
		
		global $db ;
		$arr_coor2 = array_keys($arr_coor);

		$arr_link = $db->GetArray("SELECT LEX_COOR,LEX_TERME FROM t_lexique WHERE LEX_ID_TYPE_LEX='LG' AND LEX_COOR IN ('".implode("','",$arr_coor2)."')");
		unset($arr_coor2);
		
		foreach($arr_link as $idx=>$link){
			if(array_key_exists($link['LEX_COOR'],$arr_coor)){
				$edit_geojson->features[$arr_coor[$link['LEX_COOR']]]->properties->name= $link['LEX_TERME'];
			}
		}
		$mySearch->geojson = json_encode($edit_geojson);
		$myPage->view->params4XSL['geojson'] = $mySearch->geojson ;
		unset($arr_coor);
		unset($arr_link);
		unset($edit_geojson);
	}

?>

<script type="text/javascript" src="<?=libUrl?>webComponents/opsis/cherche.js"></script>

<div id="block_form_cherche" style="display : none ; ">
    <div id='pageTitre'><?= kRecherche?></div>
</div>
    
    <div id="previewHoverWrapper"><div id="previewContainer"></div></div>
    <script type="text/javascript">
    toggleAdvForm();
    $j(document).ready(function(){
    $j("#resultats.mos .resultsMos, #resultats.liste tr:not(.separator, .resultsHead_row)").hover(callHoverPlayer);
    $j("#resultats.mos .resultsMos, #resultats.liste tr:not(.separator, .resultsHead_row)").mouseleave(hideHoverPlayer);
    });
    
    /****** FACETTE DEMO  ***/
    
    function toggleTypeFacet(elt){
    
    if($j(elt).hasClass("open") && showLeftMenu ){
    // $j(elt).next('.block_facet').css("display","none");
    $j(elt).next().slideUp('fast');
    $j(elt).next('.block_facet').removeClass("open");
    $j(elt).removeClass("open");
    }else{
    // $j("#menuGauche .block_facet.open").css("display","none");
    $j("#menuGauche .block_facet.open").each(function(idx,elt){
    $j(elt).slideUp("fast"); ;//css("display","none");
    });
    $j("#menuGauche .open").removeClass("open");
    
    $j(elt).next().slideDown('fast');
    
    $j(elt).addClass("open");
    $j(elt).next('.block_facet').addClass("open");
    // $j(elt).next('.block_facet').css("display","block");
    
    }
    
    if($j("#menuGauche").hasClass("collapsed")){
    toggleLeftMenu();
    }
    
    }
    
    </script>
<?php
$mySearch = $this->params['searchObj'];
if (isset($mySearch->requete['REQUETE']) && !empty($mySearch->requete['REQUETE'])){
    print("<script>
        if (document.getElementById('requete')) document.getElementById('requete').value='".addslashes($mySearch->requete['REQUETE'])."';
        if (document.getElementById('req_alerte')) document.getElementById('req_alerte').checked='".(bool)$mySearch->requete['REQ_ALERTE']."';
        if  (window.showRecherche) window.showRecherche();
        </script>");
}
?>

<include type="formCherche"/>
<include type="liste"/>
