<?php
    $myPers=$this->params['modelObj'];
	
	// Valeurs par défaut
	if(empty($myPers->t_personne['ID_PERS'])){
		if(empty($myPers->t_personne['PERS_ID_TYPE_LEX']) && isset($_GET['type_lex']))
			$myPers->t_personne['PERS_ID_TYPE_LEX']=$_GET['type_lex'];
		if(empty($myPers->t_personne['PERS_NOM']) && isset($_GET['valeur']) )
			$myPers->t_personne['PERS_NOM']=$_GET['valeur'];
	}

?>
<script type="text/javascript" >
	var formChanged=false;
	
	//AJAX : Fusion de personnes
	function checkDoublon() {
		msg='';
		var i;
		arrElts=$j("form[name='form1']").get(0).getElementsByTagName('*');
		for (i=0;i<arrElts.length;i++) {
			if (!arrElts[i].getAttribute('mandatory')) continue; //test si obligatoire

			if (arrElts[i].value.Trim()=='') {
				switch(arrElts[i].getAttribute('label')){
					case 'kNom':
						lib='<?= kNom ?>';
						break;
					default :
						lib=arrElts[i].getAttribute('label');
						break;
				}
				msg=msg+' '+lib;
				arrElts[i].className='errorjs';
			} else {
				arrElts[i].className='';
			}
		}

		if (msg!='') {alert('<?=kJSErrorOblig?>'+msg);return false; }

		divFusion=document.getElementById('div_fusion');
		divFusion.style.display='none';

		return !sendData('GET','blank.php','xmlhttp=1&urlaction=loadPers&pers_nom='+encodeURIComponent(document.getElementById('pers_nom').value)+'&pers_prenom='+encodeURIComponent(document.getElementById('pers_prenom').value)+'&id_pers=<?=$myPers->t_personne['ID_PERS']?>&pers_id_type_lex='+encodeURIComponent(document.getElementById('pers_id_type_lex').value)+'&id_lang=<?=$myPers->t_personne['ID_LANG']?>');

	}


	function dspResult(str) {
		var myform = $j("form[name='form1']").get(0);
		if (str.indexOf('<ok/>')==-1)
		{
			divFusion=document.getElementById('div_fusion');
			divFusion.style.display='block';

			divFusion.innerHTML=str;
		}
		else {
		myform.commande.value='SAVE';
		myform.submit();
		}
	}

	function fusionner (id) {
		var myform = $j("form[name='form1']").get(0);
		myform.fusion.value=id;
		divFusion=document.getElementById('div_fusion');
		divFusion.style.display='none';
		myform.commande.value='SAVE';
		myform.submit();
	}


window.onload=function () {
	makeDraggable(document.getElementById('chooser'));
	makeDraggable(document.getElementById('div_fusion'));
	}



</script>

<div class="title_bar">
	<div id="backButton"><?=$myPage->renderReferrer(kRetourListeRecherche, 'class="icoBackSearch"');?></div>
    <div id="pageTitre"><?= $this->params['title'] ?>&nbsp;</div>

	<div class="toolbar">
		<div id="consult" onclick="javascript:saveIfAndGo('<?=$myPage->getName()?>?urlaction=personne&id_pers=<?= $myPers->t_personne['ID_PERS']?>');" class="tool"><span class="tool_hover_text"><?=kConsultation?></span>&#160;</div>
		<div  onclick="triggerPrint('pers')" class="print tool"><span class="tool_hover_text"><?=kImprimer?></span>&#160;</div>
		<? if(isset($myPers) && isset($myPers->t_personne['ID_PERS'])){?>
			<div class="menu_actions tool" ><span class="tool_hover_text"><?echo kMenuActions;?></span>
				<div class="drop_down" style="display:none;">
					<ul>
						<li onclick="displayMenuActions('export','pers','<?=$myPers->t_personne['ID_PERS'];?>');"><? echo kExporter;?></li>
					</ul>
				</div>&#160;
			</div>
		<?}?>
	</div>
</div>
<div class="scrollableDiv contentBody">
	<div class='iframechoose' style='background-color:#FFA500;display:none;position:absolute;z-index:100;width:250px;left:450px;' id='div_fusion' ></div>
	<?
	
	include(libDir."class_formSaisie.php");
	
	$xmlform=file_get_contents($this->params['xmlFormFile']);
	$myForm=new FormSaisie;
	$myForm->saisieObj=$myPers;
	$myForm->entity="PERS";
	$myForm->classLabel="label_champs_form";
	$myForm->classValue="val_champs_form";
	$myForm->classHelp="help_champs_form";
	$myForm->display($xmlform);
	
	
	?>
	
	<? if (count($myPers->arrDocs) > 0) {
		require_once(modelDir.'model_doc.php');
		?>
		<fieldset style="width: 80%" class="ui-widget ui-widget-content ui-corner-all hiddenInPalette">
			<legend><?=kListeDocuments?></legend>
			<table>
				<tr><td class="resultsHead"><?=kReference?></td><td class="resultsHead"><?=kTitre?></td><td class="resultsHead"><?=kFonction?></td><td class="resultsHead"><?=kRole?></td></tr>
				<?
					foreach ($myPers->arrDocs as $t_doc) {
						echo "<tr><td>".$t_doc['DOC_COTE']."</td><td><a href='index.php?urlaction=doc&id_doc=".$t_doc['ID_DOC']."'>".$t_doc['DOC_TITRE']."</a></td><td>".$t_doc['TYPE_DESC']."</td><td>".$t_doc['ROLE']."</td></tr>";
					}
				?>
			</table>
		</fieldset>
	<? } ?>

	<br/>
	<script>
		if(document.getElementById("user_crea")) document.getElementById("user_crea").value='<?= $myPers->user_crea ?>';
		if(document.getElementById("user_modif")) document.getElementById("user_modif").value='<?= $myPers->user_modif ?>';

		function follow(url) {
			if (confirm("<?=kConfirmerAbandon?>")) location.href=url;
		}
	</script>
</div>
<div id='chooser' name='chooser' style='position:absolute;'></div>
