html{
	-webkit-text-size-adjust: 100%;
	-webkit-overflow-scrolling: touch;
	/*-webkit-text-size-adjust : Prevent text size change on orientation change.*/
	/*-webkit-overflow-scrolling : empeche d'avoir un effet de click sur une zone en dessous en clignotement.*/
}

/* small screen adjusts*/

input:not([type="checkbox"]):not([type="radio"]) { /* Empecher la surcharge automatique de style sur les device iOs (tester sur les input type submit par ex) // pas sur les boutons checkbox et radio (compatibilité avec desktop de petite taille) */
    -webkit-appearance: none;
    -webkit-border-radius:0;
    border-radius:0;
}

#entete #header_top {
	height: 60px;
	padding: 12px 18px 0px 12px;
}
body.homepage #entete #header_top {
	height: 70px;
	/* padding: 12px 18px 6px 24px; */
}
div#header_menu ul{
	/* height : 34px; */
}

#header_slogan_opsis span {
	white-space: nowrap;
}

body.homepage #homepage_new_docs, body.homepage #homepage_thms {
	padding : 95px 0px 40px 0px;
}
body.homepage .homepage_scrolldown_arrow.inline, body.homepage .homepage_scrollup_arrow.inline{
	margin : 20px 5px 0px;
}

body.homepage #homepage_new_docs #homepage_new_docs_mediatype {
	margin: 0px auto;
}

#conteneur {
	top : 73px;
	/* bottom : 10px; */
}

div#header_menu .menu .drop_down{
	font-size : 12px;
}

div#header_menu #display_opts .display_opt span {
	margin : 4px 0px;
}


#docBody{
	overflow : auto ;
	top : 82px;
	padding-bottom: 30px;
}

#docBody #leftBlock{
	position : relative;
	height : 500px;
	/* height : 95%; */	/*devrait assurer que l'ensemble du media soit visible au chargement de la page, si NOK, remettre une hauteur fixe*/

	margin-bottom : 10px;
	max-width : 98%;
}

#facet_wrapper ,#admin_wrapper, .menuGauche_wrapper{
	top: 56px;
}

#menuGauche {
	width: 193px;
	/*left: -194px;*/
	/*position : relative ;*/
	z-index: 45;
}

#menuGauche .type_facet {
	padding: 20px 8px 20px 14px;
    font-size: 2.0rem;
}

#menuGauche .type_facet .facet_icon {
	height: 22px;
}

.block_facet.open {
	position: static;
}
#menuGauche .facet_label {
	width: 156px !important;
}

#menuGauche .type_facet .arrow {
	height: 23px;
}

#docBody #fiche_info{
	position : relative ;
	width : auto;
}
#menuDroite {
	/* left: 633px; */
}

#previewHoverWrapper{
	width : 300px;
	height : 200px;
}
#previewContainer #container{
	max-height : 300px;
}

#header_logo_block {
	padding: 2px 20px 2px 0px;
}

div#header_login_block.logged{
	width : 340px;
	margin-right : 6px;
}
div#header_login_block #header_login_block_left{
	width : 60%;
}

div#header_login_block .header_login_infos{
	max-width : 100%;
	overflow : hidden ;
	text-overflow : ellipsis ;
	white-space : nowrap ;
}

#header_quick_srch_menu_block {
	right: 2px;
}

#titreOpsis {
	margin-top: 30px;
}

#sloganOpsis {
	right: -2px;
	top: 24px;
}

#header_breadcrumb {
	/* padding: 10px 0px; */
	white-space : nowrap ;
	overflow : hidden ;
	text-overflow : ellipsis;
	font-size: 15px;
	/* position: absolute; */ /*affichage apple OSX et iOSX*/
}
#header_menu div ul {
	/* padding-left : 6px; */
}

/*
div#atelier #bloc_atelier #chutier, div#atelier #visionneuse{
	width : 49%;
}*/

div#chutier .montage_bar, div#visionneuse .montage_bar{
	padding : 6px 12px 4px 4px;
}

#main_block {
	top: 56px;
}
#main_block,
#mainResultsBar,
#importViewBar,
div.main_scrollableDiv.apply_layout > .title_bar:not(#mainResultsBar),
div.main_scrollableDiv.apply_layout {
	left : 194px;
}

#mainResultsBar, #panBlock.full #mainPan .title_bar,#importViewBar {
	height: 44px;
    padding: 7px 25px 5px 15px;
}

.notice_results {
	padding-left: 10px;
    line-height: 43px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
	width : calc(100% - 476px);
}

#menuGauche div.title_bar, #menuDroite div.title_bar {
	height: 44px;
}

div.toolbar .drop_down {
	top: 56px; /* 34px*/
}

#mainResultsBar {
    padding: 7px 0 5px 5px;
}

div.toolbar {
	right: 0;
}

#mainResultsBar .presentation span,
#panBlock .presentation span,
#mainResultsBar .toolbar .tool,
#panBlock .toolbar .tool,
.toolbar .tool {
	height: 42px;
    width: 42px;
}

/* Original Method*/
/* #menuGauche {
 -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
} */

/* #conteneur.show-nav #menuGauche {
  -webkit-transform: translateX(194px);
  transform: translateX(194px);
} */

/* Better Performing Method*/
/* #menuGauche {
 -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
} */

#panGauche {
	width: 193px;
}

/* #panGauche .title_bar {
	height: 44px;
	padding: 17px 25px 5px 16px;
} */

#menuGauche .block_facet .facet{
	white-space : initial ;
}

#menuGauche.collapsed, #panGauche.collapsed, #menuDroite.collapsed {
	width: 56px;
}
#menuGauche.collapsed #facet_wrapper,#menuGauche.collapsed  #admin_wrapper,#menuGauche.collapsed  .menuGauche_wrapper {
	/* width: 43px; */
	width : 56px;
}
#menuGauche .menuGauche_wrapper,#menuGauche #admin_wrapper{
	bottom : 23px;
}
#menuGauche.collapsed .type_facet {
	padding-left: 19px;
	color : transparent ;
}

#menuGauche div.title_bar,#panGauche .title_bar {
	height: 34px;
	padding: 17px 25px 5px 16px;
}

#menuDroite div.title_bar {
	height: 39px;
	padding: 17px 25px 0px 50px;
}

/* #panBlock.expanded #mainPan .title_bar,  */

#panBlock.expanding #panGauche .title_bar, #panBlock.expanded #panGauche .title_bar, #panBlock.collapsing #panGauche .title_bar, #panBlock.collapsed #panGauche .title_bar, #panBlock.expanding #mainPan .title_bar, #panBlock.collapsing #mainPan .title_bar, #panBlock.collapsed #mainPan .title_bar{
	top : -52px !important;
	height : 34px;
}

#menuGauche.collapsed div.title_bar .filter_label, #menuDroite.collapsed div.title_bar .filter_label, #menuGauche.collapsed div.title_bar .last_import_label,#menuGauche.collapsed div.title_bar .title_label{
	display: none;
}
#menuGauche.menuAdmin div.title_bar .title_label{
	margin-left : -7px;
}

#conteneur.show-nav #menuGauche .block_facet.open {
	box-shadow: 1px 1px 10px 5px #BBB;
}
#conteneur #menuGauche .block_facet.open {
	box-shadow: 0px 0px 0px 0px #BBB;
}

#main_block.pres_0, #mainResultsBar.pres_0, #main_block.pres_1, #mainResultsBar.pres_1, #panBlock.pres_0, #panBlock.pres_1 {
	right: 57px;
}
#main_block.pres_0, #mainResultsBar.pres_0, #main_block.pres_3, #mainResultsBar.pres_3, #importViewBar.pres_0,
#importView.pres_3, #importViewBar.pres_3, #importView.pres_3,
div.main_scrollableDiv.apply_layout.pres_0, div.main_scrollableDiv.apply_layout.pres_3,
div.main_scrollableDiv.apply_layout.pres_0 > .title_bar:not(#mainResultsBar),
 div.main_scrollableDiv.apply_layout.pres_3 > .title_bar:not(#mainResultsBar){
	left: 56px;
}







/* #conteneur.show-nav #menuGauche {
  -webkit-transform: translate3d(194px, 0, 0);
  transform: translate3d(194px, 0, 0);
} */

/* Better Performing Method*/
/* #main_block,#menuDroite {
 -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#conteneur.show-nav #main_block,#conteneur.show-nav #menuDroite {
  -webkit-transform: translate3d(194px, 0, 0);
  transform: translate3d(194px, 0, 0);
} */

#titreOpsis {
	display: none;
}

/* #header_menus_block li.menu, #header_menus_block li#header_other_block {
	display: none;
} */
#header_menus_block ul#DesktopMenu {
	display: none;
}
#header_menus_block #bouton-menu-responsive {
 	padding: 12px;
 	z-index: 100;
/*display: inline-block;
margin-left: -10px;
margin-right: 10px;
margin-bottom: 2px; */

	/* margin-top: 1px; */ /*affichage apple OSX et iOSX*/
	/* float: right; */
	position: absolute;
	right: 10px;
	background-color: rgba(255,255,255,0.8);
	-webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
#header_menus_block #bouton-menu-responsive.navbar-toggle.active{
	background-color: rgba(255,255,255,1);

}

#bouton-menu-responsive span.icon-bar
{
	display: block;
	height: 5px;
	width: 30px;
	background-color:#3B3B3B;
	margin-top: 5px;
}


#bouton-menu-responsive span.icon-bar:first-child
{
	margin-top: 0px;
}

#bouton-menu-responsive
{
	border: 1px solid #DADADA;
	box-sizing : border-box;
}

#bouton-menu-responsive.collapse span.icon-bar
{
	background-color:#98BB3B;
}

#menu_responsive_wrapper {
    background-color: #FFFFFF;
    z-index: 59;
/*     position: relative; */
	position: absolute;
    /* width: 100%; */
    /* left: 0px; */
    /* margin-top: 53px; */
    top: 51px;
    /* left: 93px; */
    right: 10px;
    border: 1px solid #DADADA;
    visibility: hidden;
}

#menu_responsive_wrapper #header_other_block {
	padding: 8px 0 8px 15px;
	float: left;
	margin-left: 0px;
	text-align: center;
}
#menu_responsive_wrapper li#header_other_block a {
	padding-left: 10px;
	padding-right: 10px;
	width: 50px;
	height: auto;
}
#header_menus_block li#header_other_block {
	height: initial;
}

#header_menus_block li#header_other_block img.flag_chooser {
	width: 50px;
	height: initial;
}

#header_menu div#menu_responsive_wrapper > #ResponsiveMenu  {
	/* height: 0px; */
    display: inline-block;
    /* display: none; */
    margin: 0px;
    width: 260px;
}

#header_menus_block #menu_responsive_wrapper #menu_account{
/* 	text-align : center ; */
	cursor : pointer ;
	position : relative ;
	line-height : 36px;
	padding : 0 15px 0 15px;
/* 	background : url('../images/icnbar-form-down.png') no-repeat 95% center  ;
background : url('../images/icnbar-form-down.png') no-repeat right 5px center  ; */
}
#header_menus_block #header_other_block {

}


#ResponsiveMenu .menu #menu_responsive_arrow {
	-webkit-touch-callout: none; /* iOS Safari */
  	-webkit-user-select: none;   /* Chrome/Safari/Opera */
  	-khtml-user-select: none;    /* Konqueror */
  	-moz-user-select: none;      /* Firefox */
  	-ms-user-select: none;       /* IE/Edge */
  	user-select: none;
	display: inline-block;
	width: 25px;
	position: absolute;
    right: 7px;

	/* background : url('../images/icnbar-form-down.png') no-repeat 95% center  ; */
	background : url('../images/icnside-up-darkgrey.png') no-repeat center center/20px 20px;

}

#ResponsiveMenu li.menu.open #menu_responsive_arrow {
	/* background : url('../images/icnbar-form-down.png') no-repeat 95% center  ; */
	background : url('../images/icnside-down-darkgrey.png') no-repeat center center/20px 20px;

}

#ResponsiveMenu li.menu > a, #ResponsiveMenu li.subMenu > a {
	width: 90%;
}

#ResponsiveMenu > li.menu {
	text-transform: uppercase;
	letter-spacing: 1px;
    font-weight: 600;
    font-size: 14px;
    padding: 8px 8px 8px 0px;
}

#ResponsiveMenu form#connect_form input {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

#ResponsiveMenu form#connect_form input[name='bsubmitLogin'] {
    width: 50%;
}

#menuDroite #prevInfos {
	font-size: 16px;
}

span#proposed {
	display: none;
}

div.headers{
	/* border-bottom : none; */
}


div.title_bar .toggle_arrow, #panBlock #panExpandFullLeft , #panBlock #panCollapseLeft {
    height: 56px;
}

div.title_bar .toggle_arrow {
	background-size: 70% auto;
}

div.title_bar #arrow_right {
	visibility: visible;
}

div.title_bar #arrow_left {
	right: 8px;
}
div.title_bar #arrow_right {
	left: 12px;
}
#mainResultsBar .toolbar .toggle_preview, #mainPan .toolbar .toggle_preview {
	display: none;
}
/*MS - déplacé dans extra small
.gate_popin_header {
	padding-top: 19px;
}*/

/*************** recherche avancée de docliste ***************/
#adv_search_wrapper select[id^="selectType"] {
	min-width: 162px;
}
#adv_search_wrapper div.adv_search_wrapper-1 {
	padding: 4px 0px;
}
#adv_search_wrapper {
	left: 0px;
	width: 100%;
	text-align: center;
	box-sizing : border-box ;
}
#adv_search_wrapper div.adv_search_wrapper-1 table tr td:first-child {
	text-align: left;
}

/* *** pas de tooltip sur la toolbar sur tablette et device plus petit *** */
.toolbar .tool:hover span.tool_hover_text, #mainResultsBar .toolbar .presentation span.layout_chooser:hover  span.tool_hover_text, #panBlock .toolbar .presentation span:hover span.tool_hover_text {
	display: none;
}


#mainPan {
	left: 194px;
	padding-top: 56px;
}


/* #panBoutons button .montage-btn {
	display: none;
} */
/*
#panBlock.expanding #panGauche .title_bar,
#panBlock.expanded #panGauche .title_bar,
#panBlock.collapsing #panGauche .title_bar,
#panBlock.collapsed #panGauche .title_bar,
#panBlock.expanding #mainPan .title_bar,
#panBlock.expanded #mainPan .title_bar,
#panBlock.collapsing #mainPan .title_bar {
    height: 34px;
    top: -52px !important;
}*/

#panListe {
    height: 32px;
    border: 1px solid #DADADA;
    padding: 4px;
    margin: 4px 4px 4px 4px;
    font-size: 14px;
    width: calc(100% - 17px);
    /* width: 100%; */
}

#panGauche .panListe, #import_wrapper .impListe {
	top: 56px;
}

#panGauche .panListe li, #import_wrapper .impListe li {
	padding: 10px 6px 8px 26px;
}

#notice_pan_result {
	overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    display: block;
}

#panBlock #mainPan .title_bar #panNbElems {
	margin-left: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#panBlock #mainPan .title_bar #panTitle, #panBlock #mainPan .title_bar #panNbElems {
	display: block;
}

#prevWrapper {
	padding-top: 22px;
}

#panBlock.full #panFrame #panBoutons {
	padding-top: 10px;
	padding-bottom: 20px;
}

#panBlock.full #panFrame #panBoutons {
    display: -webkit-flex; /* Safari */
    /* -webkit-justify-content: center; */ /* Safari 6.1+ */
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
/* 	-webkit-align-content:center;*/
/* align-content:center; */
/* justify-content: center; */
	height: 110px;
   /* -webkit-align-content: flex-end; */
   /* align-content: flex-end; */
}

#panBoutons button {
    /* width: 140px; */
    width: 46%;
	font-size: 1.6rem;
	margin: 10px 10px;
	/* margin: 0px; */
	line-height: 36px;
	/* margin: auto; */
	/* flex: 1 1 140px; */

}

#panGauche .panListe li#newPanLeft {
	padding: 7px 8px 4px 26px;
}
#panGauche .panListe li#newPanLeft label {
	display: block;
}
#panGauche .panListe li#newPanLeft input[name="cartName"] {
	display: block;
	width: 100%!important;
	margin: 10px 0;
    line-height: 23px;
    font-size: 1.8rem;
}

#newPanLeft input[type='submit'] {
	width: 60px;
    min-width: 60px;
    height: 24px;
}

#panGauche .panListe li#newPanLeft .std_button_style {
	float: right;
	width: 60px;
    min-width: 60px;
    height: 24px;
}

/* DOC AFF */

.cont_doc #pageTitreResponsive {
	display: none;
}

#docHeader, #docHeader div {
	height: 56px;
}

#docHeader div#backButton, #docHeader a.icoBackSearch {
	height: 56px;
	width: 56px;
}

#docHeader .toolbar .tool {
	height: 42px;
	width: 42px;
}
#docHeader #pageTitre {
	line-height: 56px;
}
#docHeader #docPager {
	position: static;
	left: initial;
	text-align: center;
/* 	width: calc(100% - 154px); */
	line-height: 56px;
}

#docHeader #docPager a, #docHeader #docPager a img {
	width: 20px;
    display: inline-block;
    height: auto;
}

.resultsMos .infos_mos.scnd_row {
	top: 50%;
	height: 50%;
	display: none;
}
.resultsMos:hover .infos_mos.scnd_row {
	opacity: 0;
}

.resultsMos .infos_mos label {
	white-space: nowrap;
    height: 100%;
    cursor: pointer;
    min-width: 50px;
}

.resultsMos .infos_mos label > a {
	display: block;
	height: 100%;
	vertical-align: middle;
}

.resultsMos .infos_mos .mos_checkbox, .resultsMos .infos_mos label a {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: flex;
    -webkit-flex-direction: column;
	display: -webkit-flex;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

#connect_form div.error {
	top: 156px;
	width: 260px;
	left: 0;
	position: static;
}

 .main_scrollableDiv.scrollableListe{
	margin-top : 55px;
}

.main_scrollableDiv .title_bar{
	position : static;
    padding: 18px 25px 16px 16px;
}
.main_scrollableDiv > .title_bar:not(#mainResultsBar){
	margin-top: -55px;
}

#alertBoxContent {
	font-size: 1.6rem;
}

#form_envoi_fichiers {
/* 	position: relative;
top: 50px; */
}

#type_import_selector {
	margin-top: 9px;
}

.last_import {
    white-space: normal;
    padding: 8px 25px 14px 16px!important;
}

div#tabs_upload {
    top: 133px;
}

.main_scrollableDiv.scrollableListe.import_section {
	margin-top: 65px;
}

#panBlock.collapsed #panGauche .title_bar , #panBlock.collapsed {
	display: none!important;
}

#tabs_upload .fileupload-buttonbar label , #tabs_upload .fileupload-buttonbar button , #tabs_upload ul li , #tabs_upload ul li a {
    min-width: 200px;
}

#tabs_upload .desktop_info {
	display: none;
}
#tabs_upload .responsive_info {
	display: block;
}