@import url("n_style.css");

/**************************/
/* Balises HTML de base : */
/**************************/
body{
	font-family: Arial,sans-serif;
	font-size: 11px;
	color: #333366;
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
	text-align:center;

}

#pageTitre{
	padding: 0px 10px 4px 0px;
	margin:0px 0px 0px 10px;
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	font:15px Verdana,sans-serif;
	font-weight: bold;
 	color: #333366;
 	
 	/* L'entete doit avoir une taille fixe, le seul element pouvant changer la taille (hauteur) de l'entete est le titre, 
 	on bloque le div de titre a 1 ligne, avec un overflow cache, et qui genere des petits points a partir du moment ou le 
 	texte depasse*/
 	
 	overflow : hidden;
 	white-space : nowrap;
 	width : 95%;
 	height : 18px;
 	text-overflow : ellipsis;
	
}


#contenu{
	display:block;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	width:400px;
	text-align: left;
}
legend{
	font-size:11px;
	font-family: Arial,sans-serif;
}

/**************************/
/* General palette */
/**************************/
.palette {
	font-size:11px;
	font-family: Arial,sans-serif;
	background-color:white;
}

#fixme {cursor:pointer;z-index:10;border:1px solid black;height:11px;font-family:verdana;
		font-size:10px;font-weight:bold;background-color:white;}

/**************************/
/* Aff hiérarchique*/
/**************************/
div#blocDtree {

      }
	  
#domRoot {
	font-size:10px;
}
#domRoot a {font-size:10px;}

.lineHidden {
	display: none;
}


table.tableResults {
	width: 95%;
	color: #333366;
	margin-top:2px;
	border-collapse : separate ; 
}

/************************************************************/

 #simple_content div.resultsMenu,#simple_content  table.resultsMenu {
	font-family: Arial;
	font-size: 11px;
	color: #333366;
	padding: 13px 18px;
	background-color : #FFF ; 
	margin : auto ; 
}

.resultsHead {
	font-family: "Trebuchet MS" ;
	font-size: 12px;
	color: #003872;
	text-decoration: none;
	font-weight: bold;
	padding-left:3px;
	border-bottom: 2px solid #003872;
}
.resultsHead a:link, .resultsHead a:visited{
	color: #003872;
	text-decoration: none;
}
.resultsHead a:hover{
	color: #003872;
	text-decoration: underline;
}

.resultsHead_div {
	font-family: "Trebuchet MS" ;
	font-size: 12px;
	color: #003872;
	text-decoration: none;
	font-weight: bold;
	padding-left:3px;
	border-bottom: 2px solid #003872;
	height:15px;
	float:left;
}
/************************************************************/
.resultsCorps {
	font-family: Arial;
	font-size: 11px;
	color: #333366;
	padding-left:3px;
	font-weight: normal;
	border-bottom: 1px solid #ccc;
}

.resultsCorps td {	border-bottom: 1px solid #ccc; padding-left:4px; }

.resultsCorps a:link, .resultsCorps a:visited{
		color: #333366;
		text-decoration: none;
}

.resultsCorps a:hover{
		color: #005FA9;
		text-decoration: underline;
}
.resultsCorps_div {
	font-family: Arial;
	font-size: 11px;
	color: #333366;
	padding-left:3px;
	font-weight: normal;
	border-bottom: 1px solid #ccc;
	height:95px;
	float:left;
	overflow:hidden;
	text-overflow:ellipsis;
}



fieldset.hiddenInPalette {
	display: none;
}