@charset "utf-8";






/**************************/
/* ATELIER */
/**************************/
#atelier #bloc_atelier #titre{margin-left: 18px;}

#right_col, #atelier, #bloc_atelier, #formPanier{
	height : 100%;
	max-height : 100%;
}
#atelier{
	min-height : 485px;
}


#bin{
	position :absolute;
	 margin: 5px 0; width:100%; text-align: center; padding : 0px;
	
}

#bin LI SPAN, LI.clone_drag SPAN{
	display:block;
	height:25px;
	margin : 0px; 
	padding : 0px; 
	vertical-align : top ; 
}
#bin LI SPAN.clipTitre, #timeline LI SPAN.clipTitre, LI.clone_drag SPAN.clipTitre{
	font : 12px Verdana,sans-serif;
	text-align : center ; 
	line-height : 1em;
	overflow : hidden;
	

}

#bin LI A{ text-decoration : none;}

#bin LI A SPAN, LI.clone_drag A SPAN { 
	position: absolute; 
	z-index : 5;
	top: 0px; 
	left: 0px; 
	border: 3px solid #FFBE0A; 
	width: 81px; 
	height: 44px; 
	visibility: hidden; 
	padding: 0;
	margin: 0; 
}
#bin LI:hover A SPAN {
	visibility: visible; 
}

#bin LI, LI.clone_drag {
	width:87px;
	height:77px;
	display: block;
	float: left;
	margin: 0 2px 1px; 
}


#binView{
	overflow : hidden; 
	/*height:100%;*/
	background-color : white ; 
	margin-right : 18px;
	/*position : relative ; */
	position:absolute ; 
	top : 29px;
	left : 15px;
	right: 0px;
	bottom : 40px;
}

#bin_track {
	position:absolute;
	width : 8px;
	margin-top : 5px ; 
	top : 44px;
	bottom : 45px;
	right : 5px;
	
	background: url(../images/montage/scroll_track_vertical.png) repeat-y ;
}
#bin_handle{
	width : 8px;
	height : 100px;
	background-color : black;
}


/*
#timeline LI SPAN {visibility: hidden;}*/

#timeline LI.noSlide.showInsertPlace{
	transition-property: padding-left;
	transition-duration: 0.2s;
	transition-timing-fonction: linear;
	padding-left : 0px;
}

#timeline LI.showInsertPlace{
	transition-property: padding-left;
	transition-duration: 0.2s;
	transition-timing-fonction: linear;
	padding-left : 80px;
}
#timeline LI{
	transition-property: padding-left;
	transition-duration: 0.2s;
	transition-timing-fonction: linear;
	padding-left : 0px;
}

#timeline LI SPAN.clipTitre {
	display : block;
	width :100%;
	white-space : normal;
	height : 25px;
}
#timeline LI A SPAN { position: absolute; top: 0px; left: 0px; border: 3px solid #FFBE0A; width: 81px; height: 42px; visibility: hidden; padding: 0; margin: 0; }
#timeline LI A:hover SPAN { visibility: visible; }
#timeline LI DIV{
	height : 100%;
}

#timelineView{
	clear : left ;
	padding : 0px;	
	margin : 0px;
	margin-right : 0px;
	height : 74px;
	overflow : hidden ; 
	position : relative ; 
}

#timeline{
	padding :0px;
	margin : 0px;
	background-color : white ; 
	text-align: left;
	height:74px ;
	min-width : 100%;
	white-space : nowrap; /* OBLIGATOIRE pour le bon fonctionnement de la représentation slider de la timeline  */ 
	position : absolute !important ; 
	vertical-align : top ; 
	
}


#timeline_track {
	position:absolute;
	height : 8px;
	margin-top : 5px ; 
	left : 20px;
	right : 50px;
	width : auto; 
	background: url(../images/montage/scroll_track_horizontal.png) repeat-x ;
}
#timeline_handle{
	height : 8px;
	width : 100px;
	background-color : black;
}



#timeline LI { 
	width:87px; 
	height:74px; 
	display : inline-block; 
	margin: 0 2px 4px; 
	text-align : center;
	vertical-align : top; 
}


#timeline LI {
	overflow : hidden ; 
}

#timeline LI[id^='Xcarton'] SPAN.clipTitre{
	background-color : black;
	color : white;
	border : 1px solid #c5dbec;
	width:85px;
	height:47px;
	display : block ;

}

#timeline LI.carton *.bgVignette{
	display : none ; 
}

#timeline .selectedClip div, #chutier .selectedClip{ background-color:#D44B3C; color : white ; }




span.bgVignette, a.bgVignette{
	width:87px;
	height:49px;
	display:inline-block;
	background-color : black; 
	text-align : center;
}
span.bgVignette img, a.bgVignette img{
	max-width : 100%;
}

#bin LI span.delete_clip, #timeline LI span.delete_clip{
	z-index : 6;
	background : url("../images/montage/deleteClip.png");
	height:15px;
	width:15px;
	display:inline-block;
	position:absolute;
	top : 0px;
	right:0px;
	visibility : hidden; 
	cursor : pointer;
}
#bin LI span.delete_clip{
	top : 3px;
	right:3px;
}

#bin LI:hover span.delete_clip, #timeline LI:hover span.delete_clip{
	visibility : visible;
}
/************************************************************/
/* TITRE */
/************************************************************/
#pageTitre{ height: 25px; font:bold 1.2em Arial, Helvetica, sans-serif; color: #4b4a4d; text-transform: uppercase;}

/************************************************************/
/* RECHERCHE */
/************************************************************/


/*************/
/* CSS Document */


/* Bloc Atelier */
#atelier { width : 100%; position : relative ; }
#atelier #bloc_atelier { 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: none; 
	padding : 0px; 
	position : relative ; 
	} /* width:684px */ 



#atelier #bloc_atelier H2 {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border : 1px solid #c5dbec;
	height: 19px;
	background-color : #dfeffc ;
	color: #4b4a4d;
	text-align: center;
	line-height: 19px;
	margin : 4px 0px;
}

#visionneuse div.help_infos, #montage div.help_infos{
	font : 22px Verdana,sans-serif;
	font-weight : bold ; 
	color :  #B2B2B2;
	text-align : center ; 
	position : absolute ; 
	top : 10%;
	width : 100%;
	z-index : 9 ; 
}	
 #montage div.help_infos{
	top : 25%;
 }



/* Chutier */

#panBlock.pres_0 #atelier #chutier,#panBlock.pres_3 #atelier #chutier {width :67%;}
#panBlock.pres_1 #atelier #chutier,#panBlock.pres_2 #atelier #chutier {width :63%;}

#atelier #bloc_atelier #chutier { 
	margin : 0px; 
	padding : 0px 0px 8px 15px; 
	position : absolute ; 
	height : 100%;
	float : left ;
	}
	

#atelier #bloc_atelier #chutier P { color: #7f7f7f; margin: 8px 0 10px 0; }
#atelier #bloc_atelier #chutier P SPAN { color: #FFBE0A; font:bold 1em Arial, Helvetica, sans-serif; border:0px;}







#atelier #bloc_atelier #chutier .outils { clear: both; height: 24px; position : absolute ; bottom : 12px;right : 15px;}
#atelier #bloc_atelier #chutier .outils SPAN { float:left; display:block; margin:5px 5px 0 5px; font:normal 0.9em Arial, Helvetica, sans-serif; color: #767476; }



/* Visionneuse */
#panBlock.pres_0 #atelier #visionneuse,#panBlock.pres_3 #atelier #visionneuse {width :31%;}
#panBlock.pres_1 #atelier #visionneuse,#panBlock.pres_2 #atelier #visionneuse {width :34%;}
#atelier #visionneuse {min-width : 275px;  padding : 0px;  margin: 0px 15px 0px 0px; float: right; }
#atelier #visionneuse #titre_visionneuse { /*color: #7f7f7f;  */ max-width : 90%;display:inline-block;overflow : hidden;white-space : nowrap; text-overflow : ellipsis;}
#atelier #visionneuse  #boutons_extraits {margin-top : 4px ; text-align : center; }
#atelier #visionneuse #bouton_ext_mark_in,#atelier #visionneuse #bouton_ext_mark_out,#atelier #visionneuse #bouton_save_extrait, #atelier #visionneuse #bouton_crea_extrait{

	margin-left : 5px;
}
#atelier #visionneuse #ow_main_container{ position : relative ; }

#montageContainer{
position: relative;
}

#montageContainer #capsVid {
	background-color : black ; 
}

/* Montage */
#atelier #bloc_atelier #montage { 
	background-color : white ; 
	margin : 0px 15px; 
	clear: both; 
	margin-top: 8px; 
	position : absolute; 
	left : 0px;
	bottom : 0px;
	right : 0px;
	z-index:9;
}
#atelier #bloc_atelier #montage P { color: #7f7f7f; margin: 8px 0 4px 0; width: 50%; float: left; }
#atelier #bloc_atelier #montage P SPAN { color: #FFBE0A; font:bold 1em Arial, Helvetica, sans-serif }







div.montage_bar{
	background-color : #3b3b3b;
	text-transform : uppercase;
	font-size : 18px;
	color : white ; 
	padding: 7px 12px 5px 40px;
	height : 22px ; 
	user-select: none;       
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;
	position : relative ; 
}


#panBlock.full div.montage_bar .toolbar{
	display :block ; 
	right : 12px;
	background-color : #3b3b3b;
}

#panBlock.full #montage div.montage_bar .toolbar{
	left : 165px;
	right : auto ; 
	border-right: 1px solid #CCCCCC;
}
#panBlock.full #montage div.montage_bar .toolbar.right{
	right : 12px;
	left : auto ; 
	margin : 0px;
	border-right: none ; 
}
#panBlock.full #montage div.montage_bar .toolbar.right .trash.tool{
	border-right: 1px solid #CCCCCC;
	margin-left : 0px;
}
#panBlock.full #montage div.montage_bar .toolbar.right .saveMontageBtn{
	background-color : #D44B3C;
	text-transform : uppercase ; 
	color : white ; 
	cursor : pointer ; 
	padding : 7px 18px 5px;
}


#chutier .montage_bar, #visionneuse .montage_bar{
	background-color : #e8e8e8;
	color : #3b3b3b;
	font-size: 16px;
	padding: 6px 12px 4px 40px;
	margin-right : 18px;
	font-weight : bold ; 
}
#visionneuse .montage_bar{
margin-right : 0px;
}

#visionneuse .montage_bar span.tool{
	background : #3b3b3b;
	position: absolute;
	right: 0px;
	top: 0px;
	height: 24px;
	padding: 3px 6px;
	display :inline-block;
}

#panBlock.full  #chutier .montage_bar .toolbar{
right : 0px;
}
#chutier .montage_bar .toolbar .tool{ 
padding : 4px 6px 4px;

}

#atelier #bloc_atelier #montage .outils { height: 24px; margin: 8px 0 0 0; }
#atelier #bloc_atelier #montage .outils SPAN { float:left; display:block; margin:0 5px; font:normal 0.9em Arial, Helvetica, sans-serif; color: #767476; }

UL.pictos LI.outil1 A { background-image: url(../images/montage/icnbar-slideshow.png); }
UL.pictos LI.outil2 A { background-image: url(../images/montage/icnbar-add.png); }
UL.pictos LI.outil3 A, #montage .tool.trash  { background-image: url(../images/montage/icnbar-trash.png); }
UL.pictos LI.outil6 A{ background-image: url(../images/montage/icnbar-export.png); }
UL.pictos LI.outil7 A { background-image: url(../images/montage/icnbar-text.png); }


#atelier #bloc_atelier #chutier UL.pictos { /*float: right; width: 88px; height: 21px;*/ margin : 0px ; padding : 0px; }
#atelier #bloc_atelier #chutier UL.pictos LI { width: 22px; display: inline-block; height: 21px; }
#atelier #bloc_atelier #chutier UL.pictos LI A , #montage .tool.trash{ width:22px; height:21px; background-position:center center; display: block; float: left; margin: 0px; text-decoration : none;background-repeat : no-repeat; }
/* #atelier #bloc_atelier #chutier UL.pictos LI A:hover { width:22px; height:21px; background-position:left -21px }
 */
#atelier #bloc_atelier  #montage UL.pictos { padding : 0px; margin : 0px; list-style-type : none ;   }
#atelier #bloc_atelier  #montage UL.pictos LI { width: 22px; height: 20px; display: block; float: left; margin: 0px ; }
#atelier #bloc_atelier  #montage UL.pictos LI A { width:22px; height:20px; background-position:center center; display: block; float: left;text-decoration : none;background-repeat : no-repeat;  }
/* #atelier #bloc_atelier  #montage UL.pictos LI A:hover { background-position:left -21px } */





#atelier #bloc_atelier #montage .nouveau { height: 30px; margin: 5px 0 0 0; text-align : center;  }


#atelier     #bloc_atelier     #montage .nouveau  .bloc A   { color: #FFFFFF; text-decoration: none; font:bold 0.9em Arial, Helvetica, sans-serif; height: 23px; line-height: 23px; display: block; }
#atelier     #bloc_atelier     #montage .nouveau  .bloc button{
	padding : 4px 6px 4px 20px;
	position : relative ; 
}
#atelier     #bloc_atelier     #montage .nouveau  .bloc button span.ui-icon{
	position : absolute; left :2px;
}


#bulle_hover{
	position : absolute;
	background : url(../images/montage/bulle_pointe.png) no-repeat 10px top ;
	padding-top : 9px;
	margin-left : -12px;
	font-size : 13px;
	z-index : 99;
}

#bulle_close{
	float:right;
	width:12px;
	height:15px;
	display:inline-block;
	cursor:pointer;
}

textarea#bulle_edit{
	padding : 0px ; 
	margin : 0px ; 
}

textarea#bulle_edit[readonly]{
	background-color :  #DFEFFC;
	outline : none; 
	border : none ; 
}

#bulle_content{
	/*margin-right : 12px;*/
	background-color : #dfeffc;
	color : black;
	border :1px solid #c5dbec;
	border-radius : 8px;
	padding : 1px 12px 2px 6px;
}


#panBlock #visionneuse #ow_boutons,#panBlock #visionneuse #ow_first_row_controller{
	min-width : 0px;
}




@media screen and (max-width:1510px){
	#panBlock.pres_1.montage #atelier #visionneuse #ow_controllerpanel a.btn,
	#panBlock.pres_2.montage #atelier #visionneuse #ow_controllerpanel a.btn{
		width : 20px !important;
		height : 20px !important;
		margin: 0px 2px;
	}
	#panBlock.pres_1.montage #atelier #visionneuse #ow_boutons_extraits ,
	#panBlock.pres_2.montage #atelier #visionneuse #ow_boutons_extraits {
		width : 100px;
		vertical-align :-38%;
	}
	#panBlock.pres_1.montage #atelier #visionneuse #containSound,
	#panBlock.pres_2.montage #atelier #visionneuse #containSound{
		top : -2px;
	}
}
@media screen and (max-width:1440px){
	#panBlock.pres_0.montage #atelier #visionneuse ,
	#panBlock.pres_3.montage #atelier #visionneuse {
		width : 29%;
	}
	#panBlock.montage #atelier #visionneuse #montageContainer #ow_main_container.exts_btns_active #ow_controllerpanel #joginfo{
		visibility : hidden ; position : absolute; z-index:-6;
	}
	
	#panBlock.pres_0.montage #atelier #chutier ,
	#panBlock.pres_3.montage #atelier #chutier {
		width : 69%;
	}
	
	#panBlock.montage #atelier #visionneuse #ow_controllerpanel a.btn{
		width : 20px !important;
		height : 20px !important;
		margin: 0px 2px;
	}
	#panBlock.montage #atelier #visionneuse #containSound{
		top : -2px;
	}
	#panBlock.montage #atelier #visionneuse #ow_boutons_extraits {
		width : 100px;
		vertical-align :-38%;
	}
}
@media screen and (max-width:1312px){
	#panBlock.montage #atelier #visionneuse #montageContainer #ow_main_container.exts_btns_active #ow_controllerpanel #ow_id_jog_slider{
		visibility : hidden ; position : absolute; z-index:-6;
	}
}
@media screen and (max-width:1070px){
	#panBlock.pres_1.montage #atelier #chutier,
	#panBlock.pres_2.montage #atelier #chutier,
	#panBlock.pres_0.montage #atelier #chutier ,
	#panBlock.pres_3.montage #atelier #chutier{
		width: auto;
		right: 280px;
		left: 0px;
		height: 90%;
	}
}

@media screen and (max-height:830px){
	#atelier #bloc_atelier #montage {
		position : relative; 
	}
}