@import url("n_style.css");

/*************************************************************************************************/
/* FEUILLE DE STYLE GENERALE (general.css) */
/*************************************************************************************************/

#bufferedDisplayContainer{
	overflow : hidden ! important ;
}

html {
	/*position : relative ;
	height : 100%;
	/*min-height: 840px;*/
	font-size: 62.5%;
}

body {
  /*font-family:Arial, Verdana;
  font-family: 'Dosis-Bold', sans-serif;*/
  font-family: 'Dosis', Arial, Verdana;
  font-size:13px;
  background-color:#FFF;
/*   min-width: 960px; */
  margin : 0px ;
  padding : 0px;

  /*position : relative;
  height : 100%;*/
}
.ui-widget {
    font-family: 'Dosis', Arial, Verdana;
    font-size: 1.1em;
}

body.loading,body.loading * {
	cursor : progress !important ;
}


div.pusher{
	height:1px;
	visibility : none ;
	clear : both ;
}

*[class^='highlight']{
	background-color : #f07407;
	color : white ;
	padding : 0px 1px 0px 2px;
}

a, a:hover, a:focus, a:link, a:visited{
	text-decoration : none ;
	color : #A11511;
}

legend {
	/*font-family: Trebuchet MS, Verdana;*/
    font-family: 'Dosis', Arial, Verdana;
    font-size: 1.7em;
    color: #A11511;
}

/*************************************************************************************************/
/* ENTETE */
/*************************************************************************************************/

#entete a,#entete a:visited,#entete a:hover,#entete a:focus, #entete #menu_account{
	text-decoration : none ;
	color : #3b3b3b ;

}
#entete ul#DesktopMenu li {
	float:left;
	display : inline-block ;
	position : relative ;

}

#entete{
	font-size : 16px;
	/*font-family: Arial;*/
    font-family: 'Dosis', Arial, Verdana;
	background-color: #FFFFFF;
}

body.homepage .placeholder_screensize, body.homepage #homepage_new_docs{
	position : relative ;
	width : 100%;
	/*height : 1080px;*/
	height : 100vh ;
	background-color : #F1F1F1 ;
}
body.homepage #entete{
	position : relative ;
	left : 0px ;
	right:  0px ;
	width : auto ;
	z-index : 57;
}
body.homepage #entete{
	position : fixed ;
}
body.homepage #entete:not(.scrolled) #header_top{
	border : none ;
}

body.homepage #entete.scrolling,body.homepage #entete.scrolled{
	position : fixed ;
	background-color : rgba(255,255,255,0.9); /*0.35,0.45,0.9 */
}

#entete div#header_slogan_opsis{
	display : none;
}
body.homepage #entete  div#header_slogan_opsis{
	display : block ;

	text-transform : uppercase ;
	text-shadow : none ;
	color : #3b3b3b;
	font-size : 16px;
	/*text-shadow: 0px 0px 60px #3b3b3b;*/
	/* quand chrome 47 sortira (ou fix mix-blend-mode pr 46), il faudrait tester l'implémentation via mix-blend-mode:difference pour voir si il est possible de faire fonctionner l'inversion couleur texte en fonction de la couleur de fonds */

	/*box-shadow : 0 0 20px #3b3b3b inset;*/
	padding : 4px;

	letter-spacing : 1.2px ;
	font-weight : 600 ;
	display: none;
}

body.homepage #entete:not(.scrolled):not(.scrolling) div#header_slogan_opsis{
	left : 24px;
	text-shadow: -1px 0 #3b3b3b, 0 1px #3b3b3b, 1px 0 #3b3b3b, 0 -1px #3b3b3b;
	color : white ;
	font-size : 24px ;
}


body.homepage #entete div#header_breadcrumb{
	display : none ;
}




div.headers{
	border-bottom : 1px solid #DADADA;
}


/* CSS Premiere Ligne entete */
#entete #header_top{
	height : 70px;
	/*padding : 12px 18px 0px 24px;*/
	padding : 12px 18px 0px 18px;
	/*padding : 0px;*/
	position : relative ;
}
body.homepage #entete #header_top{
	padding : 0px ;
}

body.homepage #entete #header_top {
	padding : 12px 18px 0px 18px;
	height: 58px;
}

#entete div.headers div{
	display : inline-block ;
}




#header_logo_block{
	float : left ;
	position : relative ;
	padding : 1px 20px 1px 6px;
	top : 0px ;
	/*padding-left : 24px;
	padding-top : 12px;  */
	/*margin-bottom:-6px;
	top : -5px;*/
}


body.homepage #entete:not(.scrolled):not(.scrolling) #header_logo_block{
	/*background-color : rgba(255,255,255,0.8);*/ /* Finalement pas de fond sur le logo
	margin-left: 18px;
    margin-top: 7px;
	padding : 2px 6px;
	top : 0px ;*/
}

#header_logo_block #logo_opsomai_small, .gate_popin_logo   #logo_opsomai_small{
	display : none ;
}

#header_logo_block span{
	display : inline-block ;
	vertical-align : 4px;

}
#header_login_block,#DesktopMenu #header_other_block{
	float : right ;
}

#header_login_block  button.deconnect_btn{
	background-color : #CCCCCC;
	text-transform : uppercase ;
	font-size : 15px;
	border : 0px;
	width : 155px;
	padding : 5px 0px;
}
#header_login_block  button.deconnect_btn:hover{
	background-color : #3b3b3b;
	color : white;
}


#header_login_block{
	width : 445px;
	font-size : 16px;
}
#header_login_block.logged{
	width : auto ;
	white-space : nowrap;
}
#header_login_block.not_logged{
	height : 36px;
}
#header_menus_block{
	display : block ;
	/*float : right ;*/
    position: absolute;
	right: 19px;
}
_body.homepage #entete #header_menus_block{
	background-color : rgba(255,255,255,0.8);
	margin-top : 11px;
	margin-right : 12px;
}
/*body.homepage #entete #header_menus_block ul li form#connect_form,*/
body.homepage #entete #header_menus_block ul li.menu > a,
body.homepage #entete #header_menus_block ul li.menu > #menu_account,
body.homepage #entete #header_menus_block ul li form#connect_form,
body.homepage #entete #header_menus_block ul li.menu #menu_responsive_arrow{
	padding-top : 4px;
	padding-bottom : 4px;
}

body.homepage #entete #header_menus_block ul li form#connect_form{
	padding-left:  4px;
	padding-right : 4px;
}


body.homepage #entete #header_menus_block ul li.menu > #menu_account > ul.drop_down{
	margin-top :  4px ;
}

body.homepage #entete #header_menus_block ul li.menu{
	border-right : 1px solid #F1F1F1;
	box-sizing : border-box;
}
body.homepage #entete #header_menus_block ul li.menu:last-child{
	border-right : 0px solid #F1F1F1;
}

#header_menus_block > ul > li.menu, #header_menus_block > ul > li.menu > #menu_account {
	text-transform : uppercase ;
	letter-spacing: 1px;
    font-weight: 600;
    font-size: 14px;
	/*color:#3b3b3b;*/
}

#header_menus_block ul#DesktopMenu #menu_account{
	text-align : center ;
	cursor : pointer ;
	position : relative ;
	line-height : 36px;
	padding : 0px 25px 0px 20px;
	background : url('../images/icnbar-form-down.png') no-repeat 95% center  ;
	background : url('../images/icnbar-form-down.png') no-repeat right 5px center  ;
}
#header_menus_block #menu_account:hover{
	color : white ;
	z-index : 99;
}
#header_menus_block #menu_account:hover ul.drop_down{
	box-sizing : border-box ;
	border : 1px solid #f07407;
	border-top : 1px solid #f07407;
	text-transform : none ;
	letter-spacing : 0px ;
	font-weight : normal ;
}

#header_menus_block #menu_account:hover ul.drop_down li a{
	padding : 0px ;
	width : 100% ;
	height : 100%;
}

#header_menus_block #menu_account:hover ul.drop_down li:hover,#header_menus_block #menu_account:hover ul.drop_down li:hover a{
	background-color : #f07407;
	color : white ;
}
#header_menus_block #menu_account:hover ul.drop_down li.noLink:hover{
	background-color : white !important;
	color : black !important;
}

#header_quick_srch_block #quick_cherche_txt{
	/*min-width : 100px;*/
	padding : 4px;
	padding-right : 50px;
	margin : 0px;
	width: 235px;
}


body.homepage #header_quick_srch_block{
	/*min-width : 200px;*/
	opacity: 0;
}
body.homepage #homepage_quick_srch_wrapper {
	position : absolute ;
	top : 38vh;
	left : 0px ;
	right : 0px;
	text-align : center ;
    margin: 0px auto;
	border : none ;
	z-index : 50 ;
}
body.homepage #homepage_quick_srch_wrapper #quick_search{
    width: 438px;
    margin: 0px auto;
    padding: 4px;
	background :  rgba(255,255,255,0.35);
}
body.homepage #homepage_quick_srch_wrapper #quick_cherche_txt{
	padding : 4px;
	width : 350px;
	margin : 0px 2px ;
}


body.homepage #adv_search_button{
	display : none ;
}


body.homepage .homepage_scrolldown_arrow , body.homepage .homepage_scrollup_arrow{
	width : 96px ;
	height : 96px ;
	background:url('../images/homepage_scrolldown_arrow.png') no-repeat center center;
	position: absolute;
    top: 70vh;
    text-align: center;
    margin: 0px auto;
	left : 0px;
	right : 0px;
    border: none;
    z-index: 50;
}
body.homepage .homepage_scrolldown_arrow.red{
	background:url('../images/homepage_scrolldown_arrow_d44b3c.png') no-repeat center center;
}

body.homepage .homepage_scrolldown_arrow.inline , body.homepage .homepage_scrollup_arrow.inline{
	position : relative ;
	display : inline-block;
	top : auto ;
	left : auto ;
	right : auto ;
	margin : 20px 20px 0px ;
	vertical-align : bottom ;
}

body.homepage .homepage_scrollup_arrow{
	background:url('../images/homepage_scrollup_arrow.png') no-repeat center center;
}
body.homepage .homepage_scrollup_arrow.red{
	background:url('../images/homepage_scrollup_arrow_d44b3c.png') no-repeat center center;
}

body.homepage .homepage_scrolldown_arrow a,body.homepage .homepage_scrollup_arrow a{
	display : block ;
	height : 100% ;
	width : 100%;
}


body.homepage.restricted .homepage_scrolldown_arrow{
	display : none ;
}



#header_login_block .header_login_block_left{
	text-align : right;
	padding-right : 12px;
	border-right : 1px solid #CBCBCB;
}

#header_login_block p {
	margin : 2px 0px;
}

#header_login_block .header_login_infos{
	max-width : 250px;
	overflow : hidden ;
	text-overflow : ellipsis ;
	white-space : nowrap ;
}
#header_login_block .header_login_block_right{
	vertical-align : top ;
	text-align : left;
	padding-left : 6px;
	margin-left : 0px;
	/*margin-top : -4px;*/
}

#header_login_block p a {
	vertical-align : top ;
}

#header_login_block .login_block_icon{
	display : inline-block ;
	width : 16px;
	height : 16px;
	margin-right: 6px;
	background-repeat : no-repeat ;
	background-position : center center;
}
#header_login_block .login_block_icon.login_icon{background-image : url('../images/icnhead-login.png'); }
#header_login_block .login_block_icon.order_icon{background-image : url('../images/icnhead-commande.png') ;}
#header_login_block .login_block_icon.favorite_icon{background-image : url('../images/icnhead-favoris.png') ;}
#header_login_block .login_block_icon.clock_icon{background-image : url('../images/icnhead-clock.png') ;}
.headers  input{
	height : 26px;
	border: 1px solid #DADADA;
	padding : 4px;
	font-size: 16px;
}
.headers form input[type='submit'], #prevLink button, #newPanLeft input[type='submit'], #panBoutons button, #connect_form button , button.std_button_style , input.std_button_style{
	background-color : #CC3000;
	text-transform : uppercase;
	color : white ;
	height : 30px;
	border : none ;
	height : 36px;
	min-width : 70px;
	cursor : pointer ;
}

#header_login_block #login_actions a{
	padding-left : 16px;
}
#header_login_block #login_actions .login_link_signup{background : url('../images/icnhead-inscription.png') left center no-repeat;}
#header_login_block #login_actions .login_link_forgotpwd{background : url('../images/icnhead-forgot.png') left center no-repeat;}


#menu_responsive_wrapper.collapsed {
	height: 0px;
}
#menu_responsive_wrapper ul li {
	display: block;
}

body.homepage.restricted{
	overflow : hidden ;
}

div#login_bg{
	overflow:auto ;
}
div.gate_bg {
	position : fixed ;
	width : auto  ;
	height : auto  ;
	left : 0px;
	right : 0px ;
	top: 0px ;
	bottom : 23px ;

	z-index : 140;
	/*background-color : rgba(70,70,70,0.5); */
}
div.gate_popin{
	margin : 40px auto ;
	width : 600px;
	/*min-height : 300px;*/
	/*max-height : 70%;
	min-height : 30%;*/
	border : 1px solid #F1F1F1;
	background-color :white;
	background-color : rgba(255,255,255,0.95);
	padding-bottom : 20px;
	position : relative;
}

div.gate_popin .msg{
	font-size : 16px;
	/*margin : 10px 20px 14px;  */
	margin : 10px 20px ;
}
div.gate_popin .msg.err{
	color : #A11511;
	font-weight : bold ;
}

form#h_valid_form{
	text-align :center ;
	width : 100% ;
}

form#h_valid_form input[name='cap_valid_human']{
	width : 219px;
	font-size: 16px;
    padding: 4px ;
}

form#h_valid_form a.reload_cap,
form#inscription_form a.reload_cap{
	/*position: absolute;
	margin-left: 20px;
	margin-top: 35px;*/
	position : relative ;
	display :inline-block ;
	height : 80px;
	background-color : white ;
	vertical-align: bottom;
}
form#inscription_form a.reload_cap{
	/*height : 70px ; */
	height : 48px ;
	vertical-align: top ;
	border : 1px solid #DADADA ;
	border-left : none ;
}

form#h_valid_form a.reload_cap img,
form#inscription_form a.reload_cap img{
	border : none ;
	margin-top : 34px;
}
form#inscription_form a.reload_cap img{
	/*margin-top : 29px ; */
	margin-top : 16px ;
}
form#h_valid_form button.std_button_style[type='submit']{
	width : 231px;
}

form#inscription_form #captcha_form{
	/*width : 187px;*/
	width : 128px;
	border : 1px solid #DADADA ;
	border-right : none ;
	vertical-align : bottom  ;
	margin-left : -21px;
}
form#inscription_form div.captcha label.hidden{
	display : none ;
}
form#inscription_form div.captcha p{
	display : inline-block ;
	margin-left : 10px;
}

.gate_popin .msg{
	text-align : center ;
	/*font-weight : bold;
	letter-spacing : 1px;*/
	/*text-transform : uppercase ;*/
	font-size : 17px;
}

form#connect_form{
	text-align : center ;
}

form#connect_form .val_champs_form #login, form#connect_form .val_champs_form #password, .gate_popin form #us_soc_mail, .gate_popin form input[type='text'], .gate_popin form input[type='password'], .gate_popin form select{
    /* min-width: 100px; */
    margin: 0px;
    height: 26px;
    border: 1px solid #DADADA;
    padding: 4px;
    font-size: 16px;
}
.gate_popin form select{
    height: 36px;
}
form#connect_form .val_champs_form #login, form#connect_form .val_champs_form #password{
	padding : 4px 4px 4px 28px;
}
.gate_popin form input.errorjs, .gate_popin form input#us_soc_mail.errorjs {
	border : 1px solid red;
	background-color : #ffcccc;
}

form#connect_form .val_champs_form #login, form#connect_form .val_champs_form #password{
	width : 174px;
}

form#connect_form .label_champs_form, .gate_popin form .label_champs_form{
	min-width : 130px;
	display : inline-block ;
	letter-spacing : 1px ;
	font-weight : bold ;
	font-size : 14px;
	text-transform : uppercase ;
}
form#connect_form .val_champs_form, .gate_popin form .val_champs_form, form#inscription_form div.label_champs_form{
	margin : 5px 0px;
}
form#inscription_form div.label_champs_form{
	display : block ;
}

.log_links{
	margin: 10px auto;
	font-size : 14px;
	display : -webkit-flex ;
	display : flex;
	width : 300px;
}
.log_links *{
	-webkit-flex : 1 1 auto ;
	flex : 1 1 auto ;
}
.log_links .log_links_separator{
	display :inline-block ;
	width : 10px;
	height: 10px;
}
.log_links a{
	cursor : pointer ;
	font-size : 18px;
}


form#connect_form  button[type='submit']{
	width : 208px ;
	margin-left : 134px;
}


.gate_popin .gate_popin_corps{
	padding: 0px 50px;
	overflow : auto ;
}

.gate_popin fieldset{
	/*width: 50%;
	min-width: 650px;*/
	margin: 0px auto;
	/*background-color: #F1F1F1;*/
	/*border: 1px solid #CCC;*/
	font-size: 14px;
	padding: 0px 10px;
	border : none ;
	text-align : center;
}

.gate_popin  div.buttons{
	margin-top : 10px;
	text-align : center ;
}

.gate_popin p:empty{
	margin : 0px ;
	font-size : 0px;
}


.gate_popin p {
	margin : 0px auto 6px;
	font-size : 16px;
}
.gate_popin p.success{
	text-align : left ;
}

.gate_popin  p.error{
	font-weight : bold ;
    color: #f07407;
}
.gate_popin  .main p.error{
	text-align :center ;
}

.gate_popin button,.gate_popin form  input[type='submit']{
	min-width : 208px;
}

span.gate_popin_logo{
	display : inline-block ;
	margin : 6px;
}

.gate_popin_lang img.flag_chooser{
	margin : 2px;
}

.gate_popin_header {
	display : -webkit-flex;
	display : flex;
	border-bottom : 1px solid #DADADA ;
}
.gate_popin_logo{
	-webkit-flex : 1 0 128px;
	flex : 1 0 128px;
	text-align : center;
	vertical-align : middle ;
	display : -webkit-flex ;
	display : flex ;
	align-items: center;
	justify-content: center;
}
.gate_popin_lang{
	position : absolute;
	top : 0px;
	right : 0px;
}
.gate_popin_corps.loading, #popupModal.loading #frameModal{
	background : url('../images/wait4alpha.gif') no-repeat center center;
	-webkit-transition: opacity 0.1s ease;
    -moz-transition: opacity 0.1s ease;
    -o-transition: opacity 0.1s ease;
    -ms-transition: opacity 0.1s ease;
    transition: opacity 0.1s ease;
}
#popupModal.progresscursor {
	cursor : progress ! important ; 
}


#popupModal.loading #frameModal{
	background : url('../images/wait4alpha.gif') no-repeat center center white ;
}

.gate_popin_corps.loading .ajax,.gate_popin_corps.loading .main , .gate_popin .loading, #popupModal.loading #frameModal *{
	opacity : 0 ;
}

.gate_popin_title{
	font-size : 18px;
	font-weight : bold ;
	letter-spacing : 1px;
	color : #3b3b3b ;
	text-transform : uppercase ;

	-webkit-flex : 1 1 100%;
	flex : 1 1 100%;
	text-align : left;
	justify-content: left;
	vertical-align : middle ;
	display : -webkit-flex ;
	display : flex ;
	align-items: flex-end;
	margin :5px;
}

/*
.gate_popin_lang a {
	margin-top : 10px;
}*/
/*
.gate_popin_header span,.gate_popin_header div{
	display : inline-block  ;
	vertical-align : middle ;
}

.gate_popin_title{
	max-width : 60%;
}
.gate_popin_lang,.gate_popin_logo{
	width : 18%;
}*/

/********** HOMEPAGE NOUVEAUTES **********/
body.homepage #homepage_new_docs, body.homepage #homepage_thms{
	background-color : #F1F1F1;
	/*padding : 100px;*/
	/*height : 1080px;*/
	padding : 95px 40px 40px 40px;
	height : 100vh ;
	width : 100%;
	box-sizing : border-box ;
}
body.homepage #homepage_thms{
	margin-bottom : -23px;
	position : relative;
}

body.homepage #homepage_new_docs #homepage_new_docs_title, body.homepage #homepage_thms_title{
	background-color : #F1F1F1;
	text-align : center ;
	margin-bottom : 4px;
	color : #3b3b3b;
}
body.homepage #homepage_new_docs #homepage_new_docs_title span{
	display : inline-block ;
	/*margin-bottom : 6px;*/
}

body.homepage .homepage_section_main_title{
	text-transform  : uppercase ;
	font-size :24px;
	font-weight : bold ;
	letter-spacing:1px;
}
body.homepage .homepage_section_sub_title{
	font-size : 18px;
}
body.homepage #homepage_new_docs #homepage_new_docs_mediatype {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display : -webkit-flex;
	display : flex;
	margin : 0px auto ;
	max-width : 700px;
}

body.homepage #homepage_new_docs #homepage_new_docs_mediatype > span {
	-webkit-flex : 1 1 auto;
	flex : 1 1 auto;
	padding: 10px 10px;
	/*border : 1px solid #3b3b3b; */
	/*border-radius : 8px;*/
	text-align : center ;
	/* box-sizing : border-box; */
	margin-right : -1px;
	/* min-width : 100px; */
	cursor : pointer ;
	background-color : #e8e8e8 ;
	margin : 0px 4px;
	font-size : 14px;
	text-transform : uppercase ;
	font-weight : bold ;
	letter-spacing : 1px ;
	color : #3b3b3b;
	white-space: nowrap ;
}

body.homepage #homepage_new_docs #homepage_new_docs_mediatype > span > * {
	vertical-align: middle
}

body.homepage #homepage_new_docs #homepage_new_docs_mediatype > span > span.news_docs_mediatype_labels {
	padding-left: 6px; /*10px*/
}

body.homepage #homepage_new_docs #homepage_new_docs_mediatype > span:hover:not(.selected){
	background-color : #CCC;
}
body.homepage #homepage_new_docs #homepage_new_docs_mediatype > span.selected{
	background-color : #f07407 ;
	color : white ;
}

body.homepage #homepage_new_docs #homepage_new_docs_grid,
body.homepage #homepage_thms #homepage_thms_grid{
	/*width : 800px;
	height : 300px;*/
	width : 98%;
	height : 70%;
	position : relative ;
	margin : 10px auto 0px ;
	font-size : 0px;
	-webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
	opacity : 1 ;
}

body.homepage #homepage_thms #homepage_thms_grid .thm_row{
	width : 100%;
	height : 50%;
	position : relative ;
	margin : 0px;
	padding :0px;
	display : -webkit-flex;
	display : flex;
}
body.homepage #homepage_thms #homepage_thms_grid .thm_row .theme{
	-webkit-flex : 1 1 auto ;
	flex : 1 1 auto ;
	position : relative ;
}



body.homepage #homepage_new_docs #homepage_new_docs_grid div[class^='grid']{
	-webkit-transition: background-image 0.3s ease, opacity 0.3s ease;
    -moz-transition:  background-image 0.3s ease, opacity 0.3s ease;
    -o-transition:  background-image 0.3s ease, opacity 0.3s ease;
    -ms-transition: background-image 0.3s ease, opacity 0.3s ease;
    transition:  background-image 0.3s ease, opacity 0.3s ease;
	opacity : 1 ;
}
body.homepage #homepage_new_docs #homepage_new_docs_grid.loading{
	background: url('../images/loader_list_doc_grey.gif') no-repeat center center;
}
body.homepage #homepage_new_docs #homepage_new_docs_grid.loading div[class^='grid']{
	opacity : 0.15 ;
}

body.homepage .homepage_actions_wrapper{
	display : block ;
	text-align : center ;
}
body.homepage #homepage_new_docs #homepage_new_docs_goto{
	position : relative;
	margin : 20px auto 0px;
    width: 96px;
    height: 96px;
    background: url('../images/homepage_goto.png') no-repeat center center;
    text-align: center;
    border: none;
    z-index: 50;
	cursor : pointer ;
	display : inline-block ;
}



body.homepage #homepage_new_docs #homepage_new_docs_grid div{
	/*border : 1px solid #3b3b3b;*/
	box-sizing : border-box;
	display : inline-block ;
	position : relative;
}
body.homepage #homepage_new_docs #homepage_new_docs_grid > .grid_1,
body.homepage #homepage_new_docs #homepage_new_docs_grid > .grid_2{
	width : 50%;
	height : 100%;
}
body.homepage #homepage_new_docs #homepage_new_docs_grid .grid_2 > .grid_1,
body.homepage #homepage_new_docs #homepage_new_docs_grid .grid_2 > .grid_2{
	height : 50%;
	width : 100%;
}
body.homepage #homepage_new_docs #homepage_new_docs_grid .grid_2 > .grid_2 > .grid_1,
body.homepage #homepage_new_docs #homepage_new_docs_grid .grid_2 > .grid_2 > .grid_2{
	width : 50%;
	height : 100%;
}

body.homepage #homepage_new_docs #homepage_new_docs_grid div[class*='new_doc'],
body.homepage #homepage_thms #homepage_thms_grid div.theme {
	background-repeat: repeat-x, no-repeat;
    background-size: auto 23px, cover;
    background-position: bottom right, center center;
	border : 1px solid white ;
}
body.homepage #homepage_thms #homepage_thms_grid div.theme{
	cursor : pointer  ;
}

body.homepage #homepage_new_docs #homepage_new_docs_grid div[class*='new_doc'].media_doc {
	background-position: bottom right, top center;
}

body.homepage #homepage_new_docs #homepage_new_docs_grid span.new_doc_titre,
body.homepage #homepage_thms  #homepage_thms_grid span.theme_titre{
	position : absolute ;
	bottom : 0px ;
	left : 0px ;
	right : 0px;

	padding : 2px 4px;

	font-size : 15px ;
	color : white ;
	overflow : hidden ;
	white-space : nowrap ;
	text-overflow : ellipsis ;
}

body.homepage #homepage_new_docs #homepage_new_docs_grid a{
	display : block ;
	width : 100%;
	height : 100%;
}

body.homepage #homepage_new_docs #homepage_new_docs_grid span.new_doc_titre,
body.homepage #homepage_thms  #homepage_thms_grid span.theme_titre{
	color : white ;
	font-weight : bold ;
	letter-spacing: 0.3px ;
}

body.homepage #homepage_new_docs #homepage_new_docs_grid span.new_doc_titre img{
	display :inline-block;
	vertical-align : baseline ;
	margin : 0px ;
	margin-left : 2px ;
	margin-right : 4px ;
	cursor : pointer ;
	height : 16px;
	width : 16px;
	vertical-align : text-top ;
}


/************RECHERCHE AVANCEE **********/

#completeDiv.AutoCompleteDivListeStyle{
	z-index : 60 !important;
}
#adv_search_button{
	display :inline-block ;
	width : 45px ;
	height : 36px ;
	/* background : url('../images/adv_search_arrow.png') no-repeat center center; */
	background : url('../images/icnbar-form-down.png') no-repeat center center;
	position : absolute;
	margin-left : -47px;
	cursor : pointer ;
	/*margin-top : 8px;*/
	z-index : 57;
	user-select: none;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;
	border-left : 1px solid #DADADA;
}

#adv_search_button.active{
	height : 37px;
	background-color : #3b3b3b;
	border-left: none;
}


 #adv_search_wrapper.headers{
	background-color : #F1F1F1;
	z-index:59;
	position : absolute;
	/*width : 100%;*/
	/*left : 0px;*/
	/*margin-left : 1px;
	border-top: 1px solid #DADADA; */
	margin-top : 1px;
	border : 1px solid #CCC;
}

 #adv_search_wrapper.headers .title_bar{
	margin : -1px -1px 0px -1px;
	padding-bottom : 6px ;

}

#adv_search_wrapper .adv_search_wrapper-1 td.val_champs_form{
	display : -webkit-flex;
	display : flex ;
	-webkit-align-items : center ;
	align-items : center ;
}
#adv_search_wrapper .adv_search_wrapper-1 td.val_champs_form.val_add_crit{
	display : initial;
}


#adv_search_wrapper .adv_search_wrapper-1 td.val_champs_form *{
	-webkit-flex : 1 1 auto ;
	flex : 1 1 auto ;
}
#adv_search_wrapper .adv_search_wrapper-1 td.val_champs_form.media_chkbox_row span{
	text-align : center;  
}
#adv_search_wrapper .adv_search_wrapper-1 td.val_champs_form.media_chkbox_row span input[type='checkbox']{
	vertical-align : middle; 
}


#adv_search_wrapper .adv_search_wrapper-1 td.val_champs_form label{
	text-align : center ;
}

#adv_search_wrapper .adv_search_wrapper-1 td.val_champs_form  input.miniButton[type='button'] ,#adv_search_wrapper .adv_search_wrapper-1 td.val_champs_form span[id^='typeRech'] {
	-webkit-flex : 0 0 auto ;
}

#adv_search_wrapper .label_champs_form select[name^='chOps']{
	margin-right : 5px;
}
#adv_search_wrapper .adv_search_wrapper-1 td.val_champs_form  .datepicker_img{
	margin-left:  3px; 
	margin-right:  3px; 
	-webkit-flex : 0 1 auto ;
	flex : 0 0 auto ;
}

#adv_search_wrapper .adv_search_wrapper-1 td.val_champs_form  span.date_separator{
	-webkit-flex : 0 0 20px ;
	flex:  0 0 20px ; 
	text-align : center;  
}

#adv_search_wrapper .val_champs_form input[id^="chValues"][type!='checkbox']{
	/*width : 149px;*/
	width : 239px;
	margin: 2px;
	padding : 4px;
	transition: width 0.20s ease-in-out;
	-moz-transition: width 0.20s ease-in-out;
	-webkit-transition: width 0.20s ease-in-out;
}


#adv_search_wrapper .adv_search_wrapper-1 td select {
	margin : 2px ;
	padding : 3px ;
	outline : none ;
}


#adv_search_wrapper .adv_search_wrapper-1 td input[type='checkbox'] {
	margin : 8px 2px;
	vertical-align : middle ; 
}
#adv_search_wrapper td select{
	margin : 2px;
}

#adv_search_wrapper.headers.collapsed{
	border : none ;
}
#adv_search_wrapper input{
	height : auto ;
	font-size : 13px;
}

#adv_search_wrapper.collapsed{
	height : 0px;
}
#adv_search_wrapper.collapsed div.adv_search_wrapper-1,#adv_search_wrapper.collapsed div.chercheBoutons,#adv_search_wrapper.collapsed div#adv_search_chooser, #adv_search_wrapper.collapsed .title_bar{
	opacity : 0;
	display : none ;
}
#adv_search_wrapper div.adv_search_wrapper-1{
	padding : 4px 24px;
}
#adv_search_wrapper div.hidden.adv_search_wrapper-1{
	display : none ;
}
#adv_search_wrapper select[id^="selectType"]{
	min-width : 280px;
}
#adv_search_wrapper div.adv_search_wrapper-1 .val_champs_form{
	min-width : 395px;
}

#adv_search_wrapper .label_champs_form, #adv_search_wrapper .val_champs_form{
	vertical-align : middle;
}

#adv_search_wrapper span[id^='typeRech']{
	display : inline-block ;
	width : 80px;
	text-align : left ;
}
#adv_search_wrapper #adv_search_chooser{
	display: block;
	border-bottom: 1px solid #DADADA;
	background-color : white ;
}
#adv_search_wrapper #adv_search_chooser button:first-child{
	margin-left : 0px;
}
#adv_search_wrapper #adv_search_chooser button, #adv_search_wrapper div.chercheBoutons  button{
	background-color: #DDD;
	height: 30px;
	border: none;
	height: 36px;
	width: 160px;
	cursor: pointer;
	border :none;
	color : #3D3D3D;
	outline : none ;
	margin : 0px 4px;
	font-size : 15px;
}

#adv_search_wrapper div.chercheBoutons button{
	background-color: #f07407;
	border : none;
	color : white ;
}

#adv_search_wrapper div.chercheBoutons {
	margin-bottom : 4px;
	/*margin-left : 284px;*/
	margin-left : 197px;
}
#adv_search_wrapper div.chercheBoutons button{
	/*width : 158px;*/
	width : 247px;
}
#adv_search_wrapper #adv_search_chooser button.active,#adv_search_wrapper div.chercheBoutons  button.std_button_style{
	background-color: #f07407;
	border : none;
	color : white ;
}
#adv_search_wrapper #adv_search_chooser button:hover,#adv_search_wrapper div.chercheBoutons  button:hover, button.std_button_style:hover, input.std_button_style:hover{
	background-color:#A11511;
	color : white ;
}



#adv_search_wrapper .btn_add_crit{
	float: right;
	/*width: 159px;*/
	width : 140px;
	right: 2px;
	position: relative;
	font-size : 15px;
	background-color : #f07407;
	/*flex : 0 1 125px !important; */
	/*flex : none !important ;
	align-items : flex-end;*/
	color : white ;
}
#adv_search_wrapper .btn_add_crit:hover{
	cursor : pointer ;
	background-color : #A11511;
}


 form button{
	background-color : #f07407;
	color : white ;
	cursor : pointer ;
	vertical-align : top;
 }

.headers form input[type='submit']:hover, #prevLink button:hover, #newPanLeft input[type='submit']:hover, #panBoutons button:hover, #connect_form button:hover, form button:hover,  form input[type='submit']:hover{
	background : #A11511;
}


#panHeaderFieldsWrapper{
	margin : 6px 0px;
	display : none ;
}

#panBlock.full #panHeaderFieldsWrapper{
	display : block ;
		opacity: 1;
   transition: opacity .15s ease-in;
   -moz-transition: opacity .15s ease-in;
   -webkit-transition: opacity .15s ease-in;

}

input.panHeaderFields{
	height: 20px;
	border: 1px solid #DADADA;
	padding: 4px;
	margin : 0px 4px;
	font-size: 14px;
	width : 300px;
}

input.panHeaderFields[name^='pan_objet']{
	width : 450px;
}

#panBoutons {
	position : absolute;
	left : 0px;
	right : 0px;
	top : auto ;
	text-align : center ;
	
	
}
#panBoutons button{
	min-width : 110px ;
	margin : 0px 8px;
	display : inline-block  ;
	cursor : pointer ;
	margin-bottom : 4px;
}
#header_login_block #login_actions{
	display : inline-block ;
	margin : 4px 0px;
}

#header_login_block #login_actions a{
	font-size : 12px;
	color : #000;
}


#header_menus_block ul{
	padding-left : 0px;
}

#header_menus_block li#header_other_block{
	line-height : 36px;
	height : 36px;
}
body.homepage #entete:not(.scrolled):not(.scrolling) #header_menus_block ul#DesktopMenu li#header_other_block{
	height : 52px;
	line-height : 52px;
	padding : 0px 4px;

}

#header_menus_block li#header_other_block a{
	margin : 3px 2px;
	display : inline-block;
	padding : 0px;
	height	: 18px;
	vertical-align : sub ;
}
#header_menus_block li#header_other_block img.flag_chooser, .gate_popin_lang img.flag_chooser{
	width : 27px;
	height	: 18px;
	opacity : 0.4;
}
#header_menus_block li#header_other_block img.flag_chooser.current, .gate_popin_lang img.flag_chooser.current{
	opacity : 1;
}



body.homepage #header_menus_block,body.homepage #header_slogan_opsis,body.homepage #header_logo_block, body.homepage  #header_top{
	-webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
}


#header_login_block ul {
	list-style-type : none ;
	margin : 0px;
	padding-left : 0px;
}




#entete ul li .drop_down , #entete div.menu .drop_down {
	display : none ;
}

#entete ul li:hover .drop_down ,  #entete div.menu:hover .drop_down{
	display :block ;
	position : absolute;
	min-width : 50px;
	padding : 0px;
	left : 0px;
	font-size :14px;
}


#entete ul li.drop_down{
	display : block ;
}

/*A Fixé*/
#entete ul li.menu:hover, #entete ul li.menu:hover a, #entete ul li.menu.active{
/* #entete ul#DesktopMenu > li.menu:hover, #entete ul#DesktopMenu li.menu:hover a, #entete ul#DesktopMenu li.menu.active{ */
	background-color : #f07407;
	color : #FFF ;
	cursor : pointer;
}
/**/
#entete ul#ResponsiveMenu li.menu:hover ul a {
	background-color : #F1F1F1 ;
	color : black ;
}
#ResponsiveMenu #menu_account div, #ResponsiveMenu .subMenuResponsive, #ResponsiveMenu .subMenuResponsive .subMenu{
	display: block;
}

#ResponsiveMenu .subMenuResponsive .subMenu {
	padding: 0px 15px;
}

#entete ul li.menu:hover ul.drop_down li, #entete div.menu:hover ul.drop_down li{
	position : relative ;
	margin: 0px;
	padding: 0px;
	width : 100%;
	text-align : center;
	background-color : white ;
	color : black ;
}



#entete ul li.menu:hover ul.drop_down.my_account{
	/*width : 157px;*/
	width :auto;
	left : 0px ; right : 0px;
}


#entete ul li.menu:hover ul.drop_down {
	display : block ;
	position : absolute;
	height: auto;
	z-index: 60;
	margin-left: 0px;
	padding-left: 0px;
	text-align : center;
	width :auto;
	left : 0px ; right : 0px;
	border : 1px solid #3B3B3B;
}
#entete ul li.menu:hover:hover ul.drop_down li a{
	background-color : transparent ;
	color : black ;
}
#entete ul li.menu:hover ul.drop_down li:hover,#entete ul li.menu:hover ul.drop_down li:hover a {
	background-color : #A11511;
	color : white;
}

#entete ul li.menu:hover ul#login_actions.drop_down {
	left : auto ;
	width : 300px;
}

#entete #header_menu{
	padding : 0px;
	white-space : nowrap ;
	display : block ;
}

#entete #header_menu div{
	vertical-align : middle ;
}

#header_menu ul#DesktopMenu{
	height : 36px;
	margin : 0px;
}

#header_menu div#menu_responsive_wrapper #ResponsiveMenu {
	/* height: 0px; */
    /* display: inline-block; */
    display: none;
    margin: 0px;
}
#header_menu div#menu_responsive_wrapper.collapsed ul * {
    opacity: 0;
    display: none;
}

#header_menu li {
	line-height : 36px;
}
#header_menu li a {
	height : 100%;
	padding : 0px 15px ;
	display :inline-block ;
}


#header_menu #header_conf_display{
	float : right ;
}

#header_menu #display_opts .display_opt span{
	display : inline-block  ;
	width : 24px;
	height : 24px;
	margin : 6px 0px;
	cursor : pointer ;
	background-size : 100% auto;
}

#header_menu li.display_opt{
	padding : 0px 5px;
}


#header_breadcrumb a,#header_breadcrumb a:hover{
	color : #CC3000;
	text-decoration : underline;
	display :inline-block ;
	vertical-align : middle;
	width : auto;
}
#header_breadcrumb #refine_crits_wrapper{
	vertical-align : middle ;
}

#header_breadcrumb a, #header_breadcrumb #refine_crits_wrapper{
	max-width : 50%;
	overflow :hidden ;
	text-overflow : ellipsis ;
	position : static ;
}
#header_breadcrumb #refine_crits_wrapper a{
	max-width : initial;
}

#header_breadcrumb span.breadcrumb_arrow{
	display :inline-block ;
	width : 14px;
	height : 14px;
	margin : 0px 2px 0px 2px;
	background : url('../images/icn-breadcrumb-arrow-red.png') no-repeat left center ;
	vertical-align : middle;
	cursor : normal ;
}

#header_breadcrumb a.wrapped{
	width : 0px ;
	overflow : hidden ;
}
div.headers div#header_second_row{
	display : block  ;
	line-height : 29px;
	/* clear : right ; */
}

body.homepage #entete:not(.scrolled):not(.scrolling) div.headers div#header_second_row{
	clear : both ;
}

body.homepage #entete.scrolling div#header_second_row{
	opacity : 0 ;
}


div.headers div#header_breadcrumb{
	/*padding : 4px 40px;*/
	font-size : 13px;
	display : block ;
	/*margin-right : 105px;*/
	white-space : nowrap ;
	overflow : hidden ;
	/*debug*/
	text-overflow : ellipsis ;
	/*width : 700px;*/

}

#header_breadcrumb #accueil_link{
	display : inline-block ;
	padding-left : 15px;
	background : url('../images/home-red.png') no-repeat left center;
	color:#CC3000;
}

/* #ResponsiveMenu li.menu:hover ul li{
    background-color: white;
}
 */
#ResponsiveMenu ul .subMenu:hover {
	background-color: #f07407;
}

#ResponsiveMenu ul .subMenu:hover a {
	color: white;
}

#ResponsiveMenu ul .subMenu {
	padding: 6px 20px;
    font-size: 13px;
}



/*
#header_breadcrumb .refine_crits{
	margin-left : 6px;
}*/

/************************************************************/
/* ALERTE BOX */
/************************************************************/

#alertBox {
	position:absolute;
	display:block;
	/*ATTENTION : STT PAS DE display:none sinon on ne peut pas calculer la taille */
	/*top:350px;*/ /*ATTENTION, on ne peut pas utiliser Bottom avec MOVE*/
	/*left:-260px;*/
	top:-1000px;
	left:-1000px;
	width:250px;
	background-image:url('../images/shadow_alpha.png') !important;
	background-image:url('../images/shadow.gif');
	background-position:bottom right;
	z-index:100;

	margin: 10px 0 0 10px !important;
	margin: 10px 0 0 5px;
}
html>body #alertBox { position: fixed;left: -260px; top: 500px; }

#alertBoxContent {
	position:relative;
	margin:-6px 6px 6px -6px;
	padding:25px 5px 25px 5px;
	background-color:#f07407;
	border:1px solid #363636;
	text-align:center;
	/*font-family:'Trebuchet MS',Helvetica,Arial,sans-serif;*/
	font-family: 'Dosis', sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#333333;
}

/********************* MENU GAUCHE *********************/

div.title_bar, span.title_bar{
	background-color : #CC3000;
	text-transform : uppercase;
	font-size : 18px;
	color : white ;
	/*padding:10px 25px 8px 40px; */
	padding:7px 25px 5px 28px;
	height : 22px;
	user-select: none;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;
}
span.title_bar{
	display :block ;
}

div.title_bar .toggle_arrow{
	display : block ;
	height : 34px;
	width : 33px;
	background-position : center center;
	background-repeat : no-repeat;
	background-size : 60% auto ;
	position : absolute ;
	top : 0px;
	cursor : pointer ;
}
div.title_bar #arrow_left{
	right : 0px;
}
div.title_bar #arrow_right{
	left : 0px;
	/* visibility: hidden; */
}


#menuGauche div.title_bar, #menuDroite div.title_bar{
	height: 22px;
}



div.title_bar #arrow_left, .collapsed div.title_bar #arrow_right{
	background-image : url("../images/icnbar-retrack-left.png") ;
}
.collapsed div.title_bar #arrow_left, div.title_bar #arrow_right{
	background-image : url("../images/icnbar-retrack-right.png") ;
}


#menuGauche {
	width : 260px;
	padding : 0px;
	margin : 0px;
	border-right : 1px solid #CCCCCC;
	display : inline-block ;
	vertical-align : top ;
	/*min-height : 100%;*/
	height : 100%;
	position : relative ;
	background-color : white ;
}


#menuGauche .type_facet{
	padding: 10px 8px 8px 28px ;
	font-size : 16px;
	color : #3b3b3b;
	cursor : pointer;
	/*white-space : nowrap;*/
}
#menuGauche .type_facet .arrow{
	display : inline-block ;
	height : 15px;
	width : 15px;
	float :right ;
	background : url(../images/icnside-up-darkgrey.png) no-repeat center center;
}
#menuGauche .type_facet:hover  .arrow{
	display : inline-block ;
	height : 15px;
	width : 15px;
	float :right ;
	background : url(../images/icnside-up.png) no-repeat center center;
}
#menuGauche .type_facet.open .arrow{
	background : url(../images/icnside-down-darkgrey.png) no-repeat center center;
}
#menuGauche .type_facet.open:hover .arrow{
	background : url(../images/icnside-down.png) no-repeat center center;
}

#menuGauche .type_facet .facet_icon{
	display : inline-block ;
	width : 23px;
	height : 19px;
}
#menuGauche .type_facet .facet_icon.media{background : url('../images/icnside-media.png') no-repeat left center;}
#menuGauche .type_facet .facet_icon.motCle{background : url('../images/icnside-theme.png') no-repeat left center;}
#menuGauche .type_facet .facet_icon.theme{background : url('../images/icnside-theme.png') no-repeat left center;}
#menuGauche .type_facet .facet_icon.lieux{background : url('../images/icnside-lieu.png') no-repeat left center;}
#menuGauche .type_facet .facet_icon.producteur{background : url('../images/icnside-personne.png') no-repeat left center;}
#menuGauche .type_facet .facet_icon.fonds{background : url('../images/icnside-fond.png') no-repeat left center;}
#menuGauche .type_facet .facet_icon.date{background : url('../images/icnside-date.png') no-repeat left center;}
#menuGauche .type_facet .facet_icon.techrea{background : url('../images/icnside-tech.png') no-repeat left center;}

#menuGauche .type_facet:hover .facet_icon.media{background : url('../images/icnside-media-white.png') no-repeat left center;}
#menuGauche .type_facet:hover .facet_icon.motCle{background : url('../images/icnside-theme-white.png') no-repeat left center;}
#menuGauche .type_facet:hover .facet_icon.theme{background : url('../images/icnside-theme-white.png') no-repeat left center;}
#menuGauche .type_facet:hover .facet_icon.lieux{background : url('../images/icnside-lieu-white.png') no-repeat left center;}
#menuGauche .type_facet:hover .facet_icon.producteur{background : url('../images/icnside-personne-white.png') no-repeat left center;}
#menuGauche .type_facet:hover .facet_icon.fonds{background : url('../images/icnside-fond-white.png') no-repeat left center;}
#menuGauche .type_facet:hover .facet_icon.date{background : url('../images/icnside-date-white.png') no-repeat left center;}
#menuGauche .type_facet:hover .facet_icon.techrea{background : url('../images/icnside-tech_white.png') no-repeat left center;}

#menuGauche .block_facet{
	display : none;
	background-color :  #f07407;
}
#menuGauche div.block_facet.loading_hier,#menuGauche div.block_facet.loading_hier *{
	cursor : progress ;
}

#menuGauche .block_facet .facet_hier.hier_open{
	box-sizing : border-box ;
	/* border-top : 1px solid #A11511;
	border-left : 1px solid #A11511;
	margin-left : -1px ;
	margin-top: -1px ;
	 */
}

#menuGauche .block_facet .facet_hier  span.hier_unfolder.hidden {
	background : none ;
	visibility : hidden;
}
#menuGauche .block_facet .facet_hier  span.hier_innerText {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 78%;
    display: inline-block;
}
#menuGauche .block_facet .facet_hier  span.hier_unfolder {
    display: inline-block;
    width: 28px;
    height: 36px;
    margin: 0px;
    background: url("../images/icnside-up-darkgrey.png") no-repeat center center;
    float: left;
	padding-left: 1px;
    margin-top: -10px;
    margin-left: -14px;
}
#menuGauche .block_facet .facet_hier  span.hier_unfolder.hier_open {
	background : url("../images/icnside-down-darkgrey.png") no-repeat center center ;
	/*padding-left : 0px;*/
}
#menuGauche .block_facet div[class^='facet_hier_lvl']{
	padding-left : 16px;
	padding-bottom : 2px;
/* 	margin-bottom : -1px;
	border-left : 1px solid #A11511;
	border-bottom:1px solid #A11511;
	margin-left : -1px; */
	display : none ;
}
/*
#menuGauche .block_facet div[class^='facet_hier_lvl']{
	padding-left : 10px;
	display : none ;
}
#menuGauche .block_facet div.hier_open[class^='facet_hier_lvl']:hover{
	padding-left : 0px;
	border-left : 10px solid #A11511;
	border-bottom:1px solid #A11511;
	margin-bottom : -1px;
}
*/


#menuGauche .block_facet div.hier_open[class^='facet_hier_lvl']{
	display :block ;
}

#menuGauche .open.block_facet{
	display :block ;
	border-top : 4px solid #f07407;
}

#menuGauche .open.block_facet.openfull{
	max-height : 396px;
	overflow : auto ;
}

#menuGauche .block_facet .value{
	white-space : nowrap ;
	text-overflow : ellipsis ;
	overflow : hidden ;
	max-width : 90%;
	display :inline-block :
}

#menuGauche .block_facet .count{
	float : right ;
}

#menuGauche .block_facet .facet{
	padding: 10px 12px 10px 30px ;
	font-size : 14px;
	min-height :14px;
	color : white ;
	cursor : pointer ;
	/*white-space: nowrap;*/
}

#menuGauche .block_facet .facet.facet_hier{
	padding : 10px 12px 10px 14px;
}


#menuGauche .block_facet .more_facet{
	font-style : italic;
}

#menuGauche.expanding #facet_wrapper span.arrow {
	visibility: hidden;
}

#facet_wrapper,#admin_wrapper,.menuGauche_wrapper{
	position : absolute ;
	top : 34px ;
	right : 0px ;
	left : 0px ;
	overflow : auto ;
	bottom : 57px;
	background-color: #C3C3C3;
}
div.main_scrollableDiv  .menuGauche_wrapper{
	bottom : 34px;
}



#menuGauche .block_facet .facet:hover, form input[type='submit']:hover, #prevLink button:hover,#panBoutons button:hover{
	background-color : #f07407 ;
	/*background-color : #2E2E2E ;
	color:#f07407;*/
	cursor : pointer ;
}
div#prevLink button:hover{
	background-color : #f07407 ;
	color:#FFFFFF;
}


#menuGauche .type_facet:hover, #panGauche li:hover, #import_wrapper li:hover{
	background-color : #2E2E2E ;
	color:#FFFFFF;
}

#menuGauche.collapsed,#menuGauche.collapsed #facet_wrapper, #panGauche.collapsed{
	overflow : hidden ;
}

#menuGauche.collapsed,  #panGauche.collapsed{
	width : 32px;
}
#menuGauche.collapsed .type_facet{
	padding-left : 8px;
}
#menuGauche.collapsing .type_facet,
#menuGauche.expanding .type_facet,
#menuGauche.collapsed .type_facet{
	font-size : 0 ; 
}
#menuGauche.collapsed .type_facet .arrow, #menuGauche.collapsed .block_facet {
	display : none ;
}

#menuGauche.collapsed div.title_bar .filter_label, #menuDroite.collapsed div.title_bar .filter_label {
	display: inline;
}

#menuGauche.menuAdmin #tree_wrapper{
	overflow : auto ;

}

#menuGauche .menuAdminTitre{
	padding: 8px 8px 5px 10px ;
	font-size : 16px;
	color : #3b3b3b;
	white-space : nowrap;
}


#menuGauche.collapsed #admin_wrapper * {
	display : none ;
}


#menuGauche.collapsed {
	overflow : hidden ;
}


#menuGauche ul.menuAdminListe {
	list-style-type : none ;
	padding: 0px ;
	margin : 0px;
}
/*menuGauche admin*/
#menuGauche ul.menuAdminListe  li a  {
	color:#3b3b3b;
}

#menuGauche ul.menuAdminListe  li.selected a  {
	color : #f07407;
	font-weight : bold ;
}

#menuGauche ul.menuAdminListe  li {
	padding: 2px 12px 2px 30px;
}
#menuGauche ul.menuAdminListe  li:first-child{
	padding-top : 0px;
}
#menuGauche ul.menuAdminListe  li:last-child{
	padding-bottom : 0px;
}

/********************* PREVIEW DROITE *********************/


#menuDroite {
	width : 321px;
	padding : 0px;
	margin : 0px;
	/*border-left : 0px solid #CCCCCC;*/
	display : inline-block ;
	vertical-align : top ;
	/*min-height : 100%;*/

	position : absolute ;
	top : 0px;
	bottom : 0px ;
	right : 0px ;
	overflow: hidden ;
	background-color : #2E2E2E ;
}


#menuDroite #prevTitre{
	font-size : 20px;
	max-height : 48px;
	overflow : hidden ;
	text-overflow : ellipsis;
	white-space : nowrap ;
}


#menuDroite #previewDoc {
	padding : 16px;
}
#menuDroite #previewDoc h2{
	margin-top : 0px;
	color: #FFFFFF;
}
#menuDroite #prevMedia img{
	margin : 0px auto ;
	display : block ;
}

#menuDroite #prevMedia{
	/*max-height : 215px;*/
	max-height : 275px;
	max-width : 286px;
}

#menuDroite #prevMedia #media_space #container{
	/*max-height :215px;*/
	max-height : 275px;
	max-width : 286px;
}
#menuDroite #prevMedia #media_space #container.audio{
	height : 215px;
}

#menuDroite #prevWrapper{
    position: absolute;
    top: 310px;
    right: 16px;
    left: 16px;
    bottom: 90px;
}

#menuDroite  #prevInfos{
	margin-top : 4px;
	font-size : 14px;
	color: #FFFFFF;
	text-overflow : ellipsis;
	overflow : hidden ;
	max-height : 400px;
	text-align : justify;

	position: relative;
	max-height: 100% !important;
	margin-bottom: -50px;
	overflow: hidden;

}



#menuDroite #prevLink{
/*	position : absolute ;
	bottom : 30px;*/
	position : relative ;
	top : 30px;
	margin-top : 32px;
}

#menuDroite #prevLink button{
	width : 288px;
	margin : 0px auto;
	visibility : hidden ;
	border-radius: 5px;
}
#menuDroite.loading{
	background :url("../images/wait4trans.gif") no-repeat center center #FFF ;
}
#panFrame.loading{
	background :url("../images/wait4trans-grey.gif") no-repeat center center ;
}
#menuDroite #previewDoc *{
	opacity: 1;
   transition: opacity .15s ease-in;
   -moz-transition: opacity .15s ease-in;
   -webkit-transition: opacity .15s ease-in;
}

#menuDroite.loading #previewDoc *{
	opacity : 0;
	visibility : hidden ;
	transition: opacity .05s ease-in;
   -moz-transition: opacity .05s ease-in;
   -webkit-transition: opacity .05s ease-in;
}
 #panFrame.loading *{
	opacity : 0;
 }

#menuDroite.collapsed{
	width : 32px;
	background : #FFF;
}

#menuDroite.collapsed #previewDoc{
	visibility : hidden  ;
	display: none ;
}


/********************* CONTENU CENTRAL *********************/

/** popup modal **/
#popupModal{
	background : url("../images/modalBG.png") top left;
	/*font-family : Verdana;*/
	font-family: 'Dosis', sans-serif;
	font-size : 13px;
	position:fixed;
	top :0px;
	left:0px;
	right : 0px;
	bottom :23px;
	z-index:201;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display : none ;
}

body.homepage #popupModal{
	bottom : 0px;
}
body.homepage #popupModal{

}

#frameModal{
	background-color : white ;
	margin : 50px auto 0px auto;
	position : relative ;
	max-width :900px;
	width : 500px;
	min-height : 100px;
	padding : 20px 35px;

}
#frameModal.cgu {
	position: absolute;
    top: 50px;
    bottom: 50px;
    height: auto;
    margin: 0px;
    left: 10%;
    right: 10%;
	max-width : none ;
	width : auto ;
}
#frameModal.cgu .html_page{
    position: absolute;
    top: 26px;
    left: 30px;
    right: 6px;
    bottom: 20px;
    overflow: auto;
    padding-right: 20px;
}
#frameModal.cgu .html_page h2{
	margin-top : 0px;
}


#frameModal .html_close{
	position : absolute ;
    top: 6px;
    right: 6px;
    width: 16px;
    height: 16px;
	background : url('../images/icnbar-crosscancel-grey.png') no-repeat center center ;
	cursor : pointer ;
}

#frameModal.big{
	height : 650px;
	max-width : 1100px;
	min-width : 850px;
}

#frameModal select.translationChooser_select{
	margin : 6px;
}

#connect_form form{
	white-space : nowrap;
}

#connect_form input#login, #connect_form input#password{
	padding-left : 28px;
	margin :  0px;
}
#connect_form input[name='bsubmitLogin']{
	margin :  0px;
}
#connect_form input#login {background : url('../images/icnhead-login.png') 6px center no-repeat,white;}
#connect_form input#password {background : url('../images/icnhead-password.png') 6px center no-repeat,white;}



#connect_form  div.error{
	top : 6px ;
	position : absolute;
	height : 24px ;
	background-color : rgba(255, 204, 204, 0.98) ;
	color : black ;
	line-height : 24px;
	left : 10px;
	width : 354px;
	border : 1px solid #DADADA;
	box-sizing : border-box ;
	cursor : pointer ;
	padding-right :  20px;
	background-image : url('../images/icnbar-crosscancel-grey.png');
	background-repeat : no-repeat;
	background-position : 98% center  ;
}
body.homepage #entete:not(.scrolled):not(.scrolling) #connect_form  div.error{
	top : 14px ;
}


#conteneur::before{
	 content : " ";
	 opacity : 0 ;

}
body:not(.homepage) #conteneur.disable_transition::before{
	opacity : 0 ;
	position :fixed; /*absolute*/
	top : 0px;
	left:0px;
	right : 0px;
	bottom : 0px;
	background-image : url('../images/modalBG.png');
	content : " ";
	transition: opacity 0.20s ease-in-out;
	-moz-transition: opacity 0.20s ease-in-out;
	-webkit-transition: opacity 0.20s ease-in-out;
	z-index : 56;
}

body:not(.homepage) #conteneur.disabled::before{
	position :fixed; /*absolute*/
	top : 0px;
	left:0px;
	right : 0px;
	bottom : 0px;
	background-image : url('../images/modalBG.png');
	content : " ";
	z-index : 56;
	opacity: 1;
	transition: opacity 0.20s ease-in-out;
	-moz-transition: opacity 0.20s ease-in-out;
	-webkit-transition: opacity 0.20s ease-in-out;

}

div.toolbar{
	display : inline-block ;
	border-left :  0px solid #CCCCCC;
	position : absolute ;
	top : 0px;
	bottom : 0px ;
	right : 12px;
}

#conteneur{
	position : absolute;
	/*top : 160px;*/
	top : 142px;
	bottom : 0px; /* hauteur pied de page */
	left : 0px;
	right : 0px;
}

.restricted #conteneur{
	bottom : 23px;
}


div.contenu {
	position : relative ;
	height : 100%;
	background : #F1F1F1;
	overflow : auto ;
}
body.homepage div.contenu {
	overflow : visible ;
}



#main_block{
	background-color : #DBDBDB;
}

#main_block, #mainResultsBar, #importViewBar{
	display : inline-block ;
	position :absolute ;
	top : 34px;
	left: 260px;
	right : 321px;
	bottom : 0px;
	overflow : auto ;
}
.main_scrollableDiv #main_block{
	bottom : 0px;
}

/*** Toolbar ***/


div.toolbar .tool:hover .drop_down{
	display : block !important;
}

div.toolbar .drop_down{
	position : absolute;
	/* display : block ! important; */
	z-index : 99;
	top : 34px;
}

div.toolbar .drop_down ul{
	color: white;
	margin: 0px;
	list-style-type: none;
	font-size: 16px;
	text-transform: none;
	background-color: #f07407;
	background-color: #f07407;
	padding: 5px;
		padding-right: 5px;
		padding-left: 5px;
	border: 0px solid #DADADA;
	padding-left: 5px;
	padding-right: 15px;
}
div.toolbar .drop_down li{
	padding : 2px 6px;
}

div.toolbar .drop_down ul li:hover{
	cursor : pointer ;
	background-color : #f07407;
	font-weight: bold;
	/*font-family:Dosis-Bold;*/
	font-family: 'Dosis', sans-serif;
/* 	background-color : #f07407; */
	font-size: 18px;
}
div.toolbar .tri .drop_down{
	left : 0px;
	min-width : 80px;
}


div.toolbar .menu_actions .drop_down,#docHeader .toolbar .menu_actions .drop_down{
	left : auto;
	right :0px;
	padding-right : 0px;
}
#importViewBar div.toolbar .tri .drop_down{
	left : auto ;
	right : 0px ;
}

div.toolbar .add .drop_down{
	left : 0px;
	right : auto;
	width: 155px;
	padding : 0px;
}
div.toolbar .add .drop_down li[class^='add_panier']{
	overflow : hidden ;
	text-overflow : ellipsis ;
	white-space : nowrap ;
}

#docHeader div.toolbar .add .drop_down, #importViewBar div.toolbar .add .drop_down{
	left : auto ;
	right : -1px;
	width : 174px;
	padding : 0px;
}

div.toolbar .add .drop_down ul{
	max-height : 400px;
	overflow : auto ;
	overflow-x : visible ;
	overflow-y : auto ;
}
div.toolbar .add .drop_down ul li{

}

#mainResultsBar, #importViewBar{
	top : 0px;
	height : 22px;
	overflow : visible ;
}

#importViewBar{
	right : 0px;
}

#mainResultsBar .toolbar, #docHeader .toolbar, div.toolbar{
	font-size : 0px;
}
#mainResultsBar .toolbar div, #docHeader .toolbar  div , div.toolbar div{
	display :inline-block ;
	font-size : 18px;
}
#mainResultsBar .toolbar .tool, #docHeader .toolbar .tool , div.toolbar .tool{
	padding: 8px 8px 6px;
	width :20px;
	height : 20px;
	background-repeat : no-repeat ;
	background-position : center center;
	position : relative ;
}
#mainResultsBar .toolbar .tool:hover, #docHeader .toolbar .tool:hover, div.toolbar .tool:hover{
	background-color : 	#f07407;
	cursor : pointer ;
}
#mainResultsBar .toolbar.hidden{
	display : none ;
}

#panBlock .toolbar .menu_actions.tool .drop_down{
	min-width : 115px;
}
#panBlock .toolbar{
	/*right : 52px;*/
	z-index : 90;
	display : none ;
}
#panBlock.expanding{
	display : block ;
	/*opacity : 0;*/
}
#panBlock .montage_back{
	display :none ;
	background-color : #f07407;
	text-transform : uppercase ;
	color : white ;
	position : absolute;
	top : 0px;
	bottom : 0px;
	right : 52px;
	cursor : pointer ;
	padding : 10px 18px 8px;
}
#panBlock #bloc_atelier #bloc_top_atelier{
	padding-top : 1px;
}



#panBlock.full .toolbar{
	display : block ;
}

#panBlock.full.montage .montage_back{
	display : block  ;
}

#panBlock.full.montage .toolbar{
	display : none ;
}

#mainResultsBar .toolbar .check_all, .toolbar .check_all{	background-image : url('../images/icnbar-select.png');}
#mainResultsBar .toolbar .add, #docHeader .toolbar .add, .toolbar .add{	background-image : url('../images/icnbar-add.png');}
#mainResultsBar .toolbar .tri, .toolbar .tri{	background-image : url('../images/icnbar-order.png');}
#mainResultsBar .toolbar #slideshow{	background-image : url('../images/icnbar-slideshow.png');}
#mainResultsBar .toolbar #consult, #docHeader .toolbar #consult, .toolbar #consult{	background-image : url('../images/icninfo-info.png');}
#mainResultsBar .toolbar #modify, #docHeader .toolbar #modify, .toolbar #modify{	background-image : url('../images/icnbar-edit.png');}
#mainResultsBar .toolbar .print,#docHeader .toolbar .print, .toolbar .print{	background-image : url('../images/icnbar-print.png');}
#mainResultsBar .toolbar #download, #docHeader .toolbar #download{	background-image : url('../images/icnbar-export.png');}
#mainResultsBar .toolbar #fullscreen{	background-image : url('../images/icnbar-expand.png');}
.toolbar .menu_actions{	background-image : url('../images/icnbar-gear.png');}



.toolbar div.toggle_preview.tool{
	background : url("../images/icnbar-preview-off.png") no-repeat center center ;
	border-right : 0px solid #CCCCCC;
}

 .toolbar div.toggle_preview.tool.selected{
	background : url("../images/icnbar-preview.png") no-repeat center center ;
}
 .toolbar div.toggle_preview.tool:hover{
	background-color : #f07407;
}
 .toolbar div.toggle_pagination.tool{
	background : url("../images/icnbar-pagi-off.png") no-repeat center center;
 }

 .toolbar div.toggle_pagination.tool.selected{
	background : url("../images/icnbar-pagi.png") no-repeat center center;
}

#mainResultsBar .toolbar div.presentation, #panBlock .toolbar div.presentation{
	border-right: 0px solid #6c6c6c;/*#CCCCCC;*/
	font-size : 0px;
	vertical-align: top;
}

#mainResultsBar .presentation span, #panBlock .presentation span{
	display : inline-block ;
	/*height : 22px;
	width : 22px;
	padding: 10px 10px 8px;*/
	padding: 8px 8px 6px;
	width :20px;
	height : 20px;
	cursor : pointer ;
}

#mainResultsBar .presentation #listChooser,#panBlock .presentation #panListChooser {
	/*padding-right : 4px;*/
	background : url("../images/icnbar-list-off_orange.png") no-repeat center center ;
}
#mainResultsBar .presentation #listChooser:hover,#panBlock .presentation #panListChooser:hover {
	background : url("../images/icnbar-list-on.png") no-repeat center center ;
}

#mainResultsBar .presentation #mosChooser,#panBlock .presentation #panMosChooser{
	/*	padding-left : 7px;
	padding-right : 7px;*/
	background : url("../images/icnbar-mozaic-off_orange.png") no-repeat center center ;
}
#mainResultsBar .presentation #mosChooser:hover,#panBlock .presentation #panMosChooser:hover{
	background : url("../images/icnbar-mozaic-on.png") no-repeat center center ;
}

#mainResultsBar .presentation #mapChooser,#panBlock .presentation #panMapChooser {
	/*padding-right : 4px;*/
	background : url("../images/icnbar-map-off_orange.png") no-repeat center center ;
}
#mainResultsBar .presentation #mapChooser:hover,#panBlock .presentation #panMapChooser:hover{
	background : url("../images/icnbar-map-on.png") no-repeat center center ;
}

#mainResultsBar .presentation #listChooser.selected,#panBlock .presentation #panListChooser.selected{
	background : url("../images/icnbar-list-on.png") no-repeat center center;
}
#mainResultsBar .presentation #mosChooser.selected ,#panBlock .presentation #panMosChooser.selected{
	background : url("../images/icnbar-mozaic-on.png") no-repeat center center;
}
#mainResultsBar .presentation #mapChooser.selected ,#panBlock .presentation #panMapChooser.selected{
	background : url("../images/icnbar-map-on.png") no-repeat center center;
}

#mainResultsBar .presentation #listChooser:hover,#panBlock .presentation #panListChooser:hover,
#mainResultsBar .presentation #mosChooser:hover ,#panBlock .presentation #panMosChooser:hover,
#mainResultsBar .presentation #mapChooser:hover ,#panBlock .presentation #panMapChooser:hover{
	background-color : 	#f07407;
	cursor : pointer ;
}

div.main_scrollableDiv.apply_layout{
	left : 261px;
}



/*#panBlock.pres_0 #mainPan,
#panBlock.pres_3 #mainPan,*/
#main_block.pres_0,
#mainResultsBar.pres_0,
#main_block.pres_3,
#mainResultsBar.pres_3,
#importViewBar.pres_0,
#importView.pres_3,
#importViewBar.pres_3,
#importView.pres_3,
div.main_scrollableDiv.apply_layout.pres_0,
div.main_scrollableDiv.apply_layout.pres_3{
	left :33px;
}

div.main_scrollableDiv.apply_layout.with_rightblock.pres_1,
div.main_scrollableDiv.apply_layout.with_rightblock.pres_2{
right : 321px;
}
div.main_scrollableDiv.apply_layout.with_rightblock.pres_0,
div.main_scrollableDiv.apply_layout.with_rightblock.pres_3{
	right : 33px;
}

#main_block.pres_0,#mainResultsBar.pres_0,#main_block.pres_1,#mainResultsBar.pres_1 , #panBlock.pres_0 , #panBlock.pres_1{
	right :33px;
/*	right : 0px;*/
}

/* EXPORTS */


#frameModal.frame_menu_actions{
    position: relative;
    top: 0px;
   /* right: 26px;*/
   /* width: 306px;
    height: 300px;*/
    background: white;
    border: 1px solid #CCC;
    z-index: 999;
   /*  display: none; */
    box-sizing: border-box;
	padding : 0px;
	margin : 100px auto 0px auto;
	width : 650px;
}


.frame_menu_actions div {
  	display : block ;
}

.frame_menu_actions #small_order_form{
	padding : 10px 20px ; 
	text-align : center;  
}
.frame_menu_actions #small_order_form.loading{
	cursor : progress !important ;
	background :url("../images/wait30trans.gif") no-repeat 20px center ;
}

.frame_menu_actions #small_order_form div{
	margin : 4px auto ;
	text-align : center ; 
}
.frame_menu_actions #small_order_form div#small_adv_order{
	margin : 0px ; 
}

.frame_menu_actions #small_order_form .buttons_order input.std_button_style.hidden,
.frame_menu_actions #small_order_form .select_order.hidden,
.frame_menu_actions #small_order_form .return.hidden{
	display : none ; 
}

.frame_menu_actions #small_order_form .return_order .status,
.frame_menu_actions #small_order_form .return_order .refCommande{
	width : auto ; 
}

.frame_menu_actions #small_order_form .return_order .status #progressbar{
	width : 200px; 
	height :16px;
	position : relative;  
}
.frame_menu_actions #small_order_form .return_order .status #progressbar div{
	margin : 0px ;
	width : auto ;
	text-align : center ; 
}

.frame_menu_actions #small_order_form .return_order .status #progressbar span{
	position:absolute;
	margin : 0px auto ;
	left : 0px ; 
	right: 0px ; 
}

.frame_menu_actions div#popinBody{
	margin : 15px  0px ; 
	text-align : center;  
}

.frame_menu_actions #framePartage {
	display :none ; 
	visibility :hidden ; 
	width : 0px;
	height : 0px ; 
}

.frame_menu_actions #formExport #exportBody{
	margin : 8px 0px ;
}

.frame_menu_actions #close_export_menu {
	background : url('../images/icnbar-crosscancel-white.png') no-repeat center center ;
	width : 16px;
	height : 16px;
	padding : 3px;
	cursor : pointer ;
}

.frame_menu_actions #menuBody .returnMsg{
	font-weight : bold ; 
	padding : 8px 0px ;
	text-align : center ; 
}
.frame_menu_actions #menuBody .returnMsg.error{
	color : red ; 
}


.frame_menu_actions #menuBody #formPartage.loading .returnMsg{
	height : 18px;
	background : url('../images/loader_list_doc.gif') no-repeat center center; 
}



.frame_menu_actions .title_bar{
	padding-right : 8px;
}

.frame_menu_actions div.fld_export, .frame_menu_actions  h3 {
	text-align : center ;
}
.frame_menu_actions div.fld_export#fieldSubmit, .frame_menu_actions div.fld_export#continueToCustomExport{
	margin-top : 6px ;
}
.frame_menu_actions input[type='radio'] {
	vertical-align: middle;
    height: 16px;
	margin : 0px 2px;
}

.frame_menu_actions  .fopPdfPrms_panel {
	padding-top : 2px;
	padding-left  : 30px;
	font-size : 13px;
}
.frame_menu_actions  .fopPdfPrms_panel.hidden {
	color : #808080;
	display : none ;
}
.frame_menu_actions  ul.type_export {
	padding-left : 0px;
	margin : 6px auto ;
	/*width : 400px;*/
}
.frame_menu_actions  ul.type_export li{
	display : block ;
	float:  none ;
 	text-align : left ;
	width : 50%;
	margin : 0px auto ;
	min-height : 34px;
	line-height : 26px;
}

.frame_menu_actions  ul.type_export li .icn-export{
	display : inline-block ;
	width : 30px;
	height : 30px;
	padding: 0;
	margin : 0;
	vertical-align : middle ;
}

.frame_menu_actions  ul.type_export li .icn-export.icn-export_xml{background:url('../images/icn-exp_xml.png') no-repeat center center / auto 100% ; }
.frame_menu_actions  ul.type_export li .icn-export.icn-export_csv{background:url('../images/icn-exp_csv.png') no-repeat center center / auto 100% ; }
.frame_menu_actions  ul.type_export li .icn-export.icn-export_catalog{background:url('../images/icn-exp_catalog.png') no-repeat center center / auto 100% ; }
.frame_menu_actions  ul.type_export li .icn-export.icn-export_mos2x2{background:url('../images/icn-exp_mos2x2.png') no-repeat center center / auto 100% ; }
.frame_menu_actions  ul.type_export li .icn-export.icn-export_mos3x3{background:url('../images/icn-exp_mos3x3.png') no-repeat center center / auto 100% ; }
.frame_menu_actions  ul.type_export li .icn-export.icn-export_mos4x6{background:url('../images/icn-exp_mos4x6.png') no-repeat center center / auto 100% ; }
.frame_menu_actions  ul.type_export li .icn-export.icn-export_custom{background:url('../images/icn-exp_custom.png') no-repeat center center / auto 100% ; }

.frame_menu_actions .fld_export.custom_export_form #customFieldWrapper{
	max-width : 350px;
	margin : 10px auto 25px;
	position : relative;
}
.frame_menu_actions .fld_export.custom_export_form #customFields{
	/*max-height : 400px;*/
	max-height : 250px;
	overflow : auto ;
	border : 1px solid #CACACA;
}
.frame_menu_actions .fld_export.custom_export_form  .customField{
   /*  min-height: 26px;
    line-height: 26px; */
	padding : 1px 0px 2px;
	position : relative ;
}
.frame_menu_actions .fld_export.custom_export_form #customFieldsWrapper2{
	max-width : 650px;
	margin : 6px auto 25px;
	position : relative;
}

.frame_menu_actions .fld_export.custom_export_form #customFieldsWrapper2 .customFields2{
	max-height : 290px;
	margin : 0px 2px;
	position : relative;
	display : inline-block ;
/*	max-width : 170px;
	min-width : 170px ; */
	width : 250px ;
	min-height : 290px;
	vertical-align : top ;
}

.frame_menu_actions .fld_export.custom_export_form #customFieldsTitle{
	font-size : 16px;
	font-weight : bold ;
}

.frame_menu_actions .fld_export.custom_export_form #customFieldsWrapper2 #customFieldsArrows{
	display : inline-block ;
	top : 90px;
	position : relative ;
}

.frame_menu_actions .fld_export.custom_export_form #customFieldsWrapper2 .customFields2 .cust_field_area{
	overflow : auto ;
	outline : 1px solid #CACACA ;
	position : absolute ;
	top : 20px ;
	left : 0px ;
	right : 0px;
	bottom : 0px;
}
.frame_menu_actions .fld_export.custom_export_form #customFieldsWrapper2 .cust_check_all_wrapper{
	width : 250px ;
	display :inline-block ;
	margin : 0px;
}



.frame_menu_actions .fld_export.custom_export_form #customFieldsWrapper2 .main_arrow {
	position : relative;
	display : block ;
	width : 90px;
	height : 35px;
	cursor : pointer ;
}
.frame_menu_actions .fld_export.custom_export_form #customFieldsWrapper2 .main_arrow.to_left {
	background : url('../images/bigarrow_left.png') no-repeat center center;
	background-size : auto 100%;
}
.frame_menu_actions .fld_export.custom_export_form #customFieldsWrapper2 .main_arrow.to_right {
	background : url('../images/bigarrow_right.png') no-repeat center center;
	background-size : auto 100%;
}

.frame_menu_actions .fld_export.custom_export_form #customFieldsWrapper2 .customField2{
	border-bottom : 1px solid #CACACA;
	box-sizing : border-box;
	width : 100%;
	padding : 2px 0px;
	position : relative;
}
.frame_menu_actions .fld_export.custom_export_form #customFieldsWrapper2 .customFields2 .cust_field_arrow_action{
	position : absolute ;
	right : 0px;
	width : 20px;
	height : 20px;
	top : 0px;
	cursor : pointer ;
}
.frame_menu_actions .fld_export.custom_export_form #customFieldsWrapper2 .customFields2 .cust_field_area.inactive .cust_field_arrow_action{
	right : 0px;
	background : url('../images/icn-breadcrumb-arrow.png') no-repeat center center ;
	border-left : 1px solid #CACACA;
}
.frame_menu_actions .fld_export.custom_export_form #customFieldsWrapper2 .customFields2 .cust_field_area.inactive .cust_field_arrow_action:hover,
.frame_menu_actions .fld_export.custom_export_form #customFieldsWrapper2 .customFields2 .cust_field_area.active .cust_field_arrow_action:hover{
	background-color : #F1F1F1 ;

}
.frame_menu_actions .fld_export.custom_export_form #customFieldsWrapper2 .customFields2 .cust_field_area.active .cust_field_arrow_action{
	left : 0px;
	background : url('../images/icn-export-toleft-small-arrow.png') no-repeat center center ;
	border-right : 1px solid #CACACA;
}



.frame_menu_actions .fld_export.custom_export_form  #customFieldWrapper .customField:hover,
.frame_menu_actions .fld_export.custom_export_form  .ui-sortable-helper{
	/*outline : 1px solid #CACACA;*/
	border-top : 1px solid #CACACA;
	background : white ;
	height : 21px !important;
}
.frame_menu_actions .fld_export.custom_export_form  .customField_placeholder{
	border-bottom : 1px solid #CACACA;
}
.frame_menu_actions .fld_export.custom_export_form  #customFieldsWrapper2 .active .customField2:hover .sortable_icon,
 .frame_menu_actions .fld_export.custom_export_form  .ui-sortable-helper .sortable_icon{
	background : url('../images/dbl_arrow_cacaca.png') no-repeat center center ;
	height : 16px ;
	width : 16px;
	position : absolute	;
	right : 2px;
	top : 2px;
}

.frame_menu_actions .fld_export.custom_export_form  .customField.cust_format{
	margin-top : 8px;
}

.frame_menu_actions .fld_export.custom_export_form  .customField .cust_field_checker{
	vertical-align: middle;
}
.frame_menu_actions .fld_export.custom_export_form #customFieldsWrapper2 .cust_field_area.active .customField_placeholder{
	height : 25px !important;
}
.frame_menu_actions .fld_export.custom_export_form #customFieldsWrapper2 .cust_field_area.inactive .cust_field_row{
	padding-right : 20px;
}
.frame_menu_actions .fld_export.custom_export_form #customFieldsWrapper2 .cust_field_area.active .cust_field_row{
	padding-left : 40px;
	padding-right : 19px;
}
.frame_menu_actions .fld_export.custom_export_form #customFieldsWrapper2 .cust_field_area.inactive .cust_field_checker{
	position : absolute ;
	left:  0px ;
	top : 0px;
}
.frame_menu_actions .fld_export.custom_export_form #customFieldsWrapper2 .cust_field_area.active .cust_field_checker{
	position : absolute ;
	left:  20px ;
	top : 0px;
}

.frame_menu_actions .fld_export.custom_export_form  .customField .cust_field_sel{
	width : 240px;
	font-size : 13px;
}

.frame_menu_actions .fld_export.custom_export_form  .customField .cust_field_delete{
	display : inline-block ;
	width : 16px;
	height : 16px;
	background : url('../images/icn-trash-grey.png') no-repeat center center ;
	border : none ;
	margin: 0px;
    padding: 0px;
    top: 3px;
    position: relative;
    left: 3px;
	cursor : pointer ;
}
.frame_menu_actions .fld_export.custom_export_form  .add_custom_field{
	width : 26px;
	height : 24px;
	background-image : url('../images/icnbar-add.png') ;
	background-position : center center ;
	background-repeat : no-repeat;
	min-width :20px;
	right : 0px ;
	position : absolute ;
}

.frame_menu_actions #progress_export{
	width : 80%;
	margin : 0px auto ;
	position : relative ;
	height : 34px;
	display : none ;

}
.frame_menu_actions #progress_export .progressbar_text{
	z-index :9999 ;
	width : 150px ;
	margin : 0px auto ;
	position : absolute ;
	width : 100%;
	text-align : center ;
	top : 8px;

}
.frame_menu_actions #fieldSubmit.export_running #progress_export{
	display : block ;
}
.frame_menu_actions #fieldSubmit.export_running .std_button_style{
	display : none ;
}
.frame_menu_actions #formExport.export_done .fld_export{
	display : none  !important;
}
.frame_menu_actions #formExport #msgExportDone,.frame_menu_actions #formExport #closeExportDone{
	display : none;
}
.frame_menu_actions #formExport.export_done #msgExportDone,.frame_menu_actions #formExport.export_done #closeExportDone{
	display :block  !important;
}
.frame_menu_actions #formExport #msgExportDone{
	padding : 10px 0px 20px;
	margin : 0px auto ;
	text-align : center;

}


/* FIN EXPORTS */

/******************** BLOCK PANIER FOOTER **************************/


#panBlock{
	z-index:50;
	position :absolute ;
	bottom : 30px;
	left : 0px;

	background-color : #FFF;
	right : 321px;
	border-top : 1px solid #CCCCCC;
}
body.homepage #panBlock{
	bottom : 0px ;
}
#panBlock .title_bar{
	position : absolute ;
	top : 0px;
	left : 0px;
	right : 0px;
	height : 22px;

}
#panBlock #mainPan .title_bar #panTitle{
	white-space : nowrap ;
	text-overflow : ellipsis ;
	overflow : hidden ;
	max-width : 555px;
	display : inline-block ;
	  vertical-align: top;
}
#panBlock #mainPan .title_bar #panNbElems{
	display : inline-block ;
	  vertical-align: top;
	  margin-left : 4px;
}

#panBlock.collapsed{
	height : 4px;
	border-bottom: none;
}

#panBlock.collapsing #mainPan{
	overflow : hidden ;
	padding-top : 0px ;
}


#panBlock.collapsed #mainPan ,#panBlock.collapsing#mainPan {
	overflow : hidden ;
	padding : 0px;
}

#panBlock.expanding,
#panBlock.expanded ,
#panBlock.collapsing,
#panBlock.collapsed {
	overflow : visible !important ;
}

#panBlock.collapsed.accueil ,
#panBlock.collapsing.accueil {
	overflow : hidden !important;
}
#panBlock.expanding #mainPan{
	padding-top : 0px;
}
#panBlock.expanded #mainPan{
	padding-top : 10px;
	transition: padding-top .15s ease-in;
   -moz-transition: padding-top .15s ease-in;
   -webkit-transition: padding-top .15s ease-in;
}

#panBlock.expanding #panGauche .title_bar,
#panBlock.expanded #panGauche .title_bar,
#panBlock.collapsing #panGauche .title_bar,
#panBlock.collapsed #panGauche .title_bar,
#panBlock.expanding #mainPan .title_bar,
#panBlock.expanded #mainPan .title_bar,
#panBlock.collapsing #mainPan .title_bar,
#panBlock.collapsed #mainPan .title_bar{
	top : -30px !important;
	visibility : visible !important;
	display : block !important;
	height : 22px ;
}
#panBlock.collapsed.accueil #mainPan .title_bar,
#panBlock.collapsing.accueil #mainPan .title_bar
{
	top : 0px !important;
}

#panBlock.expanding #panGauche .panListe,
#panBlock.expanded #panGauche .panListe,
#panBlock.collapsing #panGauche .panListe,
#panBlock.collapsed #panGauche .panListe{
	top : 4px ;
}
#panBlock.expanded #mainPan .title_bar , #panBlock.expanding #mainPan .title_bar{
	height : 4px ;
	margin-top : 30px;
	padding:0px;
}
#panBlock.full #mainPan .title_bar {
	height : 22px ;
	margin-top : 0px;
	transition: margin-top,height  .15s ease-in;
   -moz-transition:  margin-top,height .15s ease-in;
   -webkit-transition:  margin-top,height .15s ease-in;
}
#panBlock.expanded #mainPan .title_bar *, #panBlock.expanding #mainPan .title_bar *, #panBlock.collapsed #mainPan .title_bar *{
	display : none !important ;
}

#panBlock.full{
	height : auto  !important ;
	/*top : 40px;*/
	top : -1px ;
}

#panBlock.full.full_width{
	top : 0px;
}
/*
#panBlock.full.full_width .presentation{
	display : none ;
}*/


#panBlock.expanded{
	height : 215px;
}
#panBlock.expanding,#panBlock.expanded{
	z-index : 53;
}

#panBlock.full_width{
	right : 0px !important;
}

#panGauche{
	position : absolute ;
	bottom : 0px;
	left : 0px;
	width : 260px;
	top : 0px;
	border-right : 1px solid #CCCCCC;
}

#panGauche .panListe, #import_wrapper .impListe{
	overflow : auto ;
	position: absolute;
	/*top: 40px;*/
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 0px;
	margin: 0px;
	top : 34px;
	background-color: #C3C3C3;
}


#panBlock #panGauche.collapsed .panListe{
	visibility : hidden ;
}

#panGauche .panListe li#newPanLeft{
	padding : 8px 8px 4px 40px;
}
#newPanLeft input{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	line-height : 18px;
}
#newPanLeft input[type='submit']{
	width : 45px;
	min-width : 45px;
	height : 24px;
}
#newPanLeft input.std_button_style{
	height : 24px;
	width : 25px;
	min-width : 0px;
	margin-left:1px;
}

#newPanLeft input[type='submit']:hover{
	background-color : #a11511;
}


#menuGauche.collapsed #import_wrapper .impListe{
	display : none ;
}

#import_wrapper .impListe .redirect_imp_liste{
	font-style : italic;
}

#panGauche.collapsed .panListe, #menuGauche.collapsed #import_wrapper .impListe{
	overflow : hidden ;
}


#panGauche .panListe li, #import_wrapper .impListe li {
	padding: 10px 6px 8px 40px ;
	font-size : 16px;
	color : #3b3b3b;
	cursor : pointer;
	white-space : nowrap;
	text-overflow : ellipsis;
	overflow : hidden ;

}
#panGauche .panListe li:hover, #import_wrapper .impListe li:hover {
	color : #FFFFFF;
}
#panGauche .panListe li.selected, #import_wrapper .impListe li.selected{
	background-color : #f07407 ;
	color : white ;
}

#panGauche .panListe li.hoverPanier{
	background-color : #f07407;
	color : white ;
}


#panBlock.collapsed .panListe, #panBlock.collapsed #panFrame{
	display : none ;
}

#mainPan{
	position :absolute ;
	left : 261px;
	right : 0px;
	bottom : 0px;
/*	overflow : hidden ; */
	top : 0px;
	padding-top : 34px;
	background-color : #F1F1F1;
	z-index : 51;
}

#mainPan select#panListe {
	display: none;
}

#panFrame{
	border : none ;
	height : 100%;
	width : 100%;
	overflow : auto ;
	/*border-right : 1px solid #CCC;*/

}

#panFrame #panBoutons{
	display : none ;
}
#panBlock.full #panFrame #panBoutons{
	display : block ;
	margin-top : 4px;
	margin-bottom: 4px;
}
#panierDropZone{
	display : none ;
	position : absolute;
	top : 0px;
	left : 0px;
	right : 0px;
	bottom : 0px;
	background-color : rgb(59,59,59);
	background-color : rgba(59,59,59,0.9);
	z-index : 55;
}
#panierDropZone #textDropZone{
	position : absolute ;
	top : 10px;
	left : 20px;
	right : 20px;
	bottom : 10px;
	padding : 50px 20px;
	text-align : center ;
	font-size : 18px;
	color : white ;
	border-radius : 10px;
	border : 3px dotted #EFEFEF;
}


#panierDropZone.visible{
	display : block ;
}

#mainPan .title_bar{
	/*background-image : url('../images/icnbar-up.png') ;
	*/
	padding-right : 22px
}

#panBlock #panExpandFullLeft, #panBlock #panCollapseLeft{
	display :inline-block ;
	height :34px;
	width : 34px;
	right : 0px;
	position : absolute ;
	top : 0px;
	background-image : url('../images/icnbar-up.png') ;

	background-position : center center;
	background-repeat : no-repeat;
	cursor : pointer ;
}
#panBlock #panCollapseLeft{
	right :  35px;
}

#panBlock.full #panExpandFullLeft,#panBlock #panCollapseLeft{
	background-image : url('../images/icnbar-down.png') ;
}

#panBlock.full #panCollapseLeft , #panBlock.collapsed #panCollapseLeft , #panBlock.expanding #panCollapseLeft  ,#panBlock.collapsing #panCollapseLeft  {
	display : none ;
}


#order_form table td select[id^='id_proc']{
	max-width : 180px;
}

#panExpandFull{
	display :inline-block ;
	height :34px;
	width : 34px;
	right : 12px;
	position : absolute ;
	top : 0px;
	background : url('../images/icnbar-expand.png') no-repeat center center;
	cursor : pointer ;
}


#panBlock.full #panExpandFull{
	background : url('../images/icnbar-retract.png') no-repeat center center;
}

#panExpandFull:hover, #panBlock.full #panExpandFull:hover{
	background-color : #f07407;
}

#panFrame div.info_entete{
	font-size : 14px;
	margin : 5px 10px;
	padding : 4px 8px;
	background-color : #f07407;
	color : #3b3b3b;
	border : 1px solid #f07407;
}

#formCommande{
	font-size :12px;
}

#formCommande input, #formCommande textarea{
	/*font-family : Arial ;*/
	font-family: 'Dosis', sans-serif;
}

#formCommande table td.resultsCorps{
	padding : 3px 0px;
	border-top : 1px solid #3b3b3b;
}

/********************* PIED DE PAGE *********************/


#msg_info_cookie_box{
	position : fixed ;
	bottom : 50px ;
	/*height : 60px;
	left : 0px;
	right : 0px;*/
	left : 20%;
	right : 20%;
	min-width : 500px;
	width : auto ;
	padding : 10px 20px;
	background-color : white ;
	background-color : rgba(255,255,255,0.95) ;
	z-index : 200;
	font-size : 18px;
	border : 1px solid #DDD;
	text-align : center;
}
#msg_info_cookie_box .msg_info_buttons{
	margin : 6px auto 3px;
}


#footer{
	background-color :  #F1F1F1;
	padding : 2px 10px 0px 36px;
	border-top  : 1px solid #DDD;
	font-size : 13px;
	text-align : right ;
	/*font-family : Verdana ;*/
	font-family: 'Dosis', sans-serif;
	position: absolute;
	bottom: 0px;
	z-index: 49;
	left: 0px;
	right: 0px;
	height : 30px;

}
#footerright{
	padding-right: 50px;
	line-height: 30px;
}
#footerright a{
	color: #CC3000;
}
body.homepage #footer{
	position : relative ;

}

/********************   ADMIN     ******************************/
div.contentBody.admin {
	display : -webkit-flex;
	display : flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-content: center;
	align-content: center;
    -webkit-justify-content: center;
    justify-content: center;
	font-size : 16px ;
	position : relative;
}
div.contentBody.admin .admin_column{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  /*  align-items: stretch;*/
	-webkit-align-content: flex-end;
	align-content: flex-end;
	min-width : 26%;
	max-width : 400px;
}
div.contentBody.admin .admin_zone{

	-webkit-flex: 1 1 auto; /* Pour safari, on est obligé d'avoir auto, sinon on a des comportements bizarres ...*/
	flex: 1 1 auto;
   /* width: 350px;*/
    background: white;
    margin: 5px 6px;
    padding: 0px;
    border: none;
	min-width : 98%;
}

div.contentBody.admin .admin_zone ul.main_admin_block  a:hover{
	color : #f07407;
}
div.contentBody.admin .admin_zone ul.main_admin_block {
	list-style : none ;
		padding : 4px 5%;
	margin: 0px;
	text-align : left ;
	padding-bottom : 10px;
}
div.contentBody.admin .admin_zone ul li{
	text-align: left;
    max-width: 200px;
    margin: 0px auto;
	padding : 2px 0px;
}
div.contentBody.admin .admin_zone .main_admin_titre{
	font-size : 16px;
	text-align : left ;
	padding : 7px 25px 5px 20px ;
}

/********************   MISC     ******************************/


span.valign_anchor{
	height:100%;
	display:inline-block;
	vertical-align : middle;
	width:0px;
	margin : 0px;
	padding:0px;
}

.valign_helper{
	margin-left : -4px;
}

.valign_helper::before{
	height : 100%;
	vertical-align : middle ;
	width : 0px;
	content : "|";
	padding : 0px ;
	margin : 0px;
	font-size : 0px ;
}

/********************   IMPRESSION => FILTRAGE DISPLAY VIA MEDIA QUERIES     ******************************/


@media print {
	html, body{
		height : auto ;
	}

	/* éléments cachés (à réafficher éventuellement si c'est le target_print)*/
	#panBlock{
		display : none ;
	}

	/* éléments cachés quelle que soit la cible du print */
	#entete, #menuGauche, #menuDroite, div.toolbar, #panBoutons, #panBlock.full  #panHeaderFieldsWrapper, #footer, #panGauche{
		display : none !important ;
	}

	/* default state pour les éléments principaux */
	.contenu,.contenu #main_block, #panBlock{
		display : none ;
	}
	/*affichage du target_print*/
	div.contenu.target_print{
		display : block ;
		overflow : visible;
	}

	div.contenu.target_print , #docHeader, div.title_bar,div.contenu.target_print #main_block, #panBlock.target_print #mainPan{
		background : none ;
	}
	
	div.contenu.target_print .main_scrollableDiv{
		position : relative; 
		margin : 0px;
		left : 0px ;
		right : 0px;
	}

	.contenu.target_print #main_block, #panBlock.target_print #mainPan{
		display : block ;
		top :0px;
		left : 0px ;
		right : 0px ;
		height : auto ;
		bottom : auto ;
		overflow : visible ;
		box-sizing : border-box ;
	}
	
	.contenu.target_print #main_block .mosWrapper, #panBlock.target_print #mainPan .mosWrapper{
		margin : 0px !important; 
	}

	div#resultats table.tableResults tr{
		page-break-inside : avoid ;
	}

	div.resultsMos{
		page-break-inside : avoid ;
		border : 1px solid #F1F1F1;
	}
	div.resultsMos .infos_mos {
		-webkit-print-color-adjust: exact;
	}

	#main_block #loadMoreRes , #mainResultsBar{
		display : none ;
	}

	div#conteneur {
		top : 0px !important ;
	}

	/* spécifique PANIER */
	#panBlock.full.target_print{
		display	:block;
		position : relative;
		height : 100% !important;
		box-sizing : border-box ;
		font-size : 0;
		border : none ;
	}
	#panBlock.full.target_print #panFrame{
		overflow : visible;
		border : none ;
		box-sizing : border-box;
	}
	#panBlock.full.target_print .title_bar{
		color : black;
	}
	/***/

	/* spécifique DOC consult*/
	#media_space, #media_space *{
		-webkit-print-color-adjust: exact;
	}

	.contenu.target_print #docPager,.contenu.target_print #backButton,.contenu.target_print #fiche_info .panelSelWrapper{
		display : none ;
	}
	.contenu.target_print #docBody #leftBlock{
		height : auto ;
		bottom :auto ;
	}
	.contenu.target_print #docBody  #fiche_info {
		position :relative ;
		width : auto ;
	}
	#docBody #leftBlock{
		position : relative;
		/*height : 95%;	*/
		min-height : 300px;
		margin-bottom : 10px;
		max-width : 98%;
	}
	#docBody #leftBlock #media_space{
		min-height : 300px ;
	}

	.contenu.target_print #docBody  #fiche_info fieldset{
		page-break-inside : avoid ;
	}
	.contenu.target_print #docBody {
		bottom : auto ;
		height : auto ;
	}
	.contenu.target_print #media_space{
		height : auto ;
	}


	/***/


}


#conteneur.override_top, body.homepage #conteneur{
	top : 130px;
}
body.homepage #entete {
	_top: 60px;
}
#pageTitreResponsive {
	display: none;
}

.mobile_label {
	display: none;
}
.last_import {
	white-space:nowrap;
}

#tabs_upload .desktop_info {
	display: block;
}
#tabs_upload .responsive_info {
	display: none;
}

div #recapTab{
	background-color: #F1F1F1;
	position: relative;
	padding: 95px 60px 60px 60px;
	/*height: 100vh;*/
	width: 100%;
	box-sizing: border-box;
}
div.NumPage{
	position: absolute;
	margin-left: 48%;
	margin-top: 1%;
}
#Prev,#MaxPrev,#Next,#MaxNext{
	background-repeat: no-repeat;
	border : 0px;
	background-position: center;
	position: absolute;
	margin-top: 1%;
	cursor: pointer;
}

#Prev{
	background-image: url("../images/right_pg.gif");
	transform: rotate(180deg);
	margin-left: 40%;
}
#MaxPrev{
	background-image: url("../images/left_lot.gif");
	margin-left: 38%;
}
#Next{
	background-image: url("../images/right_pg.gif");
	float: right;
	right: 40%;
}
#MaxNext{
	background-image: url("../images/left_lot.gif");
	transform: rotate(180deg);
	float: right;
	right: 38%;
}
#footerlogo{
	float: left;
	margin-top: 3px;
}
#CenterFooter{
	margin-right: 45%;
}

div#FormContact h4{
	margin: 0 auto;
	width: 40px;
	font-size: 20px;
}
div#FormContact form {
	margin: 0 auto;
	margin-top: 20px;
    width: 450px;
	padding: 1em;
	font-size: 16px;
}
div#FormContact form div + div {
    margin-top: 1em;
}
div#FormContact label {
    display: inline-block;
    width: 90px;
    text-align: right;
}
div#FormContact input, div#FormContact textarea, div#FormContact select {
    font: 1em sans-serif;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}
div#FormContact input:focus, div#FormContact textarea:focus  {
    border-color: #000;
}
div#FormContact textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}
div#FormContact .button {
    padding-left: 90px; 
}

div#FormContact button {
    margin-left: .5em;
}
div#FormContact p input{
	margin-left: 45%;
	height: 40px;
	width: 80px;
}
div#FormContact p input:hover{
	margin-left: 45%;
	height: 40px;
	width: 80px;
	background-color: #eb8d12;
}
div#FormContact select{
	width: 300px;
	height: 25px;
}
div#FormContact .select{
	font-size: 16px;
	color:black;
	margin-left: 2px;
}
#OnlineImg{
margin-right: 20px;
}

#enteteCrlyne{
	width: 100%;
	height: 60px;
	background-color: #2E2E2E;
}
body.homepage  #enteteCrlyne{
	_position: fixed;
	z-index: 10;
}
span#gras{
	font-weight: bold;
	font-size: 1.1em;
}
#headtiret{
	color: #FFFFFF;
	border-left: 2px solid;
	margin-left: 20px;
	margin-right: 20px;
	height: 30px;
	position: absolute;
	top: 17px;
}
.resultsMos {
    background-color: #fff;
}
.resultsMos .infos_mos.first_row {
    opacity: 0.6;
}
.resultsMos .bgVignetteMos {
    position: absolute;
}
.mosCote ,.mosTitre{
    background: #f07407;
	opacity: 0.6;
	text-align: left;
	padding-left: 15px;
	color: white;
	top: 113px;
	position: relative;
}
.v-align-wrap {letter-spacing:-0.31em;}
.v-align-wrap:before {content:""; display: inline-block; height: 100%; vertical-align: middle;}
    .v-align {display: inline-block; vertical-align: middle; letter-spacing:normal; width: 100%;}
	
#entete #header_logo_block a {
	font-size: 0px;
}

.title_bar div#backButton, #adminHeader div#backButton {
    background-color: transparent;
}

#fiche_info #desc #saisieForm .label_champs_form, #fiche_info #desc td.label_champs_form {
    font-weight: bold;
}

.hidden {
    visibility: hidden;
}

td.updateEtatCell {
	width: 300px;
}

div#chooser {
	margin-top: -60px;
}

body.homepage #homepage_thms  #homepage_thms_grid span.theme_desc{
	color : white ;
	font-weight : bold ;

	position : absolute ;
	top:0px;
	left : 0px ;
	right : 0px;
	padding : 2px 4px;
	font-size : 15px ;
	overflow : hidden ;
	white-space : nowrap ;
	text-overflow : ellipsis ;
}

.divOverlay{
	background-color:black;
	position:absolute;
	width:100%;
	height:100%;
	opacity:0.5;
}
