@charset "utf-8";

#viewport, #viewport2 {
        cursor: move;
        /*margin: 20px auto;*/
		margin-top : 0px;
		margin-left : auto;
		margin-right : auto;
		margin-bottom : 0px;
        overflow: hidden;
}



#container.container_picture_FS,#ow_export_container.container_picture_FS{
	position : fixed !important;
	top : 0px !important;
	left : 0px !important;
	z-index : 99;

}
#container.container_picture_FS,#ow_export_container.container_picture_FS{
	width:100% !important;
	height:100% !important;
	background-color : #333333 !important;
}
#viewport.fullscreen , #viewport2.fullscreen {
	max-width : 100% !important; 

}


.mapwrapper {
    position: relative;
}

.map-control {
    position: absolute;
    top: 30px;
    right: 10px;
    background: url(../images/map-control.png) no-repeat;
    height: 63px;
    width: 100px;
}

.map-control a {
    height: 18px;
    width: 18px;
    display: block;
    text-indent: -999em;
    position: absolute;
    outline: none;
}

.map-control a:hover {
    background: #535353;
    opacity: .4;
    filter: alpha(opacity=40);
}

.map-control a.left {
    left: 39px;
    top: 22px;
}

.map-control a.right {
    left: 79px;
    top: 22px;
}

.map-control a.up {
    left: 59px;
    top: 2px;
}

.map-control a.down {
    left: 59px;
    top: 42px;
}

.map-control a.zoom {
    left: 2px;
    top: 8px;
    height: 21px;
    width: 21px;
}

.map-control a.back {
    left: 2px;
    top: 31px;
    height: 21px;
    width: 21px;
}

.zoom-control {
    position: absolute;
    top: 30px;
    right: 10px;
    background: url(../images/zoom-control_FS.png) no-repeat;
    height: 84px;
    width: 30px;
}

.zoom-control a {
    height: 18px;
    width: 18px;
    display: block;
    text-indent: -999em;
    position: absolute;
    outline: none;
}

.zoom-control a:hover {
    background: #535353;
    opacity: .4;
    filter: alpha(opacity=40);
}


.zoom-control a.zoom {
    left: 2px;
    top: 8px;
    height: 21px;
    width: 21px;
}

.zoom-control a.back {
    left: 2px;
    top: 31px;
    height: 21px;
    width: 21px;
}

.zoom-control a.fullscreen {
    left: 2px;
    top: 54px;
    height: 21px;
    width: 21px;
}
