@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}

body {
	background: url(../images/top.png) top left repeat-x #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	line-height: 200%;
	color: #bfbfbf;
}

/*text and other defaults*/

img, fieldset {
	border: none;
}

ul {
	list-style: none;
}

ul.bullets, ul.admin-edited {
	list-style: disc;
}

ul.bullets ul, ul.admin-edited ul {
	list-style: circle !important;
	font-size: .9em !important;
}

ol, ul.bullets, ul.admin-edited {
	margin-bottom: 2em;
	font-size: 1.2em;
}

ol li, ul.bullets li, ul.admin-edited li {
	padding-left: .5em;
	margin-left: 2.5em;
}

p {
	margin-bottom: 1.2em;
	font-size: 1.2em;
}

p.slim {
	margin: 0;
}

p.wbr {
	border: 1px solid white; padding: 2px;
}

code, pre {
	color: #3cd5db;
	font-size: 1.2em;
}

pre {
    font-size: 1.7em;
    overflow: auto;
}

code span {
    color: #a6b0b0;
}

.enabled pre {
    padding: 10px;
    color: #af4641;
    background: #e5e5e5;
    border: 4px solid #ccc;
}

strong {
	color: #fff;
}

.special {
	font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	font-size: 1.5em;
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	font-style: italic;
	margin-bottom: .4em;
}

h1 {
	color: #58aff2;
	font-size: 2em;
	font-variant: normal;
}

.community h1, .community h2, .community h3, .community h4, .community h5, .community h6 {
    color: #000;
}

.community h1 {
    color: #0061b6;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.3em;
}

h5 {
	font-size: 1.3em;
}

h6 {
	font-size: 1.3em;
}

h1 span {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #a5a5a5;
}

h1 span span {
	font-size: 1.6em;
	color: #06c300;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#main h1 {
	text-align: center;
	font-variant: normal;
	font-style: normal;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

.index #main h1 {
	margin-top: 54px;
}

a {
	color: #5ab7ff;
	text-decoration: none;
}

a:visited {
	color: #5ab7ff;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: #0aa3ac;
}

.services #main div h3 a {
	color: #fff;
}

.services #main div h3 a:hover, .services #main div h3:active {
	text-decoration: none;
	color: #fff;
}

#footer a, #footer a:visited, p#bottom-info a, p#bottom-info a:visited {
	color: #bfbfbf;
	font-weight: normal;
}

#footer strong a {
    font-weight: bold !important;
    color: #fff !important;
}

#footer a:hover, p#bottom-info a:hover {
	text-decoration: none;
	color: #fff;
}

#footer strong a:hover {
	text-decoration: underline;
}

.seo p span {
	font-size: 1.2em;
}

.dashed {
	border: 1px dashed #e5e5e5;
	padding: 2px;
}

.inverted .dashed {
	border: 1px dashed #000;
}

.center {
	text-align: center;
}

img.center {
	display: block;
	margin: 0 auto;
}

.gray {
	background-color: #232526;
}

#page.inverted .gray {
	background-color: #e8e6e6;
}

.left {
	float: left;
}

.right {
	float: right;
}

img.bordered {
    border: 5px solid white;
}

.clear {
	clear: both;
}

/*layout*/

#spread {
	position: relative;
	padding-top: 10px;
	background: url(../images/bottom.png) bottom left repeat-x;
	padding-bottom: 85px;
}

#wrapper {
	margin: 0 auto;
	background: #fff;
	padding: 2px 2px 0;
	width: 896px;
	position: relative;
	_overflow: hidden;
}

.index #wrapper {
	
}

#header {
	position: relative;
	height: 166px;
	background: url(../images/head.gif) top left repeat-x;
}

.index #header {
	
}

#logo {
	text-indent: -9999px;
	position: absolute;
	display: block;
	background: url(../images/logo.png) top left no-repeat;
	width: 313px;
	height: 149px;
	top: -10px;
	left: -22px;
	_background: url(../images/logo.jpg) top left no-repeat;
	_width: 313px;
	_height: 135px;
	_top: 0px;
	_left: 5px;
        margin: 0;
}

a#logo:focus {
	outline: none;
	opacity: .6;
}

#header h2 {
	position: absolute;
	right: 23px;
	bottom: 32px;
	color: #000;
	font-variant: normal;
}

ul#nav {
	display: block;
	height: 32px;
	background: url(../images/nav.gif) top left repeat-x;
	position: absolute;
	bottom: 0px;
	width: 100%;
}

ul#nav li {
	height: 32px;
	width: 101px;
	float: right;
}

.community li {
    display: inline;
}

ul#nav a {
	display: block;
	height: 100%;
	width: 100%;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-position: left bottom;
}

.community ul#nav a {
    height: 32px;
    line-height: 32px;
    color: #fff !important;
    font-size: 17px;
    text-indent: 0;
    padding: 0 10px;
    float: right;
    width: auto;
}

ul#nav a:hover, ul#nav a:focus {
	background-position: left top;
	outline: none;
}

ul#nav li#home_link {
	width: 84px;
}

ul#nav li#home_link a {
	background-image: url(../images/home.png);
}

.index ul#nav li#home_link a {
	background-image: url(../images/home_active.png);
}

ul#nav li#about_link a {
	background-image: url(../images/about.png);
}

.about ul#nav li#about_link a {
	background-image: url(../images/about_active.png);
}

ul#nav li#services_link a {
	background-image: url(../images/services.png);
}

.services ul#nav li#services_link a {
	background-image: url(../images/services_active.png);
}

ul#nav li#contact_link a {
	background-image: url(../images/contact.png);
}

.contact ul#nav li#contact_link a {
	background-image: url(../images/contact_active.png);
}

ul#nav li#hire_link a {
	background-image: url(../images/hire.png);
}

.hire ul#nav li#hire_link a {
	background-image: url(../images/hire_active.png);
}

ul#nav li#portfolio_link {
	width: 113px;
}

ul#nav li#portfolio_link a {
	background-image: url(../images/portfolio.png);
}

.portfolio ul#nav li#portfolio_link a {
	background-image: url(../images/portfolio_active.png);
}

#page {
	overflow: hidden;
	background: #000;
	zoom: 1;
	padding: 8px 0px 0px 0px;
	position: relative;
}

#page.inverted {
	background: url(/images/black-stripe.gif) repeat-x #fff;
}

.community #page {
    background: #fff;
    border: 4px solid #999;
}

#page.inverted * {
	color: #000;
}

#page.inverted #toggle-p .dashed {
    border: 1px dashed #E5E5E5;
}

#page.inverted #toggle {
    color: #5AB7FF;
}

.index #page {
	
}

.portfolio #page {
	padding: 8px;
	padding-bottom: 0px;
}

#page .inner {
	padding: 0px 12px;
	overflow: hidden;
}

.article #page .inner {
	padding: 30px;
}

#page p.intro:first-letter {
	color: #06c300 !important;
	font-size: 1.8em;
}

.portfolio #page .inner {
	background-color: #232526;
	padding: 8px 12px;
}

.services #page .inner {
	background: url(../images/faux.gif) top left repeat-y;
}

.services #main, .services #sidebar {
	background-color: #232526;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#main {
	min-height: 250px;
	width: 520px;
	padding: 12px;
	float: right;
}

.about #main {
	float: left;
}

.index #main {
	background: url(../images/opening.gif) 0px 50px no-repeat;
	_height: 300px;
	/*position: relative;*/
}

.index #page .inner {
	background: url(../images/closing.gif) bottom right no-repeat;
	padding: 0 0 0 12px;
	margin-right: 12px;
	zoom: 1;
}

.services #main div h3 {
	font-size: 1.8em;
}

#sidebar {

}

#sidebar {
	width: 315px;
	float: left;
}

.community #sidebar {
    width: 235px;
}

.community #sidebar form {
    /**/
}

.community #sidebar label,#log-in.login-page label {
    width: 95px;
    display: block;
    /*float: left;
    clear: both;*/
    font-size: 12px;
    color: #000;
}

.community #sidebar input[type=text], .community #sidebar input[type=password] {
    border: 1px solid #666;
    width: 141px;
}

#log-in.login-page {
    width: 300px;
    margin: 5px auto;
    padding: 5px;
}

#log-in.login-page input[type=text], #log-in.login-page input[type=password] {
    border: 1px solid #666;
    width: 200px;
    padding: 1px;
}

.about #sidebar {
	float: right;
	padding-top: 17px;
}

.index #sidebar {
	background: url(../images/side_grad.png) bottom left repeat-x #b8b8b8;
	color: #fff;
	overflow: hidden;
}

.index #sidebar .section#top_section {
	overflow: hidden;
	padding: 0;
	line-height: 0px;
}

.index #sidebar .section {
	padding: 6px;
	border-bottom: 12px solid black;
}

#footer {
	position: relative;
	clear: both;
	background: url(../images/foot.gif) bottom left repeat-x #000;
	padding-bottom: 17px;
	padding-left: 2px;
	padding-right: 2px;
	width: 100%;
	margin-left: -2px;
}

.index #footer {
	
}

#footer .inner {
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
	padding-bottom: 8px;
	width: 100%;
	margin-left: -2px;
}

.index #footer .inner {
	
}

#footer p, footer ul {
	margin: 0;
	padding: 6px;
	padding-right: 12px;
	padding-left: 12px;
}

.index #footer p, .index #footer ul {
	
}

#footer p, #footer ul {
	font-size: 1em;
}

#footer p span {
	text-align: right;
	display: block;
	position: absolute;
	right: 12px;
	top: 6px;
}

/*special home page elements*/

#fader {
	height: 200px;
	width: 400px;
	/*border: 1px solid #232526;*/
	border: 6px solid #fff;
	position: absolute;
	left: 409px;
	top: 50%;
	/*margin-left: -203px;*/
	margin-top: -76px;
	overflow: hidden;
}

/*special service page elements*/

ul#menu {
	
}

ul#menu li {
	background-repeat: repeat-x;
	line-height: 170%;
	
}

ul#menu a {
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	height: 32px;
	text-indent: -9999px;
}

#sidebar ul#menu div {
	/*padding: 6px;*/
	padding: 0 8px;
	background-repeat: no-repeat;
	background-position: left center;
	/*border: 6px solid white;*/
	position: relative;
	background: url(../images/top.png) top left repeat-x #040404;
}

ul#menu div a {
	height: auto;
	display: inline;
	text-indent: inherit;
	background: none;
}

ul#menu div h2 {
	padding-top: 1em;
}

ul#menu div p {
	margin: 0;
	padding-bottom: 1.2em;
}

.enabled ul#menu li.hide_div div {
	/*position: relative;
	background: none !important;
	border-color: #232526;
	z-index: -10;*/
	height: 0px;
	overflow: hidden;
	position: absolute;
	top: -9999px;
}

.enabled ul#menu li.placeholder div {
	visibility: hidden !important;
}

ul#menu div h2 {
	font-variant: small-caps;
}

.enabled ul#menu li.hide_div div p, .enabled ul#menu li.hide_div div h2 {
	
}

li#feature1 {
	background-image: url(../images/development_grad.png);
}

li#feature1 a {
	background-image: url(../images/front-end.png);
}

li#feature1 div{
	background-image: url(../images/development_logo.jpg);
}

li#feature2 {
	background-image: url(../images/seo_grad.png);
}

li#feature2 a {
	background-image: url(../images/back-end.png);
}

li#feature2 div{
	background-image: url(../images/seo_logo.jpg);
}

li#feature3 {
	background-image: url(../images/design_grad.png);
}

li#feature3 a {
	background-image: url(../images/cms.png);
}

li#feature3 div{
	background-image: url(../images/design_logo.jpg);
}

li#feature4 {
	background-image: url(../images/cms_grad.png);
}

li#feature4 a {
	background-image: url(../images/seo.png);
}

li#feature4 div{
	background-image: url(../images/cms_logo.jpg);
}

li#feature5 {
	background-image: url(../images/hosting_grad.png);
}

li#feature5 a {
	background-image: url(../images/hosting.png);
	height: 33px;
}

li#feature5 div{
	background-image: url(../images/hosting_logo.jpg);
}

/*portfolio elements*/

#slidewrap {
	position: relative;
	zoom: 1;
}

#slide {
	width: 762px;
	height: 130px;
	overflow: hidden;
	background: #000;
	margin: 15px auto;
	padding: 5px 2px 0px 2px;
}

#slide img {
	padding: 0px 2px;
	float: left;
	margin-bottom: 5px;
}

a.arrow {
	position: absolute;
	top: 50px;
	height: 37px;
	width: 37px;
	display: block;
	text-indent: -9999px;
}

a#prev {
	left: 0px;
	background: url(../images/prev.png) top left no-repeat;
}

a#next {
	right: 0px;
	background: url(../images/next.png) top left no-repeat;
}

a.arrow:hover, a.arrow:focus, a.arrow:active {
	background-position: bottom left !important;
	outline: none;
}

.mask {
	position: absolute;
	z-index: 9990;
	width: 254px;
	height: 125px;
	top: 5px;
	opacity: .6;
	filter: alpha(opacity=60);
	background: #000;
}

.enabled .mask {
	*top: 20px; /*damn you IE*/
}

.mask#right {
	right: 45px;
}

.mask#left {
	left: 45px;
}

.portfolio #page #top {
	overflow: hidden;
	_overflow: visible;
	_zoom: 1;
	background: #000;
	padding: 12px;
}

.child {

}

.image {
	background: #fff;
	padding: 1px;
	border: 1px solid #7e7f7f;
}

.image img {
	border: 1px solid #c9c9c9;
	height: 198px;
	width: 378px;
}

.portfolio #page #top .image {
	float: right;
	height: 200px;
	width: 380px;
}

.portfolio #page #top .column {
	width: 418px;
	float: left;
	padding: 8px;
	min-height: 188px;
	_height: 188px;
	background: #232526;
}

.portfolio #page #top p.caption {
	clear: both;
	float: right;
	width: 384px;
	text-align: center;
	margin: 0;
	line-height: 100%;
	padding-top: .6em;
}

.portfolio #page #top p.caption a, .portfolio #page #top p.caption a:visited {
	color: #fff;
}



/*dynamic styles*/

.enabled .inviz {
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden !important;
}

/*contact page*/
#jsrequired {
	font-weight: bold;
	color: red;
}

.enabled #jsrequired {
	display: none;
}

#contactform {
	width: 400px;
	margin: 0 auto;
}

#contactform fieldset {
	text-align: right;
}

#contactform input.text, #contactform textarea {
	border: 1px solid #ccc;
}

#contactform input {
	padding: 2px;
	width: 210px;
}

#contactform textarea {
	padding: 2px;
	width: 396px;
	height: 100px;
}

#submit {
	width: auto !important;
}

/*extra*/
form.paypal {
	text-align: center; width: 48%; float: left;
}
div.banner {
	width: 728px; margin: 0 auto;
}
div.banner p {
	margin: 1.2em 0;
}

a#hide-ad {
	font-size: 12px;
}

a#read-blog {
	display: block;
	width: 100px;
	height: 31px;
	background: url(/images/read-blog.png) top left no-repeat;
	position: absolute;
	left: 18px;
	bottom: 1px;
	text-indent: -9999px;
}

a#read-blog:hover {
	background: url(/images/read-blog.png) bottom left no-repeat;
}

.show-code {
	margin: 20px 0;
}

.show-code .dashed, .show-code a {
	display: none;
}

.enabled .show-code .dashed, .enabled .show-code a {
	display: inline;
}

.show-code code {
	font-size: 1.6em;
}

.enabled .show-code code, .enabled .show-code pre {
	display: none;
}

p#bottom-info {
	position: absolute;
	bottom: 10px;
	right: 0;
	font-size: 1em;
	color: #bfbfbf;
        width: 100%;
        text-align: center;
}

#viewport, #viewport2, .mapwrapper {
        width: 469px;
        height: 400px;
        cursor: move;
        margin: 20px auto;
        overflow: hidden;
}

.mapwrapper {
    position: relative;
}

.map-control {
    position: absolute;
    top: 30px;
    right: 10px;
    background: url(../images/map-control.png) no-repeat;
    height: 63px;
    width: 100px;
}

.map-control a {
    height: 18px;
    width: 18px;
    display: block;
    text-indent: -999em;
    position: absolute;
    outline: none;
}

.map-control a:hover {
    background: #535353;
    opacity: .4;
    filter: alpha(opacity=40);
}

.map-control a.left {
    left: 39px;
    top: 22px;
}

.map-control a.right {
    left: 79px;
    top: 22px;
}

.map-control a.up {
    left: 59px;
    top: 2px;
}

.map-control a.down {
    left: 59px;
    top: 42px;
}

.map-control a.zoom {
    left: 2px;
    top: 8px;
    height: 21px;
    width: 21px;
}

.map-control a.back {
    left: 2px;
    top: 31px;
    height: 21px;
    width: 21px;
}

#link-unit {
    border-bottom: 1px solid #232526;
    margin-bottom: 16px;
    padding: 8px 0;
    overflow: hidden;
}

table.tasks {
    width: 48%;
    text-align: left;
}

table.tasks th, table.tasks td {
    padding: 2px 5px;
    background: #ccc;
    color: #000;
}

table.tasks h2 {
    color: #059b01;
}

table.tasks td {
    text-align: center;
}

table.tasks td.description {
    text-align: left;
}

input.checkoff {
    cursor: default !important;
}

#resolved-table td.description {
    text-decoration: line-through;
}

table.tasks tr.drag-on td {
    background: #999;
    color: #fff;
}

#freelance-jobs {
    position: absolute;
    top: 0;
    left: 181px;
    width: 188px;
    height: 32px;
}

#freelance-jobs a {
    display: block;
    height: 32px;
    background: url(/images/freelance-jobs.png) top left no-repeat;
    text-indent: -999em;
}

#freelance-jobs a:hover, #freelance-jobs a.active {
    display: block;
    height: 32px;
    background: url(/images/freelance-jobs.png) bottom left no-repeat;
}

#twitter {
    _display: none;/*IE6 users won't be interested anyway*/
    float: right;
    margin: 5px;
}

#top-ad {
    float: right;
    margin: 0 5px;
    clear: right;
}

#latest-post {
    width: 896px;
    margin: 15px auto;
    border: 2px solid #fff;
    font-size: 1.3em;
    padding: 3px 0;
    text-align: center;
}

ol.big-numbers li {
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: 1px dashed #fff;
    padding: 2px 0 5px;
    margin-bottom: 5px;
}

ol.big-numbers li span {
    font-weight: normal;
    font-size: .8em;
}

.rightmenu a.active {
    color: #fff !important;
    text-decoration: none !important;
    cursor: default;
}

#W {
    background-image: url(/images/big-w.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.tutorial blockquote, .tutorial .example {
    border: 1px dashed #666;
    padding: 5px;
    background: #fff;
    color: #000 !important;
    font-size: 1.1em;
    width: 600px;
    margin: 0 auto 1.5em;
}

.tutorial .example {
    font-size: 1em;
}

.tutorial .example a, .tutorial blockquote a {
    color: #326597;
}

.tutorial .example .dashed {
    border: 1px dashed #326597;
}

.tutorial .example a {
    font-weight: bold;
}

.tutorial .example .dashed a {
    font-weight: normal;
}

.tutorial blockquote * {
    color: #000 !important;
}

.tutorial blockquote a {
    text-decoration: underline !important;
}

.tutorial blockquote a:hover {
    text-decoration: none !important;
}

#clickhere {
    margin: 5px 0;
}

.bordered-images img {
    border: 2px solid #fff;
}

.gray .bordered-images img {
    padding: 5px;
    background: #232526;
    border: 1px solid #666;
}

.sidebox {
    width: 250px; border: 1px solid #fff; margin: 0 0 5px 5px; padding: 5px; text-align:center;
}

#anima-drag-overlay.show-overlay {
    opacity: .3;
    filter: alpha(opacity=30);
    background: #333;
}

#drag-group {
    overflow: hidden;
}

#drag-group > div {
    float: left;
    margin: 5px;
}

.imagegallery {
    margin: 5px auto;
    width: 300px;
    border: 2px solid #ccc;
    clear: both;
}

.thumbs {
    text-align: center;
}

.thumbs a img {
    border: 2px solid #000;
}

.thumbs a.active, .thumbs a:hover {
    outline: none;
}

.thumbs a.active img, .thumbs a:hover img {
    border: 2px solid #ccc;
}

#bottom-slider {
    _display: none !important;
    position: fixed;
    bottom: 50px;
    right: 0;
    overflow: hidden;
    width: 0px;
    background: #000;
}

#bottom-slider.open {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#bottom-slider > div {
    width: 300px;
}

#bottom-slider-close {
    position: absolute;
    font-weight: bold;
    left: 6px;
    top: 0;
    color: #fff;
}

#flip-intro {
    background: none !important;
}

#free-quote {
    background: #333;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    width: 450px;
    margin: 5px auto;
    text-align: center;
    padding: 5px 0;
}

#free-quote label, #free-quote input[type=submit] {
    font-size: 13px;
    vertical-align: top;
}

#free-quote textarea {
    width: 262px;
    height: 50px;
}

.window-inner {
    color: #333;
}

.window-inner img.left {
    margin: 0 10px 0 0;
}

.window-inner h3 {
    color: #000;
}

.popups table, .popups-rotate table, .popups-rotate-multiple table {
    text-align: center;
    width: 100%;
}

.popups table .first, .popups-rotate table .first, .popups-rotate-multiple table .first {
    text-align: left;
}

.popups table .last, .popups-rotate table .last, .popups-rotate-multiple table .last {
    text-align: right;
}

.popups table .first, .popups-rotate table .first, .popups-rotate-multiple table .first,
.popups table .last, .popups-rotate table .last, .popups-rotate-multiple table .last {
    width: 150px;
}

.popup-section {
    padding: 5px 0;
    margin-bottom: 20px;
    overflow: hidden;
    border-bottom: 1px dashed #fff;
}

#text-intro {
    width: 400px;
    bottom: 11px;
    border: 1px dashed #fff;
    padding: 5px;
    position: absolute;
    left: 404px;
}

#text-intro p {
    margin: .5em 0;
}

.tabbed {
    overflow: hidden;
    margin-bottom: 15px;
    border-top: 1px solid #666;
}
.tabbed li {
    display: block;
    float: left;
    margin-right: 4px;
    padding: 2px 4px;
    font-size: 1.2em;
    border: 1px solid #666;
    background: #ddd;
    border-top: none;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
}

.tabbed li.right {
    float: right;
    margin-right: 0;
    margin-left: 4px;
}

.tabbed li a {
    color: #333 !important;
}

.tabbed li a.active {
    font-weight: bold;
}
