<?php
    $myDoc=$this->params['modelObj'];
?>

<div id="desc">
<script type="text/javascript" src="<?=libUrl?>webComponents/opsis/saisie.js"></script>
<?

	include(libDir."class_formSaisie.php");

	$xmlform=file_get_contents(getSiteFile("designDir","form/xml/docSaisie.xml"));
	$myForm=new FormSaisie;
	$myForm->saisieObj=$myDoc;
	$myForm->entity="DOC";
	$myForm->classLabel="label_champs_form";
	$myForm->classValue="val_champs_form";
	$myForm->classHelp="help_champs_form";
	$myForm->display($xmlform);
	
	$id_lang_doc = $myDoc->t_doc['ID_LANG'];
?>
<div id="translationChooser" style="display : none ; ">
	<div class="translationChooser_msg"><?=kMsgRedirectTranslation?></div>
	<select class="translationChooser_select" id="id_lang_list" name="id_lang_list">
		<?=listOptions("select ID_LANG, LANG from t_lang where ID_LANG<>'".$id_lang_doc."' order by ID_LANG",array("ID_LANG","LANG"));?>
	</select>
	<div class="translationChooser_buttons" style="text-align : center ; ">
	<button class="translationChooser_ok std_button_style" onclick="id_lang=document.getElementById('id_lang_list').value;traduireDoc('index.php?urlaction=docSaisie&id_lang='+id_lang)"><?=kOk?></button>
	<button class="translationChooser_cancel std_button_style" onclick="closePopup(true)"><?=kAnnuler?></button>
	</div>
</div>
<? if(count($myDoc->arrVersions)>0){ ?>
<fieldset class="ui-widget ui-widget-content ui-corner-all">
<legend><?= kAutresVersions ?></legend>
<table border="0"> <!-- MS width="800" -->
<tr valign="top">
<td width='100' class="resultsHead"><?= kLangue ?></td>
<td width='600' class="resultsHead"><?= kTitre ?></td>
<td width='100' class="resultsHead">&nbsp;</td>
</tr>
<? foreach($myDoc->arrVersions as $idx=>$version){ ?>
	<tr>
	<td class="resultsCorps"><a href="javascript:saveAndGo('<?=$myPage->getName()?>?urlaction=docSaisie&id_doc=<?= $myDoc->t_doc['ID_DOC']?>&amp;id_lang=<?= $version['ID_LANG']?>')"><?= strtoupper($version['ID_LANG']) ?></a></td>
	<td class="resultsCorps"><a href="javascript:saveAndGo('<?=$myPage->getName()?>?urlaction=docSaisie&id_doc=<?= $myDoc->t_doc['ID_DOC'] ?>&amp;id_lang=<?= $version['ID_LANG']?>')"><?= $version['DOC_TITRE'] ?></a></td>
	<td class="resultsCorps"><a href="javascript:removeVersion('<?= strtoupper($version['ID_LANG']) ?>')"><img src="design/images/button_drop.gif" border="0" alt="trash" /></a></td>
	</tr>
<? } ?>
</table>
</fieldset>
<? } ?>

<script type="text/javascript">
if(document.getElementById("user_crea")) document.getElementById("user_crea").value='<?= $myDoc->user_crea ?>';
if(document.getElementById("user_modif")) document.getElementById("user_modif").value='<?= $myDoc->user_modif ?>';
if(document.getElementById("date_crea")) document.getElementById("date_crea").value=convDate('<?= $myDoc->t_doc['DOC_DATE_CREA'] ?>','jj/mm/aaaa');
if(document.getElementById("date_mod")) document.getElementById("date_mod").value=convDate('<?= $myDoc->t_doc['DOC_DATE_MOD'] ?>','jj/mm/aaaa');


var dp_config =  {  
dateFormat: 'yy-mm-dd',  
dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S']  
};

//$j(function(){
//	$j('#doc_date_prod').datepicker(dp_config);
//	$j('#doc_date_diff').datepicker(dp_config);
//	$j('#doc_date_diff_fin').datepicker(dp_config);
//});



</script>
<?
$myPage->renderReferrer();
?>
<br/>
</div>
