<?php
	global $db;
	
	$myDoc=$this->params['modelObj'];


$id_doc_int = (int) $myDoc->t_doc["ID_DOC"];
$id_doc = $id_doc_int;

if (empty($_REQUEST['actionSubtitle'])) {

	unset($_SESSION['sousTitrageEditionVolee']["lastInCatLangPUBLISHED"][$id_doc_int]);
	$_SESSION['sousTitrageEditionVolee']["lastInCatLangPUBLISHED"][$id_doc_int] = null;
	unset($_SESSION['sousTitrageEditionVolee']["lastInCatLang"][$id_doc_int]);
	$_SESSION['sousTitrageEditionVolee']["lastInCatLang"][$id_doc_int] = null;
	unset($_SESSION['sousTitrageEditionVolee']["AllInCatLang"][$id_doc_int]);
	$_SESSION['sousTitrageEditionVolee']["AllInCatLang"][$id_doc_int] = null;
	unset($_SESSION['sousTitrageEditionVolee']["activeSubtitle"][$id_doc_int]);
	$_SESSION['sousTitrageEditionVolee']["activeSubtitle"][$id_doc_int] = null;
	unset($_SESSION['sousTitrageEditionVolee'][$id_doc_int]);
	$_SESSION['sousTitrageEditionVolee'][$id_doc_int] = null;
	
}



?>
<script type="text/javascript">
var id_doc_int=<?= $id_doc_int ?>;
var id_mat_session=<?= intval($_SESSION['sousTitrageEditionVolee']['activeSubtitle'][$id_doc_int]['id_mat']) ?>;
var max_chars_line = 186;
</script>
					 
<script type="text/javascript" src="<?=libUrl?>webComponents/opsis/sousTitrage.js"></script>
<link rel="stylesheet" href="<?= designUrl ?>css/sousTitrage.css" type="text/css" />


    <div id="sousTitrage">




		<?php
		$exist_one_subtitle_mat = false;
		$tab_extSubtitle = array('SRT', 'VTT');
		if (defined('gSubtitleTypes')) {
			$gSubtitleTypes = unserialize(gSubtitleTypes);
			if (is_array($gSubtitleTypes) && !empty($gSubtitleTypes)) {
				$tab_extSubtitle = array_map("strtoupper", $gSubtitleTypes);
				unset($tab_extSubtitle['csv']);
			}
		}
		
		$jobAuthtot = $db->GetAll("select * from t_job, t_module WHERE job_id_module=id_module and module_nom='authot' and job_param like '%<ID_DOC>" . $myDoc->t_doc['ID_DOC'] . "</ID_DOC>%' ORDER BY id_job DESC LIMIT 1");

		if (!empty($jobAuthtot) && $jobAuthtot[0]['JOB_ID_ETAT'] != jobErreur && $jobAuthtot[0]['JOB_ID_ETAT'] != jobFini) {
			?>
			<script>
				id_job_ligne =<? echo $jobAuthtot[0]['ID_JOB']; ?>;
				id_doc = <? echo $myDoc->t_doc['ID_DOC']; ?>;
				job_nom = '<? echo $jobAuthtot[0]['JOB_NOM']; ?>';
				url = '<?=$myPage->getName()?>?urlaction=docSaisie&form=docSousTitres&id_doc=' + id_doc + '&id_lang=FR&rang=1';
				$j(document).ready(function () {
					setTimeout("updateProgressJob(id_job_ligne,url);", 2000);
				});
			</script>
			<?
		} else if (!empty($jobAuthtot) && $jobAuthtot[0]['JOB_ID_ETAT'] == jobErreur) {

			echo '
			<script>
				$j("#sousTitrage").prepend(\'<div id="error_transcription" >Traitement de transcription en erreur</div>\');
			</script>
			';
		}




		if (!empty($myDoc->t_doc_mat) && is_array($myDoc->t_doc_mat)) {

			//on regarde si on a appelé getMats()dans l'objet $myDoc (on se base sur la 1ère ligne)
			if (!array_key_exists("MAT", $myDoc->t_doc_mat[0])) {
				$myDoc->getMats(true);
			}

			$can_update_lang = false;
			if (defined('kSousTitrage_lang')) {
				$tab_subtitleLang_VAL = unserialize(kSousTitrage_lang);

				if (is_array($tab_subtitleLang_VAL) && !empty($tab_subtitleLang_VAL)) {
					if (trim($tab_subtitleLang_VAL['id_type_val']) != '') {
						$can_update_lang = strtoupper(trim($tab_subtitleLang_VAL['id_type_val']));
						define('ID_TYPE_VAL_FOR_SUBTITLE', $can_update_lang);
					}
				}
			}

			foreach ($myDoc->t_doc_mat as $k => $v) {

				$tab_mat = explode('.', $v['MAT']->t_mat['MAT_NOM']);
				$langueSubtitle = strtolower(substr($tab_mat[0], -2));
				$langueVERS = null;

				if (in_array($v['MAT']->t_mat['MAT_FORMAT'], $tab_extSubtitle)) {

					$exist_one_subtitle_mat = true;

					foreach ($v['MAT']->t_mat_val as $v2) {

						if ($v2["VAL_ID_TYPE_VAL"] == $can_update_lang && !empty($v2["VAL_CODE"])) {
							$langueVERS = $v2["VAL_CODE"];
							break;
						}
					}


					if (empty($langueVERS)) {


						if ($can_update_lang) {
							$constante_lang_vers = (int) $tab_subtitleLang_VAL['supported'][$langueSubtitle];

							//on maj t_mat_val suivant extension ex: soustitre_fr.vtt=> VERS dans le conf.ini
							if (!empty($constante_lang_vers)) {
								$myMatSubtitle = new Materiel();
								$myMatSubtitle->t_mat['ID_MAT'] = $v['MAT']->t_mat['ID_MAT'];
								$myMatSubtitle->t_mat_val[] = array('ID_VAL' => $constante_lang_vers, 'ID_TYPE_VAL' => $can_update_lang);
								$myMatSubtitle->saveMatVal(true, $can_update_lang); //true=>purge des autres VERS à chaque fois
							}
						}
					}
				}
//                    break; //pas de break, car il faut mettre à jour t_mat_val VERS sur tous les matériels, notamment ceux qu'on vient uploadé
			}//			foreach ($myDoc->t_doc_mat as $k => $v) ;



			$myDoc->getMats(true);
		}
		
		
		
	$idEtapeAuthot = $db->GetOne("select id_etape from t_etape, t_module WHERE etape_id_module=id_module and module_nom='authot'");
	if(!empty($idEtapeAuthot)){
?>

<div id="generateTranscription">
	<div><label for="generateTranscription_select"><?= kSousTitrage_selectTranscriptionLabel ?> : </label></div>
	<select id="generateTranscription_select">
		<?php
			foreach ($myDoc->t_doc_mat as $k => $dm) {
				if($dm['MAT']->t_mat['MAT_TYPE']=='VISIO' && $dm['MAT']->hasfile && $dm['MAT']->t_mat['MAT_TYPE_MIME']=='video/mp4'){
					$option_value = $dm['MAT']->t_mat['ID_MAT']."|".$dm['DMAT_ID_LANG'];
					$dmat_id_lang = empty($dm['DMAT_ID_LANG'])?"":"(".$dm['DMAT_ID_LANG'].")";
					echo '<option value="'.$option_value.'">'.$dm['MAT']->t_mat['MAT_NOM'].$dmat_id_lang.'</option>';
				}
			}
		?>
	</select>
	<button> <?= kGenerer ?></button>
	
	<span id="job_progress_authot"></span>
</div>

<?php
	}


		if ($exist_one_subtitle_mat) {


			// RECHERCHE du matériel de diffusion
			require_once(modelDir.'model_docMat.php');
			$mat_diffusion = null;
			foreach ($myDoc->t_doc_mat as $v) {
				if ($v['MAT']->t_mat['MAT_TYPE'] == 'VISIO' && $v['MAT']->hasfile) {
					$mat_diffusion[$v['MAT']->t_mat['ID_MAT']] = $v['MAT']->t_mat['MAT_NOM'];
//					break;//il  peut avoir plusieurs matériels de diffusion,  a_diff.mp4, b_diff.mp4 par ex
				}
			}



			if (empty($_SESSION['sousTitrageEditionVolee']['activeSubtitle'][$id_doc_int]['id_mat'])) {

				$tab_t_doc_mat = array_reverse($myDoc->t_doc_mat, true);

				foreach ($tab_t_doc_mat as $v) {

					$tab_mat = explode('.', $v['MAT']->t_mat['MAT_NOM']);

					if (in_array($v['MAT']->t_mat['MAT_FORMAT'], $tab_extSubtitle)) {

						$langueSubtitle = substr($tab_mat[0], -2);
						if (strtoupper($langueSubtitle) == strtoupper($_SESSION['langue'])) {

							//On met [$id_doc_int] pour que la client puisse modifier 1 seul fichier de sous-titre MAXI sur plusieurs notices
							$_SESSION['sousTitrageEditionVolee']['activeSubtitle'][$id_doc_int]['id_mat'] = (int) $v['MAT']->t_mat['ID_MAT'];
							$_SESSION['sousTitrageEditionVolee']['activeSubtitle'][$id_doc_int]['type'] = $v['MAT']->t_mat['MAT_FORMAT'];
							break;
						}
					}
				}
			}

//  ACTION PUBLICATION
//Attention, bien mettre cette action publication AVANT l'affichage des statuts publié/non publié des différents matériels (AVANT sousTitrage.xsl) + avant la création de t_mat_published + avant l'action save qui utilise la variable php t_mat_published

			function getTabMatPublished(Doc $myDoc, $tab_extSubtitle, $tab_subtitleLang_VAL) {
				$tab_mat_published = array();
				$tab_mat_NOTpublished = array();
				foreach ($myDoc->t_doc_mat as $k => $v) {
					$tab_mat = explode('.', $v['MAT']->t_mat['MAT_NOM']);
					$langueSubtitle = null;
					
					

					if (in_array($v['MAT']->t_mat['MAT_FORMAT'], $tab_extSubtitle)) {
						
						foreach ($v['MAT']->t_mat_val as $v2) {

							if ($v2["VAL_ID_TYPE_VAL"] == ID_TYPE_VAL_FOR_SUBTITLE && !empty($v2["VAL_CODE"])) {
								$langueSubtitle = $v2["VAL_CODE"];
								break;
							}
						}



						if ($v['DMAT_INACTIF']) {
							$tab_mat_NOTpublished[] = $v['MAT']->t_mat["ID_MAT"];
						}

						if (!empty($langueSubtitle) && array_key_exists(strtolower($langueSubtitle), $tab_subtitleLang_VAL["supported"]) && !$v['DMAT_INACTIF']) {
							//comme on écrase, si on trouve 2 matériel sous-titres publiés dans 1 même langue, on va prendre celui avec le + grand id_mat
							$tab_mat_published[$langueSubtitle] = $v['MAT']->t_mat["ID_MAT"];
						}
					}
				}

				return array($tab_mat_published, $tab_mat_NOTpublished);
			}

			foreach ($myDoc->t_doc_mat as $v) {
				if ($v["ID_MAT"] == $_SESSION['sousTitrageEditionVolee']['activeSubtitle'][$id_doc_int]['id_mat']) {
					$mydMatSubtitle = new DocMat();
					$mydMatSubtitle->t_doc_mat['ID_DOC_MAT'] = $v["ID_DOC_MAT"];
					$mydMatSubtitle->getDocMat();



					if ($_REQUEST['actionSubtitle'] == 'publication') {

//                echo 'DMAT_INACTIF '.$mydMatSubtitle->t_doc_mat['DMAT_INACTIF'].'<br />';
//						echo 'request publié';

						if ($mydMatSubtitle->t_doc_mat['DMAT_INACTIF']) {
							$mydMatSubtitle->t_doc_mat['DMAT_INACTIF'] = 0;
							$mydMatSubtitle->save();
							//Important, on maj $myDoc qui est utilisé pour l'affichage de divers xsl
							$myDoc->getDocMat();
							$myDoc->getMats(true); //Important , true=> avec t_mat_val
							//on doit également régénerer la version sous-titrée du matériel de diffusion si on PUBLIE
							?>
							<script>
					<?php
					if (!empty($mat_diffusion)) {
						$key_mat_diffusion = array_keys($mat_diffusion);
						?>

									$j.get("empty.php?urlaction=subtitle&id_mat=0&id_doc=<?php echo $id_doc_int ?>&info_isModified", function (data) {

										//attention à bien mettre la sauvegarde du fichier APRES la detection de modif sinon on peut pas detecter les modifs
										if (data == 'true') {
											if (confirm("<?php echo kSousTitrage_beforePublicationIsModifiedWarning ?>")) {
												actionSubtitle(0,<?php echo $id_doc_int ?>, 'save');
											}
										}
						<?php
						echo 'var tab_mat_diff=[';
						echo implode(',', $key_mat_diffusion);
						echo '];';
						?>


									});


						<?php
					} else {
						?>
									alert("<?php echo kSousTitrage_subtitledVersionGenNoMat ?>");

						<?php
					}
					?>
							</script>
							<?php
						} else {
							$mydMatSubtitle->t_doc_mat['DMAT_INACTIF'] = 1;
							$mydMatSubtitle->save();
							//Important, on maj $myDoc qui est utilisé pour l'affichage de divers xsl
							$myDoc->getDocMat();
							$myDoc->getMats(true); //Important , true=> avec t_mat_val
						}
					}


					break;
				}
			}




// Attention ! à mettre APRES l'action publication pour lastInCatLang et AllInCatLang SOIENT maj
			unset($_SESSION['sousTitrageEditionVolee']['lastInCatLang'][$id_doc]);
			unset($_SESSION['sousTitrageEditionVolee']['lastInCatLangPUBLISHED'][$id_doc]);
			unset($_SESSION['sousTitrageEditionVolee']['AllInCatLang'][$id_doc]);
			foreach ($myDoc->t_doc_mat as $v) {
				$tab_mat = explode('.', $v['MAT']->t_mat['MAT_NOM']);

				if (in_array($v['MAT']->t_mat['MAT_FORMAT'], $tab_extSubtitle)) {

					foreach ($v["MAT"]->t_mat_val as $value) {

						if ($value['ID_TYPE_VAL'] == $can_update_lang) {
							//utilisé dans l'upload pour savoir quand on importe avec écrasement lequel on doit supprimer (car écraser= supprimer le courant + importer nouveau)
//							echo 'DMAT_INACTIF '.$v["DMAT_INACTIF"];
							if (!$v["DMAT_INACTIF"]) {
								$_SESSION['sousTitrageEditionVolee']['lastInCatLangPUBLISHED'][$id_doc][$value['ID_VAL']] = $v["MAT"]->t_mat["ID_MAT"];
							}
							$_SESSION['sousTitrageEditionVolee']['lastInCatLang'][$id_doc][$value['ID_VAL']] = $v["MAT"]->t_mat["ID_MAT"]; //pour l'upload
							//quand on dépublie => pas de contrôle
							//quand on publie => on vérifie d'abord si il n'y a pas un autre publié DANS cette catégorie de langue, donc on a besoin de savoir à quelle langue appartient le matériel(publié ou pas) que l'on souhaite publier (même si la langue  du matériel ne change pas suivant le doc (t_mat_val et non t_doc_mat_val), on met le $id_doc dans $_SESSION['AllInCatLang'] CAR la liste des doc peut varier suivant les docs(collision de session)
							$_SESSION['sousTitrageEditionVolee']['AllInCatLang'][$id_doc][$value['ID_VAL']][] = $v["MAT"]->t_mat["ID_MAT"];
						}
					}
				}
			}
			// FIN ACTION PUBLICATION




			// MATERIEL DE SOUS-TITRE ACTIF



			$tab_mat_publishedANDun = getTabMatPublished($myDoc, $tab_extSubtitle, $tab_subtitleLang_VAL);
			$tab_mat_published = $tab_mat_publishedANDun[0];
			
			// FIN MATERIEL DE SOUS-TITRE ACTIF

			$xml = $myDoc->xml_export(); //Attention on est obligé de refaire ->xml_export() après la maj de $myDoc->getDocMat() dans l'action publication
			if (strlen($xml) > 0) {
				$html = TraitementXSLT($xml, getSiteFile("listeDir", "sousTitrage.xsl"), array('sousTitre_extension' => 'srt,vtt'), 0, $xml);
				$return_eval= eval("?".chr(62).$html.chr(60)."?"); //eval du code pour interpréter le PHP embarqué.
				if($return_eval === false){
					trace('EVALCRASH View::dspXSL - eval crash ');
				}
				//echo $html;
			}
			?>
<script>
<?php
	echo 'var tab_mat_published=['.implode(',', $tab_mat_published).'];';
	if (!empty($mat_diffusion)) {
		$key_mat_diffusion = array_keys($mat_diffusion);
	}
	echo 'var tab_mat_diff=['.implode(',', $key_mat_diffusion).'];';
	echo 'id_mat_session = '.intval($_SESSION['sousTitrageEditionVolee']['activeSubtitle'][$id_doc_int]['id_mat']).';';
?>

</script>
			<div id="currentSubtitleWrapper" class="hidden">
			<div id="currentSubtitle">

			</div>

			<form id="actionFORMSubtitle" class="hidden" method="POST">
				<input type="hidden" name="actionSubtitle" value="publication">
				<table>
					<tr>
						<td><input class="std_button_style" type="button" id="saveSubtitle" value="<?php echo kEnregistrer ?>"></td>
						<td><input type="button"  class="std_button_style" id="restoreSubtitle"  value="<?php echo kRestaurer ?>" ></td>
						<td><?php
			if ($mydMatSubtitle->t_doc_mat['DMAT_INACTIF']) {
				echo '<input  class="std_button_style" type="submit" id="publishButton"  value="' . kPublier . '">';
				echo '<input type="hidden" id="publishValue"  value="unpublished">';
			} else {
				echo '<input  class="std_button_style" type="submit" id="publishButton"  value="' . kDepublier . '">';
				echo '<input type="hidden" id="publishValue"  value="published">';
			}
			?>


						</td>
						<td><input type="button"  class="std_button_style" id="exportSubtitle"  value="<?php echo kExporter ?>" ></td>
						
						<td></td>
					</tr>

				</table>
			</form>
			</div>


			<?php
		} else {
			echo kSousTitrage_aucunMateriel;
			?>
			<input type="button" class="std_button_style" id="importSubtitle" value="<?php echo kImporter ?>"/>
			<?php
		} // endif ($exist_one_subtitle_mat)
		?>


        <div id="dialog_loading" title="<?php echo kVeuillezPatienter ?>..." >
            <img src="<?php echo designUrl ?>images/ajax-loader2.gif" />
        </div>

		<div id="dialog_alert">
		</div>

    </div>

