<?php
    $myDoc=$this->params['modelObj'];
    ?>

	<div id="desc">
		<? //debug($myDoc); ?>
		 
			 <form name="form1" id="form1" method="post" action="<?=$myPage->getName()?>?urlaction=docSaisie">
				<input name="commande" type="hidden" value="" />
				<input name="page" type="hidden" value="" />
			 
			</form>
			<? /** POUR FAIRE DU CUSTOM, remplacer les chemins css et imgDir **/?>
		<?	
		$trueIfFile= ($myDoc->t_doc['DOC_NUM']=="1"?"true":"false");
		$trueIfAV= (($myDoc->t_doc['DOC_ID_MEDIA']=="A" || $myDoc->t_doc['DOC_ID_MEDIA']=="V")?"true":"false");
		// Borne par défaut du visionnage
		$id_mat_vis=$myDoc->getMaterielVisu();
		foreach($myDoc->t_doc_mat as $i => $dm){
			if($dm['ID_MAT']==$id_mat_vis){
				$dmat_tcin=$dm['DMAT_TCIN'];
				$dmat_tcout=$dm['DMAT_TCOUT'];
			}
		}
		?>

		<script type='text/javascript'>
				var myPanel;

				params= {
					defaultTCIN 					: 	"<?=$dmat_tcin ?>",
					videoLength 					: 	"<?=$dmat_tcout ?>",
					msgConfirmAbanbon				: 	"<?=kConfirmerAbandon?>",
					msgTitreDefaut					:	"<?=kVisioNomDefautExtrait?>",
					mode							:	"sequence",
					formName						:	"form2",
					imgDir							: 	"<?=libUrl?>webComponents/oraoweb/css/images/boutons/",
					language						: 	'<?= ($_SESSION['langue']=='FR'?'fr':'en') ?>',
					TCButton						: <?=	$trueIfAV ?>,
					selectAllButton					: <?=	$trueIfAV ?>,
					playButton						: false
				}
				myPanel=new rightPanel(null,'<?=$myDoc->t_doc['ID_DOC']?>',params);

		window.onbeforeunload=confirmExit;
				function confirmExit() {if (myPanel._hasChanged) return '<?= kJSConfirmExit?>';}
				
			</script>

		<div id='sidecommande'></div>
		<script type="text/javascript">
			myPanel.dspBar();
			myPanel.refreshContent();
		</script>
	 
	 
	</div>
