<?php
    $myHtml=$this->params['modelObj'];
?>

<div id="pageTitre" class="title_bar"><?= kPageDetail ?></div>
<div class='main_content'>
	<script type="text/javascript" src="<?=libUrl?>webComponents/tinymce/tinymce.min.js"></script>
	<script type="text/javascript">
				tinymce.init({
				selector: "textarea.HTML_CONTENU",
				plugins: [
					"advlist autolink lists link image charmap print preview anchor",
					"searchreplace visualblocks code fullscreen",
					"insertdatetime media table contextmenu paste  "
						],
				 theme_advanced_buttons1 :  "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link   media ",
				autosave_ask_before_unload: false,
				relative_urls: false,	
				invalid_elements : "<script>",
				file_browser_callback : MadFileBrowser, 
				// MS - 18.09.17 - réactivation de l'option entity_encoding = raw (cf doc tinyMCE)
				// cette option évite l'encodage de toutes les htmlentities tout en conservant les encodages basiques des caractères & < > "
				// Cette option permet d'éviter des crash du simpleXMLElement dans la fonction removeScriptTags => permet normalement un stockage / edition correcte des pages HTML statiques 
				entity_encoding : "raw"
					
				 });
	/*		VERSION MFM	
	function MadFileBrowser(field_name, url, type, win) {	  
		  tinyMCE.activeEditor.windowManager.open({
			  file : "empty.php?urlaction=mfm&field=" + field_name + "&url=" + url + "",
			  title : 'File Manager',
			  width : 640,
			  height : 450,
			  resizable : "no",
			  inline : "yes",
			  close_previous : "no"
		  }, {
			  window : win,
			  input : field_name
		  });
		  return false;
		}
		*/
		
		//version maison
		function MadFileBrowser(field_name, url, type, win) {	
		  tinymce.activeEditor.windowManager.open({
			title: 'Upload',
			file: "empty.php?urlaction=uploadTinymce&field=" + field_name + "&url=" + url + "&type=" + type,
			width: 700,
			height: 500,
			resizable : "yes",
			inline : "yes",
			close_previous : "no",
			window : win
		});

		return false;
	}



	</script>	

	<noscript>
	  <meta http-equiv="refresh" content="0;URL='index.php?urlaction=htmlListe'">
	</noscript>

<div id="docHeader">
    <div id="backButton"><?=$myPage->renderReferrer(kRetourListeRecherche, 'class="icoBackSearch"');?></div>
    <div id="pageTitre"><?= $this->params['title'] ?>&nbsp;</div>
    
    
    <div class="toolbar">
        <div  onclick="triggerPrint('html')" class="print tool"><span class="tool_hover_text"><?=kImprimer?></span>&#160;</div>
        <? if(isset($myHtml) && isset($myHtml->t_html['ID_HTML'])){?>
        <div class="menu_actions tool" ><span class="tool_hover_text"><?echo kMenuActions;?></span>
        <div class="drop_down" style="display:none;">
            <ul>
                <li onclick="displayMenuActions('export','html','<?=$myHtml->t_html['ID_HTML'];?>');"><? echo kExporter;?></li>
            </ul>
        </div>&#160;
    </div>
    <?}?>
</div>
</div>
<div class="scrollableDiv contentBody">
    <include type="formSaisie"/>
</div>
<div id='chooser' name='chooser' style='position:absolute;'></div>
