<?php
    $myMat=$this->params['modelObj'];
    
    $myPage=Page::getInstance();
    
    $myPage->titre=str_replace(chr(34),'',$myMat->t_mat['MAT_NOM']);
    
    // report de la taille calculée de façon lisible dans l'objet avant la génération du formulaire (report fonctionnement GDF)
    $myMat->t_mat['TAILLE'] = $myMat->taille;
    
    //if(is_file($myMat->getLieu().$myMat->t_mat['MAT_NOM'])){
    //    require_once(libDir."class_matInfo.php");
    //    $fileInfo=MatInfo::getMatInfo($myMat->getLieu().$myMat->t_mat['MAT_NOM']);
    //    if ($fileInfo['xml']) $myMat->t_mat['MAT_INFO']=$fileInfo['xml'];
    //}

    if($_GET["display"]=="editDocMat"){
        $dispMat="none";
        $dispDocMat="block";
        $dispStory="none";
        $dispSavMat="none";
        $dispMatChildren="none";
    }elseif($_GET["display"]=="matChildren"){
        $dispMat="none";
        $dispDocMat="none";
        $dispStory="none";
        $dispSavMat="none";
        $dispMatChildren="block";
    }elseif($_GET["display"]=="editSavMat"){
        $dispMat="none";
        $dispDocMat="none";
        $dispStory="none";
        $dispSavMat = "block";
        $dispMatChildren="none";
    }elseif($_GET["display"]=="editStory"){
        $dispMat="none";
        $dispDocMat="none";
        $dispStory="block";
        $dispSavMat = "none";
        $dispMatChildren="none";
    }else{
        $dispMat="block";
        $dispDocMat="none";
        $dispStory="none";
        $dispSavMat="none";
        $dispMatChildren="none";
    }

    $trueIfFile= ($myMat->hasfile?"true":"false");
    $trueIfVideo= (($myMat->t_mat['MAT_ID_MEDIA']=="V"||$myMat->t_mat['MAT_ID_MEDIA']=="A")?"true":"false");
?>
<div id="docHeader">
    <div id="backButton"><?=$myPage->renderReferrer(kRetourListeRecherche, 'class="icoBackSearch"');?></div>
    <div id='pageTitre'><?= $myMat->t_mat['MAT_NOM'] ?></div>
    
    
    <div class="toolbar">
        <? if($myMat->hasfile){
        $matFile=$myMat->getLieu().$myMat->t_mat['MAT_NOM'];
        
        if(preg_match("|<size>(.*)</size+>|",$myMat->t_mat['MAT_INFO'],$matches)) $size=$matches[1];
        else $size=filesize($matFile);
        $matUrl = prepareMatForDownload($matFile, $myMat->t_mat['MAT_NOM']);
        ?>
        <div onclick="window.location='<?=$matUrl;?>'" id="download" class="tool"><span class="tool_hover_text"><?=kTelecharger?></span>&#160;</div>
        <? } ?>
        <div id="consult" onclick="javascript:saveIfAndGo('<?=$myPage->getName()?>?urlaction=mat&id_mat=<?= $myMat->t_mat['ID_MAT']?>');" class="tool"><span class="tool_hover_text"><?=kConsultation?></span>&#160;</div>
        <div  onclick="triggerPrint('mat')" class="print tool"><span class="tool_hover_text"><?=kImprimer?></span>&#160;</div>
        <? if(isset($myMat) && isset($myMat->t_mat['ID_MAT'])){?>
        <div class="menu_actions tool" ><span class="tool_hover_text"><?echo kMenuActions;?></span>
            <div class="drop_down" style="display:none;">
                <ul>
                    <li onclick="displayMenuActions('export','mat','<?=$myMat->t_mat['ID_MAT'];?>');"><? echo kExporter;?></li>
                </ul>
            </div>&#160;
        </div>
        <?}?>
    </div>
</div>

<script type="text/javascript" href="<?=libUrl?>webComponents/opsis/saisie.js"></script>
<script type="text/javascript">
    var formChanged=false;
    var myPanel;
    
    function addDoc(id_champ,valeur,idx) { //On appelle export pour générer le XML du DOC

        return !sendData('GET','export.php','xmlhttp=1&id='+idx+'&id_lang=<?=$myMat->id_lang?>&type=doc&export=0&impression=screen','addDocAJAX');
    }

    function showPanel(it){
        params= 0;
        
        if(it=='story'){
            params= {
                defaultTCIN 					: 	"<?=$myMat->t_mat['MAT_TCIN']?>",
                videoLength 					: 	"<?=$myMat->t_mat['MAT_TCOUT']?>",
                msgConfirmAbanbon				: 	"<?=kConfirmerAbandon?>",
                mode							:	"storyboard:materiel",
                formName						:	"form2",
                imgDir							: 	"<?=libUrl?>webComponents/oraoweb/css/images/boutons/",
                language						: 	'<?= ($_SESSION['langue']=='FR'?'fr':'en') ?>',
                playButton						: false,
                TCButton						: <?= $trueIfFile  && $trueIfVideo ?>,
                captureButton					: true,
                selectAllButton					: true,
                removeAllButton					: true,
                addButton						: false,
                nbLignes						: 9
                
            }
            tab_id="editStory";
        }else if(it =='documents'){
            params= {
                defaultTCIN 					: 	"<?=$myMat->t_mat['MAT_TCIN']?>",
                videoLength 					: 	"<?=$myMat->t_mat['MAT_TCOUT']?>",
                msgConfirmAbanbon				: 	"<?=kConfirmerAbandon?>",
                msgTitreDefaut					:	"<?=kVisioNomDefautExtrait?>",
                mode							:	"materiel",
                formName						:	"form2",
                imgDir							: 	"<?=libUrl?>webComponents/oraoweb/css/images/boutons/",
                language						: 	'<?= ($_SESSION['langue']=='FR'?'fr':'en') ?>',
                playButton						: false,
                TCButton						: <?= $trueIfFile  && $trueIfVideo ?>,
                selectAllButton					: <?= $trueIfFile  && $trueIfVideo ?>,
                addButton						: true,
                selectButton					: true
            }
            tab_id="editDocMat";
        }
        if(params) {
            
            sidecommandeObj=document.getElementById('sidecommande').cloneNode(true); //clonage du sidecommande
            document.getElementById('sidecommande').parentNode.removeChild(document.getElementById('sidecommande'));
            //if(document.getElementById('icon_bar')) document.getElementById('icon_bar').parentNode.removeChild(document.getElementById('icon_bar'));
            tab=document.getElementById(tab_id);
            tab.appendChild(sidecommandeObj);
            
            if (typeof(myPanel)=='undefined') {myPanel=new rightPanel(myVideo,'<?=$myMat->t_mat['ID_MAT']?>',params);}
            else {myPanel.init(myVideo,'<?=$myMat->t_mat['ID_MAT']?>',params);}
            myPanel.resetContent();
            myPanel.dspBar();
            myPanel.refreshContent();
        }
        
    }
window.onbeforeunload=confirmExit;
function confirmExit() {if (myPanel._hasChanged) return '';}

    </script>
<script>makeDraggable(document.getElementById('chooser'));</script>

<div id="docBody" class="mos">
    <div id="leftBlock">
        <? include (getSiteFile("designDir","mediaDisplay.inc.php")); ?>
    </div>
    <div id="fiche_info" class="<?=($entity_has_media)?'':'no_media'; ?>">
        <div id="desc">
            
            
            <ul class="panelSelWrapper">
                <li class="panelSel <?=((((!isset($_GET['form']) || empty($_GET['form'])) && ( !isset($_GET['display']) || empty($_GET['display'] )|| $_GET['display'] == "editMat")  ) && ( $_GET['urlaction'] == 'matSaisie'))?'selected':'')?>" onclick="javascript:saveIfAndGo('<?=$myPage->getName()?>?urlaction=matSaisie&amp;id_mat=<?=$myMat->t_mat['ID_MAT'] ?>&mat_id_doc=<?= $mat_id_doc ?>&display=editMat')"><?= kMateriel ?></li>
                <li class="panelSel <?=((isset($_GET['display']) && $_GET['display']=='editDocMat')?'selected':'')?>" onclick="javascript:saveIfAndGo('<?=$myPage->getName()?>?urlaction=matSaisie&amp;id_mat=<?=$myMat->t_mat['ID_MAT'] ?>&mat_id_doc=<?= $mat_id_doc ?>&display=editDocMat')"><?= kDocumentsLies?></li>
				<? if($myMat->t_mat['MAT_ID_MEDIA']=='V' && !empty($myMat->t_mat['MAT_ID_IMAGEUR'])){ ?>
				<li class="panelSel <?=((isset($_GET['display']) && $_GET['display']=='editStory')?'selected':'')?>" onclick="javascript:saveIfAndGo('<?=$myPage->getName()?>?urlaction=matSaisie&amp;display=editStory&amp;id_mat=<?= $myMat->t_mat['ID_MAT'] ?>&amp;mat_id_doc=<?= $mat_id_doc ?>&amp;from=materiel')"><?= kStoryboard ?></li>
				<? } ?>
                <? if(count($myMat->arrChildren)){ ?>
                <li class="panelSel <?=((isset($_GET['display']) && $_GET['display']=='matChildren')?'selected':'')?>" onclick="javascript:saveIfAndGo('<?=$myPage->getName()?>?urlaction=matSaisie&amp;id_mat=<?=$myMat->t_mat['ID_MAT'] ?>&mat_id_doc=<?= $mat_id_doc ?>&display=matChildren')"><?= kMaterielsLies ?></li>
                <? } ?>
                <? if(count($myMat->t_tape_file)){ ?>
                <li class="panelSel <?=((isset($_GET['display']) && $_GET['display']=='editSavMat')?'selected':'')?>" onclick="javascript:saveIfAndGo('<?=$myPage->getName()?>?urlaction=matSaisie&amp;id_mat=<?=$myMat->t_mat['ID_MAT'] ?>&mat_id_doc=<?= $mat_id_doc ?>&display=editSavMat')"><?= kSauvegardes ?></li>
                <? } ?>
            </ul>

            <div id='editMat' style='display:<?=$dispMat?>;'>

            <?
            include(libDir."class_formSaisie.php");
            $xmlform=file_get_contents(getSiteFile("designDir","form/xml/matSaisie.xml"));
            $myForm=new FormSaisie;
            $myForm->saisieObj=$myMat;
            $myForm->entity="MAT";
            $myForm->classLabel="label_champs_form";
            $myForm->classValue="val_champs_form";
            $myForm->display($xmlform);

            $htmlTracks="";
            $tracks=$myMat->getMatTrack();

            foreach($tracks as $idx => $track)
            {
                //var_dump($track);
                $htmlTracks.='<a href="javascript:toggleVisibility(document.getElementById(\\\'track_'.$idx.'\\\'),document.getElementById(\\\'arrowident_'.$idx.'\\\'))" ><img src="design/images/arrow_right.gif" align="absmiddle" border="0" id="arrowident_'.$idx.'" />'.kPiste.' '.$idx.' - '.$track->get('MT_TYPE').'</a><br/>';
                $htmlTracks.='<table id="track_'.$idx.'" style="display: none;">';
                
                $arr_fields=array
                (
                 'MT_TYPE'=>kType,
                 'MT_FORMAT'=>kFormat,
                 'MT_FORMAT_LONG'=>kFormatLong,
                 'MT_FORMAT_PROFILE'=>kFormatProfile,
                 'MT_FORMAT_GOP'=>kFormatGop,
                 'MT_FORMAT_WRAPPING'=>kFormatWrapping,
                 'MT_FORMAT_VERSION'=>kVersionFormat,
                 'MT_CODEC_ID'=>kCodecID,
                 'MT_DURATION'=>kDuree,
                 'MT_START_TIME'=>kStartTime,
                 'MT_HEIGHT'=>kHauteur,
                 'MT_WIDTH'=>kLargeur,
                 'MT_DISPLAY_HEIGHT'=>kDisplayHeight,
                 'MT_DISPLAY_WIDTH'=>kDisplayWidth,
                 'MT_DAR'=>kDisplayAspectRatio,
                 'MT_SAR'=>kSampleAscpectRatio,
                 'MT_BIT_RATE'=>kBitrate,
                 'MT_PIX_FMT'=>kPixFmt,
                 'MT_FRAME_RATE'=>kFrameRate,
                 'MT_BIT_DEPTH'=>kBitDepth,
                 'MT_LANGUAGE'=>kLangue,
                 'MT_TIMECODE'=>kTimecode,
                 'MT_CHANNELS'=>kNbCanaux,
                 'MT_SAMPLE_RATE'=>kFrequenceEchantillonage,
                 'MT_SCAN_TYPE'=>kScanType,
                 'MT_SCAN_ORDER'=>kScanOrder
                 );
                
                foreach($arr_fields as $key=>$lib)
                {
                    if ($track->get($key)!='')
                        $htmlTracks.='<tr><td class="label_champs_form" width="150">'.$lib.'</td><td class="val_champs_form">'.$track->get($key).'</td></tr>';
                }
                $htmlTracks.='</table>';
            }

            ?>
            <script>
            if(document.getElementById("tracks")) document.getElementById("tracks").innerHTML='<?= $htmlTracks ?>';
            if(document.getElementById("user_crea")) document.getElementById("user_crea").value='<?= $myMat->user_crea ?>';
            if(document.getElementById("user_modif")) document.getElementById("user_modif").value='<?= $myMat->user_modif ?>';
            if(document.getElementById("date_crea")) document.getElementById("date_crea").value=convDate('<?= $myMat->t_mat['MAT_DATE_CREA'] ?>','jj/mm/aaaa');
            if(document.getElementById("date_mod")) document.getElementById("date_mod").value=convDate('<?= $myMat->t_mat['MAT_DATE_MOD'] ?>','jj/mm/aaaa');
            //if(document.getElementById("mat_date_copie")) document.getElementById('mat_date_copie').value=convDate(document.getElementById('mat_date_copie').value,'jj/mm/aaaa');

            <? if($myMat->checkIfIsFile()){?>

                <?	if ($myMat->hasfile) $color='#BFFFBF'; 
                    else $color='#FFAAAA'; ?>
                document.form1.mat_nom.style.backgroundColor='<?=$color?>';
                        
                function traiter(){
                    popupUpload('simple.php?urlaction=jobSaisie&type=mat&id_mat=<?=$myMat->t_mat['ID_MAT']?>&page=matSaisie','main','jobs');
                }
                if(document.getElementById("bTraitement")){
                document.getElementById("bTraitement").value="<?= kTraitement ?>";
                document.getElementById("bTraitement").onclick=traiter;
                }
                
            <? }else{ ?>
                if(document.getElementById("bTraitement")){
                    document.getElementById("bTraitement").style.display="none";
                }
                document.form1.mat_nom.style.backgroundColor='#FFAAAA';
            <? } ?>
            </script>

            </div>

            <!-- Deuxième partie : onglet saisie doc_mat basé sur rightPanel + Ajax -->

            <div id='editDocMat' style='display:<?=$dispDocMat?>;'>
                <div id='sidecommande'></div>
            </div>

            <div id='editStory' style='display:<?=$dispStory?>;'>
            </div>

            <script>
                if('<?=$dispDocMat?>'=='block'){
                    showPanel('documents');
                }else if('<?=$dispStory?>'=='block'){
                    showPanel('story');
                }
            </script>

            <div id='editSavMat' style='display:<?=$dispSavMat?>;'>
            <fieldset class="ui-widget ui-corner-all fieldset_aff" style="width:800px">
            <legend ><?= kSauvegardes ?></legend>
            <?
            if(count($myMat->t_tape_file)==0 && count($myMat->arrChildren)>0 && !empty($myMat->t_mat['ID_MAT'])){
                global $db;
                $rows=$db->GetAll("SELECT ID_TAPE_SET,count(*),min(concat(id_tape,'|',tf_n_file)) as MIN_TAPE, max(concat(id_tape,'|',tf_n_file)) as MAX_TAPE FROM t_tape_file, t_mat WHERE TF_MEDIA='videos' and TF_ID_MAT=ID_MAT and TF_TAILLE_FICHIER=MAT_TAILLE and TF_DATE_FICHIER=MAT_DATE_FICHIER and MAT_ID_GEN= ".$myMat->t_mat['ID_MAT']." group by ID_TAPE_SET");
                foreach($rows as $row){
                    $_mintab=explode('|',$row['MIN_TAPE']);
                    $_maxtab=explode('|',$row['MAX_TAPE']);
                    printf(kJeu." %s : ".kCartouche." %s - ".kFichier." %s / ".kCartouche." %s - ".kFichier." %s <br/>", $row['ID_TAPE_SET'], $_mintab[0], $_mintab[1], $_maxtab[0], $_maxtab[1]);
                }
                
            }else{
                $params['source']='mat';
                tabToXSL($myMat->t_tape_file,"t_tape_file",listeDir."tapeFile.xsl",$params);
            }
            ?>
            </fieldset>
            </div>

            <div id='matChildren' style='display:<?=$dispMatChildren?>;'>
                <fieldset>
                    <legend><?=kMaterielsFils?></legend>
                    <table border="0" align="center" cellspacing="0" class="tableResults">
                        <tr>
                            <td class="resultsHead" width="130" valign="top"><?= kNom ?></td>
                            <td class="resultsHead" width="90" valign="top"><?= kTaille ?></td>
                        </tr>
                        <? foreach($myMat->arrChildren as $child){ ?>
                        <tr>
                            <td class="resultsCorps">
                                <a href="index.php?urlaction=matSaisie&id_mat=<?=$child['ID_MAT'] ?>"><?= $child['MAT_CHEMIN'].'/'.$child['MAT_NOM'] ?></a>
                            </td>
                            <td class="resultsCorps">
                                <a href="index.php?urlaction=matSaisie&id_mat=<?=$child['ID_MAT'] ?>"><?= $child['TAILLE'] ?></a>
                            </td>
                        </tr>
                        <? } ?>
                    </table>
                </fieldset>
            </div>


        </div>
    </div>

<!-- fin bloc docBody-->
</div>
