<?php
    $myVal=$this->params['modelObj'];
?>

<script type="text/javascript" language="JavaScript1.2">
var lastModif=''; //dernier champ texte modifié
var lastLangue=''; //langue pour ce champ
var doSubmit; //Bool pour lancer un submit en retour d'aJAX ou non

	function chkFields() {
		doSubmit=false;
		msg='';
		if (!formCheckNonEmpty(document.getElementById('valeur').value)) msg+='<?=kJSErrorValeurOblig?>';
		if (msg!='') {alert(msg);return false; }
		if (lastModif!='') {
			doSubmit=true; //Il faudra lancer un submit ensuite
			checkExists('valeur',document.getElementById(lastModif).value,'',lastLangue);
			return false;
			//Note: on ne submit pas ici, c'est fait coté AJAX
			}
		//alert('submit now chkfields');

	}

window.onload=function () {

		document.getElementById('valeur').onblur=function() {
			<?foreach ($myVal->arrVersions as $ver)
				echo "if (document.getElementById('version_".$ver['ID_LANG']."') != null && document.getElementById('version_".$ver['ID_LANG']."').value=='') document.getElementById('version_".$ver['ID_LANG']."').value=document.getElementById('valeur').value\n";
			?>
			checkExists('terme',document.getElementById('valeur').value,'','<?=$_SESSION['langue']?>');
		}
		document.getElementById('val_id_type_val').onchange=function() { // déclencher un checkExist sur la valeur dès changement de type
			<?foreach ($myVal->arrVersions as $ver)
				echo "if (document.getElementById('version_".$ver['ID_LANG']."') != null && document.getElementById('version_".$ver['ID_LANG']."').value=='') document.getElementById('version_".$ver['ID_LANG']."').value=document.getElementById('valeur').value\n";
			?>
			checkExists('terme',document.getElementById('valeur').value,'','<?=$_SESSION['langue']?>');
		}

		//document.getElementById('VALEUR').onfocus=function () {document.form1.save.disabled=true;}
		document.getElementById('valeur').onkeypress=function () {lastModif='valeur';lastLangue='<?=$_SESSION['langue']?>';}
	}

	// Appel AJAX
	function checkExists (mode,val,from,id_lang) {
		return !sendData('GET','blank.php','xmlhttp=1&urlaction=valExists&mode=valeur&value='+encodeURIComponent(val)+'&val_id_type_val='+document.getElementById('val_id_type_val').value+"&from="+from+"&id_val=<?=$myVal->t_val['ID_VAL']?>&id_lang="+id_lang);
	}

	function doFusion(id) { //lancement de la fusion => preparation du formulaire puis submit
		document.getElementById('fusionVal').value=id;
		// document.getElementById('commande').value='FUSION';
		document.getElementById('saisieForm').commande.value='FUSION';
		document.getElementById('saisieForm').submit();
	}



	// Traitement retour AJAX : Fonction unique pour tous les retours AJAX de page
	function dspResult(str) {

		//document.form1.save.disabled=false;


		//alert(str);
		if (str=='') { // chaine vide
			if (doSubmit==true) document.form1.submit();
			return false;
		}

		else myDom=importXML(str); //transo chaine en XML
		pasdeDoublon=myDom.getElementsByTagName('ok');
		if (pasdeDoublon[0]) {	//pas de contenu, donc pas de doublon => OK
			if (doSubmit==true) document.form1.submit(); //s'il faut faire un submit, on y va
			return false; // si on ne soumet pas, alors on continue normalement
		}

		//A partir d'ici, cela signifie que l'on a trouvé un doublon

		doSubmit=false; // désactivation du submit
		myBalise=myDom.getElementsByTagName('ID_VAL');


		var id=myBalise[0].firstChild.nodeValue; //ne PAS oublier le firstChild

		myBalise=myDom.getElementsByTagName('MODE');
		var mode=myBalise[0].firstChild.nodeValue;


		myBalise=myDom.getElementsByTagName('VALEUR');
		var valeur=myBalise[0].firstChild.nodeValue;

		//Mode terme (=> VALEUR + versions) => on lance le dialogue de fusion
		if (mode=='valeur') {
			yes=confirm ('<?=kErrorValExisteDeja?> : \n\n'+valeur+'\n\n <?=kJSConfirmFusion?>');
			if (yes) doFusion(id); else document.getElementById(lastModif).value='';
		}
	}



	function launchSearch(page) {
		if (page == 'docListe'){
			$j("#docListe").slideToggle("fast");
		}
		else
			alert('Pas encore développé');
	}


</script>

<?
$myVal->type_val=GetRefValue("t_type_val",$myVal->t_val["VAL_ID_TYPE_VAL"]);
define("kTypeVal",$myVal->type_val[$_SESSION['langue']]);
?>
<div class="title_bar">
	<div id="backButton"><?=$myPage->renderReferrer(kRetourListeRecherche, 'class="icoBackSearch"');?></div>
	<div id="pageTitre"><?= $myVal->type_val[$_SESSION['langue']] ?>&nbsp;</div>


	<div class="toolbar">

		<div  onclick="triggerPrint('val')" class="print tool"><span class="tool_hover_text"><?=kImprimer?></span>&#160;</div>
		<? if(isset($myVal) && isset($myVal->t_val['ID_VAL'])){?>
			<div class="menu_actions tool" ><span class="tool_hover_text"><?echo kMenuActions;?></span>
				<div class="drop_down" style="display:none;">
					<ul>
						<li onclick="displayMenuActions('export','val','<?=$myVal->t_val['ID_VAL'];?>');"><? echo kExporter;?></li>
					</ul>
				</div>&#160;
			</div>
		<?}?>
	</div>
</div>
<div class="scrollableDiv contentBody">
    <include type="formSaisie"/>
</div>
<div id='chooser' name='chooser' style='position:absolute;'></div>
