/* small screen adjusts*/


#entete #header_top{
	/* padding : 12px 12px 0px 24px ; */
}
#header_login_block #menu_account{
	padding : 0px 20px 0px 15px;
}

div#entete{
	font-size : 14px;
}
div#header_menu ul#DesktopMenu{
	height : 34px;
}
#header_logo_block #logo_opsomai_small{
	display : block;
	left : 2px ;
	top : -4px;
}
#header_logo_block #logo_opsomai{
	display : none ;
}


div#entete #quick_cherche_txt{
	width : 170px;
}

div#conteneur {
	top : 83px;
}

div#header_menu .menu .drop_down{
	font-size : 12px;
}

div#header_menu #display_opts .display_opt span {
	margin : 4px 0px;
}


#adv_search_wrapper .val_champs_form input[id^="chValues"] {
	width : 170px ;
	transition: width 0.20s ease-in-out;
	-moz-transition: width 0.20s ease-in-out;
	-webkit-transition: width 0.20s ease-in-out;

}


#docBody{
	overflow : auto ;
}

#docBody #leftBlock{
	position : relative;
	/*height : 500px;*/
	height : 95%;	/*devrait assurer que l'ensemble du media soit visible au chargement de la page, si NOK, remettre une hauteur fixe*/

	margin-bottom : 10px;
	max-width : 98%;
}

#docBody #fiche_info{
	position : relative ;
	width : auto;
}

#docBody #fiche_info.no_media{
    position: absolute;
    bottom: 5px;
    padding-bottom: 17px;
}


#previewHoverWrapper{
	width : 300px;
	height : 200px;
}
#previewContainer #container{
	max-height : 300px;
}

div#header_login_block.logged{
	/*width : 340px;*/
	margin-right : 6px;
}
div#header_login_block #header_login_block_left{
	width : 60%;
}

div#header_login_block .header_login_infos{
	max-width : 100%;
	overflow : hidden ;
	text-overflow : ellipsis ;
	white-space : nowrap ;
}


#header_breadcrumb {
	white-space : nowrap ;
	overflow : hidden ;
	text-overflow : ellipsis;
}
#header_menu div ul {
	/* padding-left : 6px; */
}

/*
div#atelier #bloc_atelier #chutier, div#atelier #visionneuse{
	width : 49%;
}*/
#form_envoi_fichiers .miniField{
	width : 480px;
}

/*
#tabs_upload #fileupload table.files td .nameFields,#tabs_upload #fileupload table.files td .supFields{
	display : block ;
}*/
#tabs_upload #fileupload table.files .nameFields label, #tabs_upload #fileupload table.files .supFields label {
	min-width : 56px ;
	-webkit-flex: 1 0 56px;
    flex: 1 0 56px;
}
#tabs_upload .fileupload-buttonbar .ui-button-text {
	padding :.4em 1em .4em 2.1em;
}

#tabs_upload #fileupload table.files .barTools{
	width : 100% ;
	position : relative ;
	display: inline-block;
	float: right;
	left : 0px;
}

 #tabs_upload #fileupload table.files .fileRenameInput, #tabs_upload #fileupload table.files select{
	display : block ;
	width : 100% ;
 }

#tabs_upload ul li, #tabs_upload ul li a{
	min-width : 150px;
}
#tabs_upload .fileupload-buttonbar label, #tabs_upload .fileupload-buttonbar button {
  min-width: 150px;
}

div#chutier .montage_bar, div#visionneuse .montage_bar{
	padding : 6px 12px 4px 4px;
}

/*** EXPORTS ***/
#frameModal.frame_menu_actions .fld_export.custom_export_form #customFields{
	max-height : 200px;
}
