/* extrasmall screen/mobile device adjusts*/

div#entete{
	font-size : 16px;
}

#entete #header_top {
	height: 61px;
	padding: 12px 18px 6px 24px;
}

div#header_menu ul{
	/* height : 34px; */
}

div#entete #header_menu {
padding: 2px 17px;
}

div#conteneur {
	top : 80px;
	/* bottom : 5px; */
	border-top: 1px solid #DADADA;
}
div.contenu {
    overflow: hidden;
}

div#header_menu .menu .drop_down{
	font-size : 12px;
}

div#header_menu #display_opts .display_opt span {
	margin : 4px 0px;
}


#docBody{
	overflow : auto ;
	bottom: 0px;
	padding-bottom: 50px;
	top: 72px;
}

#docBody #leftBlock{
	position : relative;
	height : 300px;
	/*height: auto;
	 height: initial; */
	/* height : 95%; */	/*devrait assurer que l'ensemble du media soit visible au chargement de la page, si NOK, remettre une hauteur fixe*/

	margin-bottom : 10px;
	max-width : 98%;
}
#menuGauche.collapsed #facet_wrapper {
	width: 0px;
}

#menuGauche.collapsed, #panGauche.collapsed {
    width: 32px;
}
#facet_wrapper {
	top: 56px;
}
/* MSTEST menugauche current val
#menuGauche {
	width: 193px;

	z-index: 1;
	height: 56px;
}*/
#menuGauche {
	width: 193px;

	z-index: 1;
}
#menuGauche.collapsed{
	height : 56px;
}



#menuGauche .type_facet {
	padding: 20px 8px 20px 14px;
}

.block_facet.open {
	position: static;
}

#menuGauche .facet_label {
	width: 156px !important;
}

#docBody #fiche_info{
	position : relative ;
	width : auto;
}
#menuDroite {
	/*overflow-y: auto;*/ /* bug sur iphone */
	display: none;
	/* left: 0; */
}

#menuDroite #prevLink{
	display: block;
}

#previewHoverWrapper{
	width : 300px;
	height : 200px;
}
#previewContainer #container{
	max-height : 300px;
}

#header_logo_block #logo_opsomai_small{
	display: block;
}
 .gate_popin_logo   #logo_opsomai_small {
	display : inline-block ;
 }
#header_logo_block #logo_opsomai, .gate_popin_logo   #logo_opsomai  {
	display: none;
}

span.gate_popin_logo{
	-webkit-flex : 1 0 45px;
	flex : 1 0 45px;
	margin-right : 1px;
}

#header_logo_block {
	left: 5px;
	top: 5px;
	float: none;
	padding: 0;
	position: absolute;
	top: 5px;
	left: 5px;
}
#header_logo_block img {
	/* width: 50% !important; */
}

div#header_login_block.logged{
	width : 340px;
	margin-right : 6px;
}
div#header_login_block #header_login_block_left{
	width : 60%;
}

div#header_login_block .header_login_infos{
	max-width : 100%;
	overflow : hidden ;
	text-overflow : ellipsis ;
	white-space : nowrap ;
}

#header_quick_srch_menu_block {
	right: 2px;
}

div.headers {
	border-bottom: none;
}

div.headers div#header_second_row {
	display: none;
}

#titreOpsis {
	margin-top: 30px;
	display: none;
}

#sloganOpsis {
	right: -2px;
	top: 24px;
	font-size: 12px;
}

.notice_results {
	display: none;
}

#header_breadcrumb {
	padding: 10px 0px;
	white-space : nowrap ;
	overflow : hidden ;
	text-overflow : ellipsis;
	font-size: 15px;
	position: absolute; /*affichage apple OSX et iOSX*/
}

#menuGauche.collapsed .type_facet {
	padding-left: 8px;
}
/*
div#atelier #bloc_atelier #chutier, div#atelier #visionneuse{
	width : 49%;
}*/

div#chutier .montage_bar, div#visionneuse .montage_bar{
	padding : 6px 12px 4px 4px;
}

div.title_bar .toggle_arrow {
	background-size: 60% auto;
}

div.title_bar #arrow_left {
	right: 0;
}

#mainResultsBar, #importViewBar {
	height : 44px;
}
#main_block, #mainResultsBar{
	left : 0;
	right: 0;
}
#importViewBar {
	left:  194px;
}

.resultsMos {
	width: 180px; /*200px*/
	height: 125px; /*138px*/
}

.resultsMos .bgVignetteMos {
	height: 102px; /*113px*/
	min-height: 102px; /*113px*/
}
.resultsMos .bgVignetteMos img {
	max-width: 100%;
	max-height: 100%;
}

div.toolbar .drop_down {
	top: 56px; /* 34px*/
}
#mainResultsBar .toolbar div.presentation {
	height: 56px;
}

#mainResultsBar .toolbar {
	max-width: 100%;
	/* text-align: right; */
}
#mainResultsBar .presentation span, #panBlock .presentation span, #mainResultsBar .toolbar .tool, #panBlock .title_bar .toolbar > div:not(.presentation) {
	/* width: 42px; */
    width: initial;
	max-width: 42px;
	min-width: 29px;
    height: 42px;
}
#panBlock .title_bar, #panBlock.full #mainPan .title_bar {
	height: 37px;
}
#panGauche .panListe {
	display: none;
    /* top: 56px; pas utile si display:none ci-dessus*/
}

#mainPan {
	padding-top: 56px; /*34px*/
    padding-bottom: 40px;
    left: 0px;
}
#mainPan select#panListe{
	display: inline;
}

#panBlock #mainPan .title_bar #panTitle, #panBlock #mainPan .title_bar #panNbElems {
	display : none ;
}
#panBlock.full #panGauche {
	width: 34px;
}

#panBlock {
	bottom: 0px;
}

#panBlock.expanding #panGauche .title_bar, #panBlock.expanded #panGauche .title_bar, #panBlock.collapsing #panGauche .title_bar, #panBlock.collapsed #mainPan .title_bar, #panBlock.expanding #mainPan .title_bar, #panBlock.expanded #mainPan .title_bar, #panBlock.collapsing	 #mainPan .title_bar {
	height: 32px; /*22px*/
    top: -52px !important;/* -30px*/
}
#panBlock.collapsed #panGauche .title_bar , #panBlock.collapsed {
	display: none!important;
}

#panBlock div.title_bar {
	padding: 19px 25px 5px 16px;
}

#panBlock #panExpandFullLeft, #panBlock #panCollapseLeft {
	height: 56px;
}

#panGauche {
	width: 194px;
    z-index: 52;
}

#panBlock.full #panGauche  {
    height: 56px;
}

#panBlock.full .cart_label {
	display: none;
}

#panBlock.full div.title_bar, #panBlock.full #mainPan .title_bar {
	padding: 19px 21px 0px 10px;
	/* overflow: hidden; */
}

input.panHeaderFields[name^='pan_titre'],
input.panHeaderFields[name^='pan_objet'] {
	width: calc(100% - 18px) ;
}

/* Original Method*/
#menuGauche {
/*  -webkit-transform: translateX(0);
 transform: translateX(0);
 -webkit-transition: .3s ease all;
 transition: .3s ease all; */
}

#conteneur.show-nav #menuGauche .block_facet.open {
	box-shadow: 1px 1px 10px 5px #BBB;
}

#conteneur #menuGauche .block_facet.open {
	box-shadow: 0px 0px 0px 0px #BBB;
}

#conteneur.show-nav #menuGauche {
/*   -webkit-transform: translateX(194px);
transform: translateX(194px); */
}

/* Better Performing Method*/
#menuGauche {
/*  -webkit-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0); */
}

#conteneur.show-nav #menuGauche {
/*   -webkit-transform: translate3d(194px, 0, 0);
transform: translate3d(194px, 0, 0); */
}

#bouton-menu-responsive
{
	padding: 7px;
	display: inline-block;
	margin-left: -34px;
	margin-right: 10px;
	margin-top: -2px;
	position: absolute;
}
#header_menus_block #bouton-menu-responsive {
	right: 0px;
}

body.homepage #bouton-menu-responsive {
	/* margin-top: -1px; */ /*affichage apple OSX et iOSX*/
}

#bouton-menu-responsive span.icon-bar:first-child
{
	margin-top: 0px;
}

#bouton-menu-responsive.collapse
{
	border: 3px solid #98BB3B;
}

#bouton-menu-responsive.collapse span.icon-bar
{
	background-color:#98BB3B;
}


#main_block {
	/*width: 300px;*/
	width: 100%;
	overflow-x: hidden;
	top : 56px;
	bottom: 0px;
}

#main_block.pres_3 {
	left: 0px;
}

#main_block table {
	width: 99%;
}

#docListe .bloc_image .conteneur_dragable {
	background-color: #FFF;
}

#docListe .bloc_image .conteneur_dragable img {
	width: 140px;
}

#docListe .desc_movie, #docListe .desc_movie h4 {
	font-size: 12px !important;
}

#resultats .desc_movie {
	width: inherit;
}

#header_quick_srch_block #quick_cherche_txt {
	/* width: 90px; initial;*/
	min-width: initial!important;
    margin: 0px 5px 0px 20px;
    /* max-width: 45%; */
    padding-right: 0;
    margin-top: 2px;
}

body:not(.homepage) #header_quick_srch_block #quick_cherche_txt {
	max-width: 45%;
}

@media screen and (max-width: 464px) {
	body.homepage #homepage_quick_srch_wrapper #quick_search {
		width: initial;
	}
	body.homepage #homepage_quick_srch_wrapper #quick_cherche_txt {
		width: calc(100% - 200px);
	}
}
#header_quick_srch_block {
	min-width: 180px;
	width: 100%;
}

#resultats .resultsCorps.bloc_image {
	min-width: 60px;
	min-height: initial;
	height: 78px;
}

#sloganOpsis span#proposed {
	display: none;
}

#header_breadcrumb span, #header_breadcrumb #refine_crits_wrapper {
	display: none;
}

/* #menuDroite #prevWrapper {
	top:50px;
} */

#resultats.liste tr.selected {
	outline: none !important;
}

#menuDroite #prevInfos {
	min-height: inherit;
}
/* #menuDroite #prevInfos {
	min-height: 300px;
} */
#menuGauche .type_facet .facet_icon {
    height: 24px;
}

#menuGauche .block_facet div:hover {
	background-color: transparent !important;
}
#menuGauche .menuGauche_wrapper,#menuGauche #admin_wrapper{
	bottom : 0px;
}

#adv_search_button, #entete #adv_search_wrapper {
	display: none;
}
 .main_scrollableDiv.scrollableListe{
	bottom : 0px;
 }
#main_block.pres_0, div.main_scrollableDiv.apply_layout.pres_0 {
	left: 0;
}
#main_block.pres_0, #mainResultsBar.pres_0, #panBlock.pres_0, #mainResultsBar.pres_1, #panBlock.pres_1 {
	right: 0;
}
/* #mainResultsBar.pres_0, #importViewBar.pres_0 { */
#mainResultsBar.pres_0, #mainResultsBar.pres_3, #main_block.pres_3, #importView.pres_3, #importViewBar.pres_3, #importView.pres_3, div.main_scrollableDiv.apply_layout.pres_0, div.main_scrollableDiv.apply_layout.pres_3 {
    left: 0px;
}

#main_block.pres_1,#main_block.pres_2{
	left : 194px ;
}

#loadMoreRes{
	margin : 20px auto 30px auto ;
}

body.homepage #homepage_new_docs, body.homepage #homepage_thms{
	padding : 95px 10px 40px 10px;
}

#frameModal {
    width: inherit;
    margin: 20px 10px 0 10px;
    padding: 20px 15px;
    /* overflow-y: auto; */
}

#frameModal input {
	width: 175px;
}
/*
.gate_popin_header {
	padding-top: 19px;
}
*/

.gate_popin button, .gate_popin form input[type='submit'] {
	min-width: 115px;
}

#ResponsiveMenu > li.menu {
	font-size: 1.6rem;
}

#ResponsiveMenu li.subMenu {
	font-size: 1.4rem;
}

#ResponsiveMenu li.menu > a {
	padding-top : 8px;
	padding-bottom : 8px;
}

#ResponsiveMenu li.menu > #menu_account, #ResponsiveMenu li.menu #menu_responsive_arrow {
	padding: 8px 15px 8px 15px !important;
}
#ResponsiveMenu .menu #menu_responsive_arrow {
	width: 7px;
}
body.homepage #entete:not(.scrolled):not(.scrolling) #header_logo_block {
	margin-left: 10px;
	margin-top: 12px;
}

body.homepage #entete:not(.scrolled):not(.scrolling) div#header_slogan_opsis {
	left: 68px;
	display: block;
	top: -5px;
}

body.homepage div#header_second_row {
	display: block;
	/* margin-left: 50px; */
}
body.homepage div#header_second_row #header_slogan_opsis {
	width: 65%;
}

body.homepage #entete #header_top {
	height: 65px;
	/* padding: 12px 18px 6px 24px; */
}

body.homepage #entete.scrolled div#header_slogan_opsis {
	display: none;
}
body.homepage div.gate_popin {
	width: inherit;
	margin: 10px;
}

 body.homepage #homepage_new_docs #homepage_new_docs_mediatype > span {
	height: 5vh;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
    align-content: center;
  	-webkit-box-align: center;
  	-moz-box-align: center;
  	-ms-flex-align: center;
  	-webkit-align-items: center;
    align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

body.homepage #homepage_new_docs #homepage_new_docs_mediatype {
	margin: 30px auto;
}

body.homepage #homepage_new_docs #homepage_new_docs_mediatype > span > span.news_docs_mediatype_labels {
	display: none;
}
body.homepage #homepage_new_docs #homepage_new_docs_grid{
	height: 50%;
}
body.homepage #homepage_thms #homepage_thms_grid{
	height : 65%;
}

#msg_info_cookie_box {
	min-width: 1px;
	left: 0;
	right: 0;
	bottom: 0px;
}

/* #homepage_new_docs_mediatype img {
	width: 30px;
} */


#mainResultsBar.pres_0,

#mainResultsBar.pres_3,
#importViewBar.pres_0,
#importView.pres_3,
#importViewBar.pres_3,
#importView.pres_3,
div.main_scrollableDiv.apply_layout.pres_0 > .title_bar:not(#mainResultsBar),
div.main_scrollableDiv.apply_layout.pres_3 > .title_bar:not(#mainResultsBar){
	left : 33px;
}

#main_block.pres_0,
#main_block.pres_3,
div.main_scrollableDiv.apply_layout.pres_0,
div.main_scrollableDiv.apply_layout.pres_3{
	left : 0px;
}


#footer {
	display: none;
}

#panListe_container {
	height: 40px;
}

#panListe {
    height: 32px;
    border: 1px solid #DADADA;
    padding: 4px;
    margin: 4px 4px 4px 4px;
    font-size: 14px;
    width: calc(100% - 17px);
    /* width: 100%; */
}


/* #panBoutons button:nth-child(n+2) {
	display: block;
} */

#panBlock.full #panFrame #panBoutons {
    display: -webkit-flex; /* Safari */
    /* -webkit-justify-content: center; */ /* Safari 6.1+ */
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
/* 	-webkit-align-content:center;*/
/* align-content:center; */
/* justify-content: center; */
	height: 110px;
   /* -webkit-align-content: flex-end; */
   /* align-content: flex-end; */
}

/* #panBoutons button {
	max-width: 25%;
	margin: auto;
} */

#panBoutons button {
    /* width: 140px; */
    width: 46%;
	font-size: 1.6rem;
	margin: 6px 8px;
	/* margin: 0px; */
	line-height: 36px;
	/* margin: auto; */
	/* flex: 1 1 140px; */
}
#panBlock.full #panFrame #panBoutons {
	padding-bottom: 10px;
}

/* a ameliorer pour fixer le scroll en ios*/
/* #main_block #resultats {
	overflow-y: scroll!important;
	-webkit-overflow-scrolling: touch!important;

} */



/* DOC AFF */
#conteneur .cont_doc #pageTitre {
	display: none;
}
#docHeader {
	margin : 0px 0px 10px 0px;
}


#docHeader #docPager {
	position: static;
	left: initial;
	text-align: center;
	width: calc(100% - 184px); /* a modifier */
	line-height: 56px;
}
.cont_doc #pageTitreResponsive {
	display: block;
	padding-left: 10px;
}
#docBody #leftBlock {
	left: 5px;
}
#docBody #leftBlock #media_space {
	overflow: hidden;
}

#docHeader div#backButton, #docHeader a.icoBackSearch {
	width: 34px;
}

#docHeader .toolbar .tool {
	height: 42px;
    width: 20px;
}

#docHeader #docPager * {
	vertical-align: none;
}

#docHeader #docPager a, #docHeader #docPager a img {
	width: 20px;
    display: inline-block;
    height: auto;
}

.noResultCell {
	padding-top: 25px;
}

.mobile_label {
	display: inline;
}

.desktop_label {
	display: none;
}

.imgNormal {
	width: 162px;
}

.restricted #conteneur{
    bottom : 0px; /*23px*/
}

form[name="formCreaSelection"] input[type='submit'] {
   	background-color : #D44B3C;
	text-transform : uppercase;
	color : white ;
	border : none ;
	height : 36px;
	min-width : 60px;
	cursor : pointer;
	margin-left: 20px;
}
form[name="formCreaSelection"] input[type='submit']:hover {
	background-color : #a11511;
}
form[name="formCreaSelection"] .std_button_style {
	float: right;
	width: 70px;
    min-width: 60px;
    height: 36px;
}

form[name="formCreaSelection"] input[name='cartName'] {
    line-height: 24px;
    font-size: 1.5rem;
}

.resultsMos, .resultsMos * {
	cursor: pointer;
}
.resultsMos .mosTitre {
	height: 23px;
}

.resultsMos .infos_mos label {
	cursor: pointer;
}

.pager_control.first {
	display: none;
}

#carrousel_accueil div.carrousel_item_info {
	margin-left: 10px;
}

#carrousel_accueil div.carrousel_item_info img {
	min-width: 34px;
}
/* IMPORT */
div#tabs_upload {
	bottom: 0px;
}
#tabs_upload div[id^='upload_'] {
	top: 0px;
}
#tabs_upload .fileupload-buttonbar label , #tabs_upload .fileupload-buttonbar button {
    min-width: 30%;
    /* text-transform: uppercase; */
    font-weight: normal;
	border: none;
}

#form_envoi_fichiers .miniField, #form_import_dossier .miniField {
	width: initial;
}

.fileupload-buttonbar .ui-widget .ui-button-icon-primary {
	display: none;
}

#tabs_upload .fileupload-buttonbar .ui-button-text {
    padding: .5em 0.5em;
}
#tabs_upload ul {
	display: none;
}

.template-upload td:not(.preview) {
	display: block;
	width: 98%;
}

#tabs_upload .supFields label {
   min-width: 66px;
   text-align: left;
}

#tabs_upload .files .size {
	text-align: left;
}
#tabs_upload .files .name {
	max-width: initial;
}

#tabs_upload #fileupload table.files td .nameFields,#tabs_upload #fileupload table.files td .supFields,#tabs_upload #fileupload table.files td .info_upload {
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
}



div.contentBody.admin {
	flex-direction : column ;
}

