#menuDroite {
	height: 700px;
}
body.homepage #entete:not(.scrolled):not(.scrolling) div#header_slogan_opsis {
	top: 0px;
}
/* #menuDroite #prevMedia {
	z-index: 20;
}

#menuDroite #prevWrapper {
	z-index: 1;

} */
/* #menuDroite #prevInfos {
	min-height: 250px;
} */

/****************IMPORT****************/

#tabs_upload .files {
	margin: inherit;
}
#tabs_upload .fileupload-content {
	padding: 0 0.4em;
}
.template-upload td:not(.preview) {
	display: table-cell;
	width: initial;
}

#tabs_upload .supFields label {
   text-align: right;
}

#tabs_upload .files .size {
	text-align: right;
}
#tabs_upload .files .name {
	max-width: 206px;
}
.main_scrollableDiv.import_section {
	bottom: 5px;
}