@import url("style.css");

/*************************************************************************************************/
/* FEUILLE DE STYLE GENERALE (general.css) */
/*************************************************************************************************/

/**************************/
/* Balises HTML de base : */
/**************************/

body {
  font-family:Trebuchet MS, Verdana;
  font-size:0.7em;
  background-color:#F5F6F7;
  min-width: 1100px;
  
}


/*************************************************************************************************/
/* ENTETE */
/*************************************************************************************************/

#entete{
	text-align:center;
	margin:10px 10px 0px 10px;
	border-bottom: 1px solid #d3d3d3;
	
}

#entete #logo{
  float:left; 
  font-size:1.8em;
  color:white;
  height:65px;
  width:170px;
  background-color:#FFFFFF;
}
#entete #logo a{
	text-decoration:none;
}

#entete #siteName {
  font-family:"Trebuchet MS";
  font-weight:bold;
  font-size:1.6em;
  color:#C3000D;
  line-height: normal;
  text-align:center;
  padding-top:10px;
}


#entete #lang
{
	text-align:right;
}

#entete div.barre_reseau_sociaux
{
	margin-top:5px;
}

#entete div.barre_reseau_sociaux a img
{
	border:none;
}

/**************************************************************************************************************************/
/* CONTENEUR (inclut menu gauche et contenu) */
/**************************************************************************************************************************/

#conteneur{
	display:block;
  padding:5px;
  font-family:Verdana;
  font-size:11px;

}


/**************************************************************************************************************************/
/* MENU (zone de gauche) */
/**************************************************************************************************************************/
.menu{
	font:11px Verdana,sans-serif;
	color:#192839;
	min-width: 180px;
	width: 180px;
}

.menu dl {
	background-color: #fff ;
}

#connexion{
	text-align:right;  
	
}


/************************************/
/* Liens du menu */
/************************************/

.left-nav dl, 
.left-nav dt, 
.left-nav ul, 
.left-nav li {
	margin: 0;
	padding: 0
}

.left-nav {
	font-size: 11px;
	border: 1px solid #c5dbec;
	margin-top:0px;
	margin-bottom:10px;
}

.left-nav dt{
	margin: 0;
	padding: 0;
	background-color: #dfeffc ;
	font: normal 12px "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	color: #2e6e9e;
	margin-bottom: 0;
	padding-left: 8px;
	padding-bottom:5px;
	line-height: 2em;
}

.left-nav dt a {
	text-decoration: none;
	color: #000;
}

dd.left-nav {
        border:0px;
	padding: 2px 3px 2px 8px;
	font-size: 11px;
	text-decoration: none;
	color:#192839;
	margin:2px 0;
}
dd.left-panier {
    margin-left: 3px;
}

dd.left-nav  a,
.left-nav li a {
	display:block;
	padding: 2px 3px 2px 8px;
	font-size: 11px;
	text-decoration: none;
	color: #003872;
	margin:2px 0;
	height:13px;
}


dd.left-nav a:hover,
dd.left-nav a:focus,
.left-nav li a:hover,
.left-nav li a:focus {
	color: #c4000d;
}


/**************************************************************************************************************************/
/* CONTENU DE PAGE    */
/**************************************************************************************************************************/

.contenu
{
	font:12px Verdana,sans-serif;
	margin-left : 10px;
	min-width: 881px;
	width : 100%;
}

.lien_bas_page
{
	text-align:right;
	margin-bottom:5px;
}

/**************************************************************************************************************************/
/* PIED DE  PAGE    */
/**************************************************************************************************************************/

#pied{
	text-align: left;
	margin-left: 10px;
	font-size: 10px;
	color: #666666;
	font-family:Trebuchet MS, Verdana;
	font-weight:normal;
	border-top:1px solid #ccc;
	text-align:center;
}

#pied a:link, #pied a:visited{
	color: #666666;
	text-decoration: none;
}
#pied a:hover{
	text-decoration: underline;
}



/************************************************************/
/* IFRAME pour la palette */
/************************************************************/


.iframechoose {
	border:1px solid #333333;
	cursor:move;
	border-top:10px solid #000055;
	z-index:99;
}

/************************************************************/
/* ALERTE BOX */
/************************************************************/

#alertBox {
	position:absolute;
	display:block; 
	/*ATTENTION : STT PAS DE display:none sinon on ne peut pas calculer la taille */
	/*top:350px;*/ /*ATTENTION, on ne peut pas utiliser Bottom avec MOVE*/
	/*left:-260px;*/
	top:-1000px;
	left:-1000px;
	width:250px;
	background-image:url('../images/shadow_alpha.png') !important;
	background-image:url('../images/shadow.gif');
	background-position:bottom right;
	z-index:100;
	
	margin: 10px 0 0 10px !important;
	margin: 10px 0 0 5px;
}
html>body #alertBox { position: fixed;left: -260px; top: 500px; }

#alertBoxContent {
	position:relative;
	margin:-6px 6px 6px -6px;
	padding:25px 5px 25px 5px;			
	background-color:#ffcc66;
	border:1px solid #363636;
	text-align:center;
	font-family:'Trebuchet MS',Helvetica,Arial,sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#333333;
}


