/**************************/
/* Balises HTML de base : */
/**************************/
/*
.scrollableDiv {
	position : absolute;
	top : 40px ;
	left : 0px ;
	right : 0px;
	bottom : 41px;
	overflow : auto ;
}*/



.main_scrollableDiv{
	position : absolute ;
	height : auto;
	/*overflow : auto ; */
	left : 0px;
	right : 0px;
	top : 0px;
	overflow : auto ;
	bottom : 23px;
	padding-bottom : 16px;
}
.main_scrollableDiv.scrollableListe, .main_scrollableDiv.scrollAndFixedBar{
	margin-top : 34px;
}

.main_scrollableDiv > .title_bar:not(#mainResultsBar){
	position : fixed;
	left : 0px ;
	right : 0px;
	margin-top : -34px;
}

div.main_scrollableDiv.apply_layout > .title_bar:not(#mainResultsBar){
	left : 261px;
}
div.main_scrollableDiv.apply_layout.pres_0 > .title_bar:not(#mainResultsBar),
div.main_scrollableDiv.apply_layout.pres_3 > .title_bar:not(#mainResultsBar){
	left :33px;
}




#previewHoverWrapper{
	position : fixed ;
	width : 400px ;
	height : 300px;
	border : 1px solid #DADADA;
	top : 40%;
	left : 40%;
	z-index:100;
	display : none ;
	background-color : #3b3b3b ;
	line-height : 400px;
	vertical-align : middle;
	box-shadow: 4px 4px 10px #3b3b3b;
	list-style-type : none ;
	overflow : hidden ;
}


#previewHoverWrapper #previewContainer{
	/*vertical-align : middle ; */
	display : inline-block ;
	width : 100%;
	max-width : 100%;
	/*max-height : 100%;*/
}

#previewHoverWrapper #previewContainer video,#previewHoverWrapper #previewContainer audio {
	max-width : 100% !important;
	width : 100% ! important ;
	height : auto ! important ;
}

#media_space{
	vertical-align : middle ;
	max-height : 100%;
}

#previewHoverInfos{
	font-size : 14px;
	color : white ;
	line-height : 16px  ;
	padding : 10px;

}


/********** MOSAIQUE ********/

#resultats.mos {
	position : relative ;

	-webkit-transition: margin-left 100ms;
	-moz-transition: margin-left 100ms;
	-ms-transition: margin-left 100ms;
	-o-transition: margin-left 100ms;
	transition: margin-left 100ms;
	/*margin-bottom : 30px;*/
}
div.mosWrapper{
	-webkit-transition: margin-left 100ms;
	-moz-transition: margin-left 100ms;
	-ms-transition: margin-left 100ms;
	-o-transition: margin-left 100ms;
	transition: margin-left 100ms;

}

div[id^='t_doc_lies_'] div.resultsMos{
	overflow : hidden ;
}

.resultsMos {
	float : left;
	position:relative;
	font-family: Arial;
	font-size: 11px;
	/*border:1px solid #DDD;*/
	/*background-color : #f1f1f1;*/
	background-color : white;
	width: 200px;
	height : 138px;
	margin:5px;
	text-align : center;
}

.resultsMos a:link, .resultsMos a:visited,.resultsMos a:hover{
	color: #333366;
	text-decoration: none;
}
.resultsMos a:hover{
	color: #005FA9;
	text-decoration: underline;
}

.resultsMos #outils{
	position:absolute;
	left:20px;
	bottom:0px;
	right : 20px;

}

.resultsMos .bgVignetteMos{
	/*background-color : #CCC;*/
	padding-top:0px;
	padding-bottom : 0px;
	height:113px;
	min-height : 113px;
	font-size :0px;
}

.resultsMos .infos_mos.first_row{
	background : rgba(77,77,77,0.5);
	position : absolute ;
	top : 0px ;
	left : 0px ;
	right : 0px ;
	color : white ;
	height : 23px ;
	line-height : 23px;
	font-size : 13px;
	text-align : left ;
	padding : 0px 3px;
}

.resultsMos .infos_mos.first_row img{
	vertical-align : sub ;
}
.resultsMos .infos_mos.first_row img.icn_online{
	top : 3px;
	position : relative ;
	float:right ;
}
.resultsMos .infos_mos.scnd_row{
	display : -webkit-flex ;
	display : flex ;
	background : rgba(77,77,77,0.5);
	position : absolute ;
	top : 90px ;
	left : 0px ;
	right : 0px ;
	color : white ;
	height : 23px ;
	line-height : 23px;
	font-size : 13px;
	text-align : left ;
	padding : 0px 3px;
	text-align : center ;
	-webkit-align-items : center ;
	align-items : center ;
	opacity : 0;
}

.resultsMos:hover .infos_mos.scnd_row{

	opacity : 1;
	transition: opacity 0.10s ease-in-out;
	-moz-transition: opacity 0.10s ease-in-out;
	-webkit-transition: opacity 0.10s ease-in-out;
	transition-delay:100ms;
	-moz-transition-delay: 100ms;
	-webkit-transition-delay:100ms;
}

.resultsMos .infos_mos.scnd_row > *{
	-webkit-flex : 1 1 auto ;
	flex : 1 1 auto ;
}
.resultsMos:hover .infos_mos.scnd_row a{
	cursor : pointer ; 
}


#loadMoreRes{
	/*margin : 20px auto ; */
	margin : 20px auto 36px auto ;
	width : 90%;
	text-transform : uppercase;
	font-size : 17px;
	color : #33383E ;
	background-color : #CCC;
	text-align : center;
	padding : 17px 0px;
	cursor : pointer;
	min-height : 19px;
}

#loadMoreRes:hover{
	background-color : #3B3B3B;
	color : white ;
}

#loadMoreRes.disabled span,#loadMoreRes.mod_auto.auto_hidden span {
	display : none ;
}

#loadMoreRes.disabled,#loadMoreRes.disabled:hover{
	background : url("../images/loader_list_doc_grey.gif") no-repeat center center;
}

.resultsMos .mosTitre{
	height:25px;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.resultsMos .mosTitre a{
	color : #3b3b3b;
	text-decoration : none ;
	line-height : 23px ;
	font-size : 13px;
}

.resultsMos.checked{
	color : white ;
}
.resultsMos.checked .mosTitre a{
	color : white ;

}
.resultsMos.checked .mosTitre{
background-color : #ffbe0a;
}
.resultsMos.selected, #resultats.liste tr.selected , #panFrame tr.selected{
	outline : 1px solid #d44b3c;
}


.resultsMos .icn_type_media{
	height : 16px;
}
.resultsMos .icn_type_media[src$='picture.png'],.resultsMos .icn_type_media[src$='video.png']{
	margin-top : -4px;
}


/********** LISTE ********/

div.resultsMenu, table.resultsMenu{
	margin : 20px auto;
	width  : 97%;
	background-color : #e8e8e8;
	font-size : 14px;
	position : relative;
	text-align : center ;
}
div.main_scrollableDiv div.resultsMenu, div.main_scrollableDiv div.table.resultsMenu{
	margin : 10px auto ;
}


div.resultsMenu div{
	display :inline-block ;
	padding : 14px 0px;
}

div.resultsMenu div input,div.resultsMenu div select, #docPager input, #docPager select{
	height :27px;
	margin-top : -2px ;
	padding : 0px;
	text-align : center ;
	border: 1px solid #CCCCCC;
	font-size : 14px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}



div.resultsMenu .nb_res{
	/*width : 33%;*/
	text-align : left ;
	padding-left : 14px;
	float : left ;
}
div.resultsMenu .browser{
	text-align : center ;
}
div.resultsMenu .browser img{
	vertical-align: middle ;
}
div.resultsMenu .browser input{
	width : 50px;
}
div.resultsMenu .res_par_pages, div.resultsMenu div.imp_media_filter{
	text-align : right ;
	padding-right : 14px;
	float : right ;
}
div.resultsMenu div.imp_media_filter{
	padding-right : 20px;
}

div.resultsMenu div.imp_media_filter label{
	padding :  0px 4px;
}

table.tableResults{
	border-collapse : collapse ;
}


div#resultats.liste{
	padding-top : 5px;
}

div#resultats.liste.paginee{
	padding-top : 0px;
}

#resultats.liste table , #panFrame table#panier{
	border-collapse : collapse;
}
#resultats.liste table td, #panFrame table#panier td{
	padding : 0px 4px;
	max-width : 800px;
	text-overflow : ellipsis ;
	overflow : hidden ;
}
#resultats.liste table tr , #panFrame table#panier tr, table.tableResults tr{
	border : 1px solid #DADADA;
	background-color : #FFF;
	font-size : 13px;
	padding : 6px 0px;
}

#panFrame table td select.hidden_job_dvd{
	display : none ; 
}


#panFrame table#panier tr.pan_sort_placeholder{
	height : 80px ! important ;
	font-size :auto ;
	padding:auto ;
}
 #panFrame table#panier tr.ui-sortable-helper{
	display : table ;
 }

  #panFrame table#panier tr.ui-sortable-helper td{
	display : table-cell ;
  }
#resultats.liste table tr.separator,#panFrame table#panier tr.separator, table.tableResults tr.separator{
	border : 0px solid #DADADA;
	background-color : transparent ;
	line-height : 6px;

}

#resultats.liste tr.resultsHead_row,#panFrame table#panier tr.resultsHead_row,table.tableResults tr.resultsHead_row{
	font-size : 15px;
	line-height : 32px;
	vertical-align : middle ;
}
#resultats.liste tr.resultsHead_row a,#panFrame table#panier tr.resultsHead_row a{
	text-decoration : none ;
	color :#000;

}

#resultats.liste table a,#panFrame table#panier a{
	color : #000;
	text-decoration : none ;
}

#resultats  .resultsCorps.bloc_image, #panFrame table#panier  .bloc_image{
	display : block  ;
	min-height : 80px;
}


#resultats  .resultsCorps .conteneur_dragable, #panFrame table#panier .conteneur_dragable{
	text-align : center;
	background-color : #CCC;
	height : 80px;
}
#resultats  .resultsCorps .conteneur_dragable img{
	vertical-align : middle ;
	display : inline-block ;
}


.ui-progressbar-value {
	background : #E79A92;
	border: 1px solid #E79A92;
}
div.progressBar .progress-label{
	color : #3b3b3b ;
}



/***************** *************/
.resultsCorps_div {
	font-family: Arial;
	font-size: 11px;
	color: #333366;
	padding-left:3px;
	font-weight: normal;
	border-bottom: 1px solid #ccc;
	height:95px;
	float:left;
	overflow:hidden;
	text-overflow:ellipsis;
}


.resultsHead_div {
	font-family: "Trebuchet MS" ;
	font-size: 12px;
	color: #003872;
	text-decoration: none;
	font-weight: bold;
	padding-left:3px;
	border-bottom: 2px solid #003872;
	height:15px;
	float:left;
}

/************** LEFT BLOCK FICHE DOC *************/
#leftBlock{
	position : absolute;
	left : 10px;
	right : 920px;
	top : 10px;
	bottom : 10px;
}



#container {
	max-width : 100%;
	max-height : 100%;
	height : 100% ;
	width : 100%;
}

#leftBlock #container #poster[src$="wait4video.gif"]{
	height : 100%;
}
#leftBlock{
	/*right : 665px;*/
	right : 52%;
}

#container.img{
	height : 100% !important;
}
#media_space {
	height : 100%;
}

#media_space #container.video{
	position : absolute;
	top : 0px;
	left : 0px;
	right : 0px;
	bottom : 0px;
	width : auto ; height : auto ; max-width : auto ; max-height : auto ;
	overflow : hidden ;
}

#media_space #container.audio_poster{
	display :flex ; 
}
#media_space #container.audio_poster > img#poster{
	cursor:pointer;
	max-width: 100% !important;
	max-height: 100% !important;
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
	margin: auto;
}

div.contenu.cont_doc{
	background-color : #F1F1F1;
}
#docHeader, #adminHeader{
	position :relative ;
	background-color : #E8E8E8;
	/*margin : 0px 20px 0px 0px;*/
	margin : 10px 20px 10px 0px;
	width : auto ;
	height : 34px;
	/*top : 10px;*/

}
#docHeader div , #adminHeader div{
	display : inline-block ;
	height : 34px;
	padding : 0px 6px;
}
.title_bar div {
	display : inline-block ;
	padding : 0px 0px;
}

#docHeader div#backButton,  .title_bar div#backButton, #adminHeader div#backButton{
	background-color : #3B3B3B;
	width : 34px;
	padding : 0px;
	vertical-align : top ;
}

#docHeader #pageTitre, #adminHeader #pageTitre, .cont_doc #pageTitreResponsive{
	font-size : 22px;
	line-height : 34px;
	vertical-align : middle ;
	max-width : 500px;
	min-width : 300px;
	text-overflow : ellipsis;
	overflow : hidden ;
	white-space : nowrap ;
	padding-left : 40px;
}

#docHeader #docPager{
	vertical-align : top ;
	line-height : 34px;
	font-size : 14px;
	position : absolute;
	left : 45%;
}

#docHeader #docPager *{
	vertical-align : middle ;
}

#docHeader .toolbar{
	background-color : #3B3B3B;
	right : 0px;
	padding : 0px;
}
#docHeader .toolbar a{
	text-decoration : none ;
}


.toolbar .tool span.tool_hover_text,
 #mainResultsBar .toolbar .presentation span.layout_chooser  span.tool_hover_text ,
 #panBlock .toolbar .presentation span  span.tool_hover_text ,
 #header_menu  #display_opts .display_opt span .tool_hover_text{
	display : none ;
}


.toolbar .tool:hover span.tool_hover_text,
 #mainResultsBar .toolbar  .presentation span.layout_chooser:hover  span.tool_hover_text,
 #panBlock .toolbar .presentation span:hover  span.tool_hover_text ,
 #header_menu  #display_opts .display_opt:hover span .tool_hover_text{
	position : fixed;
	width : 150px;
	height : 24px;
	background-color: #ffbe0a;
	/*top : -42px;*/
	margin-top : -50px;
	text-transform : none;
	margin-left:  -60px;
	padding-left:  0px;
	padding-top : 6px;
	text-align : center;
	font-size : 16px;
	color : white ;
	display : block;
	border-radius : 3px;
}

/*
 #mainResultsBar .toolbar   span.tool_hover_text, #mainResultsBar .toolbar  .presentation span.layout_chooser:hover  span.tool_hover_text{
	margin-top
 }*/
.toolbar .tool:hover span.tool_hover_text{
	width : 140px;
}

#mainResultsBar .toolbar  .presentation span#mosPageChooser:hover  span.tool_hover_text{
	/*width : 220px;*/
	top : -55px;
	height : 40px;
}

#header_menu  #display_opts .display_opt span .tool_hover_text{
	margin : 0px;
	font-size : 16px;
	line-height : 16px;
}
#header_menu  #display_opts .display_opt:hover span .tool_hover_text{
	top : 36px;
	background-color: #D44B3C;
}


.toolbar .tool span.tool_hover_text:after,
 #panBlock .toolbar .presentation span  span.tool_hover_text:after ,
 #mainResultsBar .toolbar  .presentation span.layout_chooser  span.tool_hover_text:after{
	height : 10px;
	width : 20px;
	/*background : #D44B3C;*/
	background-image : url('../images/arrow_bottom_ffbe0a.png');
	content:' ';
	position : absolute;
	display : block ;
	left : 62px;
	top : 30px;
}
#header_menu  #display_opts .display_opt span .tool_hover_text:before{
	height : 10px;
	width : 20px;
	/*background : #D44B3C;*/
	background-image : url('../images/arrow_top_d44b3c.png');
	content:' ';
	position : absolute;
	display : block ;
	top : -10px;
	left : 62px;
}

#panBlock .toolbar .presentation span:hover   span.tool_hover_text,
#mainResultsBar .toolbar .presentation span.layout_chooser:hover   span.tool_hover_text{
	padding : 6px 0px 0px;
	margin-left : -75px;
}
#panBlock .toolbar .presentation span:last-child  span.tool_hover_text,
#mainResultsBar .toolbar .presentation span.layout_chooser:last-child   span.tool_hover_text{
	margin-left : -80px;
}

#panBlock .toolbar .presentation span:hover   span.tool_hover_text:after,
#mainResultsBar .toolbar .presentation span.layout_chooser:hover   span.tool_hover_text:after{
	left : 77px;
}
#importViewBar .add.tool:hover  span.tool_hover_text {
	margin-left : -75px;
}
#importViewBar .add.tool:hover  span.tool_hover_text:after {
	left : 75px;
}


#docHeader .tool:last-child:hover  span.tool_hover_text , #importViewBar .tool:last-child:hover  span.tool_hover_text{
	margin-left:  -110px;
}
#docHeader .tool:last-child:hover  span.tool_hover_text:after, #importViewBar .tool:last-child:hover  span.tool_hover_text:after{
left : 110px;
}


#docHeader a.icoBackSearch, #adminHeader a.icoBackSearch{
	color : transparent ;
	width : 34px;
	height : 34px;
	display : inline-block ;
	overflow : hidden ;
	background: url('../images/icnbar-back.png') no-repeat center center ;
}

.title_bar a.icoBackSearch {
	color : transparent ;
	width : 22px;
	height : 22px;
	display : inline-block ;
	overflow : hidden ;
	background: url('../images/icnbar-back.png') no-repeat center center ;
}


/*
#docHeader{
	position : absolute;
	top : 0px;
	left: 0px;
	right : 0px;
	height : 60px;
}
*/
#docBody{
	position : absolute ;
	top	: 60px;
	left : 20px;
	right : 20px;
	bottom : 50px;
	background-color : #FFF;
	border : 1px solid #DDD;
	/*min-width :1000px;*/
}


#fiche_info{
	width : 650px;
}


#fiche_info #desc, #fiche_info #sidecommande {
max-height: 90%;
overflow-y: auto;
overflow-x: hidden;
}

.panelSelWrapper{
	list-style-type : none ;
	padding : 0px;
	margin : 0px;
	margin-bottom : 10px;
}

.panelSelWrapper .panelSel{
	display : inline-block ;
	font-size : 14px;
	padding : 4px 8px;
	background-color : #E8E8E8;
	margin : 0px 3px
}
.panelSelWrapper .panelSel:hover{
	background-color : #ccc;
	cursor : pointer ;
}
.panelSelWrapper .panelSel.selected{
	background-color : #d44b3c;
	color : white ;
	cursor : pointer ;
}


.panelSelWrapper .panelSel:first-child{
	margin : 0px 3px 0px 0px;
}

.import_panelSelWrapper .panelSel{
	font-size : 16px;
	padding : 7px 20px;
}


#media_space{
	position : relative ;
}
#ow_prevOverContainer{
	z-index : 90;
	background-color : #FFFFFF !important;
}


#fiche_info{
	position : absolute;
	top :0px;
	bottom : 0px;
	right : 0px;
	/*width : 1148px;*/
	/*width : 900px;*/
	width : 50%;
	padding : 10px;
}
#fiche_info.no_media{
	left : 0px ;
	width : auto ;
}



#fiche_info #desc fieldset.ui-widget-content , #saisieForm fieldset{
	border-radius : 0px;
	border : 1px solid #e8e8e8;
	border-color : #e8e8e8;
}
#fiche_info #desc {
	max-height : 95%;
	overflow : auto ;
}

#fiche_info button{
	padding: 3px 8px 3px 3px;
	font-size :12px;
}
#fiche_info button span.ui-icon{
	float: left;
	margin: -2px 5px 0 0;
}


/****** IMPORT ******/
span.importTitle{
	white-space: nowrap;
	overflow: hidden;
	width: 80%;
	display: inline-block;
	text-overflow: ellipsis;
}
div.ellipsis_hover.ellipsis_import_title{
	font-size : 16px;
	text-transform : none ;
	background-color : #ffbe0a;
	border-radius : 6px;
	min-width : 200px;
	max-width : 400px;
	white-space : normal;
	z-index:  999 ;
	padding : 10px;
}

div.ellipsis_hover.ellipsis_import_title:before{
	height : 10px;
	width : 20px;
	/*background : #D44B3C;*/
	background-image : url('../images/arrow_top_ffbe0a.png');
	content:' ';
	position : absolute;
	display : block ;
	left : 62px;
	top : -4px;
}


#form_envoi_fichiers{
/* 	text-align : center ;  */
}

#form_envoi_fichiers fieldset#upload_form, #form_import_dossier{
	margin : 0px auto ;
	/*background-color : white ; */
	width : 97%;
	padding : 0px;
	/*text-align : center ; */
	position :relative ;
}
#form_envoi_fichiers  fieldset#upload_form fieldset, #form_import_dossier fieldset{

	width : 100%;
	padding : 2px 4px ;
	text-align : left ;
	border : 1px solid #DADADA;
	padding : 4px ;
	margin : 4px auto;
	box-sizing : border-box;
	width : 100%;
}


#form_envoi_fichiers fieldset:first-child{
	border : 0px;
}

#form_envoi_fichiers .miniField, #form_import_dossier .miniField {
	font-size:12px;
	margin:0px;
	padding: 0px;
	vertical-align : text-bottom ;
	width : 530px ;
	position : relative;
}
#form_envoi_fichiers #doc_form  .miniField, #form_import_dossier #doc_form .miniField {
	min-height : 22px ;
}

#form_envoi_fichiers .miniField select,#form_import_dossier .miniField select{
	float : right ;
	width : 150px;
	margin : 0px;
}
#form_envoi_fichiers .miniField #newReportName, #form_import_dossier .miniField #newReportName{
	position : absolute ;
	right : -180px;
	width : 170px;
	margin-top : -1px ;
	top : 0px ;
}

#form_envoi_fichiers .label_miniField,  #form_import_dossier .label_miniField {
	text-align : right ;
	width : 200px;
	padding : 0px 4px;
}

#form_envoi_fichiers #doc_form .label_miniField {
	display :inline-block ;
	padding:2px 0px;
}

div#tabs_upload{
	/*min-height : 225px;*/
	position : absolute ;
	top : 120px;
	bottom : 10px;
	height : auto;
	left : 1.5%;
	width : 97%;
	margin : auto ;
	background : transparent ;
}
#tabs_upload ul{
	text-align : center ;
}

#tabs_upload ul li{
	position : relative;
	float : none  ;
	display : inline-block ;
	margin : 0px auto ;
	min-width : 240px;
}
#tabs_upload ul li a{
	min-width : 240px;
	padding : .5em .5em;
}
#tabs_upload ul li a, #tabs_upload ul li span{
	text-align : center ;
}
#tabs_upload ul li.ui-state-default{
	background :  #DADADA ;
	font-weight : normal ;
}
#tabs_upload ul li.ui-state-default a {
	color :  black ;
	font-weight : normal ;
}
#tabs_upload ul li.ui-state-default.ui-state-active, #tabs_upload ul li.ui-state-default.ui-state-hover{
	background :  #D44B3D ;
}

#tabs_upload ul li.ui-state-default.ui-state-active a, #tabs_upload ul li.ui-state-default.ui-state-hover a {
	color : white ;
}

#tabs_upload ul li:first-child{
	float : left;
	margin : 0px;
}
 #tabs_upload ul li:last-child{
	float : right;
	margin : 0px;
 }

 #tabs_upload  td.preview{
	max-width : 10%;
	width : 1% ; 
 }
 
 #tabs_upload span.fileupload-label,  #tabs_upload .supFields label{
	display : inline-block ;
	text-align : left ;
 }
  #tabs_upload .mainFields span.fileupload-label{
	min-width : 120px;
  }

 
  #tabs_upload .fileupload-content{
	position : absolute ;
	top : 0px ;
	left : 0px ;
	right : 0px ;
	bottom : 45px;
	border : 4px dotted #7F7F7F;
	border-radius:20px;
	overflow : auto ;
  }

#tabs_upload .fileupload-content div.infoupload{
	display : none;
}
#tabs_upload .fileupload-content.empty div.infoupload{
	position : absolute ;
	top : 20%;
	height : auto ;
	left : 0px ;
	right : 0px;
	text-align : center ;
	display : block ;
	font-size : 22px;
	color : #7F7F7F;
	padding : 0px 8px;
}


#tabs_upload .fileupload-buttonbar{
	padding : 0px;
	text-align : center ;
	position : absolute ;
	width : 100% ;
	bottom : 0px;
}
#tabs_upload .fileupload-buttonbar label,#tabs_upload .fileupload-buttonbar button{
	min-width :250px;
}
#tabs_upload .fileupload-buttonbar label{
	float : left ;
}
#tabs_upload .fileupload-buttonbar button{
	float : none ;
	margin : 0px auto ;
}
#tabs_upload .fileupload-buttonbar button:last-child{
	float : right ;
}
#tabs_upload .fileupload-buttonbar  .ui-button-text{
	padding: .5em 0px;
}


.indexPopupUpload #tabs_upload{
	top : 70px;
	left : 0px ; 
	right : 0px ; 
	margin : 0px auto ; 
}

.indexPopupUpload #tabs_upload.type_batch_mat{
	top : 160px;
}


#form_envoi_fichiers.upload_started .fileupload-buttonbar .fileinput-button{
	visibility: hidden ;
}


#form_envoi_fichiers #checkbox_form .label_miniField {
	display : block ;
	margin-left : 200px;
	text-align : left ;
	padding: 0px;
}

#tabs_upload div[id^='upload_']{
	margin : 0px;
	padding : 0px;
	position : absolute ;
	top : 45px;
	left : 0px ;
	bottom : 0px ;
	right : 0px;
	height : auto ;
}

#form_envoi_fichiers .miniField.make_doc_main {
	font-size : 14px;
	font-weight : bold ;
}

#tabs_upload #fileupload table.files{
	width : 99%;
	margin-left : auto ;
	margin-right : auto;
	box-sizing : border-box ;
}
#tabs_upload #fileupload .files.url_files,#tabs_upload #fileupload .files.ftp_files{
	width : 99%;
	margin-left : auto ;
	margin-right : auto ;
	box-sizing : border-box ;
}
div.files .nameFields,div.files .supFields,div.files .info_upload{
	display :inline-block ;
	padding : 0px 4px;
}

div.files {
	text-align : center;
}
#tabs_upload #fileupload div.infoprogress,#form_envoi_fichiers .global-infoprogress{
    position: absolute;
    float: left;
    font-size: 14px;
    z-index: 60;
    margin: 0px auto;
    /* width: 100px; */
    left: 0px;
    right: 34px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

#form_envoi_fichiers .global-infoprogress{
	top : 1px;
	display :none ;
	text-align : left ;
	right : auto ;
	white-space: normal;
	max-width : 34%;

}
#form_envoi_fichiers.upload_started .global-infoprogress{
	display: inline-block ;
}

#tabs_upload #fileupload table.files td .nameFields,#tabs_upload #fileupload table.files td .supFields,#tabs_upload #fileupload table.files td .info_upload{
	position : relative ;
	display : -webkit-flex;
	display : flex;
}


#tabs_upload #fileupload table.files .nameFields label,#tabs_upload #fileupload table.files .supFields label{
	/*width : 80px;*/
	white-space : nowrap ;
	-webkit-flex : 0 0 65px ;
	flex : 0 0 65px ;
	padding : 0px ;
	margin : 0px;
	min-width : 65px;
}
#tabs_upload #upload_url label, #tabs_upload #upload_ftp label{
	padding : 0px 5px;
}

#tabs_upload #fileupload table.files .nameFields label.label_titre,#tabs_upload #fileupload table.files .supFields label.label_titre{
	min-width : 50px ; 
	-webkit-flex : 0 0 50px ;
	flex : 0 0 50px;
}
#tabs_upload  div.files .mainFields,  #tabs_upload div.files .supFields{
	width : 90% ;
	display : -webkit-flex;
	display : flex;
	margin: 0px  auto 6px auto;
	-webkit-align-items : center ;
	align-items: center;
}
#tabs_upload  div.files .mainFields  input{
	-webkit-flex : 1 1 100%;
	flex : 1 1 100%;
}

 #tabs_upload div.files .supFields input,#tabs_upload div.files .supFields select {
	-webkit-flex : 1 1 40%;
	flex : 1 1 40%;
 }

#tabs_upload #fileupload table.files .fileRenameInput,#tabs_upload #fileupload table.files .supFields select {
	position : relative ;
	-webkit-flex : 1 1 100% ;
	flex : 1 1 100% ;
}

#tabs_upload #fileupload table.files .barTools{
	/*position : relative ;
	width: 80%;
	display: inline-block;
	float: right;*/

/* 	position : absolute ;
	left : 75px;
	right : 0px ;
	height :30px;
 */
	position : relative ;
	-webkit-flex : 1 1 auto ;
	flex : 1 1 auto ;
 }


 #tabs_upload #fileupload table.files span.size{
	display :inline-block;
	min-width : 75px;
	line-height : 27px;
 }



#tabs_upload #fileupload table.files .barTools div.ui-progressbar{
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	top: 2px;
	left: 0px;
	right: 34px;
	bottom: 0px;
	width : auto ;
}
#tabs_upload #fileupload table.files .barTools div.cancel,#tabs_upload #fileupload table.files  div.cancel{
	float : right ;
}
#tabs_upload #fileupload table.files .barTools div.cancel.done,#tabs_upload #fileupload table.files  div.cancel.done{
	display : none ;
}

#tabs_upload #fileupload table.files .barTools div.cancel .ui-button-text,#tabs_upload #fileupload table.files  div.cancel .ui-button-text{
	padding : 0px;
}


#import_form_wrapper div#fileupload{
	text-align : center ;
}

#type_import_selector{
	background-color : #3b3b3b;
	color : white ;
	font-size : 18px;
	text-transform : uppercase ;
	margin-top : -2px;
}

div.tab_imp_doc table td,div.tab_imp_mat table td {
	padding : 0px 4px ;
}

div.tab_imp_mat table.tableResults tr.resultsHead_row,
table#importListe tr.resultsHead_row{
	line-height : inherit ;
}

#form_import_dossier table .resultsHead,
#form_import_dossier table .resultsCorps,
div.tab_imp_mat .resultsHead,
div.tab_imp_mat .resultsCorps,
table#importListe td.resultsHead,
table#importListe td.resultsCorps{
	padding: 8px 4px;
}
#form_import_dossier .label_champs_form{
	min-width : 150px;
	font-weight : bold ;
	text-align : right ;
}


/**************** FORM CHERCHE***********/
form#chercheForm fieldset ,  form#impForm fieldset{
	width : 96%;
	margin : 0px auto ;
	background-color : white ;
	border : 1px solid #DADADA;
	border-radius : 0px;

}

div.main_scrollableDiv form#chercheForm td.val_champs_form{
	width : 300px;
}

form#impForm table td{
	padding : 2px ;
	vertical-align : middle;
}



/**************** FORM SAISIE***********/

button {
	cursor : pointer ;
}

button span.ui-icon {
	display : inline-block;
	vertical-align : bottom ;
}


#ui-datepicker-div{
	z-index : 100 !important;
}

#saisieForm .label_champs_form, #saisieForm td.label_champs_form{
	vertical-align : middle ;
	min-width : 150px;
}

#fiche_info #desc #saisieForm .label_champs_form,#fiche_info #desc td.label_champs_form{
	min-width : 150px;
}

#saisieForm input {
	padding:0 2px;
}
#saisieForm select, #saisieForm input, #saisieForm textarea {
	background-color:#fff;
	color:#000;
	border:1px solid #CCC;
	font-size: 12px;
}
#saisieForm select:hover, #saisieForm input:hover, #saisieForm textarea:hover {
	border:1px solid #448dae;
}

#saisieForm input:focus{
	border:1px solid #6eac2c;
	background-color:#fff;
	color:#222;
}

#saisieForm input[mandatory], #saisieForm select[mandatory], #saisieForm textarea[mandatory]{
	border:1px solid #CCC;
	background-color:#ffde81;
	color:#222;
}

input[readonly], #saisieForm input[readonly], #saisieForm select[readonly], #saisieForm textarea[readonly]{
	border:1px solid #CCC;
	background-color:#ddd;
	color:#222;
}


#saisieForm legend {
	font-size: 14px;
	font-weight:bold;
	margin:0 15px;
	padding:0 5px;
}

#saisieForm label {
	padding-right: 5px;
	padding-left: 5px;
	line-height:20px;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
}

#saisieForm input[type=radio]{
	background-color:#fff;
	border:0;
	margin: 0 10px 0 0;
}

#saisieForm input[type=button]{
	background-color:#D44B3C;
	color:#fff;
	border:1px solid #CCC;
	font-size: 11px;
	padding : 2px 4px;
}

#saisieForm button, #saisieForm textarea{
	font-size: 12px;
}

#saisieForm table.catForm_table{
	width : 100% ; 
}
#saisieForm table.catForm_table.catForm_buttons td{
	text-align : center ; 
}

#saisieForm  span.readable_display{
	display : inline-block ; 
	padding : 2px 5px 2px 0px;
	min-height: 17px;
    vertical-align: middle;
}

#saisieForm .datepicker_img{
	vertical-align : sub ; 
}


#chooser{
	z-index : 202;
	background-color : black;
}

#chooser #frmchoose{
	margin-top : 6px;
}

.miniTab {
	color:black;
	border : 1px solid #ccc;
	background-color:#f0bfb9;
	padding:1px;
	margin:2px;
	font-size:11px; /*s'applique au libelle des champs*/
}

.miniTabLigne {
	font-size:12px;
	/*font-weight:bold;*/
	padding-left: 5px;
	display:inline;
	width:200px;
}

.miniButton {
	font-family:Arial;
	font-size:12px;
	padding:3px;
	font-weight:bold;

	text-align:center;
	clear:both;
	display:block;
	/*background-color:#eeffee;
	border-left:2px solid #009900;
	border-bottom:2px solid #009900;
	border-right:2px solid #009900;
	color:#009900; */

	cursor:pointer;
/*	margin:0px 0px 15px 15px;*/
}

.miniTrash {
	cursor:pointer;
	vertical-align:middle;
	padding-left:5px;
	padding-right:5px;

}

.miniTab .miniTrash{
	float : right ;
}

.miniField {font-size:10px;margin:0px;padding:0px;}
/******saisie file_image*****/
#saisieForm input.file_image_upload_input{
	position : absolute;
	top : 0px;
	right:  0px;
	font-size : 200px;
	opacity : 0;
	z-index : 999 ; 
	width :110%;
	height:100%;
	cursor :pointer ;
	box-sizing : border-box ; 
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}
div.file_image_upload{
	width : 210px;
	height: 150px;      
	text-align: center;
	position : relative;  
	box-sizing : border-box ; 
	overflow : hidden ; 
}
img.file_image_upload_img{
	max-height : 113px ; 
	max-width : 200px;
	display : block ; 
	margin : 0px auto ;
}
div.file_image_upload_info{
	display  : block ; 
	height : 113px;
	width : 200px ; 
	text-align : center ; 
	position : relative ; 
}
span.file_image_upload_filename{
	margin-top : 25%;
	display:inline-block ; 
}
.file_image_upload.loading{
	opacity : 0.70;
	cursor : progress ; 
}

button.file_image_upload_button{
	position : relative;  
	display : inline-block ; 
}


/************************************/
.lineDoc,.newLink {
	color: #3b3b3b;
	width:100%;
	background-color:#FFFFFF;
	padding:1px;
	border: 1px solid #000066;
	display:block;
	overflow:hidden;
	clear:both;
	font-family:Arial;
	font-size:11px;
}
.newLink{
	border-color : #CCC;
}

.lineDoc:hover {background-color:#FEFEFE;}

.lineDesc {
	color: #000000;
	padding:1px;
	margin:3px;
	border: 1px solid #cccccc;
	display:block;
	/*width:100%;*/
	overflow:hidden;
	font-family:Arial;
	font-size:11px;
	clear:both;
}

/************* RIGHTPANEL ************/

#iframeSauve{
 height : 0px !important ;
 border : none ;
}

#sidecommande {
	 background-color:white;
	 font-family:Arial,Helvetica,sans-serif;
	 font-size:10px;
	 margin:0px;
	 width:auto;
}

#selectFolder {
	width:100%;
	font-size:12px;
	/*font-weight:bold;*/
	border : 1px solid #3b3b3b;
	font-family:'Trebuchet MS',Arial,Helvetica, sans-serif;
	background-color:#e8e8e8;
	margin:0px;
	border-bottom : 0px;
}

.icon_bar{display:block;text-align:center;background-color:#e8e8e8; border : 1px solid #3b3b3b; }
.icon_bar img {cursor:pointer;}

#zoneSaisie
{
	padding : 0px;
}

#zoneSaisie input{
	font-size: 12px;
	padding-left: 0.5ex;
	padding-right: 1px;
	margin: 8px 0px 0px 0.5ex;
}

#zoneSaisie .row_extrait input, #zoneSaisie .row_extrait_selected input{
	margin : 2px 0px 0px 2px;
}

.ext_TC {color:#666666;}
.ext_titre {}
.select {font-size:10px;margin:0px;padding:0px;color:#666666;width:90px;}
.row_extrait{background-color:white;height:35px;width:99%;border:1px solid #e5e5e5 !important;display:block;
	text-align: left;
}
.row_extrait_selected{background-color:#FFEEAA;height:35px;width:99%;border:1px solid #666666;display:block;
	text-align: left;
}
.radio_extrait{color:black;float:left;border-width:0;padding:5px 2px 0px 2px;}
.ext_handler {background-color:#ABABAB;width:20px;height:90%;border:2px outset #ABABAB;
			  top:0px;left:0px;float:left;display:block;cursor:pointer;}
.ext_handler_selected {background-color:#ffbe0a;width:20px;height:90%;border:2px inset #ffbe0a;
			  top:0px;left:0px;float:left;display:block;cursor:pointer;}
.ext_handler img, .ext_handler_selected img {
margin:7px 0 0 3px;
}
.trash
{
	cursor:pointer;
	padding:0px;
	margin-left:2px;
}
#extraits .trash {
	position : static;
}

.film_entier {font-size:10px;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-weight:bold;}

.separateur {width:100%;height:2px;margin:0px;padding:0px;background-color:#333333;}

.ext_label{
	font-family: Verdana,Arial;
	font-size: 10px;
	font-weight:bold;
	color: #000000;
	text-align: left;
	padding-right:2px;
}
.ext_val{
	font-family: Verdana,Arial;
	font-size: 10px;
	color: #000000;
	text-align:left;
	padding-left:2px;
}


/************************************/
/** IMAGEUR **/
/************************************/

.imgNormal {
	position:relative;
	float:left;
	width:164px;
	margin:5px;
	text-align:center;
	border:1px solid #999999;
	-moz-border-radius:8px;
	background-color:#E5E5E5;
	padding-bottom:5px;
}
.imgSelected {
	position:relative;
	float:left;
	width:164px;
	margin:5px;
	text-align:center;
	border:1px solid #f18200;
	-moz-border-radius:8px;
	background-color:#ffbe0a;
	padding-bottom:5px;
}
/* FIN PARTIE DROITE */


/************************************************************/
/* ORAOWEB    ACCUEIL   */
/************************************************************/
/*#carrousel_accueil{
	position : absolute;
	top : 0px;
	left : 0px ;
	right : 0px;
	bottom : 0px;

	margin :0px;
	padding : 0px;
	outline : 0;
	overflow:hidden;
}*/
#carrousel_accueil{
	position : relative ;
	/* height : 100vh ;  */
	height : 100%;
	width : 100% ;
	margin :0px;
	padding : 0px;
	outline : 0;
	overflow:hidden;
}

#carrousel_items_wrapper{
	height : 100%;
	min-width : 100%;
	white-space:  nowrap ;
	position : relative ;
}
#carrousel_items_wrapper .carrousel_item_wrapper{
	display:inline-block ;
	width : 100%;
	height: 100%;
	position :relative ;

}

#carrousel_accueil div.carrousel_item{
	background-repeat : repeat-x, no-repeat  ;
	background-size :  auto 60px, cover ;
	background-position : bottom right, center center;
	height : 100%;
}

#carrousel_accueil div.carrousel_item.media_D{
	background-position : bottom right, top center ;
}
#carrousel_accueil div.carrousel_item_info{
	position :absolute ;
	left: 0px;
    width : 65%;
	margin-left : 28px;
	bottom : 10px;
	height : 35px;
	color : white ;
	z-index : 50;
	font-size : 30px;
	/*text-shadow :0px 0px 2px #000000;*/
	display : -webkit-flex ;
	-webkit-align-items : flex-start;
	display: flex;
    align-items: flex-start;
}


#carrousel_accueil div.carrousel_item_info img{
	display :inline-block;
	vertical-align : baseline ;
	margin : 0px ;
	margin-right : 8px ;
	cursor : pointer ;
	height : 34px;
	width : 34px;
}

#carrousel_accueil div.carrousel_item_info .carrousel_item_titre{
	max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	cursor : pointer ;
	padding : 0px 2px;
}


#carrousel_accueil #carrousel_control{
	position: absolute;
    /*left: 0px;*/
    right: 0px;
    text-align: right;
    bottom: 16px;
    height: 20px;
	margin-right : 3%;
	z-index : 51;
}
#carrousel_accueil #carrousel_control .carrousel_control_span{
	display:inline-block ;
	margin : 0px 3px;
	width : 20px;
	height : 20px;
	background: url('../images/small_dot_ffffff_shadow.png') no-repeat center center;
	cursor : pointer ;
}
#carrousel_accueil #carrousel_control .carrousel_control_span.selected{
	background : url('../images/small_dot_d44b3c_shadow.png') no-repeat center center;
}

/****** DOSSIERS THEMATIQUES ********/
#dropmenu {
	position:relative;
	top:0px;
	left:10px;
}

.dropdown {float:left;}
.dropdown div {margin:3px;cursor:pointer;border:1px solid #555555;background-color:#f0f0f0;padding:3px;}
.dropdown div img {vertical-align:middle;}
.dropdown div select {font-size:11px;}
.dropdown div input {font-size:10px;}
.dropdown dt {width:168px; border:2px solid #a0a0a0; padding:5px; margin-right:3px;font-weight:bold; cursor:pointer;  background:#fff}
.dropdown dt:hover {background-image:url(../images/header_over.gif)}
.dropdown dd {padding:0px;margin:0px;position:absolute; overflow:hidden; width:258px; display:none; background:#fff; z-index:200; opacity:0}
.dropdown ul {padding:0px;margin:0px;border:2px solid #a0a0a0; list-style:none; border-top:none}
.dropdown li {padding:0px;display:inline}
.dropdown div:hover {background-color:#e0e0e0;}

/**************************/
/* elements librairie LTO */
/**************************/
div.element_librairie
{
	border:1px solid black;
	width:150px;
	display:inline-block;
	margin-bottom:-1px;
	margin-right:-1px;
}

div.element_librairie>div.element_librairie_num
{
	color:white;
	background-color:black;
	width:26px;
	padding:2px;
	float:left;
}

div.element_librairie>div.element_librairie_vide
{
	padding:2px;
	position:absolute;
}

div.element_librairie>div.element_librairie_infos
{
	background-color:#ccffcc;
	width:120px;
	margin-left:30px;
	position:absolute;
	z-index:1;
}

div.element_librairie>div.element_librairie_infos p
{
	margin:0px;
	padding:2px;
	z-index:2;
}

div.element_librairie>div.element_librairie_infos p.num_tape_set
{
	float:right;
	margin-right:2px;
}

div.element_librairie>div.element_librairie_infos>div.element_librairie_pourcentage
{
	background-color:#ff6600;
	height:18px;
	display:inline-block;
	position:absolute;
	z-index:-1;
}
/***************************************************/





