@import url("style.css");/************************************/body{	font-family: Arial,sans-serif;	font-size: 12px;	color: #000000;	margin: 0px;	padding: 0px;	background-color: #FFFFFF;}#menuGauche{	display : none !important ; }/************************************/