

/*#sousTitrage concerne l'onglet sous-titrage lors d'une modification d'une notice*/

/*div#sousTitrage div#listAllSubtitledFiles table {*/
div#sousTitrage table {
    color: #a79d98;
    /* margin-left: 30px; */
    border: 0;
    border-top: 1px solid #a79d98;
    border-left: 1px solid #a79d98;
    border-spacing: 0;
}


div#sousTitrage div#listAllSubtitledFiles table td, div#sousTitrage div#listAllSubtitledFiles table th {
    border-bottom: 1px solid #a79d98;
    border-right: 1px solid #a79d98;
    padding: 2px 5px;
}


#dialog_loading{
    background-color: white;
    text-align: center;
    display:none;
}


div#sousTitrage #currentSubtitle{
    margin-top: 10px;
    /*overflow-x: hidden; abandon car quand on redimensionne la fenÃªtre du navigateur, on a besoin d'avoir la scrollbar du bas'*/
    overflow: auto;
    height: 482px;
    text-align: center;
    width: 810px;
}

div#sousTitrage #currentSubtitle td{
    /* vertical-align: top */
    vertical-align: middle;
	/*border:1px solid white;*/
	padding:0;
}


#listAllSubtitledFiles tr.active{
    background-color:#feed00;
}


div#sousTitrage table .error{
    color:black;
    background-color: red;
}


#currentSubtitle tr.active{
    background-color: #feed00;
}

#listAllSubtitledFilesLINK img{
    margin-right: 5px;
}

div#listAllSubtitledFilesLINK {
    cursor: pointer;
}


#generateTranscription{
    margin-bottom: 15px; 
}



div#sousTitrage textarea.error, div#sousTitrage input[type="text"].error {
    background-color: red;
    color: black;
}


div#sousTitrage input[type="submit"]{
    /* background: none repeat scroll 0 0 #574238; */
    /* color: #9CCEF3; */
    /* margin: 0 20px 0 0; */
    /* padding: 2px 10px; */
    /* border: 0 none; */
    /* font: 11px Arial, Helvetica, sans-serif; */
}


body .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float:none;
	text-align:center;
}


div#sousTitrage input[type="text"]{
	width: 6.5em;
}

div#sousTitrage #currentSubtitle table{
	border:none;
}


div#sousTitrage #currentSubtitle textarea{
	margin-left:2px;
	margin-right: 2px;
}


#subTitleLineSTART td{
	font-weight:bold;
}



div#sousTitrage #actionFORMSubtitle table{
	border:0;
}


div#sousTitrage a {
    cursor: pointer;
}


div#sousTitrage{
	max-height: 95%;
    overflow: auto;	
}
