#transcript {
	border: 1px solid #888888;
	background-color: white;
	padding: 5px;
	height: 400px;
	margin-top: 10px;
	overflow:auto;
}

#transcript.editMode span:hover {
	border: 1px solid #888888;
	background-color: #eeeeee;
	cursor: pointer;
}

div.SpeechSegment.highlightWord {
	background-color: #CFDFEC;
}

span.highlightWord {
	background-color: #5E9EBE;
}

span.searchWord {
	color: red;
}

span.editWord {
	border: 1px solid #ff0000;
}

#chercheForm fieldset {
    padding: 5px 15px 10px;
}

#speakers {
	border: 1px solid #888888;
	background-color: white;
	padding: 5px;
	margin-right: 10px;
	margin-top: 10px;
	height: 400px;
	width: 100px;
	overflow:auto;
	float: left;
}

#speakers p {
	margin: 0;
	cursor: pointer;
}

#speakers p.highlightSpeaker {
	background-color: #5E9EBE;
}

#speakers img.editSpkButton {
	display: none;
}

#speakers.editMode img.editSpkButton {
	display: block;
}

#speakers input[type='textbox'] {
	width: 60px;
	display: none;
}
