
#mon_slide{
	z-index: 999;
	text-align : center;
	margin-left : auto;
	margin-right : auto;
}

#mon_slide.slideshowFullscreen{
background-color : white ;
}



.hideover{
	overflow:hidden;
}




#mon_slide #ow_boutons
{
	padding:5px;
	margin:5px 0px;
	text-align:center;
	background-color:#888888;
	font:normal 10px Verdana;
	/*width:100%;*/
	/*border:5px solid green;*/
}





#ow_image
{
	/*border:5px solid blue;*/
}

#ow_thumbs
{
	overflow:hidden;
	height:60px;
	margin:5px;
	padding:5px;
	height:68px;
	/*border:5px solid red;*/
}



#ow_legend
{
	font:normal 10px Arial;
	padding:5px;
	/*border:5px solid purple;*/
}



/*-------------------------------*/
/*mise en forme des boutons------*/
/*-------------------------------*/

#ow_boutons a
{
	width:30px;
	height:30px;
	cursor:pointer;
	display:inline-block;
}

#ow_boutons #ow_champ_pager
{
	font:normal 10px Verdana;
	border:0px;
}

#ow_boutons #ow_bouton_go_to_beginning
{
	background-image:url('images/b_aller_debut_petit.gif');
	background-repeat:no-repeat;
	background-position:0px 0px;
}

#ow_boutons #ow_bouton_step_rewind
{
	background-image:url('images/b_image_avant_petit.gif');
	background-repeat:no-repeat;
	background-position:0px 0px;
}

#ow_boutons #ow_bouton_play_pause.btn_play
{
	background-image:url('images/b_play_petit.gif');
	background-repeat:no-repeat;
	background-position:0px 0px;
}

#ow_boutons #ow_bouton_play_pause.btn_pause
{
	background-image:url('images/b_pause_petit.gif');
	background-repeat:no-repeat;
	background-position:0px 0px;
}

#ow_boutons #ow_bouton_step_forward
{
	background-image:url('images/b_image_apres_petit.gif');
	background-repeat:no-repeat;
	background-position:0px 0px;
}

#ow_boutons #ow_bouton_go_to_end
{
	background-image:url('images/b_aller_fin_petit.gif');
	background-repeat:no-repeat;
	background-position:0px 0px;
}

#ow_boutons #ow_bouton_fullscreen
{
	background-image:url('images/b_plein_ecran_petit.gif');
	background-repeat:no-repeat;
	background-position:0px 0px;
}

#ow_boutons #ow_bouton_go_to_beginning:hover
{
	background-image:url('images/b_aller_debut_petit.gif');
	background-repeat:no-repeat;
	background-position:0px -30px;
}

#ow_boutons #ow_bouton_step_rewind:hover
{
	background-image:url('images/b_image_avant_petit.gif');
	background-repeat:no-repeat;
	background-position:0px -30px;
}

#ow_boutons #ow_bouton_play_pause.btn_play:hover
{
	background-image:url('images/b_play_petit.gif');
	background-repeat:no-repeat;
	background-position:0px -30px;
}

#ow_boutons #ow_bouton_play_pause.btn_pause:hover
{
	background-image:url('images/b_pause_petit.gif');
	background-repeat:no-repeat;
	background-position:0px -30px;
}

#ow_boutons #ow_bouton_step_forward:hover
{
	background-image:url('images/b_image_apres_petit.gif');
	background-repeat:no-repeat;
	background-position:0px -30px;
}

#ow_boutons #ow_bouton_go_to_end:hover
{
	background-image:url('images/b_aller_fin_petit.gif');
	background-repeat:no-repeat;
	background-position:0px -30px;
}

#ow_boutons #ow_bouton_fullscreen:hover
{
	background-image:url('images/b_plein_ecran_petit.gif');
	background-repeat:no-repeat;
	background-position:0px -30px;
}
#ow_boutons #ow_bouton_unzoom
{
	background-image:url('images/b_image_moins.png');
	background-repeat:no-repeat;
	background-position:0px 0px;
}
#ow_boutons #ow_bouton_zoom
{
	background-image:url('images/b_image_plus.png');
	background-repeat:no-repeat;
	background-position:0px 0px;
}
#ow_boutons #ow_bouton_zoom:hover,#ow_boutons #ow_bouton_unzoom:hover{
	background-position:0px -30px;
}


/*-------------------------------------*/
/*mise en forme du cadre des images----*/
/*-------------------------------------*/

#ow_img_aff
{
	text-align:center;
}

/*-------------------------------------*/
/*mise en forme du cadre des miniatures*/
/*-------------------------------------*/

#ow_container_thumbs
{
	margin:auto;
	overflow:hidden;
	border-collapse:collapse;
}

#ow_container_thumbs tr td
{
	vertical-align:middle;
	padding:0px 5px;
}

#ow_container_thumbs tr td div[name="cadre_thumb"]
{
	width:71px;
}

#ow_thumbs img.ow_miniature
{
	display:block;
	margin:auto;
	border:2px solid #5b7998;
	max-height:50px;
	max-width:67px;
	opacity:0.5;
	filter:alpha(opacity=50);
}

#ow_thumbs img.ow_miniature.ow_miniature_selected
{
	opacity:1.0;
	filter:alpha(opacity=100);
}

#ow_thumbs img.ow_miniature:hover
{
	opacity:1.0;
	filter:alpha(opacity=100);
}

#ow_thumbs #ow_thumbs_slider
{
	background-color:#aaaaaa;
	height:6px;
	cursor:pointer;
	margin:5px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}

#ow_thumbs #ow_thumbs_curseur
{
	background-color:#222222;
	width:10px;
	height:10px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	position:relative;
	top:-2px;
	/* update VG 31/08/2011 : correction du bug pour navigateurs < IE8*/
	float:left;
}