@import url("style.css");

/**************************/
/* Balises HTML de base : */
/**************************/
body{
	font-family: Arial,sans-serif;
	font-size: 11px;
	color: #333366;
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
	text-align:center;

}

#contenu{
	display:block;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	width:400px;
	text-align: left;
}
legend{
	font-size:11px;
	font-family: Arial,sans-serif;
}

/**************************/
/* General palette */
/**************************/
.palette {
	font-size:11px;
	font-family: Arial,sans-serif;
	background-color:white;
}

#fixme {cursor:pointer;z-index:10;border:1px solid black;height:11px;font-family:verdana;
		font-size:10px;font-weight:bold;background-color:white;}

/**************************/
/* Aff hiérarchique*/
/**************************/
div#blocDtree {

      }
	  
#domRoot {
	font-size:10px;
}
#domRoot a {font-size:10px;}

.lineHidden {
	display: none;
}