@import url("n_style.css");

/*************************************************************************************************/
/* FEUILLE DE STYLE GENERALE (general.css) */
/*************************************************************************************************/

#bufferedDisplayContainer{
	overflow : hidden ! important ;
}

html {
	position : relative ;
	height : 100%;
	/*min-height: 840px;*/
}


body {
  font-family:Arial, Verdana;
  font-size:0.7em;
  background-color:#FFF;
  min-width: 1100px;
  margin : 0px ;
  padding : 0px;
}


div.pusher{
	height:1px;
	visibility : none ;
	clear : both ;
}

*[class^='highlight']{
	background-color : #d44b3c;
	color : white ;
	padding : 0px 1px 0px 2px;
}

a, a:hover, a:focus, a:link, a:visited{
	text-decoration : none ;
	color : #A11511;
}



/*************************************************************************************************/
/* ENTETE */
/*************************************************************************************************/

#entete a,#entete a:visited,#entete a:hover,#entete a:focus{
	text-decoration : none ;
	color : black ;

}
#entete ul li {
	float:left;
}

#entete{
	font-size : 16px;
	  font-family: Verdana;
}


div.headers{
	border-bottom : 1px solid #DADADA;
}


/* CSS Premiere Ligne entete */
#entete #main_header{
	height : 60px;
	padding : 12px 18px 12px 24px;
}

#entete div.headers div{
	display : inline-block ;
}




#block_logo{
	float : left ;
}

#block_logo span{
	display : inline-block ;
	vertical-align : 4px;

}



#block_login,#block_other{
	float : right ;
}
#block_login{
	width : 460px;
	text-align : right ;
}
#block_login p {
	margin : 2px 0px;
}
.headers  input{
	height : 26px;
	border: 1px solid #DADADA;
	padding : 4px;
	font-size: 16px;
}
.headers form input[type='submit'], #prevLink button, #newPanLeft input[type='submit'], #panBoutons button{
	background-color : #D44B3C;
	text-transform : uppercase;
	color : white ;
	height : 30px;
	border : none ;
	height : 36px;
	width : 70px;
}

#panHeaderFieldsWrapper{
	margin : 6px 0px;
	display : none ;
}

#panBlock.full #panHeaderFieldsWrapper{
	display : block ;
		opacity: 1;
   transition: opacity .15s ease-in;
   -moz-transition: opacity .15s ease-in;
   -webkit-transition: opacity .15s ease-in;

}

input.panHeaderFields{
height: 20px;
border: 1px solid #DADADA;
padding: 4px;
margin : 0px 4px;
font-size: 14px;
	width : 300px;
}

input.panHeaderFields[name^='pan_objet']{
	width : 450px;
}

#panBoutons {
	position : absolute;
	left : 0px;
	right : 0px;
	top : auto ;
	text-align : center ;
}
#panBoutons button{
	width : 110px ;
	margin : 0px 8px;
	display : inline-block  ;
	cursor : pointer ;

}
#block_login #login_actions{
	display : inline-block ;
	margin : 4px 0px;
}

#block_login #login_actions a{
	font-size : 12px;
	color : #000;
}



#block_other{
	width : 200px;
}


#block_other ul li{
	border-right : 1px solid black ;
	padding : 0px 7px 0px 9px;
	margin : 0px;
}
#block_other ul li:last-child{
	border : none ;
}


#entete ul li {
	display : inline-block ;
	position : relative ;

}

#entete ul li .drop_down{
	display : none ;
}

#entete ul li:hover .drop_down{
	display :block ;
	position : absolute;
	min-width : 120px;
	padding : 0px;
	left : 0px;
}


#entete ul li.drop_down{
	display : block ;
}

#entete ul li.menu:hover, #entete ul li.menu:hover a{
	background-color : #d44b3c;
	color : #FFF ;
	cursor : pointer;
}


#entete ul li.menu:hover ul.drop_down.imports {
	display : block ;
	position : absolute;
	height: 90px;
	z-index: 60;
	margin-left: 0px;
	padding-left: 0px;
	width : 129px;
	text-align : center;
	border : 1px solid #3B3B3B;
}

#entete ul li.menu:hover ul.drop_down.imports li,#entete ul li.menu:hover ul.drop_down.imports li{
	position : relative ;
	margin: 0px;
	padding: 0px;
	width : 100%;
	text-align : center;
	background-color : white ;
	color : black ;
}
#entete ul li.menu:hover:hover ul.drop_down.imports li a{
	background-color : transparent ;
	color : black ;
}
#entete ul li.menu:hover ul.drop_down.imports li:hover,#entete ul li.menu:hover ul.drop_down.imports li:hover a {
	background-color : #A11511;
	color : white;
}

#entete #menu_header{
	padding : 6px 24px;
}

#entete #menu_header div{
	vertical-align : middle ;
}

#menu_header ul{
	height : 30px;
	margin : 0px;
}

#menu_header li {
	line-height : 30px;
	padding : 0px 30px;
}

#menu_header #conf_display{
	float : right ;
}

#menu_header #display_opts .display_opt span{
	display : inline-block  ;
	width : 24px;
	height : 24px;
	margin : 6px 0px;
	cursor : pointer ;
	background-size : 100% auto;
}

#menu_header li.display_opt{
	padding : 0px 5px;
}

#menu_header .display_opt #preview_icn{background : url('../images/preview.png') no-repeat center center; }
#menu_header .display_opt #side0_icn{background : url('../images/side0.png') no-repeat center center; }
#menu_header .display_opt #side1_icn{background : url('../images/side1.png') no-repeat center center; }
#menu_header .display_opt #side2_icn{background : url('../images/side2.png') no-repeat center center; }
#menu_header .display_opt #side3_icn{background : url('../images/side3.png') no-repeat center center; }
#menu_header .display_opt #preview_icn.selected{background : url('../images/preview-on2.png') no-repeat center center; }
#menu_header .display_opt #preview_icn.disabled{background : url('../images/preview-off.png') no-repeat center center; }
#menu_header .display_opt #side0_icn.selected{background : url('../images/side0-on.png') no-repeat center center; }
#menu_header .display_opt #side1_icn.selected{background : url('../images/side1-on.png') no-repeat center center; }
#menu_header .display_opt #side2_icn.selected{background : url('../images/side2-on.png') no-repeat center center; }
#menu_header .display_opt #side3_icn.selected{background : url('../images/side3-on.png') no-repeat center center; }


#ariane_header a,#ariane_header a:hover{
	color : #A11511;
	text-decoration : underline;
}

#ariane_header{
	padding : 4px 40px;
	font-size : 13px;
}

#ariane_header #accueil_link{
	display : inline-block ;
	padding-left : 15px;
	background : url('../images/home.png') no-repeat left center;
}


/************************************************************/
/* ALERTE BOX */
/************************************************************/

#alertBox {
	position:absolute;
	display:block;
	/*ATTENTION : STT PAS DE display:none sinon on ne peut pas calculer la taille */
	/*top:350px;*/ /*ATTENTION, on ne peut pas utiliser Bottom avec MOVE*/
	/*left:-260px;*/
	top:-1000px;
	left:-1000px;
	width:250px;
	background-image:url('../images/shadow_alpha.png') !important;
	background-image:url('../images/shadow.gif');
	background-position:bottom right;
	z-index:100;

	margin: 10px 0 0 10px !important;
	margin: 10px 0 0 5px;
}
html>body #alertBox { position: fixed;left: -260px; top: 500px; }

#alertBoxContent {
	position:relative;
	margin:-6px 6px 6px -6px;
	padding:25px 5px 25px 5px;
	background-color:#FFBE0A;
	border:1px solid #363636;
	text-align:center;
	font-family:'Trebuchet MS',Helvetica,Arial,sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#333333;
}

/********************* MENU GAUCHE *********************/

div.title_bar{
	background-color : #3b3b3b;
	text-transform : uppercase;
	font-size : 18px;
	color : white ;
	padding: 10px 40px 8px;
	user-select: none;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;
}

#menuGauche {
	width : 260px;
	padding : 0px;
	margin : 0px;
	border-right : 1px solid #CCCCCC;
	display : inline-block ;
	vertical-align : top ;
	/*min-height : 100%;*/
	height : 100%;
	position : relative ;
}

#menuGauche .type_facet{
	padding: 10px 8px 8px 40px ;
	font-size : 16px;
	color : #3b3b3b;
	cursor : pointer;
	white-space : nowrap;
}
#menuGauche .type_facet .arrow{
	display : inline-block ;
	height : 15px;
	width : 15px;
	float :right ;
	background : url(../images/icnside-up.png) no-repeat center center;
}

#menuGauche .type_facet.open .arrow{
	background : url(../images/icnside-down.png) no-repeat center center;
}

#menuGauche .type_facet .facet_icon{
	display : inline-block ;
	width : 23px;
	height : 19px;
}
#menuGauche .type_facet .facet_icon.media{background : url('../images/icnside-media.png') no-repeat left center;}
#menuGauche .type_facet .facet_icon.motCle{background : url('../images/icnside-theme.png') no-repeat left center;}
#menuGauche .type_facet .facet_icon.lieux{background : url('../images/icnside-lieu.png') no-repeat left center;}
#menuGauche .type_facet .facet_icon.producteur{background : url('../images/icnside-personne.png') no-repeat left center;}
#menuGauche .type_facet .facet_icon.fonds{background : url('../images/icnside-fond.png') no-repeat left center;}
#menuGauche .type_facet .facet_icon.date{background : url('../images/icnside-date.png') no-repeat left center;}

#menuGauche .type_facet.unique:hover {
	color:#D44B3C;
	cursor : pointer ;
}

#menuGauche .block_facet{
	display : none;
	background-color :  #D44B3C;

}

#menuGauche .open.block_facet{
	display :block ;
	border-top : 4px solid #A11511;
}

#menuGauche .open.block_facet.openfull{
	max-height : 396px;
	overflow : auto ;
}

#menuGauche .block_facet .count{
	float : right ;
}

#menuGauche .block_facet .facet{
	padding: 10px 12px 10px 40px ;
	font-size : 14px;
	min-height :14px;
	color : white ;
	cursor : pointer ;
}

#menuGauche .block_facet .more_facet{
	font-style : italic;
}

#facet_wrapper{
	position : absolute ;
	top : 40px ;
	right : 0px ;
	left : 0px ;
	overflow : auto ;
	bottom : 40px;
}

#menuGauche .block_facet .facet:hover, form input[type='submit']:hover, #prevLink button:hover,#panBoutons button:hover{
	background-color:#a11511;
	cursor : pointer ;
}


#menuGauche .type_facet:hover, #panGauche li:hover{
	background-color : #F1F1F1 ;
}

#menuGauche.collapsed,#menuGauche.collapsed #facet_wrapper, #panGauche.collapsed{
	overflow : hidden ;
}

#menuGauche.collapsed,  #panGauche.collapsed{
	width : 32px;
}
#menuGauche.collapsed .type_facet{
	padding-left : 8px;
}

#menuGauche.collapsed .type_facet .arrow, #menuGauche.collapsed .block_facet {
	display : none ;
}



/********************* PREVIEW DROITE *********************/


#menuDroite {
	width : 319px;
	padding : 0px;
	margin : 0px;
	border-left : 1px solid #CCCCCC;
	display : inline-block ;
	vertical-align : top ;
	/*min-height : 100%;*/

	position : absolute ;
	top : 0px;
	bottom : 0px ;
	right : 0px ;
	overflow: hidden ;
}


#menuDroite #prevTitre{
	font-size : 20px;
	max-height : 48px;
	overflow : hidden ;
	text-overflow : ellipsis;
}


#menuDroite #previewDoc {
	padding : 16px;
}
#menuDroite #previewDoc h2{
	margin-top : 0px;
}
#menuDroite #prevMedia img{
	margin : 0px auto ;
	display : block ;
}

#menuDroite #prevMedia{
	max-height : 215px;
	max-width : 286px;
}

#menuDroite #prevMedia #media_space #container{
	max-height :215px;
		max-width : 286px;

}

#menuDroite #prevWrapper{
    _position: absolute;
    top: 310px;
    right: 16px;
    left: 16px;
    bottom: 66px;
}

#menuDroite  #prevInfos{
	margin-top : 4px;
	font-size : 14px;
	color : #666;
	text-overflow : ellipsis;
	overflow : hidden ;
	max-height : 400px;
	text-align : justify;

	position: relative;
	max-height: 100% !important;
	margin-bottom: -50px;
	overflow: hidden;

}


#menuDroite #prevLink{
/*	position : absolute ;
	bottom : 30px;*/
	position : relative ;
	top : 30px;
	margin-top : 32px;
}

#menuDroite #prevLink button{
	width : 288px;
	margin : 0px auto;
	visibility : hidden ;
}
#menuDroite.loading{
	background :url("../images/wait4trans.gif") no-repeat center center ;
}
#panFrame.loading{
	background :url("../images/wait4trans-grey.gif") no-repeat center center ;
}
#menuDroite #previewDoc *{
	opacity: 1;
   transition: opacity .15s ease-in;
   -moz-transition: opacity .15s ease-in;
   -webkit-transition: opacity .15s ease-in;
}

#menuDroite.loading #previewDoc *{
	opacity : 0;
	visibility : hidden ;
	  transition: opacity .05s ease-in;
   -moz-transition: opacity .05s ease-in;
   -webkit-transition: opacity .05s ease-in;
}
 #panFrame.loading *{
	opacity : 0;
 }

#menuDroite.collapsed{
	width : 32px;
	background : #FFF;
}

#menuDroite.collapsed #previewDoc{
	visibility : hidden  ;
	display: none ;
}


/********************* CONTENU CENTRAL *********************/


div.toolbar{
	display : inline-block ;
	border-left :  1px solid #CCCCCC;
	position : absolute ;
	top : 0px;
	bottom : 0px ;
	right : 12px;
}

#conteneur{
	position : absolute;
	top : 160px;
	bottom : 40px; /* hauteur pied de page */
	left : 0px;
	right : 0px;
}

div.contenu {
	position : relative ;
	height : 100%;
	background-color : #F1F1F1;
}

#main_block{
	background-color : #F1F1F1;
}

#main_block, #mainResultsBar{
	display : inline-block ;
	position :absolute ;
	top : 40px;
	left : 261px;
	right : 321px;
	bottom : 0px;
	overflow : auto ;
}
#main_block{
	bottom : 40px;
}

/*** Toolbar ***/


div.toolbar .tool:hover .drop_down{
	display : block !important;
}

div.toolbar .drop_down{
	position : absolute;
	/* display : block ! important; */
	z-index : 99;
	top : 40px;
}

div.toolbar .drop_down ul{
	color : white ;
	margin : 0px;
	list-style-type : none ;
	font-size : 16px;
	text-transform : none ;
	/* background-color : #ffbe0a; */
	background-color : #3B3B3B;
	padding : 0px;
	border : 1px solid #DADADA;
}
div.toolbar .drop_down li{
	padding : 2px 6px;
}

div.toolbar .drop_down ul li:hover{
	cursor : pointer ;
	background-color : #ffbe0a;
/* 	background-color : #D44B3C; */
}
div.toolbar .tri .drop_down{
	left : 84px;
}
div.toolbar .add .drop_down{
	left : 41px;
}
#docHeader div.toolbar .add .drop_down{
	left : 0px;
	padding : 0px;
}

div.toolbar .add .drop_down ul{
	max-height : 400px;
	overflow : auto ;
	overflow-x : visible ;
	overflow-y : auto ;
}


#mainResultsBar{
	top : 0px;
	height : 22px;
	overflow : visible ;
}
#mainResultsBar .toolbar, #docHeader .toolbar, div.toolbar{
	font-size : 0px;
}
#mainResultsBar .toolbar div, #docHeader .toolbar  div , div.toolbar div{
	display :inline-block ;
	font-size : 18px;
}
#mainResultsBar .toolbar .tool, #docHeader .toolbar .tool , div.toolbar .tool{
	padding: 10px 10px 8px;
	width :22px;
	height : 22px;
	background-repeat : no-repeat ;
	background-position : center center;
}
#mainResultsBar .toolbar .tool:hover, #docHeader .toolbar .tool:hover, div.toolbar .tool:hover{
	background-color : 	#ffbe0a;
	cursor : pointer ;
}
#mainResultsBar .toolbar.hidden{
	display : none ;
}

#panBlock .toolbar{
	right : 52px;
	z-index : 90;
	display : none ;
}
#panBlock.expanding{
	display : block ;
	opacity : 0;
}
#panBlock .montage_back{
	display :none ;
	background-color : #ffbe0a;
	text-transform : uppercase ;
	color : white ;
	position : absolute;
	top : 0px;
	bottom : 0px;
	right : 52px;
	cursor : pointer ;
	padding : 10px 18px 8px;
}

#panBlock div.toolbar .tri .drop_down{
	left : 84px;
}
#panBlock div.toolbar .add .drop_down{
	left : 41px;
}


#panBlock.full .toolbar{
	display : block ;
}

#panBlock.full.montage .montage_back{
	display : block  ;
}

#panBlock.full.montage .toolbar{
	display : none ;
}

#mainResultsBar .toolbar .check_all, .toolbar .check_all{	background-image : url('../images/icnbar-select.png');}
#mainResultsBar .toolbar .add, #docHeader .toolbar .add, .toolbar .add{	background-image : url('../images/icnbar-add.png');}
#mainResultsBar .toolbar .tri, .toolbar .tri{	background-image : url('../images/icnbar-order.png');}
#mainResultsBar .toolbar #slideshow{	background-image : url('../images/icnbar-slideshow.png');}
#docHeader .toolbar #consult{	background-image : url('../images/icn-play-white.png');}
#mainResultsBar .toolbar #modify, #docHeader .toolbar #modify{	background-image : url('../images/icnbar-edit.png');}
#mainResultsBar .toolbar .print,#docHeader .toolbar .print, .toolbar .print{	background-image : url('../images/icnbar-print.png');}
#mainResultsBar .toolbar #download, #docHeader .toolbar #download{	background-image : url('../images/icnbar-export.png');}
#mainResultsBar .toolbar #fullscreen{	background-image : url('../images/icnbar-expand.png');}


#mainResultsBar .presentation, #panBlock .presentation{
	background-color : #ffbe0a;
	font-size : 0px;
}

#mainResultsBar .presentation span, #panBlock .presentation span{
	display : inline-block ;
	height : 22px;
	width : 22px;
	padding: 10px 10px 8px;
	cursor : pointer ;
}
#mainResultsBar .presentation #listChooser,#panBlock .presentation #panListChooser {
	padding-right : 4px;
	background : url("../images/icnbar-list-off.png") no-repeat 16px center ;
}
#mainResultsBar .presentation #mosChooser,#panBlock .presentation #panMosChooser{
	padding-left : 4px;
	background : url("../images/icnbar-mozaic-off.png") no-repeat 6px center ;
}


#mainResultsBar .presentation #listChooser.selected,#panBlock .presentation #panListChooser.selected{
	background : url("../images/icnbar-list-on.png") no-repeat 16px center;
}
#mainResultsBar .presentation #mosChooser.selected ,#panBlock .presentation #panMosChooser.selected{
	background : url("../images/icnbar-mozaic-on.png") no-repeat 6px center;
}

#main_block.pres_0,#mainResultsBar.pres_0,#main_block.pres_3,#mainResultsBar.pres_3, #panBlock.pres_0 #mainPan, #panBlock.pres_3 #mainPan{
	left :33px;
}
#main_block.pres_0,#mainResultsBar.pres_0,#main_block.pres_1,#mainResultsBar.pres_1 , #panBlock.pres_0 , #panBlock.pres_1 {
	right :33px;
}

.mobile_label {
	display: none;
}

/******************** BLOCK PANIER FOOTER **************************/


#panBlock{
	z-index:50;
	position :absolute ;
	bottom : 0px;
	left : 0px;

	background-color : #FFF;
	right : 321px;
	border-top : 1px solid #CCCCCC;

}
#panBlock .title_bar{
	position : absolute ;
	top : 0px;
	left : 0px;
	right : 0px;
}

#panBlock.collapsed{
	height : 40px;
}
#panBlock.full{
	height : auto  !important ;
	top : 40px;
}

#panBlock.full.full_width{
	top : 0px;
}
#panBlock.full.full_width .presentation{
	display : none ;
}


#panBlock.expanded{
	height : 215px;
}

#panBlock.full_width{
	right : 0px !important;
}

#panGauche{
	position : absolute ;
	bottom : 0px;
	left : 0px;
	width : 260px;
	top : 0px;
	border-right : 1px solid #CCCCCC;
}

#panGauche .panListe{
	overflow : auto ;
	position: absolute;
	top: 40px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 0px;
	margin: 0px;
	top : 40px;
}


#panBlock #panGauche.collapsed .panListe{
	visibility : hidden ;
}

#panGauche .panListe li#newPanLeft{
	padding : 7px 8px 4px 40px;
}
#newPanLeft input{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	line-height : 18px;
}
#newPanLeft input[type='submit']{
	width : 45px;
	height : 24px;
}

#newPanLeft input[type='submit']:hover{
	background-color : #a11511;
}


#panGauche.collapsed .panListe{
	overflow : hidden ;
}


#panGauche .panListe li{
	padding: 10px 8px 8px 40px ;
	font-size : 16px;
	color : #3b3b3b;
	cursor : pointer;
	white-space : nowrap;

}

#panGauche .panListe li.selected{
	background-color : #D44B3C ;
	color : white ;
}

#panGauche .panListe li.hoverPanier{
	background-color : #D44B3C;
	color : white ;
}


#panBlock.collapsed .panListe, #panBlock.collapsed #panFrame{
	display : none ;
}

#mainPan{
	position :absolute ;
	left : 261px;
	right : 0px;
	bottom : 0px;
/*	overflow : hidden ; */
	top : 0px;
	padding-top : 40px;
	background-color : #F1F1F1;
}

#panFrame{
	border : none ;
	height : 100%;
	width : 100%;
	overflow : auto ;

}

#panFrame #panBoutons{
	display : none ;
}
#panBlock.full #panFrame #panBoutons{
	display : block ;
	margin-top : 4px;
}
#panierDropZone{
	display : none ;
	position : absolute;
	top : 40px;
	left : 0px;
	right : 0px;
	bottom : 0px;
	background-color : rgb(59,59,59);
	background-color : rgba(59,59,59,0.9);
	z-index : 55;
}
#panierDropZone #textDropZone{
	position : absolute ;
	top : 10px;
	left : 20px;
	right : 20px;
	bottom : 10px;
	padding : 50px 20px;
	text-align : center ;
	font-size : 18px;
	color : white ;
	border-radius : 10px;
	border : 3px dotted #EFEFEF;
}


#panierDropZone.visible{
	display : block ;
}

#mainPan .title_bar{
	background-image : url('../images/icnbar-up.png') ;
	background-position : center center;
	background-repeat : no-repeat;
	padding-right : 22px
}

#panBlock.expanded #mainPan .title_bar{
	background-image : url('../images/icnbar-down.png') ;
}

#panExpandFull{
	display :inline-block ;
	height :40px;
	width : 40px;
	right : 12px;
	position : absolute ;
	top : 0px;
	background : url('../images/icnbar-expand.png') no-repeat center center;
	cursor : pointer ;
}


#panBlock.full #panExpandFull{
	background : url('../images/icnbar-retract.png') no-repeat center center;
}

#panExpandFull:hover, #panBlock.full #panExpandFull:hover{
	background-color : #ffbe0a;
}

#panFrame div.info_entete{
	font-size : 14px;
	margin : 5px 10px;
	padding : 4px 8px;
	background-color : #FFBE0A;
	color : #3b3b3b;
	border : 1px solid #FFBE0A;
}

#formCommande{
	font-size :12px;
}

#formCommande input, #formCommande textarea{
	font-family : Arial ;
}

#formCommande table td.resultsCorps{
	padding : 3px 0px;
	border-top : 1px solid #3b3b3b;
}

/********************* PIED DE PAGE *********************/


#pied{
	background-color :  #F1F1F1;
	padding : 9px 10px 10px 36px;
	border-top  : 1px solid #DDD;
	font-size : 16px;
}

#pied a ,#pied a:link, #pied a:focus, #pied a:visited {
	color : black ;
	margin : 0px 4px;
	text-decoration : none ;
	cursor : pointer ;
}