/**************************/
/* Balises HTML de base : */
/**************************/





#previewHoverWrapper{
	position : fixed ;
	width : 400px ;
	height : 400px;
	border : 1px solid #DADADA;
	top : 40%;
	left : 40%;
	z-index:100;
	display : none ;
	background-color : #3b3b3b ;
	line-height : 400px;
	vertical-align : middle;
	box-shadow: 4px 4px 10px #3b3b3b;
	list-style-type : none ;
	overflow : hidden ;
}


#previewHoverWrapper #previewContainer{
	/*vertical-align : middle ; */
	display : inline-block ;
	width : 100%;
	max-width : 100%;
	/*max-height : 100%;*/
}

#previewHoverWrapper #previewContainer video,#previewHoverWrapper #previewContainer audio {
	max-width : 100% !important;
	width : 100% ! important ;
	height : auto ! important ;
}

#media_space{
	vertical-align : middle ;
	max-height : 100%;
}

#previewHoverInfos{
	font-size : 14px;
	color : white ;
	line-height : 16px  ;
	padding : 10px;

}


/********** MOSAIQUE ********/

#resultats.mos {
	position : relative ;
}

.resultsMos {
	float : left;
	position:relative;
	font-family: Arial;
	font-size: 11px;
	border:1px solid #DDD;
	background-color : #f1f1f1;
	width: 202px;
	height : 165px;
	margin:5px;
	text-align : center;
}

.resultsMos a:link, .resultsMos a:visited,.resultsMos a:hover{
	color: #333366;
	text-decoration: none;
}
.resultsMos a:hover{
	color: #005FA9;
	text-decoration: underline;
}

.resultsMos #outils{
	position:absolute;
	left:20px;
	bottom:0px;
	right : 20px;

}

.resultsMos .bgVignetteMos{
	background-color : #CCC;
	padding-top:1px;
	padding-bottom : 1px;
	min-height : 113px;
}

#loadMoreRes{
	margin : 20px auto ;
	width : 90%;
	text-transform : uppercase;
	font-size : 17px;
	color : #33383E ;
	background-color : #CCC;
	text-align : center;
	padding : 17px 0px;
	cursor : pointer;
	min-height : 19px;
}

#loadMoreRes:hover{
	background-color : #3B3B3B;
	color : white ;
}

#loadMoreRes.disabled span{
	display : none ;
}

#loadMoreRes.disabled,#loadMoreRes.disabled:hover{
	background : url("../images/loader_list_doc_grey.gif") no-repeat center center;
}

.resultsMos.selected, #resultats.liste tr.selected , #panFrame tr.selected{
	outline : 1px solid #d44b3c;
}



/********** LISTE ********/

div.resultsMenu{
	margin : 20px auto;
	width  : 97%;
	background-color : #e8e8e8;
	font-size : 14px;
	position : relative;
	text-align : center ;
}

div.resultsMenu div{
	display :inline-block ;
	padding : 14px 0px;
}

div.resultsMenu div input,div.resultsMenu div select, #docPager input, #docPager select{
	height :32px;
	margin : -8px auto;
	padding : 0px;
	text-align : center ;
	border: 1px solid #CCCCCC;
	font-size : 14px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}



div.resultsMenu .nb_res{
	/*width : 33%;*/
	text-align : left ;
	padding-left : 14px;
	float : left ;
}
div.resultsMenu .browser{
	text-align : center ;
}
div.resultsMenu .browser img{
	vertical-align: middle ;
}
div.resultsMenu .browser input{
	width : 50px;
}
div.resultsMenu .res_par_pages{
	text-align : right ;
	padding-right : 14px;
	float : right ;
}


#resultats.liste table , #panFrame table#panier{
	border-collapse : collapse;
}
#resultats.liste table td, #panFrame table#panier td{
	padding : 0px 4px;
	max-width : 800px;
	text-overflow : ellipsis ;
	overflow : hidden ;
}
#resultats.liste table tr , #panFrame table#panier tr{
	border : 1px solid #DADADA;
	background-color : #FFF;
	font-size : 13px;
	padding : 6px 0px;
}


#panFrame table#panier tr.pan_sort_placeholder{
	height : 80px ! important ;
	font-size :auto ;
	padding:auto ;
}
 #panFrame table#panier tr.ui-sortable-helper{
	display : table ;
 }

  #panFrame table#panier tr.ui-sortable-helper td{
	display : table-cell ;
  }
#resultats.liste table tr.separator,#panFrame table#panier tr.separator{
	border : 0px solid #DADADA;
	background-color : transparent ;
	line-height : 6px;

}

#resultats.liste tr.resultsHead_row,#panFrame table#panier tr.resultsHead_row{
	font-size : 15px;
	line-height : 32px;
	vertical-align : middle ;
}
#resultats.liste tr.resultsHead_row a,#panFrame table#panier tr.resultsHead_row a{
	text-decoration : none ;
	color :#000;

}

#resultats.liste table a,#panFrame table#panier a{
	color : #000;
	text-decoration : none ;
}

#resultats  .resultsCorps.bloc_image, #panFrame table#panier  .bloc_image{
	display : block  ;
	min-height : 80px;
}


#resultats  .resultsCorps .conteneur_dragable, #panFrame table#panier .conteneur_dragable{
	text-align : center;
	background-color : #CCC;
	height : 80px;
}
#resultats  .resultsCorps .conteneur_dragable img{
	vertical-align : middle ;
	display : inline-block ;
}


/***************** *************/
.resultsCorps_div {
	font-family: Arial;
	font-size: 11px;
	color: #333366;
	padding-left:3px;
	font-weight: normal;
	border-bottom: 1px solid #ccc;
	height:95px;
	float:left;
	overflow:hidden;
	text-overflow:ellipsis;
}


.resultsHead_div {
	font-family: "Trebuchet MS" ;
	font-size: 12px;
	color: #003872;
	text-decoration: none;
	font-weight: bold;
	padding-left:3px;
	border-bottom: 2px solid #003872;
	height:15px;
	float:left;
}

/************** LEFT BLOCK FICHE DOC *************/
#leftBlock{
	/*width : auto;
	position : relative ;
	margin : 10px;
	margin-right : 1168px;
	min-width : 371px;
	max-height : 620px;*/
	position : absolute;
	left : 10px;
	right : 920px;
	top : 10px;
	bottom : 10px;

}



#container {
	max-width : 100%;
	max-height : 100%;
	height : 100% ;
	width : 100%;
}

#leftBlock #container #poster[src$="wait4video.gif"]{
	height : 100%;
}
#container.img{
	height : 100% !important;
}
#media_space {
	height : 100%;
}

#media_space #container.video{
	position : absolute;
	top : 0px;
	left : 0px;
	right : 0px;
	bottom : 0px;
	width : auto ; height : auto ; max-width : auto ; max-height : auto ;
	overflow : hidden ;
}


div.contenu.cont_doc{
	background-color : #F1F1F1;
}
#docHeader{
	position :relative ;
	background-color : #E8E8E8;
	margin : 0px 20px 10px 0px;
	width : auto ;
	height : 40px;
	top : 10px;

}
#docHeader div {
	display : inline-block ;
	height : 40px;
	padding : 0px 6px;
}
.title_bar div {
	display : inline-block ;
	height : 40px;
	padding : 0px 0px;
}
#docHeader div#backButton, .title_bar div#backButton{
	background-color : #3B3B3B;
	width : 40px;
	padding : 0px;
	vertical-align : top ;
}

.title_bar div#backButton{
	height : 22px;
}

#docHeader #pageTitre, .cont_doc #pageTitreResponsive{
	font-size : 22px;
	line-height : 40px;
	vertical-align : middle ;
	max-width : 500px;
	min-width : 300px;
	text-overflow : ellipsis;
	overflow : hidden ;
	white-space : nowrap ;
	padding-left : 40px;
}

.cont_doc #pageTitreResponsive {
	display: none;
}

#docHeader #docPager{
	vertical-align : top ;
	line-height : 40px;
	font-size : 14px;
	position : absolute;
	left : 45%;
}

#docHeader #docPager *{
	vertical-align : middle ;
}

#docHeader .toolbar{
	background-color : #3B3B3B;
	right : 0px;
	padding : 0px;
}
#docHeader .toolbar a{
	text-decoration : none ;
}


.toolbar .tool span.tool_hover_text{
	display : none ;
}
.toolbar .tool:hover span.tool_hover_text{
	position : absolute;
	width : 140px;
	height : 24px;
	background-color: #ffbe0a;
	top : -32px;
	text-transform : none;
	margin-left:  -60px;
	padding-left:  0px;
	padding-top : 6px;
	text-align : center;
	font-size : 16px;
	color : white ;
	display : block;
}



/*
.toolbar .tool.check_all:hover::before{
	content : "Tout Sélectionner";
}
.toolbar .tool.add:hover::before{
	content : "Ajouter à ...";
}
.toolbar .tool.tri:hover::before{
	content : "Trier par ...";
}
.toolbar .tool.print:hover::before{
	content : "Imprimer";
}
.toolbar #modify.tool:hover::before{
	content : "Modifier";
}
.toolbar #consult.tool:hover::before{
	content : "Consultation";
}
*/
#docHeader .tool:last-child:hover span.tool_hover_text {
		margin-left:  -90px;
}

#docHeader a.icoBackSearch {
	color : transparent ;
	width : 40px;
	height : 40px;
	display : inline-block ;
	overflow : hidden ;
	background: url('../images/icnbar-back.png') no-repeat center center ;
}

.title_bar a.icoBackSearch {
	color : transparent ;
	width : 22px;
	height : 22px;
	display : inline-block ;
	overflow : hidden ;
	background: url('../images/icnbar-back.png') no-repeat center center ;
}



/*
#docHeader{
	position : absolute;
	top : 0px;
	left: 0px;
	right : 0px;
	height : 60px;
}
*/
#docBody{
	position : absolute ;
	top	: 60px;
	left : 20px;
	right : 20px;
	bottom : 50px;
	background-color : #FFF;
	border : 1px solid #DDD;
}

.contentBody{
	margin-top	: 20px;
	margin-left : 20px;
	margin-right : 20px;
	margin-bottom : 20px;
	background-color : #FFF;
	border : 1px solid #DDD;
}

.panelSelWrapper{
	list-style-type : none ;
	padding : 0px;
	margin : 0px;
	margin-bottom : 10px;
}

.panelSelWrapper .panelSel{
	display : inline-block ;
	font-size : 14px;
	padding : 4px 8px;
	background-color : #E8E8E8;
	margin : 0px 3px
}

.panelSelWrapper .panelSel:hover, .panelSelWrapper .panelSel.selected{
	background-color : #d44b3c;
	color : white ;
	cursor : pointer ;
}
.panelSelWrapper .panelSel:first-child{
	margin : 0px 3px 0px 0px;
}


#media_space{
	position : relative ;
}
#ow_prevOverContainer{
	z-index : 90;
	background-color : #FFFFFF !important;
}


#fiche_info{
	position : absolute;
	top :0px;
	bottom : 0px;
	right : 0px;
	/*width : 1148px;*/
	width : 900px;
	padding : 10px;
}

#fiche_info #desc fieldset.ui-widget-content , #saisieForm fieldset{
	border-radius : 0px;
	border : 1px solid #e8e8e8;
	border-color : #e8e8e8;
}
#fiche_info #desc, #fiche_info #story, #fiche_info #extrait {
	max-height : 95%;
	overflow : auto ;
}

.scrollableDiv {
	max-height : 90%;
	overflow : auto ;
}

#fiche_info button{
	padding: 3px 8px 3px 3px;
	font-size :12px;
}
#fiche_info button span.ui-icon{
	float: left;
	margin: -2px 5px 0 0;
}

/**************** FORM SAISIE***********/


#saisieForm .label_champs_form{
	vertical-align : middle ;
}

#fiche_info #desc #saisieForm .label_champs_form,#fiche_info #desc td.label_champs_form{
	min-width : 150px;
}

#saisieForm input {
	padding:0 2px;
}
#saisieForm select, #saisieForm input, #saisieForm textarea {
	background-color:#fff;
	color:#000;
	border:1px solid #CCC;
	font-size: 12px;
}
#saisieForm select:hover, #saisieForm input:hover, #saisieForm textarea:hover {
	border:1px solid #448dae;
}

#saisieForm input:focus{
	border:1px solid #6eac2c;
	background-color:#fff;
	color:#222;
}

#saisieForm input[mandatory], #saisieForm select[mandatory], #saisieForm textarea[mandatory]{
	border:1px solid #CCC;
	background-color:#ffde81;
	color:#222;
}

input[readonly], #saisieForm input[readonly], #saisieForm select[readonly], #saisieForm textarea[readonly]{
	border:1px solid #CCC;
	background-color:#ddd;
	color:#222;
}


#saisieForm legend {
	font-size: 14px;
	font-weight:bold;
	margin:0 15px;
	padding:0 5px;
}

#saisieForm label {
	padding-right: 5px;
	padding-left: 5px;
	line-height:20px;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
}

#saisieForm input[type=radio]{
	background-color:#fff;
	border:0;
	margin: 0 10px 0 0;
}

#saisieForm input[type=button]{
	background-color:#D44B3C;
	color:#fff;
	border:1px solid #CCC;
	font-size: 11px;
	padding : 2px 4px;
}

#saisieForm button, #saisieForm textarea{
	font-size: 12px;
}

#chooser{
	z-index : 60;
	background-color : black ;
}

#chooser #frmchoose{
	margin-top : 6px;
}


.miniTab {
	color:black;
	border : 1px solid #ccc;
	background-color:#f0bfb9;
	padding:1px;
	margin:2px;
	font-size:11px; /*s'applique au libelle des champs*/
}

.miniTabLigne {
	font-size:12px;
	font-weight:bold;
	padding-left: 5px;
	margin-right: 15px;
	display:inline;
	width:200px;
}

.miniButton {
	font-family:Arial;
	font-size:12px;
	padding:3px;
	font-weight:bold;

	text-align:center;
	clear:both;
	display:block;
	/*background-color:#eeffee;
	border-left:2px solid #009900;
	border-bottom:2px solid #009900;
	border-right:2px solid #009900;
	color:#009900; */

	cursor:pointer;
/*	margin:0px 0px 15px 15px;*/
}

.miniTrash {
	cursor:pointer;
	vertical-align:middle;
	padding-left:5px;
	padding-right:5px;

}

.miniTab .miniTrash{
	float : right ;
}

.miniField {font-size:10px;margin:0px;padding:0px;}


/************************************/
.lineDoc {
	color: #333366;
	width:100%;
	background-color:#FFFFFF;
	padding:1px;
	border: 1px solid #000066;
	display:block;
	overflow:hidden;

	clear:both;
	font-family:Arial;
	font-size:11px;
}
.lineDoc:hover {background-color:#FEFEFE;}

.lineDesc {
	color: #000000;
	padding:1px;
	margin:3px;
	border: 1px solid #cccccc;
	display:block;
	/*width:100%;*/
	overflow:hidden;
	font-family:Arial;
	font-size:11px;
	clear:both;
}

/************* RIGHTPANEL ************/

#iframeSauve{
 height : 0px !important ;
 border : none ;
}

#sidecommande {
	 background-color:white;
	 font-family:Arial,Helvetica,sans-serif;
	 font-size:10px;
	 margin:0px;
	 width:auto;
}

#selectFolder {
	width:100%;
	font-size:12px;
	/*font-weight:bold;*/
	border : 1px solid #3b3b3b;
	font-family:'Trebuchet MS',Arial,Helvetica, sans-serif;
	background-color:#e8e8e8;
	margin:0px;
	border-bottom : 0px;
}

.icon_bar{display:block;text-align:center;background-color:#e8e8e8; border : 1px solid #3b3b3b; }
.icon_bar img {cursor:pointer;}

#zoneSaisie
{
	padding : 0px;
}

#zoneSaisie input{
	font-size: 12px;
	padding-left: 0.5ex;
	padding-right: 1px;
	margin: 8px 0px 0px 0.5ex;
}

#zoneSaisie .row_extrait input, #zoneSaisie .row_extrait_selected input{
	margin : 2px 0px 0px 2px;
}

.ext_TC {color:#666666;}
.ext_titre {}
.select {font-size:10px;margin:0px;padding:0px;color:#666666;width:90px;}
.row_extrait{background-color:white;height:35px;width:99%;border:1px solid #e5e5e5 !important;display:block;
	text-align: left;
}
.row_extrait_selected{background-color:#FFEEAA;height:35px;width:99%;border:1px solid #666666;display:block;
	text-align: left;
}
.radio_extrait{color:black;float:left;border-width:0;padding:5px 2px 0px 2px;}
.ext_handler {background-color:#ABABAB;width:20px;height:90%;border:2px outset #ABABAB;
			  top:0px;left:0px;float:left;display:block;cursor:pointer;}
.ext_handler_selected {background-color:#ffbe0a;width:20px;height:90%;border:2px inset #ffbe0a;
			  top:0px;left:0px;float:left;display:block;cursor:pointer;}
.ext_handler img, .ext_handler_selected img {
margin:7px 0 0 3px;
}
.trash
{
	cursor:pointer;
	padding:0px;
	margin-left:2px;
}
#extraits .trash {
	position : static;
}

.film_entier {font-size:10px;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-weight:bold;}

.separateur {width:100%;height:2px;margin:0px;padding:0px;background-color:#333333;}

.ext_label{
	font-family: Verdana,Arial;
	font-size: 10px;
	font-weight:bold;
	color: #000000;
	text-align: left;
	padding-right:2px;
}
.ext_val{
	font-family: Verdana,Arial;
	font-size: 10px;
	color: #000000;
	text-align:left;
	padding-left:2px;
}


/************************************/
/** IMAGEUR **/
/************************************/

.imgNormal {
	position:relative;
	float:left;
	width:164px;
	margin:5px;
	text-align:center;
	border:1px solid #999999;
	-moz-border-radius:8px;
	background-color:#E5E5E5;
	padding-bottom:5px;
}
.imgSelected {
	position:relative;
	float:left;
	width:164px;
	margin:5px;
	text-align:center;
	border:1px solid #f18200;
	-moz-border-radius:8px;
	background-color:#ffbe0a;
	padding-bottom:5px;
}
/* FIN PARTIE DROITE */


/************************************************************/
/* ORAOWEB    ACCUEIL   */
/************************************************************/

#tab_home {
	font-size : 14px;
}

#tab_home td {
	width: 320px;
	/*height: 223px;*/
	border: 1px solid #DBDBDB;
	vertical-align: top;
	background-image: url(../images/bg_news.gif);
	background-color: #fff;
	padding: 10px;
}

#tab_home td.no_bg
{
	background:none;
	border:none;
}

#tab_home tr td .vignette_accueil
{
	width:150px;
	float:left;
	text-align:center;
}

#tab_home tr td .vignette_accueil img
{
	max-width:150px;
	max-height:150px;
	border:none;
}

#tab_home tr td .texte_doc_acceuil
{
	margin-left:155px;
	word-wrap: break-word;
	width:165px;
	height:136px;
	text-align:center;
}

#tab_home tr td .texte_doc_acceuil .titre_doc_acceuil
{
	height:62px;
}

#tab_home tr td .lien_liste_doc_accueil
{
	text-align:center;
	width:320px;
}



#tab_home h6 {
	margin: 0px 0px 15px 0px;
	vertical-align: middle;
    color: #000000;
    font-family: Trebuchet MS,sans-serif;
    font-size: 25px;
    font-weight: normal;
	text-align:left;
}

#tab_home h6 img {
	padding-left: 10px;
}



.preview {
	width : 80px ;
}


.ui-icon {
	float: left;
}



