/* CSS associé au container */


#ow_controllerpanel{
/*	margin : 0px;
	padding : 0px;
    margin-top : 10px;
*/

	position : absolute ;
	margin-bottom : 0px;
	left : 0px;
	right : 0px;
	bottom : 10px;
	margin-left : auto;
	margin-right : auto;
	padding : 0px;
        margin-top : 10px;
        height : 94px;
   /* width : 100% !important;*/
	/*bottom : 10px; /* anciennement 145 (nouveau placement container)*/
}




.hideover{
	overflow :  hidden;
}


#video{
    position : relative;
	background-color : black;
	width : 100%;
    margin : 0px;
    padding : 0px;

}

/*#capsVid{
    
   margin :auto;
    padding : 0px;
    width : 100%;

    }*/

#capsVid{
	background-color : black;
	position : absolute;
	width : auto;
	height : auto;
	top :0px;
	left:0px;
	right:0px;
	bottom : 120px;
    }

/* CSS sound slider */

#containSound{
	width : 51px;
	position : relative;
	display : inline-block;

	background-color : white;
	height : 11px;
	top : -11px;
	z-index : 7;
	margin-top:8px;
	margin-left:15px;
	zoom: 1;
	*display : inline;
}

#ow_id_sound_slider{
	/*position :relative ;*/
	width : 51px;
	height : 11px;
	background-image: url('images/cache_slider_son_blue.png');
}

#ow_sound_handle{
    position : relative;
	width : 7px;
	height : 11px;
	background-color : black;
    z-index :-1 ;
}

/* CSS timeline */


#timecodeDisplay{
	/*width : auto;
	height : auto;
	display : block;
	margin-top : 3px;
	margin-bottom : 3px;
    margin-left : auto;
    margin-right : auto;*/
	
	margin : 5px;
	padding : 0px 4px;
	
	text-align : center;
	color:black;	

	display : inline-block;
	}



/* Div contenant l'ensemble de la timeline + timeline selection */
#ow_id_progress_slider{
	height : 8px;
	padding : 0px;
    top :0px;
    margin : 0px 5px 0px 5px;

}


#ow_time_passed
{
	background-color:#FF0000;
	height:4px;
	margin-left:5px;
	margin-right:5px;
	margin-top:-4px;
	position:relative;
	z-index:1;
}


    /* CONTRAINTES POUR UN AFFICHAGE CLASSIQUE :   */
/*  -le curseur de la timeline (progress_handle) est verticalement centré par rapport à la progress_track
    -les height de backgroundTimeline et .bufferedDisplayDivs sont égales
    -la largeur des curseurs de selection ==  la largeur du curseur timeline
    -les margin-left et margin-right de backgroundTimeline et du bufferedDisplayContainer valent largeur du curseur timeline divisé par 2 
    -select_track et progress_track ne se superposent pas (pour ne pas gener l'utilisateur)


/*div d'image de fond de la timeline */
/* L'image de fond définit l'apparence générale de la timeline, notament dans les zones non chargées de la vidéo.
    Il est important que la hauteur du backgroundTimeline soit la meme que celle de la classe .bufferedDisplayDivs,
    la hauteur des divs représentant la bufferisation est calquée sur la hauteur representant la timeline */
#backgroundTimeline
{
	position : relative;
	background-color : #cbcbcb;
	height : 4px;
    margin-left : 5px;
    margin-right : 5px;
}



/* div representant la track du curseur timeline, transparent afin de rester en couche supérieure sans cacher les autres, plus grand que l'affichage afin de simplifier les clicks */
#progress_track
{
	position : relative;
	z-index : 4;
	background-color : transparent;
	width : 100%;
	padding : 0px;
	height : 10px;
	cursor:pointer;
	/*margin-top:-7px;*/

}
/* div du curseur timeline */
#progress_handle{
	background-color :black;
	width : 10px;
	height : 8px;
    left : -2px;
    top : 1px;
	position : relative ;
	z-index : 5;
	border-radius:2px;

}


/*div contenant l'ensemble des divs de représentation du chargement*/
#bufferedDisplayContainer{
    margin-left : 5px;
    margin-right : 5px;
    
    }


/* classe des différents divs représentant le chargement */
.bufferedDisplayDivs
{
	display : block;
	background-color: #5c9ccc;
	height : 4px;
	position : relative;
	border : 0px;
    padding : 0px;
    margin : 0px;
}



/* CSS timeline selection */
/* span représentant la proportion de vidéo selectionnée par l'extrait */
#selection{
	height : 3px;
	background-color : #cc8811;
	position: relative;
	z-index : 3;
    margin-left:5px;
    top : 0px;
}
/* div représentant la track des curseurs de selection, transparente  pour rester en couche supérieure sans cacher le reste et facilité l'interaction */
#select_track{
	height : 4px;
	width : 100%;
	background-color : transparent;
	position: relative;
	z-index : 4;
    margin : 0px;
    padding : 0px;
    top:0px; 
    left : 0px;
	/*margin-top : -3px;
	/*border-radius :3px;*/
	
	}

#handle_BegSel{
	width : 10px;
	position : relative;
	z-index:5;
	height : 6px;
	background-image :url(images/curseursSelection.png);
    background-repeat : no-repeat;
}


#handle_EndSel{
	width : 10px;
	height : 6px;
	position : relative;
	z-index:5;
	margin-top : -6px;
	background-image :url(images/curseursSelection.png);
    background-repeat : no-repeat;
}
	/*border-radius:5px;*/

/*.selected{
	background-color : #08A721;
}*/



.hideselection{
    display : none;
    }



#range1{
	background-color : black;
	opacity : 0.3;
	position :relative;
	z-index : 3;
	height : 10px;
	margin-top:-10px;
}


#ow_first_row_controller {
	min-width : 370px;
	max-width : 460px;
	margin-left:auto;
	margin-right:auto;
	text-align : center; 
	background-color : #DFEFFC;
	border : 1px solid #c5dbec;
	border-bottom : 0px;
	margin-top : 8px;
	
}


#ow_boutons_extraits{
	display : inline-block ; 
	width : 120px;
	height : 30px;
	vertical-align : -66%;
	margin : 0px 5px ;
	padding : 2px 0px 2px 6px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* CSS jog shuttle */
#jogcontainer{
	height : 15px;
	border-spacing: 0px;
	padding: 0px;
	margin : 15px;	
    margin-left : auto;
    margin-right : auto;
    width : 250px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#joginfo{
	margin : 0px ;
	padding : 0px;
	/*height : 15px;
	vertical-align : top;
	*/
    width : 45px;
    text-align : center;
	display : inline-block;
	
    visibility : hidden ;
}

#ow_id_jog_slider{
	display : inline-block;
	width : 166px;
	height : 15px;
	background : url('images/barre_jogshuttle.png') top left no-repeat;
        cursor:pointer;
	border-radius:3px;
}

#ow_id_jog_handle
{
	width : 22px;
	height : 8px;
	background: url('images/b_curseur_jogshuttle_petit.png') top left no-repeat;
	border-radius:2px;
	margin-top :3px;
	left:72px;
        cursor:pointer;
}

#ow_id_jog_handle:hover
{
	background: url('images/b_curseur_jogshuttle_petit_hover.png') top left no-repeat;
}

/* CSS boutons */

.texttest{
	width : 50px;
}



#ow_boutons{
	/*border : 1px solid black;
    background-color : #888;*/
	background-color : #DFEFFC;
	border : 1px solid #c5dbec;
	/*border-top : 0px;*/
	border-bottom-left-radius : 8px;
	border-bottom-right-radius : 8px;
    text-align : center;
	min-width : 370px;
	max-width : 460px;
    margin-left : auto;
    margin-right : auto;
    padding:0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	
}

#ow_boutons .btn{
	cursor : pointer ; 
}

.btn{
	display : inline-block;
}

#ow_bouton_fullscreen{ width:30px; height : 30px;  background:url(images/b_plein_ecran_petit.gif) left top no-repeat;}
#ow_bouton_mute_sound{  height : 30px; width : 30px; background:url(images/mute_sound.gif) left top no-repeat;}
#ow_bouton_go_to_beginning { width: 30px; height : 30px; background:url(images/b_aller_debut_petit.gif) left top no-repeat;}
#ow_bouton_fast_rewind { width: 30px; height :30px; background:url(images/b_retour_rapide_petit.gif) left top no-repeat;}
#ow_bouton_step_rewind { width: 30px; height : 30px; background:url(images/b_image_avant_petit.gif) left top no-repeat;}
#ow_bouton_play_pause.play  { width: 30px ; height : 30px; background:url(images/b_play_petit.gif) left top no-repeat;}
#ow_bouton_play_pause.pause {width :30px; height : 30px ; background:url(images/b_pause_petit.gif) left top no-repeat;}
#ow_bouton_step_forward { width: 30px; height : 30px; background:url(images/b_image_apres_petit.gif) left top no-repeat;}
#ow_bouton_fast_forward { width: 30px; height : 30px; background:url(images/b_avance_rapide_petit.gif) left top no-repeat;}
#ow_bouton_go_to_end { width: 30px; height : 30px; background:url(images/b_aller_fin_petit.gif) left top no-repeat;}

#ow_bouton_ext_in { width: 30px; height : 30px; background:url(images/b_definir_debut_petit.gif) left top no-repeat}
#ow_bouton_ext_out { width: 30px; height : 30px; background:url(images/b_definir_fin_petit.gif) left top no-repeat}
#ow_bouton_ext_save{ width: 30px; height : 30px; background:url(images/b_disquette_petit.gif) left top no-repeat}
#ow_bouton_ext_cancel{ width: 30px; height : 30px; background:url(images/abandon.gif) left top no-repeat}

#ow_bouton_loop
{
	width:30px;
	height:30px;
	background:url('images/b_image_loop.gif') left top no-repeat;
}

A#ow_bouton_go_to_beginning:hover { background-position:left -30px }
A#ow_bouton_fast_rewind:hover {background-position:left -30px  }
A#ow_bouton_step_rewind:hover { background-position:left -30px }
A#ow_bouton_play_pause:hover { background-position:left -30px }
A#ow_bouton_step_forward:hover { background-position: left -30px }
A#ow_bouton_fast_forward:hover { background-position:left -30px }
A#ow_bouton_go_to_end:hover {background-position:left -30px  }
A#ow_bouton_fullscreen:hover{ background-position:left -30px}
A#ow_bouton_mute_sound:hover{ background-position : left -30px}


A#ow_bouton_loop:hover
{
	background-position : left -30px;
}

A.ClickBouton#ow_bouton_fast_forward{ background-position : left -60px}
A.ClickBouton#ow_bouton_fast_rewind{ background-position : left -60px}
A.ClickBouton#ow_bouton_play_pause{ background-position : left -60px}
A.ClickBouton#ow_bouton_step_forward{ background-position : left -60px}
A.ClickBouton#ow_bouton_step_rewind{ background-position : left -60px}
A.ClickBouton#ow_bouton_mute_sound{background-position : left -60px}


A#ow_bouton_loop.activated
{
	background-position : left -60px;
}









/* Classes ajoutées lors du passage en mode fullscreen */

/* IE7 => les classes doivent etre définies avec l'ID de l'element qu'on souhaite modifier  si on veut que le changement de classe dynamique via javascript calcule les styles. */


#ow_main_container.containerNS{
	width : 100% !important;
	height :100% !important;
}

#ow_main_container{
	width : 100% ! important;
	height : 100% ! important ;
}

#container.containerFS{
	margin : 0px;
	/*top : 0px !important;
	left : 0px !important;
	bottom : 0px !important;
	right : 0px !important;*/
	z-index : 99;
	
	/*position : fixed;  impossible car redemarre la video*/
	/*width : 100%;
	height : 100%;*/
	/*text-align : center; pas de text-align : center, sinon bug de décalage du handle de la progressbar */	
	background-color : white;
}

#ow_controllerpanel.controllerpanelFS{
	position : fixed;
	bottom : 0px !important;
	left :0px;
	height : 110px;
	width : 100% !important;
	right :0px;
	background : white;
	overflow : visible;
	/*margin : 5px;*/
}

#video.videoFS{
	width : 100%;
	height : 100%;
}

#capsVid.capsuleVideoFS{

	background-color : black;

	position : absolute;
	bottom : 120px !important;
	left : 0px;
	top : 0px;
	right : 0px;
	margin : 0px;
	width : auto !important;
	
	height: auto ;
}

.audioHide{
display : none;
}


.temp{
display : none;
}

