@import url("style.css");

/**************************/
/* Balises HTML de base : */
/**************************/
body{
	font-family: Arial,sans-serif;
	font-size: 11px;
	color: #333366;
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
	text-align:center;

}

#contenu{
	display:block;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	width:400px;
	text-align: left;
}
legend{
	font-size:11px;
	font-family: Arial,sans-serif;
}

/**************************/
/* General palette */
/**************************/
.palette {
	font-size:11px;
	font-family: Arial,sans-serif;
	background-color:white;
}

#fixme {cursor:pointer;z-index:10;border:1px solid black;height:11px;font-family:verdana;
		font-size:10px;font-weight:bold;background-color:white;}

/**************************/
/* Aff hiérarchique*/
/**************************/
div#blocDtree {

      }
	  
#domRoot {
	font-size:10px;
}
#domRoot a {font-size:10px;}

.lineHidden {
	display: none;
}

/*******************************************************/
div.prio_selector{
	padding : 0px;
	margin : 0px;
	box-sizing : border-box ; 
	display : inline-block ; 
	white-space : nowrap ; 
	font-size : 0;
}
div.prio_selector .prio_stars{
	opacity : 0.25 ;
	cursor : pointer ; 
	box-sizing:border-box ; 
	padding : 0px 2px;
}


div.prio_selector .prio_stars:first-child,
div.prio_selector[data-job-priorite = '2'] .prio_stars:nth-child(2),
div.prio_selector[data-job-priorite = '1'] .prio_stars:nth-child(2),
div.prio_selector[data-job-priorite = '1'] .prio_stars:nth-child(3),
div.prio_selector[data-job-priorite = '0'] .prio_stars:nth-child(2),
div.prio_selector[data-job-priorite = '0'] .prio_stars:nth-child(3),
div.prio_selector[data-job-priorite = '0'] .prio_stars:nth-child(4){
	opacity : 1 ;
}
	
div.prio_selector[data-job-priorite]:hover .prio_stars{
	opacity : 0.75;
}

div.prio_selector[data-job-priorite]:hover .prio_stars:hover ~ .prio_stars{
	opacity : 0.25
}
