#action_bar {
    /*border:2px solid black;*/
    margin:2px;
    padding:8px;
}
.btnAction {
/*    border:1px solid #bdbdbd;*/
    margin:2px;
    padding: 4px 8px;
    display:inline !important;
    cursor:pointer;
	background-color:#dddddd;
    color:#black;
    font-size:12px;
    font-family:Arial,sans-serif;
    font-weight:normal;}
/*.btnActionSelected {
			border:2px solid #666666;margin:2px;padding:2px;display:inline;cursor:pointer;
			background-color:#e5b066;color:#black;font-size:12px;font-family:Arial, sans-serif;font-weight:bold;			
			} */

.btnActionSelected {
/*    border: 2px solid #666666;*/
    margin: 2px;
    padding: 4px 8px;
    display: inline !important;
    cursor: pointer;
    color: #black;
    font-size: 12px;
    font-family: Arial, sans-serif;
   /* font-weight: bold;	*/
    background-color: #d44b3c;
/*    text-transform: uppercase;*/
    /* font-size: 18px; */
    color: white;	
}
.btnImage {padding:2px;vertical-align:middle;}

.fld_normal {background-color:tranparent;border:tranparent;}
.fld_error {background-color:#ffdddd;border:1px solid red;}

#action_comment {color:#666666;font-size:12px;padding-left:10px;height:20px;}

#form1 input, #form1 select, #form1 button {margin:2px;}

#waiter {position:absolute;left:0px;top:0px;
		width:100%;height:100%;z-index:100;display:none;
		opacity:0.9;filter:alpha(opacity=90);text-align:center;
		background:white url(../images/wait4trans.gif) center no-repeat;
		font-size:24px;
}

#input_container {
	display:none;
	text-align:center;
}

#input_container label {font-size:11px;font-weight:normal;font-family:Georgia,Times,serif;vertical-align:middle;}

button {
    display:inline;
    margin:0 7px 0 0; 	
    cursor:pointer;
    vertical-align:middle;
    font-family:Arial,sans-serif;
    font-size:12px;
}
button img {margin:1px 3px 1px 1px;vertical-align:middle;}

#bAppliquer {border:1px solid #006600;background-color:#ddffdd;}
#bAppliquer:hover {background-color:#bbddbb;}
#bAnnuler {border:1px solid #660000;background-color:#ffdddd;}
#bAnnuler:hover {background-color:#ddbbbb;}

input.button {
	border:1px solid black;
	background-color:#f5f5f5;
	font-weight:bold;
	font-size:11px;
	margin:0px;
	
}
