body{
background-color: #ffffff;
}

#menu{
	display:none;
}
#contenu {
	min-width: 1100px;
}

#container {
	background-color: transparent;
	width: 330px;
	position: absolute;
	top: 100px;
	left: 3px;
}

#fiche_info {
	position: absolute;
	left: 350px;
	top: 100px;
	width: 750px;
}

#ligne-two {
	background-color: #888;
}

td#ow_id_jog_slider {
	background-color: #e7e7e3;
	border-style: none;
}

#videoplayer, #ow_id_end_restart_video,  #ow_id_wentFS_restart_video {
	background-color: #fff;
}

/************************************************************/
/* ORAOWEB     */
/************************************************************/
#sidecommande {
	 background-color:white;
	 font-family:Arial,Helvetica,sans-serif;
	 font-size:10px;
	 margin:1px;
	right:auto;
	width: 550px;
	height: auto;
}

#zoneSaisie{
	overflow-y:scroll;
	height:380px;
}

#selectFolder {
	width:100%;
	font-size:10px;
	font-weight:bold;
	font-family:'Trebuchet MS',Arial,Helvetica, sans-serif;
	color:white;
	background-color:#888888;
	margin:0px;
}

.icon_bar{display:block;text-align:center;background-color:#888888;border:1px solid black;}
.icon_bar img {cursor:pointer;}

#zoneSaisie input{margin:2px 0px 0px 2px;padding-left:2px;}

.ext_TC {color:#666666;font-size:9px;width:70px;margin:0px;padding:0px;}
.ext_titre {font-size:10px;margin:0px;padding:0px;width:200px;border:1px solid #cccccc;}
.row_extrait select {font-size:10px;margin:0px;padding:0px;color:#666666;width:90px;}
.row_extrait{background-color:white;height:35px;width:99%;border:1px solid #e5e5e5;display:block; }
.row_extrait_selected{background-color:#FFEEAA;height:35px;width:99%;border:1px solid #666666;display:block; }
.radio_extrait{color:black;float:left;border-width:0;padding:5px 2px 0px 2px;}
.ext_handler {background-color:#ABABAB;width:20px;height:90%;border:2px outset #ABABAB;
			  top:0px;left:0px;float:left;display:block;cursor:pointer;}
.ext_handler_selected {background-color:#CC8811;width:20px;height:90%;border:2px inset #CC8811;
			  top:0px;left:0px;float:left;display:block;cursor:pointer;}
.trash {display:inline;cursor:pointer;padding:0px;margin-left:2px;border:0px;}	
.film_entier {font-size:10px;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-weight:bold;}
 
.separateur {width:100%;height:2px;margin:0px;padding:0px;background-color:#333333;}
/* FIN PARTIE DROITE */
