/**************************/
/* Balises HTML de base : */
/**************************/

/* Liens */

a{
 	color: #c4000d;
	text-decoration: none;
}

a:link{
 	color: #c4000d;
	text-decoration: none;
}

a:visited{
 	color: #c4000d;
	text-decoration: none;
}

a:hover{
 	color: #c4000d;
	text-decoration: underline;
}


/**************************/
/* Header */

h1,.h1{
 font-family: 'Vonness Medium',Arial,sans-serif;
 font-size: 15px;
 font-weight:bold;
 margin: 0px;
 padding: 0px;
}

h2,.h2{
 font-family: "Georgia",serif;
 font-size: 14px;
 margin: 0px;
 padding: 0px;
}

h3,.h3{
 margin: 0px;
 padding: 0px;
 color: #334d55;
}
h3 a, .h3 a {
 color: #334d55;
}

h4{
 font-family: Arial,sans-serif;
 font-size: 12px;
 font-weight: normal;
 margin: 0px;
 padding: 0px;
}

h5{
 font-family: 'Vonness Medium',Arial,sans-serif;
 font-size: 12px;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}

legend {
	font-size: 12px;
	font-weight:bold;
	margin:0 15px;
	padding:0 5px;
}

/* ----------------------------------------------- */
/* Labels et imputs (champs de texte, bouton, ...) */
/* ----------------------------------------------- */
label{
 font-family: Arial,sans-serif;
 font-size: 11px;
 font-weight: bold;
}

input{
	font-family: Arial,sans-serif;
	font-size: 11px;
}
select {
	font-size:11px;
}


/***************************************************/
/*                   TITRES                        */
/***************************************************/

#pageTitre, #pageTitreResponsive{
	padding: 0px 10px 4px 0px;
	margin:0px 0px 0px 10px;
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	font:15px Verdana,sans-serif;
	font-weight: bold;
 	color: #333366;

 	/* L'entete doit avoir une taille fixe, le seul element pouvant changer la taille (hauteur) de l'entete est le titre,
 	on bloque le div de titre a 1 ligne, avec un overflow cache, et qui genere des petits points a partir du moment ou le
 	texte depasse*/

 	overflow : hidden;
 	white-space : nowrap;
 	width : 95%;
 	height : 18px;
 	text-overflow : ellipsis;

}

#pageTitreResponsive {
	display: none;
}

#pageName{
	padding: 0px 10px 0px 0px;
	margin:0px 0px 0px 10px;
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	font:15px Verdana,sans-serif;
	font-weight: bold;
 	color: #333366;

}
.docTitre {
	font-size:22px;
	font-weight:bold;
	font-family:Georgia,serif;
	color:#334d55;
}

/***************************************************/
/*                   TEXTES                        */
/***************************************************/
.votre_recherche{
 font-family: 'Vonness Medium',Arial,sans-serif;
 font-size: 12px;
 color: #000000;
 margin-left: 30px;
}

/***************************************************/
/*                   MENUS					       */
/***************************************************/

.contentMenu {
	font-size:11px;
	font-family:'Trebuchet MS';
	color:#333333;
	background-color:white;
	border-bottom:1px solid black;
}

.contentMenu a {
	width:120px;
	color:#333366;
	background-color:#F0F0F0;
	border:1px solid #666666;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	margin-left:4px;
	-moz-border-radius:4px;
}

.contentMenu a:hover {background-color:#F0F0FF;}

/************************************/
/** Onglets dans page, par exemple, dans la saisie materiel **/
#onglets {
	width:96%;
	font-family: 'Trebuchet MS',Helvetica,Arial,sans-serif;
	font-size: 12px;
	padding:14px;
	color:#555555;
	border:1px solid #aaaaaa;
	background-color:#f5f5f5;
	margin:4px 0px 4px 0px;
}

#onglets a:link, #onglets a:visited {
	border:1px solid #555555;
	background-color:#d5d5d5;
	padding:0px 5px 0px 5px;
	color:#333333;
	margin-right:5px;
}

#onglets a>img {
	margin-left:2px;
}

#onglets a:hover {

}
#onglets a.selected {background-color:#f5b566;}

/************************************************************/
/************************************/

#menuDoc {
	font-family:Verdana,Arial;
	font-size:10px;
	font-weight: bold;
	color: #898989;
	border-bottom:1px solid #555555;
	background-color:#ffffff;
	margin-top: 4px;
	margin-bottom: 4px;
	position: static;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 2px;
}

#menuDoc a:link, #menuDoc a:visited, #menuDoc a:hover {
	border:1px solid #555555;
	background-color:#d5d5d5;
	color:#333333;
	text-decoration:none;
	margin-right: 6px;
	position: static;
	display: inline-block;
	padding-top: 2px 2px 2px 2px;
}


#menuDoc a:hover {
	text-decoration:underline;
}

#menuDoc a>img {
	padding: 0;
	text-decoration:none;
	height: 13px;
	margin: 3px;
}

#menuDoc a.selected {background-color:#f5b566;}

/***************************************************/
#dropmenu {
	position:relative;
	top:0px;
	left:10px;
}

.dropdown {float:left;}
.dropdown div {margin:3px;cursor:pointer;border:1px solid #555555;background-color:#f0f0f0;padding:3px;}
.dropdown div img {vertical-align:middle;}
.dropdown div select {font-size:11px;}
.dropdown div input {font-size:10px;}
.dropdown dt {width:168px; border:2px solid #a0a0a0; padding:5px; margin-right:3px;font-weight:bold; cursor:pointer;  background:#fff}
.dropdown dt:hover {background-image:url(../images/header_over.gif)}
.dropdown dd {padding:0px;margin:0px;position:absolute; overflow:hidden; width:258px; display:none; background:#fff; z-index:200; opacity:0}
.dropdown ul {padding:0px;margin:0px;border:2px solid #a0a0a0; list-style:none; border-top:none}
.dropdown li {padding:0px;display:inline}
.dropdown div:hover {background-color:#e0e0e0;}

/***************************************************/
/*                   FORMULAIRES                   */
/***************************************************/
button {
	padding: 3px 8px 3px 3px;
}
button span.ui-icon {
	float:left;
	margin: -3px 5px 0 0;
}
/************************************/

#chercheForm fieldset {
	width: 800px;
	border : 1px solid #A9D4F5;
	background-color:#DFF0F8;
	padding: 15px 14px 10px;
        margin-top: -7px;
	font-family: "Trebuchet MS";
	font-size: 12px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
*+html #chercheForm fieldset{position: relative;margin: 0 0 1em 0;}

#chercheForm legend {
	font-size: 12px;
	font-weight:bold;
	margin:0 15px;
	padding:0 5px;
}
*+html #chercheForm legend{position: absolute;top: -.7em;}

#chercheForm input {
	padding:0 2px;
}
#chercheForm select, #chercheForm input {
	background-color:#fff;
	color:#000;
	border:1px solid #77d5f7;
}
#chercheForm select:hover, #chercheForm input:hover {
	border:1px solid #448dae;
}

#chercheForm input:focus{
	border:1px solid #6eac2c;
	background-color:#fff;
	color:#222;
}

#chercheForm label {
	padding-right: 5px;
	line-height:20px;
	text-align: right;
	font-weight:normal;
	width: 80px;
}

#chercheForm input[type=radio]{
	background-color:#fff;
	border:0;
	margin: 0 10px 0 0;
}

#chercheForm input[type=button],#chercheForm input[type=submit]{
	background-color:#0078ae;
	color:#fff;
	border:1px solid #77d5f7;
	font-size: 11px;
}
/************************************/
#sauvRecherche {
	background-color:#fff;
	width: 400px;
	border:1px solid #77d5f7;
}
/************************************/
#saisieForm fieldset {
	/*width: 800px;*/
}

#saisieForm input {
	padding:0 2px;
}
#saisieForm select, #saisieForm input, #saisieForm textarea {
	background-color:#fff;
	color:#000;
	border:1px solid #77d5f7;
	font-size: 12px;
}
#saisieForm select:hover, #saisieForm input:hover, #saisieForm textarea:hover {
	border:1px solid #448dae;
}

#saisieForm input:focus{
	border:1px solid #6eac2c;
	background-color:#fff;
	color:#222;
}

#saisieForm input[mandatory], #saisieForm select[mandatory], #saisieForm textarea[mandatory]{
	border:1px solid #77d5f7;
	background-color:#ffffb4;
	color:#222;
}

#saisieForm input[readonly], #saisieForm select[readonly], #saisieForm textarea[readonly]{
	border:1px solid #77d5f7;
	background-color:#ddd;
	color:#222;
}


#saisieForm legend {
	font-size: 14px;
	font-weight:bold;
	margin:0 15px;
	padding:0 5px;
}

#saisieForm label {
	padding-right: 5px;
	padding-left: 5px;
	line-height:20px;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
}

#saisieForm input[type=radio]{
	background-color:#fff;
	border:0;
	margin: 0 10px 0 0;
}

#saisieForm input[type=button]{
	background-color:#0078ae;
	color:#fff;
	border:1px solid #77d5f7;
	font-size: 11px;
}

#saisieForm button, #saisieForm textarea{
	font-size: 12px;
}

/************************************/
.button_fieldset{
	margin-top :10px;
	margin-bottom :10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border : 1px solid #A9D4F5;
	background-color:#DFF0F8;
}

/************************************/
.label_champs_form {
	font-family: Verdana;
	font-size: 11px;
	font-weight:bold;
	color: #000;
	text-align: right;
	padding-left:4px;
	padding-right:3px;
	padding-top:4px;
	width: 145px;
}

.label_champs_form a  {
	text-align: left;
	font-family: Verdana;
	font-size: 11px;
	font-weight:bold;
	color: #003872;
	text-decoration:none;
	padding-top:4px;
}
.label_champs_form a:hover{
	text-decoration:underline;
}

/************************************/
.val_champs_form {
	font-family: Verdana;
	font-size: 11px;
	color: #000;
	text-align:left;
	padding-left:4px;
	padding-top:4px;
}

td.val_champs_form
{
	word-wrap:break-word;
	width: 300px;
}

.val_champs_form a {color:#003872}

/************************************/
.checkbox_champs_form {
	font-family: Arial;
	font-size: 11px;
	color: #000;
	text-align:left;
	padding-left:4px;
	padding-bottom:4px;
	border-bottom:1px solid #ccc;
}
/************************************/
.readonly {
	font-family: Arial;
	font-size: 11px;
	color: #333366;
	background-color:#eeeeee;
	text-align:left;
	padding-left:4px;
}
/************************************/
.commande_champs_form {
	font-family: Arial;
	font-size: 13px;
	color: #333366;
	text-align:left;
	padding-left:4px;
}

/************************************/
.fieldLabel { /* utilise  en V2 pour la saisie mat... a utliser ailleurs ? */
	font-family: Arial;
	font-size: 11px;
	color: #333366;
	text-align:right;
	padding-right:3px;
}
/************************************/


/************************************/
.tableauCriteres {
	padding:0px;
	width:650px;
	background-color:#ebe5dc;
}
.tableauCriteres {border:1px solid #aaaaaa;padding:2px;background-color:#f5f5f5;}

/************************************/

.miniTab {
	color:black;
	border : 1px solid #A9D4F5;
	background-color:#DFF0F8;
	padding:1px;
	margin:2px;
	font-size:11px; /*s'applique au libelle des champs*/
}

.miniTabLigne {
	font-size:11px;
	font-weight:bold;
	padding-left: 5px;
	display:inline;
	width:200px;
}

.miniButton {
	font-family:Arial;
	font-size:12px;
	padding:3px;
	font-weight:bold;

	text-align:center;
	clear:both;
	display:block;
	/*background-color:#eeffee;
	border-left:2px solid #009900;
	border-bottom:2px solid #009900;
	border-right:2px solid #009900;
	color:#009900; */

	cursor:pointer;
/*	margin:0px 0px 15px 15px;*/
}

.miniTrash {
	cursor:pointer;
	vertical-align:middle;
	padding-left:5px;
	padding-right:5px;
}

.miniField {font-size:10px;margin:0px;padding:0px;}


/************************************/
.lineDoc {
	color: #333366;
	width:100%;
	background-color:#FFFFFF;
	padding:1px;
	border: 1px solid #000066;
	display:block;
	overflow:hidden;

	clear:both;
	font-family:Arial;
	font-size:11px;
}
.lineDoc:hover {background-color:#FEFEFE;}

.lineDesc {
	color: #000000;
	padding:1px;
	margin:3px;
	border: 1px solid #cccccc;
	display:block;
	width:100%;
	overflow:hidden;
	font-family:Arial;
	font-size:11px;
	clear:both;
}


/************************************************************/
/* TABLEAU DE RESULTATS : */
/************************************************************/

.tableResults {
	width: 95%;
	color: #333366;
	margin-top:2px;
}

/************************************************************/

.resultsHead {
	font-family: "Trebuchet MS" ;
	font-size: 12px;
	color: #003872;
	text-decoration: none;
	font-weight: bold;
	padding-left:3px;
	border-bottom: 2px solid #003872;
}
.resultsHead a:link, .resultsHead a:visited{
	color: #003872;
	text-decoration: none;
}
.resultsHead a:hover{
	color: #003872;
	text-decoration: underline;
}

.resultsHead_div {
	font-family: "Trebuchet MS" ;
	font-size: 12px;
	color: #003872;
	text-decoration: none;
	font-weight: bold;
	padding-left:3px;
	border-bottom: 2px solid #003872;
	height:15px;
	float:left;
}
/************************************************************/
.resultsCorps {
	font-family: Arial;
	font-size: 11px;
	color: #333366;
	padding-left:3px;
	font-weight: normal;
	border-bottom: 1px solid #ccc;
}

.resultsCorps td {	border-bottom: 1px solid #ccc; padding-left:4px; }

.resultsCorps a:link, .resultsCorps a:visited{
		color: #333366;
		text-decoration: none;
}

.resultsCorps a:hover{
		color: #005FA9;
		text-decoration: underline;
}
.resultsCorps_div {
	font-family: Arial;
	font-size: 11px;
	color: #333366;
	padding-left:3px;
	font-weight: normal;
	border-bottom: 1px solid #ccc;
	height:95px;
	float:left;
	overflow:hidden;
	text-overflow:ellipsis;
}


/************************************************************/
.resultsMos {
	float : left;
	position:relative;
	font-family: Arial;
	font-size: 11px;
	border:1px solid #A9D4F5;
	-moz-border-radius:8px;
	background-color:#F5F6F7;
	width: 150px;
	height : 160px;
	margin:5px;
	padding-top:2px;
	text-align : center;
}

.resultsMos a:link, .resultsMos a:visited{
	color: #333366;
	text-decoration: none;
}
.resultsMos a:hover{
	color: #005FA9;
	text-decoration: underline;
}

.resultsMos #outils{
	position:absolute;
	left:20px;
	bottom:0px;
}
.resultsMos #modif{
	margin-left:20px;
	margin-bottom:-2px;
}
.resultsMos #video{
	margin-left:20px;
	margin-bottom:-2px;
}


/************************************************************/
/* Pour un affichage alternatif des lignes d'un tableau */
.altern0 { background-color: #F5F5F9; }
.altern1 { background-color: #FFFFFF; }

.altern0:hover { background-color: #E7F3E4; }
.altern1:hover { background-color: #E7F3E4; }

/************************************************************/
/* menu affichage des pages */

.resultsMenu {
	font-family: Arial;
	font-size: 11px;
	color: #333366;
	padding:13px 18px;
}
.resultsMenu a:link, .resultsMenu a:visited{
	color: #003872;
	text-decoration: none;
}
.resultsMenu a:hover{
	color: #c4000d;
	text-decoration: none;
}

#sauvPanier.resultsMenu{
	padding : 0px;
	display : inline;
}
#newPanLeft.resultsMenu{
	background-color:#ffffff;
	border:0px solid #cccccc;
	width:100%;
	text-align:center;
	padding : 0px;
}
/************************************************************/
/* Barre de boutons affiches en bas des ecrans */
.resultsBar {
	font-family: Arial;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	color: #333366;
	text-decoration: none;
	font-weight: bold;
}

.resultsBar a:link, .resultsBar a:visited{
	color: #666633;
	text-decoration: none;
}
.resultsBar a:hover{
	color: #666633;
	text-decoration: underline;
}



/************************************/
/* AFFICHAGE HIERARCHIQUES     */
/************************************/
#folders {
	margin-left:3px;
	font-size:12px;
	font-weight:bold;
	font-family:'Verdana';

}

.expandFolder img {
	border:0px;
	display:inline;
}
.collapseFolder img {
	border:0px;
	display:inline;
}

.folder {
	display:block;
	padding:2px;
	font-size:10px;
	font-weight:normal;
}
.folder a:link, .folder a:visited, .folder a:hover   {
	padding-left:11px;
	font-size:12px;
	font-weight:bold;
}

.cart {
	display:block;
	padding:2px;
	font-size:10px;
	font-weight:normal;
}
.cart a:link, .cart a:visited, .cart a:hover {
	display:inline;
	padding-left:7px;
	font-size:12px;
	font-weight:bold;
}

/************************************/
/* BLOC DTREE */

DIV.blocDtree{
	padding: 10px 10px 10px 10px;

}
DIV.blocDtree A {
	color:#555555;
	font-family:Arial;
	font-size:10px;
}

/************************************/
/** Page admin **/
/************************************/
.admin_zone {
	width:300px;
	margin-right:50px;
	background: #ffffff;
	border: 1px solid #cccccc;
	text-align:left;
}
.admin_zone li{
	display:block;
	padding: 2px 3px 2px 8px;
	font-size: 11px;
	text-decoration: none;
	color: #000000;
	margin:2px 0;
	height:13px;
}
/** Tableaux dans l'admin **/

.admin {
	line-height:20px;
	text-align:left;
}

.admin a {
	color:#333366;
	font-family:"Trebuchet MS";
	font-size:12px;
	text-align:left;
}

/************************************/
/** IMAGEUR **/
/************************************/

.imgNormal {
	position:relative;
	float:left;
	width:164px;
	margin:5px;
	text-align:center;
	border:1px solid #999999;
	-moz-border-radius:8px;
	background-color:#E5E5E5;
	padding-bottom:5px;
}
.imgSelected {
	position:relative;
	float:left;
	width:164px;
	margin:5px;
	text-align:center;
	border:1px solid #f18200;
	-moz-border-radius:8px;
	background-color:#ffd5b3;
	padding-bottom:5px;
}
/************************************/
/*** INFO dans entete de pages   ***/
/************************************/
.info_entete {
	margin:10px;
	color:black;
	width:95%;
	border:1px solid #666666;
	background-color:#FFCC66;
	font-size:12px;
	padding:3px;
	font-family:"Trebuchet MS",sans-serif;
	}


/************************************************************/
/*** Messages d'erreur   ***/
/************************************************************/

.error {
	color: #CC3300;
	font-weight: bold;
}

.error a{
	color: #CC3300;
	font-weight: normal;
	text-decoration: none;
}

.error a:hover{
	text-decoration: underline;
}


.errormsg {
	background-color: #FFFF99;
	font-size: 12px;
}


/************************************************************/
/*** HIGHLIGHT  ***/
/************************************************************/

.highlight1 {
	background-color: #CCAA66;
	font-weight:bold;
	color:#FFFFFF;
}

.highlight2 {
	background-color: #CC66AA;
	font-weight:bold;
	color:#FFFFFF;
}

.highlight3 {
	background-color: #AA66CC;
	font-weight:bold;
	color:#FFFFFF;
}

.highlight4 {
	background-color: #AACC66;
	font-weight:bold;
	color:#FFFFFF;
}

.highlight5 {
	background-color: #66AACC;
	font-weight:bold;
	color:#FFFFFF;
}

.highlight6 {
	background-color: #66CCAA;
	font-weight:bold;
	color:#FFFFFF;
}

.highlight7 {
	background-color: #CCAA66;
	font-weight:bold;
	color:#FFFFFF;
}

.highlight8 {
	background-color: #CCAA66;
	font-weight:bold;
	color:#FFFFFF;
}

/************************************************************/
/* ORAOWEB     */
/************************************************************/

#fiche_info {
	/*position: relative;
	left: 0px;
	top: 0px;
	min-width:400px;
	width: 58%;
	float : right;*/

	margin-left:42%;
	padding-left:10px;
}

#media_space{
	position :relative;
	min-height : 800px;
	min-width : 380px;
	width:42%;
	float:left;
	top : 8px;
}

@-moz-document url-prefix()
{
	#container
	{
		/*min-height : 400px;*/
	}

	#media_space
	{
		min-width : 370px;
	}
}


/* container existe qqsoit la visionneuse choisie,
	position absolute > pour le fixer sous l'entete
	width & height auto > pour resize via CSS
	right > pour laisser la place a la fiche info sur le cote */
#container {
	position : relative;
	left : 0px;
	right : 0px;
	width : 100%;

}



#videoplayer {
	 background-color:white;
}
#sidecommande {
	 background-color:white;
	 font-family:Arial,Helvetica,sans-serif;
	 font-size:10px;
	 margin:1px;
	 width:auto;
}

#selectFolder {
	width:100%;
	font-size:10px;
	font-weight:bold;
	font-family:'Trebuchet MS',Arial,Helvetica, sans-serif;
	color:white;
	background-color:#888888;
	margin:0px;
}

.icon_bar{display:block;text-align:center;background-color:#888888;border:1px solid black;}
.icon_bar img {cursor:pointer;}

#zoneSaisie
{
	padding:10px;
}

#zoneSaisie input{
	font-size: 12px;
	padding-left: 0.5ex;
	padding-right: 1px;
	margin: 8px 0px 0px 0.5ex;
}

#zoneSaisie .row_extrait input, #zoneSaisie .row_extrait_selected input{
	margin : 2px 0px 0px 2px;
}

.ext_TC {color:#666666;}
.ext_titre {}
.select {font-size:10px;margin:0px;padding:0px;color:#666666;width:90px;}
.row_extrait{background-color:white;height:35px;width:99%;border:1px solid #e5e5e5 !important;display:block;
	text-align: left;
}
.row_extrait_selected{background-color:#FFEEAA;height:35px;width:99%;border:1px solid #666666;display:block;
	text-align: left;
}
.radio_extrait{color:black;float:left;border-width:0;padding:5px 2px 0px 2px;}
.ext_handler {background-color:#ABABAB;width:20px;height:90%;border:2px outset #ABABAB;
			  top:0px;left:0px;float:left;display:block;cursor:pointer;}
.ext_handler_selected {background-color:#CC8811;width:20px;height:90%;border:2px inset #CC8811;
			  top:0px;left:0px;float:left;display:block;cursor:pointer;}
.ext_handler img, .ext_handler_selected img {
margin:7px 0 0 3px;
}
.trash
{
	cursor:pointer;
	padding:0px;
	margin-left:2px;
}
#extraits .trash {
	position : static;
}

.film_entier {font-size:10px;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-weight:bold;}

.separateur {width:100%;height:2px;margin:0px;padding:0px;background-color:#333333;}

.ext_label{
	font-family: Verdana,Arial;
	font-size: 10px;
	font-weight:bold;
	color: #000000;
	text-align: left;
	padding-right:2px;
}
.ext_val{
	font-family: Verdana,Arial;
	font-size: 10px;
	color: #000000;
	text-align:left;
	padding-left:2px;
}
/* FIN PARTIE DROITE */



/* PANIER */

.bloc_image
{
	overflow:visible;
}

.bloc_image a img
{
	border:none;
}

.bloc_image A:link, .bloc_image A:visited {color: #000; text-decoration: none}
.bloc_image A:hover {color: #000; text-decoration: none}

.bloc_image .conteneur_dragable
{
	display:inline-block;
	background-color:#aaaaaa;
	border:1px solid #707173;
	text-align:center;
}

.bloc_image .entete
{
}

.bloc_image .entete A
{
	background-color: #707173;
	line-height: 12px;
	height: 12px;
	font:normal 0.75em Arial, Helvetica, sans-serif;
	color:#fff;
	text-align: left;
	background: url(../images/bg_listitem_entete_over.png) #707173 5px center no-repeat;
	display: block;
	text-decoration: none;
	padding-left:20px;
}
.bloc_image .entete A span {visibility: hidden;}
.bloc_image .entete A:hover span
{
	visibility:visible;
}

.bloc_image .entete A:hover { background-color: #f66619; }

.vignette { display:none }

.wrapper {
	width: 104px;
	height: 78px;
	border : 0px solid #707173;
	text-align:center;
	margin-top:-84px;
}

.hoverPanier {
	background-color: #aaa;
}

/************************************************************/
/* ORAOWEB     */
/************************************************************/

#tab_home {

}

#tab_home td {
	width: 320px;
	/*height: 223px;*/
	border: 1px solid #DBDBDB;
	vertical-align: top;
	background-image: url(../images/bg_news.gif);
	background-color: #fff;
	padding: 10px;
}

#tab_home td.no_bg
{
	background:none;
	border:none;
}

#tab_home tr td .vignette_accueil
{
	width:150px;
	float:left;
	text-align:center;
}

#tab_home tr td .vignette_accueil img
{
	max-width:150px;
	max-height:150px;
	border:none;
}

#tab_home tr td .texte_doc_acceuil
{
	margin-left:155px;
	word-wrap: break-word;
	width:165px;
	height:136px;
	text-align:center;
}

#tab_home tr td .texte_doc_acceuil .titre_doc_acceuil
{
	height:62px;
}

#tab_home tr td .lien_liste_doc_accueil
{
	text-align:center;
	width:320px;
}



#tab_home h6 {
	margin: 0px 0px 15px 0px;
	vertical-align: middle;
    color: #000000;
    font-family: Trebuchet MS,sans-serif;
    font-size: 25px;
    font-weight: normal;
	text-align:left;
}

#tab_home h6 img {
	padding-left: 10px;
}



.preview {
	width : 80px ;
}

/**************************/
/* elements librairie LTO */
/**************************/
div.element_librairie
{
	border:1px solid black;
	width:150px;
	display:inline-block;
	margin-bottom:-1px;
	margin-right:-1px;
}

div.element_librairie>div.element_librairie_num
{
	color:white;
	background-color:black;
	width:26px;
	padding:2px;
	float:left;
}

div.element_librairie>div.element_librairie_vide
{
	padding:2px;
	position:absolute;
}

div.element_librairie>div.element_librairie_infos
{
	background-color:#ccffcc;
	width:120px;
	margin-left:30px;
	position:absolute;
	z-index:1;
}

div.element_librairie>div.element_librairie_infos p
{
	margin:0px;
	padding:2px;
	z-index:2;
}

div.element_librairie>div.element_librairie_infos p.num_tape_set
{
	float:right;
	margin-right:2px;
}

div.element_librairie>div.element_librairie_infos>div.element_librairie_pourcentage
{
	background-color:#ff6600;
	height:18px;
	display:inline-block;
	position:absolute;
	z-index:-1;
}
